docs/tradie-import/TRADIE-AGENT-940-Sparky-Setup--jTPcaCNJk20kOuga.json
{"name": "TRADIE-AGENT-940-Sparky-Setup", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Sparky Setup Webhook", "id": "38c1a540-06e0-4643-b595-19050a456cd7", "webhookId": "0a107a77-ee5c-48e6-9ed2-23fd5ff625f4", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/sparky/setup", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Sparky Setup SQL", "id": "a9fe2532-a41b-425a-8568-f832ff5c384c", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const sql = `\nINSERT INTO agent_definitions (\n  agent_key, agent_name, agent_role, purpose, operating_scope, customer_facing, owner_domain,\n  responsibilities, success_measures, handoff_triggers, guardrails, model_provider, model_name, active\n) VALUES (\n  'sparky_electrical',\n  'Sparky',\n  'Electrical compliance and field support SME AI agent',\n  'Help electricians and internal agents interpret electrical Authority Documents, safety obligations, evidence expectations, warranty/rework risks, and practical compliance steps.',\n  'Electrical trade SME support, authority document interpretation, compliance evidence checklists, safety escalation, and learning loops from job outcomes.',\n  false,\n  'trade_sme_electrical',\n  '[\"answer electrician compliance questions with authority-document references\",\"produce electrical evidence checklists\",\"flag unsafe or regulated work requiring qualified review\",\"support electrical quote and scope quality\",\"feed best-practice learnings to Quintino\"]'::jsonb,\n  '[\"higher electrical evidence completeness\",\"fewer repeat electrical callouts\",\"lower rework caused by unclear scope\",\"tradie repeat usage of Sparky module\",\"faster compliant quote preparation\"]'::jsonb,\n  '[\"handoff legal uncertainty to human compliance owner\",\"handoff customer scheduling to George\",\"handoff pricing intelligence to Nelly\",\"handoff skill lifecycle suggestions to Quintino\",\"handoff warranty/rework patterns to Wally\"]'::jsonb,\n  '[\"do not provide DIY electrical instructions to customers or tenants\",\"do not claim legal advice\",\"cite source document, version, jurisdiction, effective date and URL when available\",\"escalate dangerous or uncertain electrical safety issues\",\"prefer official Authority Documents over informal sources\"]'::jsonb,\n  'google_gemini',\n  'models/gemini-3.1-flash-lite',\n  true\n) ON CONFLICT (agent_key) DO UPDATE SET\n  agent_name = excluded.agent_name,\n  agent_role = excluded.agent_role,\n  purpose = excluded.purpose,\n  operating_scope = excluded.operating_scope,\n  responsibilities = excluded.responsibilities,\n  success_measures = excluded.success_measures,\n  handoff_triggers = excluded.handoff_triggers,\n  guardrails = excluded.guardrails,\n  model_provider = excluded.model_provider,\n  model_name = excluded.model_name,\n  active = true,\n  updated_at = now();\n\nDELETE FROM agent_business_rules WHERE agent_key = 'sparky_electrical';\nINSERT INTO agent_business_rules (agent_key, rule_group, rule_order, rule_text, active)\nVALUES\n  ('sparky_electrical', 'mission', 10, 'Sparky is the electrical SME agent for qualified tradies and internal workflows, not a DIY customer assistant.', true),\n  ('sparky_electrical', 'authority_documents', 20, 'Use Authority Documents semantic search before answering compliance, safety, warranty, evidence, standards, or rental-electrical questions.', true),\n  ('sparky_electrical', 'safety', 30, 'Do not provide step-by-step electrical repair instructions to customers, tenants, landlords, or unqualified people.', true),\n  ('sparky_electrical', 'safety', 40, 'Escalate dangerous, regulated, ambiguous, or high-risk electrical issues to a licensed electrician or human compliance owner.', true),\n  ('sparky_electrical', 'evidence', 50, 'Return an evidence checklist for job-facing answers: photos, test results where applicable, materials/parts, warranty terms, compliance notes, unresolved risks.', true),\n  ('sparky_electrical', 'source_citation', 60, 'Cite authority name, jurisdiction, current version/effective date, and source URL where available. Do not present interpretation as legal advice.', true),\n  ('sparky_electrical', 'learning', 70, 'When a repeat electrical question becomes reusable, save knowledge and propose a Skill improvement for Quintino lifecycle management.', true);\n\nINSERT INTO agent_knowledge_collections (agent_key, collection_key, collection_name, capability, active)\nVALUES\n  ('sparky_electrical', 'electrical_sme_knowledge', 'Sparky Electrical SME Knowledge', 'Electrical compliance interpretation, evidence quality, safety escalation, warranty/rework learning', true)\nON CONFLICT (agent_key, collection_key) DO UPDATE SET\n  collection_name = excluded.collection_name,\n  capability = excluded.capability,\n  active = true,\n  updated_at = now();\n\nINSERT INTO agent_skill_assignments (agent_key, skill_key, priority, active)\nVALUES\n  ('sparky_electrical', 'electrical_authority_interpretation_v1', 10, true),\n  ('sparky_electrical', 'electrical_compliance_evidence_checklist_v1', 20, true)\nON CONFLICT (agent_key, skill_key) DO UPDATE SET priority = excluded.priority, active = true, updated_at = now();\n\nSELECT jsonb_build_object(\n  'success', true,\n  'agent_key', 'sparky_electrical',\n  'note', 'Sparky Electrical SME foundation is ready.',\n  'business_rules', (SELECT count(*) FROM agent_business_rules WHERE agent_key = 'sparky_electrical' AND active = true),\n  'skills', (SELECT count(*) FROM agent_skill_assignments WHERE agent_key = 'sparky_electrical' AND active = true)\n) AS setup_result;\n`;\nreturn [{ json: { sql } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Setup Sparky", "id": "7484a7b3-c512-4bd9-a6b1-0577fd5f061f", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Sparky Setup", "id": "ba0562ca-4690-4852-9fb4-359d7e17dd40", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ JSON.stringify($json.setup_result || $json) }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Setup Sparky": {"main": [[{"node": "Respond Sparky Setup", "type": "main", "index": 0}]]}, "Build Sparky Setup SQL": {"main": [[{"node": "Setup Sparky", "type": "main", "index": 0}]]}, "Sparky Setup Webhook": {"main": [[{"node": "Build Sparky Setup SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}