docs/tradie-import/TRADIE-RENTAL-107-Tenant-Tradie-Confirmation-Monitor--2XvJCVQh9VpvM3da.json
{"name": "TRADIE-RENTAL-107-Tenant-Tradie-Confirmation-Monitor", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Rental Confirmation Response Webhook", "id": "b3448f86-9606-404e-9bc1-2f78fa480161", "webhookId": "bdb463b7-484e-4db3-be41-95ffcd16b741", "type": "n8n-nodes-base.webhook", "parameters": {"path": "rental/confirmations/respond", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Rental Confirmation Response SQL", "id": "c08148db-14d7-4829-9406-bf9f6bf1eafb", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\r\nconst body = raw.body ?? raw;\r\n\r\nfunction first(...values) {\r\n  for (const value of values) {\r\n    if (value === undefined || value === null) continue;\r\n    if (typeof value === 'string' && value.trim() === '') continue;\r\n    return value;\r\n  }\r\n  return '';\r\n}\r\nfunction sql(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  return `'${String(value).replace(/'/g, \"''\")}'`;\r\n}\r\nfunction jsonSql(value) {\r\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\r\n}\r\nfunction normaliseStatus(value) {\r\n  const text = String(value || '').toLowerCase();\r\n  if (['yes', 'y', 'confirm', 'confirmed', 'accept', 'accepted', 'ok'].includes(text)) return 'confirmed';\r\n  if (['no', 'n', 'decline', 'declined', 'reject', 'rejected', 'cannot_attend'].includes(text)) return 'declined';\r\n  if (['timeout', 'expired', 'no_response'].includes(text)) return 'timeout';\r\n  return text || 'pending';\r\n}\r\n\r\nconst actorType = String(first(body.actor_type, body.role, 'tenant')).toLowerCase();\r\nconst status = normaliseStatus(first(body.confirmation_status, body.status, body.response));\r\nconst quoteOptionId = first(body.quote_option_id, body.selected_option_id, body.option_id);\r\nconst scheduleSlotId = first(body.schedule_slot_id, body.slot_id);\r\nconst workOrderId = first(body.work_order_id);\r\nconst actorId = first(body.actor_id, body.tenant_id, body.tradie_id);\r\nconst responseDueAt = first(body.response_due_at, body.due_at);\r\n\r\nconst query = `\r\nWITH selected_option AS (\r\n  SELECT ro.*\r\n  FROM rental_quote_options ro\r\n  WHERE (${sql(quoteOptionId)} IS NOT NULL AND ro.id = ${sql(quoteOptionId)})\r\n     OR (${sql(quoteOptionId)} IS NULL AND ${sql(workOrderId)} IS NOT NULL AND ro.work_order_id = ${sql(workOrderId)} AND ro.status = 'approved_selected')\r\n  ORDER BY ro.option_rank\r\n  LIMIT 1\r\n),\r\ntarget AS (\r\n  SELECT\r\n    COALESCE(${sql(workOrderId)}, so.work_order_id) AS work_order_id,\r\n    so.id AS quote_option_id,\r\n    (\r\n      SELECT s.id\r\n      FROM job_schedule_slots s\r\n      WHERE s.id IN (${sql(scheduleSlotId)}, 'SLOT-' || so.id)\r\n      ORDER BY CASE WHEN s.id = ${sql(scheduleSlotId)} THEN 0 ELSE 1 END\r\n      LIMIT 1\r\n    ) AS schedule_slot_id,\r\n    so.batch_id,\r\n    so.option_rank\r\n  FROM selected_option so\r\n),\r\ninsert_confirmation AS (\r\n  INSERT INTO rental_confirmation_events (\r\n    work_order_id, quote_option_id, schedule_slot_id, actor_type, actor_id,\r\n    confirmation_status, response_channel, response_due_at, fallback_triggered,\r\n    payload\r\n  )\r\n  SELECT\r\n    target.work_order_id,\r\n    target.quote_option_id,\r\n    target.schedule_slot_id,\r\n    ${sql(actorType)},\r\n    ${sql(actorId)},\r\n    ${sql(status)},\r\n    ${sql(first(body.response_channel, 'webhook'))},\r\n    ${sql(responseDueAt)}::timestamptz,\r\n    ${status === 'declined' || status === 'timeout' ? 'true' : 'false'},\r\n    ${jsonSql(body)}\r\n  FROM target\r\n  RETURNING *\r\n),\r\nlatest AS (\r\n  SELECT\r\n    target.work_order_id,\r\n    target.quote_option_id,\r\n    bool_or(actor_type = 'tenant' AND confirmation_status = 'confirmed') AS tenant_confirmed,\r\n    bool_or(actor_type = 'tradie' AND confirmation_status = 'confirmed') AS tradie_confirmed,\r\n    bool_or(confirmation_status IN ('declined','timeout')) AS any_failed\r\n  FROM target\r\n  LEFT JOIN (\r\n    SELECT work_order_id, quote_option_id, actor_type, confirmation_status\r\n    FROM rental_confirmation_events\r\n    UNION ALL\r\n    SELECT work_order_id, quote_option_id, actor_type, confirmation_status\r\n    FROM insert_confirmation\r\n  ) rce ON rce.work_order_id = target.work_order_id\r\n   AND rce.quote_option_id = target.quote_option_id\r\n  GROUP BY target.work_order_id, target.quote_option_id\r\n),\r\nfallback_option AS (\r\n  SELECT next_ro.*\r\n  FROM target\r\n  JOIN rental_quote_options current_ro ON current_ro.id = target.quote_option_id\r\n  JOIN rental_quote_options next_ro\r\n    ON next_ro.batch_id = current_ro.batch_id\r\n   AND next_ro.option_rank > current_ro.option_rank\r\n   AND next_ro.status IN ('proposed','not_selected')\r\n  WHERE EXISTS (SELECT 1 FROM latest WHERE any_failed = true)\r\n  ORDER BY next_ro.option_rank\r\n  LIMIT 1\r\n),\r\nmark_current AS (\r\n  UPDATE rental_quote_options ro\r\n  SET status = CASE\r\n      WHEN EXISTS (SELECT 1 FROM latest WHERE any_failed = true) THEN 'confirmation_failed'\r\n      WHEN EXISTS (SELECT 1 FROM latest WHERE tenant_confirmed = true AND tradie_confirmed = true) THEN 'fully_confirmed'\r\n      ELSE ro.status\r\n    END,\r\n    payload = ro.payload || jsonb_build_object(\r\n      'tenant_confirmed', (SELECT tenant_confirmed FROM latest),\r\n      'tradie_confirmed', (SELECT tradie_confirmed FROM latest),\r\n      'confirmation_failed', (SELECT any_failed FROM latest)\r\n    ),\r\n    updated_at = now()\r\n  WHERE ro.id = (SELECT quote_option_id FROM target)\r\n  RETURNING *\r\n),\r\nmark_fallback AS (\r\n  UPDATE rental_quote_options ro\r\n  SET status = 'fallback_candidate',\r\n      payload = ro.payload || jsonb_build_object('fallback_from_option_id', (SELECT quote_option_id FROM target), 'fallback_reason', ${sql(status)}),\r\n      updated_at = now()\r\n  WHERE ro.id = (SELECT id FROM fallback_option)\r\n  RETURNING *\r\n),\r\nupdate_slot AS (\r\n  UPDATE job_schedule_slots s\r\n  SET status = CASE\r\n      WHEN EXISTS (SELECT 1 FROM latest WHERE any_failed = true) THEN 'confirmation_failed_needs_fallback'\r\n      WHEN EXISTS (SELECT 1 FROM latest WHERE tenant_confirmed = true AND tradie_confirmed = true) THEN 'ready_to_attend'\r\n      ELSE 'awaiting_confirmation'\r\n    END,\r\n    route_context = route_context || jsonb_build_object(\r\n      'tenant_confirmed', (SELECT tenant_confirmed FROM latest),\r\n      'tradie_confirmed', (SELECT tradie_confirmed FROM latest),\r\n      'confirmation_failed', (SELECT any_failed FROM latest),\r\n      'fallback_quote_option_id', (SELECT id FROM fallback_option)\r\n    ),\r\n    updated_at = now()\r\n  WHERE s.id = (SELECT schedule_slot_id FROM target)\r\n  RETURNING *\r\n),\r\nupdate_work_order AS (\r\n  UPDATE work_orders wo\r\n  SET status = CASE\r\n      WHEN EXISTS (SELECT 1 FROM latest WHERE any_failed = true) THEN 'confirmation_failed_fallback_needed'\r\n      WHEN EXISTS (SELECT 1 FROM latest WHERE tenant_confirmed = true AND tradie_confirmed = true) THEN 'ready_to_attend'\r\n      ELSE 'awaiting_tenant_tradie_confirmation'\r\n    END,\r\n    tenant_access_confirmed = CASE WHEN EXISTS (SELECT 1 FROM latest WHERE tenant_confirmed = true) THEN true ELSE tenant_access_confirmed END,\r\n    payload = payload || jsonb_build_object(\r\n      'tenant_confirmed', (SELECT tenant_confirmed FROM latest),\r\n      'tradie_confirmed', (SELECT tradie_confirmed FROM latest),\r\n      'confirmation_failed', (SELECT any_failed FROM latest),\r\n      'fallback_quote_option_id', (SELECT id FROM fallback_option)\r\n    ),\r\n    updated_at = now()\r\n  WHERE wo.id = (SELECT work_order_id FROM target)\r\n  RETURNING *\r\n),\r\npatch_event AS (\r\n  UPDATE rental_confirmation_events rce\r\n  SET fallback_quote_option_id = (SELECT id FROM fallback_option)\r\n  WHERE rce.id IN (SELECT id FROM insert_confirmation)\r\n  RETURNING *\r\n),\r\ninsert_event AS (\r\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\r\n  SELECT 'work_order', work_order_id, 'rental_confirmation_response_processed', jsonb_build_object(\r\n    'actor_type', ${sql(actorType)},\r\n    'status', ${sql(status)},\r\n    'quote_option_id', quote_option_id,\r\n    'schedule_slot_id', schedule_slot_id,\r\n    'tenant_confirmed', (SELECT tenant_confirmed FROM latest),\r\n    'tradie_confirmed', (SELECT tradie_confirmed FROM latest),\r\n    'fallback_quote_option_id', (SELECT id FROM fallback_option)\r\n  )\r\n  FROM target\r\n)\r\nSELECT COALESCE(\r\n  (\r\n    SELECT jsonb_build_object(\r\n      'success', true,\r\n      'work_order_id', target.work_order_id,\r\n      'quote_option_id', target.quote_option_id,\r\n      'schedule_slot_id', target.schedule_slot_id,\r\n      'actor_type', ${sql(actorType)},\r\n      'confirmation_status', ${sql(status)},\r\n      'tenant_confirmed', latest.tenant_confirmed,\r\n      'tradie_confirmed', latest.tradie_confirmed,\r\n      'ready_to_attend', latest.tenant_confirmed AND latest.tradie_confirmed AND NOT latest.any_failed,\r\n      'fallback_required', latest.any_failed,\r\n      'fallback_quote_option_id', (SELECT id FROM fallback_option),\r\n      'next_action', CASE\r\n        WHEN latest.tenant_confirmed AND latest.tradie_confirmed AND NOT latest.any_failed THEN 'job_ready_to_attend'\r\n        WHEN latest.any_failed AND EXISTS (SELECT 1 FROM fallback_option) THEN 'offer_next_ranked_option_to_landlord_or_auto_confirm_by_policy'\r\n        WHEN latest.any_failed THEN 'manual_intervention_required_no_fallback_option'\r\n        ELSE 'wait_for_other_party_confirmation'\r\n      END\r\n    )\r\n    FROM target\r\n    JOIN latest ON latest.work_order_id = target.work_order_id\r\n    LIMIT 1\r\n  ),\r\n  jsonb_build_object('success', false, 'message', 'No selected quote option matched the confirmation response.')\r\n) AS confirmation_result;\r\n`;\r\n\r\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Rental Confirmation Response", "id": "6793756c-cb3c-4f1b-a07e-ba867c685187", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Rental Confirmation", "id": "79943d1d-4a7e-4a26-8d3b-25d6eb8d6800", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.confirmation_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Rental Confirmation Response Webhook": {"main": [[{"node": "Build Rental Confirmation Response SQL", "type": "main", "index": 0}]]}, "Save Rental Confirmation Response": {"main": [[{"node": "Respond Rental Confirmation", "type": "main", "index": 0}]]}, "Build Rental Confirmation Response SQL": {"main": [[{"node": "Save Rental Confirmation Response", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}