docs/tradie-import/TRADIE-CORE-980-Message-Template-Setup--NCelx06QwWmCVBXX.json
{"name": "TRADIE-CORE-980-Message-Template-Setup", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Message Template Setup Webhook", "id": "9e735cb7-2fb6-4ebb-98e3-0c4b8fcca9ec", "webhookId": "91e4d897-da6f-4d37-94a1-dbe668976265", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/message-templates/setup", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Message Template Setup SQL", "id": "2757c6e4-a574-46fa-9f04-9346b0a8a536", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const query = `\nCREATE TABLE IF NOT EXISTS message_templates (\n  id uuid primary key default gen_random_uuid(),\n  template_key text not null unique,\n  template_name text not null,\n  owner_agent_key text references agent_definitions(agent_key),\n  channel text not null default 'email',\n  purpose text not null,\n  audience text not null default 'customer',\n  subject_template text not null,\n  body_template text not null,\n  variables_schema jsonb not null default '{}'::jsonb,\n  variant_rules jsonb not null default '{}'::jsonb,\n  version integer not null default 1,\n  status text not null default 'active',\n  active boolean not null default true,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS message_template_versions (\n  id uuid primary key default gen_random_uuid(),\n  template_key text not null references message_templates(template_key),\n  variant_key text not null default 'default',\n  version integer not null,\n  template_name text not null,\n  owner_agent_key text references agent_definitions(agent_key),\n  channel text not null,\n  purpose text not null,\n  audience text not null,\n  subject_template text not null,\n  body_template text not null,\n  variables_schema jsonb not null default '{}'::jsonb,\n  variant_rules jsonb not null default '{}'::jsonb,\n  trade_type text,\n  job_type text,\n  customer_segment text,\n  status text not null default 'proposed',\n  change_reason text,\n  created_by_agent_key text references agent_definitions(agent_key),\n  reviewed_by_agent_key text references agent_definitions(agent_key),\n  approved_by text,\n  promoted_at timestamptz,\n  archived_at timestamptz,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  unique (template_key, version)\n);\n\nALTER TABLE message_template_versions ADD COLUMN IF NOT EXISTS variant_key text not null default 'default';\nALTER TABLE message_template_versions ADD COLUMN IF NOT EXISTS trade_type text;\nALTER TABLE message_template_versions ADD COLUMN IF NOT EXISTS job_type text;\nALTER TABLE message_template_versions ADD COLUMN IF NOT EXISTS customer_segment text;\n\nCREATE TABLE IF NOT EXISTS message_template_variants (\n  id uuid primary key default gen_random_uuid(),\n  template_key text not null references message_templates(template_key),\n  variant_key text not null,\n  trade_type text,\n  job_type text,\n  customer_segment text,\n  priority integer not null default 100,\n  subject_template text not null,\n  body_template text not null,\n  variables_schema jsonb not null default '{}'::jsonb,\n  version integer not null default 1,\n  status text not null default 'active',\n  active boolean not null default true,\n  change_reason text,\n  created_by_agent_key text references agent_definitions(agent_key),\n  approved_by text,\n  promoted_at timestamptz,\n  archived_at timestamptz,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now(),\n  unique (template_key, variant_key)\n);\n\nCREATE TABLE IF NOT EXISTS message_template_usage_events (\n  id uuid primary key default gen_random_uuid(),\n  template_key text not null,\n  variant_key text,\n  version integer,\n  owner_agent_key text,\n  entity_type text,\n  entity_id text,\n  channel text,\n  outcome text,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now()\n);\n\nALTER TABLE message_template_usage_events ADD COLUMN IF NOT EXISTS variant_key text;\n\nCREATE INDEX IF NOT EXISTS idx_message_templates_owner ON message_templates(owner_agent_key, status, active);\nCREATE INDEX IF NOT EXISTS idx_message_template_variants_lookup ON message_template_variants(template_key, active, trade_type, job_type, customer_segment, priority);\nCREATE INDEX IF NOT EXISTS idx_message_template_versions_key ON message_template_versions(template_key, version desc);\nCREATE INDEX IF NOT EXISTS idx_message_template_usage_key ON message_template_usage_events(template_key, created_at desc);\n\nINSERT INTO message_templates (\n  template_key, template_name, owner_agent_key, channel, purpose, audience,\n  subject_template, body_template, variables_schema, variant_rules, version, status, active\n)\nVALUES (\n  'payment_request_email',\n  'Payment request email',\n  'penny',\n  'email',\n  'Ask the customer to pay an issued invoice with clear payment and tracking links.',\n  'customer',\n  'Payment request for your 1pacent invoice {{invoice_id}}',\n  'Hi {{customer_name}},\n\nThanks again for choosing 1pacent. Your invoice summary is ready for payment.\n\nInvoice reference: {{invoice_id}}\nJob reference: {{job_id}}\nAmount due: {{amount}}\n\nPay here: {{payment_url}}\nTrack your request here: {{tracking_url}}\n\nThis payment link is currently a secure placeholder while payment provider integration is being configured. If you have any questions, call Sally and quote your invoice reference.\n\nThanks,\n1pacent',\n  '{\"required\":[\"customer_name\",\"invoice_id\",\"job_id\",\"amount\",\"payment_url\",\"tracking_url\"],\"optional\":[\"due_at\",\"payment_request_id\"]}'::jsonb,\n  '{\"default\":\"customer\",\"future_variants\":[\"emergency_job\",\"high_value_job\",\"repeat_customer\",\"overdue_reminder\"]}'::jsonb,\n  1,\n  'active',\n  true\n)\nON CONFLICT (template_key) DO UPDATE SET\n  template_name = EXCLUDED.template_name,\n  owner_agent_key = EXCLUDED.owner_agent_key,\n  channel = EXCLUDED.channel,\n  purpose = EXCLUDED.purpose,\n  audience = EXCLUDED.audience,\n  subject_template = EXCLUDED.subject_template,\n  body_template = EXCLUDED.body_template,\n  variables_schema = EXCLUDED.variables_schema,\n  variant_rules = EXCLUDED.variant_rules,\n  status = 'active',\n  active = true,\n  updated_at = now();\n\nINSERT INTO message_template_versions (\n  template_key, variant_key, version, template_name, owner_agent_key, channel, purpose, audience,\n  subject_template, body_template, variables_schema, variant_rules, trade_type, job_type, customer_segment, status, change_reason,\n  created_by_agent_key, reviewed_by_agent_key, approved_by, promoted_at, payload\n)\nSELECT template_key, 'default', version, template_name, owner_agent_key, channel, purpose, audience,\n  subject_template, body_template, variables_schema, variant_rules, null, null, null, 'active',\n  'Initial active template seed.', 'quintino', 'quintino', 'system', now(), '{}'::jsonb\nFROM message_templates\nWHERE template_key = 'payment_request_email'\nON CONFLICT (template_key, version) DO NOTHING;\n\nWITH seed_templates(template_key, template_name, owner_agent_key, channel, purpose, audience, subject_template, body_template, variables_schema, variant_rules) AS (\n  VALUES\n  (\n    'booking_request_confirmation_email',\n    'Booking request confirmation email',\n    'sally_receptionist',\n    'email',\n    'Confirm that Sally captured a booking request and explain what happens next.',\n    'customer',\n    'Booking request received: {{lead_id}}',\n    'Hi {{customer_name}},\n\nThanks for contacting 1pacent. We have received your booking request.\n\nReference: {{lead_id}}\nTrade: {{trade_type}}\nJob: {{job_description}}\nPreferred window: {{preferred_time}}\nAddress/suburb: {{address}}\nIndicative estimate: {{estimated_price_band}}\n\nTrack your request here: {{tracking_url}}\n\nThis is a booking request confirmation, not a fixed-price quote. The tradie will confirm scope, timing and final pricing before work begins.\n\nNeed to change your booking request? Call Sally back and quote your reference.\n\nThanks,\n1pacent',\n    '{\"required\":[\"customer_name\",\"lead_id\",\"trade_type\",\"job_description\",\"preferred_time\",\"tracking_url\"],\"optional\":[\"address\",\"estimated_price_band\"]}'::jsonb,\n    '{\"future_variants\":[\"urgent_customer\",\"repeat_customer\",\"high_value_job\"]}'::jsonb\n  ),\n  (\n    'quote_confirmation_email',\n    'Quote confirmation and acceptance email',\n    'nelly',\n    'email',\n    'Send a tradie-confirmed quote with an acceptance link and clear assumptions.',\n    'customer',\n    'Your confirmed 1pacent quote: {{quote_id}}',\n    'Hi {{customer_name}},\n\nYour tradie has confirmed the quote for your requested work.\n\nQuote reference: {{quote_id}}\nJob: {{job_description}}\nAppointment window: {{booking_window}}\nConfirmed quote: {{amount_label}}\nInclusions: {{inclusions}}\nExclusions/assumptions: {{exclusions}}\nNotes: {{scope_notes}}\nValid until: {{valid_until}}\n\nTo accept this quote, open this link: {{acceptance_url}}\nTrack your request here: {{tracking_url}}\n\nNo work will proceed until the quote is accepted. If anything changes, call Sally back and quote your reference.\n\nThanks,\n1pacent',\n    '{\"required\":[\"customer_name\",\"quote_id\",\"job_description\",\"amount_label\",\"acceptance_url\",\"tracking_url\"],\"optional\":[\"booking_window\",\"inclusions\",\"exclusions\",\"scope_notes\",\"valid_until\"]}'::jsonb,\n    '{\"future_variants\":[\"inspection_required\",\"high_value_quote\",\"repeat_customer\"]}'::jsonb\n  ),\n  (\n    'quote_accepted_scheduled_email',\n    'Quote accepted and scheduled email',\n    'george_foreman',\n    'email',\n    'Confirm quote acceptance and schedule details after George creates the booking.',\n    'customer',\n    'Quote accepted and job scheduled: {{quote_id}}',\n    'Hi {{customer_name}},\n\nYour quote {{quote_id}} has been accepted and your job has been scheduled.\n\nJob reference: {{job_id}}\nAppointment window: {{scheduled_window}}\nConfirmed quote: {{confirmed_quote_amount}}\n\nTrack your request here: {{tracking_url}}\n\nThe tradie will confirm final arrival details before attending. If you need to change the booking, call Sally back and quote your job reference.\n\nThanks,\n1pacent',\n    '{\"required\":[\"customer_name\",\"quote_id\",\"job_id\",\"scheduled_window\",\"tracking_url\"],\"optional\":[\"confirmed_quote_amount\"]}'::jsonb,\n    '{\"future_variants\":[\"manual_schedule_required\",\"multi_tradie_job\"]}'::jsonb\n  ),\n  (\n    'job_complete_invoice_summary_email',\n    'Job complete and invoice summary email',\n    'penny',\n    'email',\n    'Confirm job completion, invoice summary and next payment/review actions.',\n    'customer',\n    'Job complete and invoice summary: {{invoice_id}}',\n    'Hi {{customer_name}},\n\nYour job has been marked complete and the invoice summary is ready.\n\nJob reference: {{job_id}}\nInvoice reference: {{invoice_id}}\nFinal invoice amount: {{final_invoice_amount}}\nCompletion notes: {{completion_notes}}\nMaterials used: {{materials_summary}}\n\nTrack your request here: {{tracking_url}}\n\nPlease keep this email for your records. If you have any questions, call Sally back and quote your job or invoice reference.\n\nThanks,\n1pacent',\n    '{\"required\":[\"customer_name\",\"job_id\",\"invoice_id\",\"final_invoice_amount\",\"tracking_url\"],\"optional\":[\"completion_notes\",\"materials_summary\"]}'::jsonb,\n    '{\"future_variants\":[\"variance_explained\",\"no_extra_parts\",\"commercial_customer\"]}'::jsonb\n  ),\n  (\n    'review_request_email',\n    'Customer review request email',\n    'mia_social',\n    'email',\n    'Ask for an honest customer review after a completed job.',\n    'customer',\n    'Thanks from 1pacent - quick review request',\n    'Hi {{customer_name}},\n\nThanks again for choosing 1pacent.\n\nIf you were happy with the service, would you mind leaving a quick review?\n\n{{review_url}}\n\nThank you,\nThe 1pacent team',\n    '{\"required\":[\"customer_name\",\"review_url\"],\"optional\":[\"job_id\",\"trade_type\"]}'::jsonb,\n    '{\"future_variants\":[\"high_satisfaction\",\"repeat_customer\",\"after_payment_received\"]}'::jsonb\n  ),\n  (\n    'social_draft_internal_review_email',\n    'Social draft internal review email',\n    'mia_social',\n    'email',\n    'Ask internal admin to review and approve customer-safe social content drafts.',\n    'internal',\n    'Mia social draft ready: {{campaign_id}}',\n    'A new customer-safe social draft is ready for review.\n\nCampaign: {{campaign_id}}\nJob: {{job_id}}\nTrade: {{trade_type}}\nSuburb: {{suburb}}\nApproval status: {{approval_status}}\n\nDraft caption:\n{{caption}}\n\nPrivacy notes:\n{{privacy_notes}}\n\nNext action: {{next_action}}',\n    '{\"required\":[\"campaign_id\",\"job_id\",\"caption\",\"approval_status\"],\"optional\":[\"trade_type\",\"suburb\",\"privacy_notes\",\"next_action\"]}'::jsonb,\n    '{\"future_variants\":[\"instagram\",\"facebook\",\"tradie_profile_story\"]}'::jsonb\n  )\n)\nINSERT INTO message_templates (\n  template_key, template_name, owner_agent_key, channel, purpose, audience,\n  subject_template, body_template, variables_schema, variant_rules, version, status, active\n)\nSELECT template_key, template_name, owner_agent_key, channel, purpose, audience,\n  subject_template, body_template, variables_schema, variant_rules, 1, 'active', true\nFROM seed_templates\nON CONFLICT (template_key) DO UPDATE SET\n  template_name = EXCLUDED.template_name,\n  owner_agent_key = EXCLUDED.owner_agent_key,\n  channel = EXCLUDED.channel,\n  purpose = EXCLUDED.purpose,\n  audience = EXCLUDED.audience,\n  subject_template = EXCLUDED.subject_template,\n  body_template = EXCLUDED.body_template,\n  variables_schema = EXCLUDED.variables_schema,\n  variant_rules = EXCLUDED.variant_rules,\n  status = 'active',\n  active = true,\n  updated_at = now();\n\nINSERT INTO message_template_versions (\n  template_key, variant_key, version, template_name, owner_agent_key, channel, purpose, audience,\n  subject_template, body_template, variables_schema, variant_rules, trade_type, job_type, customer_segment, status, change_reason,\n  created_by_agent_key, reviewed_by_agent_key, approved_by, promoted_at, payload\n)\nSELECT template_key, 'default', version, template_name, owner_agent_key, channel, purpose, audience,\n  subject_template, body_template, variables_schema, variant_rules, null, null, null, 'active',\n  'Initial active customer experience template seed.', 'quintino', 'quintino', 'system', now(), '{}'::jsonb\nFROM message_templates\nWHERE template_key IN (\n  'booking_request_confirmation_email',\n  'quote_confirmation_email',\n  'quote_accepted_scheduled_email',\n  'job_complete_invoice_summary_email',\n  'review_request_email',\n  'social_draft_internal_review_email'\n)\nON CONFLICT (template_key, version) DO NOTHING;\n\nINSERT INTO mcp_services (service_key, service_name, provider, category, capability, endpoint_path, workflow_id, credential_name, status, available_to_agents, config)\nVALUES\n  ('message_templates', 'Message Template Registry', 'postgres', 'agent_capability', 'Version-managed customer and internal message templates with variants and lifecycle governance', '/webhook/core/message-templates/render', null, 'Tradie App Postgres', 'active', ARRAY['quintino','penny','sally_receptionist','nelly','george_foreman','mia_social'], '{\"source_of_truth\":\"postgres\",\"approval_required\":true}'::jsonb)\nON CONFLICT (service_key) DO UPDATE SET\n  service_name = EXCLUDED.service_name,\n  provider = EXCLUDED.provider,\n  category = EXCLUDED.category,\n  capability = EXCLUDED.capability,\n  endpoint_path = EXCLUDED.endpoint_path,\n  status = EXCLUDED.status,\n  available_to_agents = EXCLUDED.available_to_agents,\n  config = EXCLUDED.config,\n  updated_at = now();\n\nINSERT INTO mcp_service_tools (service_key, tool_key, tool_name, description, endpoint_path, input_schema, output_contract, active)\nVALUES\n  ('message_templates', 'message_template_render', 'Message Template Render', 'Render the active message template or best matching variant for a given template key and payload.', '/webhook/core/message-templates/render', '{\"template_key\":\"text\",\"trade_type\":\"text\",\"job_type\":\"text\",\"customer_segment\":\"text\",\"payload\":\"object\"}'::jsonb, '{\"subject\":\"text\",\"body\":\"text\",\"version\":\"number\",\"variant_key\":\"text\"}'::jsonb, true),\n  ('message_templates', 'message_template_lifecycle_manage', 'Message Template Lifecycle Manage', 'Propose, review or promote a message template version or variant. Older active versions are archived when promoting.', '/webhook/core/message-templates/lifecycle-manage', '{\"action\":\"propose|promote\",\"template_key\":\"text\",\"variant_key\":\"text\",\"trade_type\":\"text\",\"job_type\":\"text\",\"customer_segment\":\"text\",\"body_template\":\"text\"}'::jsonb, '{\"template_key\":\"text\",\"variant_key\":\"text\",\"version\":\"number\",\"status\":\"text\"}'::jsonb, true)\nON CONFLICT (tool_key) DO UPDATE SET\n  description = EXCLUDED.description,\n  endpoint_path = EXCLUDED.endpoint_path,\n  input_schema = EXCLUDED.input_schema,\n  output_contract = EXCLUDED.output_contract,\n  active = true,\n  updated_at = now();\n\nSELECT jsonb_build_object(\n  'success', true,\n  'message', 'Message template registry is ready.',\n  'seeded_template', 'payment_request_email'\n) AS setup_result;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Setup Message Templates", "id": "8b151506-93c4-410f-83cf-3af527d55d1d", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Message Template Setup", "id": "16db1073-91c3-4891-9a8d-78e06279f03c", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.setup_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Setup Message Templates": {"main": [[{"node": "Respond Message Template Setup", "type": "main", "index": 0}]]}, "Message Template Setup Webhook": {"main": [[{"node": "Build Message Template Setup SQL", "type": "main", "index": 0}]]}, "Build Message Template Setup SQL": {"main": [[{"node": "Setup Message Templates", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}