docs/tradie-import/TRADIE-AGENT-032-George-Foreman-Gemini-Test--bojno5GIgPF7eviB.json
{"name": "TRADIE-AGENT-032-George-Foreman-Gemini-Test", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "George Gemini Test Webhook", "id": "06973b30-07fa-483f-b522-103b1a4a133f", "webhookId": "2a006ba0-5965-4577-8f06-5dd32f54fae4", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/george/gemini-test", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [300, 0], "name": "George Foreman Gemini Agent", "id": "6e978612-f707-4a3c-bcef-03083694c028", "type": "@n8n/n8n-nodes-langchain.agent", "parameters": {"promptType": "define", "options": {"returnIntermediateSteps": false, "systemMessage": "You are George Foreman, the scheduling operations AI Agent for 1pacent.\n\nUse your scheduling tool when asked to recommend or hold appointment windows. Keep customer-facing wording concise. Do not mention internal tool names, n8n, databases, or workflow details to customers.\n\nFor preview requests, recommend a window and ask whether the customer wants to use it. For booking requests with lead_id, hold the accepted window and say the written confirmation should be sent now.", "maxIterations": 5}, "text": "={{$json.body.chatInput || $json.body.message || $json.chatInput || $json.message}}"}, "typeVersion": 3}, {"position": [300, 260], "name": "Google Gemini Chat Model", "id": "c72ddf89-c03c-4e66-8eb1-4f547c295443", "credentials": {"googlePalmApi": {"id": "Y4LdXQTb6pHuCvri", "name": "Google Gemini(PaLM) Api account"}}, "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "parameters": {"options": {}, "modelName": "models/gemini-3.1-flash-lite"}, "typeVersion": 1.1}, {"position": [620, 220], "name": "schedule_recommendation", "id": "566a9e37-ffc6-41c6-b6c9-51d69f0c64c8", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "parameters": {"workflowId": {"mode": "id", "__rl": true, "value": "RvI8P4NXM1GS3Sr9"}, "description": "Preview or hold tradie schedule windows. Use booking_action preview before customer acceptance. Use booking_action book after acceptance and include lead_id. Inputs: booking_action, lead_id, quote_id, customer_name, customer_email, customer_address, customer_suburb, trade_type, job_description, preferred_date, preferred_window, urgency.", "name": "schedule_recommendation", "workflowInputs": {"value": {"urgency": "={{ $fromAI('urgency', 'urgent normal or flexible', 'string') }}", "customer_email": "={{ $fromAI('customer_email', 'customer email', 'string') }}", "trade_type": "={{ $fromAI('trade_type', 'trade type', 'string') }}", "lead_id": "={{ $fromAI('lead_id', 'lead id required only for booking hold', 'string') }}", "quote_id": "={{ $fromAI('quote_id', 'quote id if available', 'string') }}", "preferred_date": "={{ $fromAI('preferred_date', 'preferred date YYYY-MM-DD if known', 'string') }}", "customer_address": "={{ $fromAI('customer_address', 'customer job address', 'string') }}", "customer_name": "={{ $fromAI('customer_name', 'customer name', 'string') }}", "customer_suburb": "={{ $fromAI('customer_suburb', 'customer suburb', 'string') }}", "preferred_window": "={{ $fromAI('preferred_window', 'preferred appointment window', 'string') }}", "job_description": "={{ $fromAI('job_description', 'job description', 'string') }}", "booking_action": "={{ $fromAI('booking_action', 'preview or book', 'string') }}"}, "mappingMode": "defineBelow", "schema": [], "attemptToConvertTypes": false, "matchingColumns": [], "convertFieldsToString": true}}, "typeVersion": 2}, {"position": [620, 0], "name": "Respond George Gemini Test", "id": "7776aa9d-ce3c-4416-a0a7-8b3b72b3e101", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"schedule_recommendation": {"ai_tool": [[{"node": "George Foreman Gemini Agent", "type": "ai_tool", "index": 0}]]}, "George Gemini Test Webhook": {"main": [[{"node": "George Foreman Gemini Agent", "type": "main", "index": 0}]]}, "Google Gemini Chat Model": {"ai_languageModel": [[{"node": "George Foreman Gemini Agent", "type": "ai_languageModel", "index": 0}]]}, "George Foreman Gemini Agent": {"main": [[{"node": "Respond George Gemini Test", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}