docs/tradie-import/TRADIE-CORE-027-Authority-Documents-Registry-Primary--5Ok0MEinunvKL2IK.json
{"name": "TRADIE-CORE-027-Authority-Documents-Registry-Primary", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Authority Registry Update Webhook", "id": "6871dffd-7cc0-40ff-9b74-4ba68bca04a4", "webhookId": "4762b11f-1828-474a-8bef-81c481b3da1a", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/authority-documents/registry/update", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Registry Update SQL", "id": "772f87fb-cdbd-4233-a19b-41d6c24c86fa", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const sql = `\nINSERT INTO mcp_services (\n  service_key, service_name, provider, category, capability, endpoint_path, credential_name, status, available_to_agents, config\n) VALUES (\n  'authority_documents_repository',\n  'Authority Documents Repository',\n  '1pacent_postgres_qdrant_n8n',\n  'knowledge_repository',\n  'Primary semantic search and governed reference access for Authority Documents across SME agents.',\n  '/webhook/core/authority-documents/qdrant/search',\n  'Tradie App Postgres + Qdrant account + OpenAI account',\n  'active',\n  ARRAY['sparky_electrical','connie_compliance','wally_warranty','george_foreman','nelly_quote_intelligence','patricia_property_manager','quintino_skills_intelligence'],\n  jsonb_build_object(\n    'primary_search_endpoint', '/webhook/core/authority-documents/qdrant/search',\n    'primary_retrieval_backend', 'qdrant_semantic_openai',\n    'semantic_collection', 'authority_documents',\n    'embedding_provider', 'openai',\n    'embedding_model', 'text-embedding-3-small',\n    'fallback_sql_endpoint', '/webhook/core/authority-documents/search',\n    'fallback_hybrid_endpoint', '/webhook/core/authority-documents/qdrant-hybrid/search',\n    'clean_reindex_endpoint', '/webhook/core/authority-documents/qdrant/reindex',\n    'versioned', true,\n    'modular', true,\n    'paid_modules', jsonb_build_array('sparky_pro','rental_compliance')\n  )\n) ON CONFLICT (service_key) DO UPDATE SET\n  provider = excluded.provider,\n  capability = excluded.capability,\n  endpoint_path = excluded.endpoint_path,\n  credential_name = excluded.credential_name,\n  status = excluded.status,\n  available_to_agents = excluded.available_to_agents,\n  config = excluded.config,\n  updated_at = now();\n\nINSERT INTO mcp_service_tools (\n  service_key, tool_key, tool_name, description, endpoint_path, input_schema, output_contract, active\n) VALUES\n(\n  'authority_documents_repository',\n  'authority_documents_semantic_search',\n  'Authority Documents Semantic Search',\n  'Primary semantic Qdrant search for Authority Documents using OpenAI embeddings.',\n  '/webhook/core/authority-documents/qdrant/search',\n  '{\"agent_key\":\"text\",\"industry\":\"text\",\"trade_type\":\"text\",\"jurisdiction\":\"text\",\"query\":\"text\",\"limit\":\"number\"}'::jsonb,\n  '{\"success\":\"boolean\",\"retrieval_backend\":\"qdrant\",\"documents\":\"array\",\"caution\":\"text\"}'::jsonb,\n  true\n),\n(\n  'authority_documents_repository',\n  'authority_documents_clean_reindex',\n  'Authority Documents Clean Reindex',\n  'Delete and rebuild the semantic Qdrant Authority Documents collection from active Postgres chunks.',\n  '/webhook/core/authority-documents/qdrant/reindex',\n  '{\"limit\":\"number\"}'::jsonb,\n  '{\"success\":\"boolean\",\"collection\":\"text\",\"embedded_chunks\":\"number\"}'::jsonb,\n  true\n),\n(\n  'authority_documents_repository',\n  'authority_documents_hybrid_search',\n  'Authority Documents Hybrid Fallback Search',\n  'Fallback Qdrant hash-vector search when semantic embeddings are unavailable.',\n  '/webhook/core/authority-documents/qdrant-hybrid/search',\n  '{\"agent_key\":\"text\",\"industry\":\"text\",\"trade_type\":\"text\",\"jurisdiction\":\"text\",\"query\":\"text\",\"limit\":\"number\"}'::jsonb,\n  '{\"success\":\"boolean\",\"retrieval_backend\":\"qdrant_hybrid_hash_v1\",\"documents\":\"array\",\"caution\":\"text\"}'::jsonb,\n  true\n)\nON CONFLICT (tool_key) DO UPDATE SET\n  description = excluded.description,\n  endpoint_path = excluded.endpoint_path,\n  input_schema = excluded.input_schema,\n  output_contract = excluded.output_contract,\n  active = true,\n  updated_at = now();\n\nSELECT jsonb_build_object(\n  'success', true,\n  'service_key', 'authority_documents_repository',\n  'primary_search_endpoint', '/webhook/core/authority-documents/qdrant/search',\n  'fallback_sql_endpoint', '/webhook/core/authority-documents/search',\n  'fallback_hybrid_endpoint', '/webhook/core/authority-documents/qdrant-hybrid/search',\n  'clean_reindex_endpoint', '/webhook/core/authority-documents/qdrant/reindex'\n) AS registry_update;\n`;\nreturn [{ json: { sql } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Update Authority Registry", "id": "2af45905-0ea6-43fb-a2cb-31985e58f88d", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Return Registry Update", "id": "b673bebc-e53a-42b5-9e41-c6afb9fd4871", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ JSON.stringify($json.registry_update || $json) }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Registry Update SQL": {"main": [[{"node": "Update Authority Registry", "type": "main", "index": 0}]]}, "Authority Registry Update Webhook": {"main": [[{"node": "Build Registry Update SQL", "type": "main", "index": 0}]]}, "Update Authority Registry": {"main": [[{"node": "Return Registry Update", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}