docs/tradie-import/TRADIE-TOOL-Nelly-Price-Recommendation--C62VifqOAvpeoFbP.json
{"name": "TRADIE-TOOL-Nelly-Price-Recommendation", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Nelly Price Tool Is Called", "id": "5787238a-7f5f-47b2-b348-c93cf8eb2556", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Nelly Price Tool Input", "id": "b61d7e2b-acfb-448c-996d-4f3015bccbe1", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst text = String(raw.input || raw.tool_input || '').trim();\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction field(name) {\n  const escaped = name.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const pattern = new RegExp(`${escaped}\\\\s*:\\\\s*([^,\\\\n]+)`, 'i');\n  const match = text.match(pattern);\n  return match ? match[1].trim() : '';\n}\n\nreturn [{\n  json: {\n    lead_id: first(raw.lead_id, field('lead_id')),\n    quote_id: first(raw.quote_id, field('quote_id')),\n    trade_type: first(raw.trade_type, field('trade_type'), 'electrical'),\n    job_description: first(raw.job_description, raw.description, field('job_description'), field('description'), text),\n    customer_suburb: first(raw.customer_suburb, raw.suburb, field('customer_suburb'), field('suburb')),\n    urgency: first(raw.urgency, field('urgency'), 'normal'),\n    materials_cost: first(raw.materials_cost, field('materials_cost')),\n    labour_hours: first(raw.labour_hours, raw.estimated_labour_hours, field('labour_hours'), field('estimated_labour_hours')),\n    callout_fee: first(raw.callout_fee, field('callout_fee'), 150),\n  },\n}];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Nelly Price Recommendation", "id": "bada28c7-2d3d-40cf-a2c1-9fdeafb3af07", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/agents/nelly/price-recommendation", "options": {"timeout": 30000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"Normalise Nelly Price Tool Input": {"main": [[{"node": "Call Nelly Price Recommendation", "type": "main", "index": 0}]]}, "When Nelly Price Tool Is Called": {"main": [[{"node": "Normalise Nelly Price Tool Input", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}