docs/tradie-import/TRADIE-TOOL-Skills-Save--Jdk4PIpLuODNnEK4.json
{"name": "TRADIE-TOOL-Skills-Save", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Skills Save Tool Is Called", "id": "fefa3505-4e12-40d9-8c08-465b7d2d18e7", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Skills Save Input", "id": "ba3c80ac-a5b6-4359-854e-d63b69a6420e", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nreturn [{\n  json: {\n    skill_key: raw.skill_key || '',\n    skill_name: raw.skill_name || raw.title || 'Business Skill',\n    capability: raw.capability || '',\n    category: raw.category || 'general',\n    description: raw.description || raw.summary || '',\n    best_practice: raw.best_practice || raw.content || raw.summary || '',\n    guardrails: raw.guardrails || '',\n    owner_agent_key: raw.owner_agent_key || raw.agent_key || 'george_foreman',\n    tags: raw.tags || '',\n    source_type: raw.source_type || 'agent_update',\n    source_id: raw.source_id || raw.entity_id || '',\n    usefulness_score: raw.usefulness_score || 5,\n    inputs: raw.inputs || {},\n    outputs: raw.outputs || {},\n  },\n}];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Skills Save Endpoint", "id": "a87061db-d44b-4e49-91cd-224fbc891505", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/core/skills/save", "options": {"timeout": 20000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"When Skills Save Tool Is Called": {"main": [[{"node": "Normalise Skills Save Input", "type": "main", "index": 0}]]}, "Normalise Skills Save Input": {"main": [[{"node": "Call Skills Save Endpoint", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}