docs/tradie-import/TRADIE-TOOL-Agent-Knowledge-Save--KGK3Cj2E8VCxFBBY.json
{"name": "TRADIE-TOOL-Agent-Knowledge-Save", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Agent Knowledge Save Tool Is Called", "id": "befef62b-4259-4712-b8d7-d017de520407", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Knowledge Save Tool Input", "id": "cdb4e6c8-3a3a-4735-aefa-db12e324f713", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nreturn [{\n  json: {\n    agent_key: raw.agent_key || 'george_foreman',\n    collection_key: raw.collection_key || 'scheduling_knowledge',\n    title: raw.title || raw.summary || 'Agent knowledge note',\n    content: raw.content || raw.summary || raw.input || '',\n    tags: raw.tags || '',\n    trade_type: raw.trade_type || '',\n    entity_type: raw.entity_type || '',\n    entity_id: raw.entity_id || raw.lead_id || raw.job_id || '',\n    source_type: raw.source_type || 'agent_observation',\n    source_id: raw.source_id || raw.lead_id || raw.job_id || raw.schedule_slot_id || '',\n    confidence: raw.confidence || 0.7,\n    usefulness_score: raw.usefulness_score || 0,\n    payload: raw,\n  },\n}];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Knowledge Save Endpoint", "id": "906a515b-ffc9-47bf-a2dc-9fd21593088d", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/core/agent-knowledge/save", "options": {"timeout": 20000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"When Agent Knowledge Save Tool Is Called": {"main": [[{"node": "Normalise Knowledge Save Tool Input", "type": "main", "index": 0}]]}, "Normalise Knowledge Save Tool Input": {"main": [[{"node": "Call Knowledge Save Endpoint", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}