docs/tradie-import/TRADIE-CORE-901-Agent-Business-Rules-Load--0NXWtq3NxupLFXrw.json
{"name": "TRADIE-CORE-901-Agent-Business-Rules-Load", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Business Rules Load Webhook", "id": "cec72cc3-a17e-4c09-9a3b-f20fb089a97b", "webhookId": "c26185c3-ad50-4a48-8ab3-65edd68c21e6", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/agent-business-rules/load", "responseMode": "responseNode", "options": {}, "httpMethod": "GET"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Business Rules SQL", "id": "4968b21a-b2b0-4d45-8b7e-5640b6019ca0", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst source = raw.query ?? raw.body ?? raw;\nconst agentKey = source.agent_key || 'george_foreman';\nfunction sql(value) { return `'${String(value || '').replace(/'/g, \"''\")}'`; }\nconst query = `\nSELECT jsonb_build_object(\n  'agent', to_jsonb(a),\n  'business_rules', COALESCE(jsonb_agg(jsonb_build_object(\n    'rule_group', r.rule_group,\n    'rule_order', r.rule_order,\n    'rule_text', r.rule_text\n  ) ORDER BY r.rule_group, r.rule_order) FILTER (WHERE r.id IS NOT NULL), '[]'::jsonb),\n  'system_rules_text', COALESCE(string_agg('- [' || r.rule_group || '] ' || r.rule_text, E'\\n' ORDER BY r.rule_group, r.rule_order), '')\n) AS business_rules\nFROM agent_definitions a\nLEFT JOIN agent_business_rules r ON r.agent_key = a.agent_key AND r.active = true\nWHERE a.agent_key = ${sql(agentKey)}\nGROUP BY a.id;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Read Business Rules", "id": "efecafab-c640-4fb3-835f-3baa8c70d7e8", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Business Rules", "id": "3e8b69dc-8cd0-4116-8075-f8973ad5c32f", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.business_rules}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Business Rules SQL": {"main": [[{"node": "Read Business Rules", "type": "main", "index": 0}]]}, "Read Business Rules": {"main": [[{"node": "Respond Business Rules", "type": "main", "index": 0}]]}, "Business Rules Load Webhook": {"main": [[{"node": "Build Business Rules SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}