docs/tradie-import/TRADIE-RENTAL-103-Compliance-Service-Offer--JcbPbP4nNxTEHN6N.json
{"name": "TRADIE-RENTAL-103-Compliance-Service-Offer", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Compliance Offer Webhook", "id": "e078c7bc-7327-4275-acaa-917c852d5765", "webhookId": "352ae9c0-c2e9-4ea6-a45e-fa59079e5165", "type": "n8n-nodes-base.webhook", "parameters": {"path": "rental/compliance/offer", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Compliance Offer SQL", "id": "0680b7d0-3154-43a8-ac6e-f9107ba7487c", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\r\nconst body = raw.body ?? raw;\r\nfunction first(...values) {\r\n  for (const value of values) {\r\n    if (value === undefined || value === null) continue;\r\n    if (typeof value === 'string' && value.trim() === '') continue;\r\n    return value;\r\n  }\r\n  return '';\r\n}\r\nfunction sql(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  return `'${String(value).replace(/'/g, \"''\")}'`;\r\n}\r\nfunction num(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\r\n  return Number.isFinite(n) ? String(n) : 'NULL';\r\n}\r\nfunction jsonSql(value) {\r\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\r\n}\r\nconst offerId = first(body.offer_id, `CSO-${new Date().getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`);\r\nconst packageKey = first(body.package_key, 'rental_compliance_pack');\r\nconst packageName = first(body.package_name, 'Rental Compliance Pack');\r\nconst price = first(body.price_amount, 499);\r\nconst platformRevenue = first(body.platform_revenue_amount, 75);\r\nconst query = `\r\nWITH property_row AS (\r\n  SELECT * FROM rental_properties WHERE id = ${sql(first(body.property_id))} LIMIT 1\r\n),\r\ninsert_offer AS (\r\n  INSERT INTO compliance_service_offers (\r\n    id, agency_id, property_id, landlord_id, package_key, package_name,\r\n    price_amount, platform_revenue_amount, status, offer_url, payload, updated_at\r\n  )\r\n  SELECT\r\n    ${sql(offerId)},\r\n    COALESCE(${sql(first(body.agency_id))}, agency_id),\r\n    COALESCE(${sql(first(body.property_id))}, id),\r\n    COALESCE(${sql(first(body.landlord_id))}, landlord_id),\r\n    ${sql(packageKey)},\r\n    ${sql(packageName)},\r\n    ${num(price)},\r\n    ${num(platformRevenue)},\r\n    'proposed',\r\n    'https://app.1pacent.com/landlord/compliance-offer?offer_id=' || ${sql(offerId)},\r\n    ${jsonSql(body)},\r\n    now()\r\n  FROM property_row\r\n  ON CONFLICT (id) DO UPDATE SET\r\n    price_amount = EXCLUDED.price_amount,\r\n    platform_revenue_amount = EXCLUDED.platform_revenue_amount,\r\n    status = EXCLUDED.status,\r\n    offer_url = EXCLUDED.offer_url,\r\n    payload = EXCLUDED.payload,\r\n    updated_at = now()\r\n  RETURNING *\r\n),\r\ninsert_event AS (\r\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\r\n  SELECT 'compliance_service_offer', id, 'compliance_offer_proposed', to_jsonb(insert_offer)\r\n  FROM insert_offer\r\n)\r\nSELECT COALESCE(\r\n  (\r\n    SELECT jsonb_build_object(\r\n      'success', true,\r\n      'offer_id', id,\r\n      'property_id', property_id,\r\n      'landlord_id', landlord_id,\r\n      'package_key', package_key,\r\n      'package_name', package_name,\r\n      'price_amount', price_amount,\r\n      'platform_revenue_amount', platform_revenue_amount,\r\n      'offer_url', offer_url,\r\n      'status', status\r\n    )\r\n    FROM insert_offer\r\n    LIMIT 1\r\n  ),\r\n  jsonb_build_object('success', false, 'status', 'not_found', 'message', 'No property matched for compliance offer.')\r\n) AS compliance_offer_result;\r\n`;\r\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Compliance Offer", "id": "c1145b47-2676-4403-b31e-68802f857ac1", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Compliance Offer", "id": "d8daf9bc-b856-4ca2-ba43-f643cfda6f8d", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.compliance_offer_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Compliance Offer Webhook": {"main": [[{"node": "Build Compliance Offer SQL", "type": "main", "index": 0}]]}, "Build Compliance Offer SQL": {"main": [[{"node": "Save Compliance Offer", "type": "main", "index": 0}]]}, "Save Compliance Offer": {"main": [[{"node": "Respond Compliance Offer", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}