docs/tradie-import/TRADIE-TOOL-Mia-Social-Draft--1aV1Z4lKHpo09Gwd.json
{"name": "TRADIE-TOOL-Mia-Social-Draft", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Mia Social Draft Tool Is Called", "id": "89791a2c-5e6c-42b0-975a-b0b8b5b44fa9", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Social Draft Tool Input", "id": "0891fd04-e3f9-4a0c-a720-a00d54d27e72", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst data = raw.query ?? raw.body ?? raw;\nreturn [{ json: data }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Mia Social Draft Endpoint", "id": "6bc31f38-1a5e-4482-9512-67b3c5a42726", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/agents/mia/social-draft", "options": {"timeout": 30000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"When Mia Social Draft Tool Is Called": {"main": [[{"node": "Normalise Social Draft Tool Input", "type": "main", "index": 0}]]}, "Normalise Social Draft Tool Input": {"main": [[{"node": "Call Mia Social Draft Endpoint", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}