docs/tradie-import/TRADIE-CORE-906-Agent-Knowledge-Search--kIkqBJ8at9TbFXeu.json
{"name": "TRADIE-CORE-906-Agent-Knowledge-Search", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Agent Knowledge Search Webhook", "id": "3dc85b93-df0b-4b83-ae5a-3ebe3a2e47c5", "webhookId": "0e7cbbfd-d43b-4d08-bbe2-239d61ba5359", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/agent-knowledge/search", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Knowledge Search SQL", "id": "58021d75-3f52-457b-8d31-2160f98aa0db", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst source = raw.query && Object.keys(raw.query).length ? raw.query : (raw.body ?? raw);\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nconst agentKey = source.agent_key || 'george_foreman';\nconst collectionKey = source.collection_key || '';\nconst queryText = source.query || source.question || source.search || '';\nconst tradeType = source.trade_type || '';\nconst limit = Math.min(Math.max(Number(source.limit || 5), 1), 10);\n\nconst query = `\nWITH scored AS (\n  SELECT\n    id,\n    agent_key,\n    collection_key,\n    source_type,\n    source_id,\n    title,\n    content,\n    tags,\n    trade_type,\n    entity_type,\n    entity_id,\n    confidence,\n    usefulness_score,\n    payload,\n    updated_at,\n    CASE\n      WHEN ${sql(queryText)} IS NULL THEN 0\n      ELSE ts_rank_cd(\n        to_tsvector('english', coalesce(title,'') || ' ' || coalesce(content,'') || ' ' || array_to_string(tags, ' ')),\n        plainto_tsquery('english', ${sql(queryText)})\n      )\n    END AS text_rank,\n    CASE\n      WHEN ${sql(queryText)} IS NULL THEN 0\n      ELSE COALESCE((\n        SELECT count(*)\n        FROM regexp_split_to_table(lower(${sql(queryText)}), '\\\\s+') AS q(term)\n        WHERE length(q.term) > 2\n          AND (\n            lower(coalesce(title,'')) LIKE '%' || q.term || '%'\n            OR lower(coalesce(content,'')) LIKE '%' || q.term || '%'\n            OR lower(array_to_string(tags, ' ')) LIKE '%' || q.term || '%'\n          )\n      ), 0)\n    END AS term_hits\n  FROM agent_knowledge_items\n  WHERE active = true\n    AND agent_key = ${sql(agentKey)}\n    AND (${sql(collectionKey)} IS NULL OR collection_key = ${sql(collectionKey)})\n    AND (${sql(tradeType)} IS NULL OR trade_type IS NULL OR lower(trade_type) = lower(${sql(tradeType)}))\n),\nranked AS (\n  SELECT *,\n    (text_rank * 10) + term_hits + confidence + usefulness_score + EXTRACT(EPOCH FROM (updated_at - now())) / 31536000 AS score\n  FROM scored\n  WHERE ${sql(queryText)} IS NULL\n     OR text_rank > 0\n     OR term_hits > 0\n     OR lower(title) LIKE '%' || lower(${sql(queryText)}) || '%'\n     OR lower(content) LIKE '%' || lower(${sql(queryText)}) || '%'\n  ORDER BY score DESC, updated_at DESC\n  LIMIT ${limit}\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'agent_key', ${sql(agentKey)},\n  'collection_key', ${sql(collectionKey)},\n  'query', ${sql(queryText)},\n  'result_count', (SELECT count(*) FROM ranked),\n  'results', COALESCE((\n    SELECT jsonb_agg(jsonb_build_object(\n      'knowledge_id', id,\n      'collection_key', collection_key,\n      'title', title,\n      'content', content,\n      'tags', tags,\n      'trade_type', trade_type,\n      'entity_type', entity_type,\n      'entity_id', entity_id,\n      'confidence', confidence,\n      'usefulness_score', usefulness_score,\n      'score', score,\n      'source_type', source_type,\n      'source_id', source_id,\n      'updated_at', updated_at\n    ) ORDER BY score DESC, updated_at DESC)\n    FROM ranked\n  ), '[]'::jsonb)\n) AS knowledge_search;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Search Agent Knowledge", "id": "ded65e01-5c4c-4e40-936d-f4e77be2e6aa", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Knowledge Search", "id": "ec97ae9e-dd56-4647-97e2-1d8feaca9932", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.knowledge_search || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Agent Knowledge Search Webhook": {"main": [[{"node": "Build Knowledge Search SQL", "type": "main", "index": 0}]]}, "Build Knowledge Search SQL": {"main": [[{"node": "Search Agent Knowledge", "type": "main", "index": 0}]]}, "Search Agent Knowledge": {"main": [[{"node": "Respond Knowledge Search", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}