docs/tradie-import/TRADIE-TOOL-Message-Template-Lifecycle-Manage--poOb8w9LZhNIqjMa.json
{"name": "TRADIE-TOOL-Message-Template-Lifecycle-Manage", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Message Template Lifecycle Tool Is Called", "id": "5e5d39ba-4b4d-4fdb-92c1-12ac813519d3", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Lifecycle Tool Input", "id": "6a8c5695-f1e4-4461-9316-4de4373480e7", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nreturn [{ json: raw.body ?? raw.query ?? raw }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Message Template Lifecycle Endpoint", "id": "cf5e35b1-bb85-4304-bdc0-324f463b14ae", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/core/message-templates/lifecycle-manage", "options": {"timeout": 30000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"Normalise Lifecycle Tool Input": {"main": [[{"node": "Call Message Template Lifecycle Endpoint", "type": "main", "index": 0}]]}, "When Message Template Lifecycle Tool Is Called": {"main": [[{"node": "Normalise Lifecycle Tool Input", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}