docs/tradie-import/TRADIE-CORE-020-Authority-Documents-Setup--cjk5O4z2IU8X4dgB.json
{"name": "TRADIE-CORE-020-Authority-Documents-Setup", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Setup Authority Documents Webhook", "id": "f13ec547-a68c-417e-87fa-de44ab081a22", "webhookId": "d5a13db9-54e6-4c6a-bf99-413a6d3c8170", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/authority-documents/setup", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [240, 0], "name": "Prepare Authority Documents SQL", "id": "f2793062-b752-49e3-99ec-e1576a6c0c1a", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const sql = `\nCREATE TABLE IF NOT EXISTS authority_documents (\n  id uuid primary key default gen_random_uuid(),\n  authority_document_key text not null unique,\n  document_type text not null,\n  industry text not null default 'all',\n  trade_type text,\n  jurisdiction text not null default 'AU',\n  authority_name text not null,\n  issuing_body text,\n  document_title text not null,\n  document_reference text,\n  source_url text not null,\n  official_source boolean not null default true,\n  current_version text,\n  effective_from date,\n  effective_to date,\n  status text not null default 'active',\n  verified_at timestamptz not null default now(),\n  verified_by text not null default 'codex',\n  owner_agent_key text references agent_definitions(agent_key),\n  summary text,\n  layman_summary text,\n  sme_interpretation_status text not null default 'pending_review',\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS authority_document_versions (\n  id uuid primary key default gen_random_uuid(),\n  authority_document_key text not null references authority_documents(authority_document_key),\n  version_label text not null,\n  version_date date,\n  effective_from date,\n  effective_to date,\n  source_url text not null,\n  change_summary text,\n  layman_summary text,\n  status text not null default 'active',\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now(),\n  unique(authority_document_key, version_label)\n);\n\nCREATE TABLE IF NOT EXISTS authority_document_topics (\n  id uuid primary key default gen_random_uuid(),\n  topic_key text not null unique,\n  authority_document_key text not null references authority_documents(authority_document_key),\n  industry text not null default 'all',\n  trade_type text,\n  topic_name text not null,\n  topic_summary text not null,\n  applies_to text,\n  risk_level text not null default 'medium',\n  required_evidence text[] not null default '{}',\n  status text not null default 'active',\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS authority_document_chunks (\n  id uuid primary key default gen_random_uuid(),\n  authority_document_key text not null references authority_documents(authority_document_key),\n  chunk_key text not null unique,\n  chunk_order integer not null default 100,\n  heading text,\n  chunk_text text not null,\n  jurisdiction text not null default 'AU',\n  industry text not null default 'all',\n  trade_type text,\n  topic_tags text[] not null default '{}',\n  obligation_type text,\n  risk_level text not null default 'medium',\n  source_url text,\n  current_version text,\n  effective_from date,\n  effective_to date,\n  embedding_provider text,\n  embedding_model text,\n  embedding_status text not null default 'pending',\n  embedding_vector_json jsonb,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS authority_document_agent_access (\n  id uuid primary key default gen_random_uuid(),\n  agent_key text not null references agent_definitions(agent_key),\n  authority_document_key text not null references authority_documents(authority_document_key),\n  access_level text not null default 'reference',\n  module_key text,\n  paid_module boolean not null default false,\n  status text not null default 'active',\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now(),\n  unique(agent_key, authority_document_key, module_key)\n);\n\nCREATE TABLE IF NOT EXISTS authority_document_links (\n  id uuid primary key default gen_random_uuid(),\n  authority_document_key text not null references authority_documents(authority_document_key),\n  source_table text not null,\n  source_key text not null,\n  relationship_type text not null default 'grounds',\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  unique(authority_document_key, source_table, source_key, relationship_type)\n);\n\nCREATE INDEX IF NOT EXISTS idx_authority_documents_lookup ON authority_documents(jurisdiction, industry, trade_type, document_type, status);\nCREATE INDEX IF NOT EXISTS idx_authority_documents_owner ON authority_documents(owner_agent_key, status);\nCREATE INDEX IF NOT EXISTS idx_authority_document_versions_lookup ON authority_document_versions(authority_document_key, status, effective_from);\nCREATE INDEX IF NOT EXISTS idx_authority_document_topics_lookup ON authority_document_topics(authority_document_key, industry, trade_type, status);\nCREATE INDEX IF NOT EXISTS idx_authority_document_chunks_lookup ON authority_document_chunks(authority_document_key, jurisdiction, industry, trade_type, embedding_status);\nCREATE INDEX IF NOT EXISTS idx_authority_document_agent_access_lookup ON authority_document_agent_access(agent_key, module_key, status);\n\nINSERT INTO agent_definitions (\n  agent_key, agent_name, agent_role, purpose, operating_scope, customer_facing, owner_domain,\n  responsibilities, success_measures, handoff_triggers, guardrails, model_provider, model_name, active\n) VALUES (\n  'sparky_electrical',\n  'Sparky',\n  'Electrical compliance and field support SME AI agent',\n  'Help electricians interpret authority documents, safety obligations, evidence expectations, and practical compliance steps for electrical work. Sparky supports tradies and internal agents, not DIY customers.',\n  'Electrical trade SME support, authority document interpretation, compliance evidence checklists, safety escalation, and learning loops from job outcomes.',\n  false,\n  'trade_sme_electrical',\n  '[\"answer electrician compliance questions with authority-document references\",\"produce evidence checklists for electrical jobs\",\"flag unsafe or regulated work that needs qualified/licensed handling\",\"support quote and scope quality for electrical work\",\"feed best-practice learnings to Quintino\"]'::jsonb,\n  '[\"higher electrical evidence completeness\",\"fewer repeat electrical callouts\",\"lower rework caused by unclear scope\",\"tradie repeat usage of Sparky module\",\"faster compliant quote preparation\"]'::jsonb,\n  '[\"handoff legal uncertainty to human compliance owner\",\"handoff customer scheduling to George\",\"handoff pricing intelligence to Nelly\",\"handoff skill lifecycle suggestions to Quintino\"]'::jsonb,\n  '[\"do not provide DIY electrical instructions to customers\",\"do not claim legal advice\",\"cite source document, version, jurisdiction, and effective date when available\",\"escalate dangerous or uncertain electrical safety issues\",\"prefer official authority documents over informal sources\"]'::jsonb,\n  'google_gemini',\n  'gemini-2.5-flash',\n  true\n) ON CONFLICT (agent_key) DO UPDATE SET\n  agent_name = excluded.agent_name,\n  agent_role = excluded.agent_role,\n  purpose = excluded.purpose,\n  operating_scope = excluded.operating_scope,\n  responsibilities = excluded.responsibilities,\n  success_measures = excluded.success_measures,\n  handoff_triggers = excluded.handoff_triggers,\n  guardrails = excluded.guardrails,\n  model_provider = excluded.model_provider,\n  model_name = excluded.model_name,\n  active = true,\n  updated_at = now();\n\nINSERT INTO mcp_services (\n  service_key, service_name, provider, category, capability, endpoint_path, credential_name, status, available_to_agents, config\n) VALUES (\n  'authority_documents_repository',\n  'Authority Documents Repository',\n  '1pacent_postgres_n8n',\n  'knowledge_repository',\n  'Search and reference official authority documents, standards, regulator guidance, association rules, and versioned SME interpretations.',\n  '/webhook/core/authority-documents/search',\n  'Tradie App Postgres',\n  'active',\n  ARRAY['sparky_electrical','connie_compliance','wally_warranty','george_foreman','nelly_quote_intelligence','patricia_property_manager','quintino_skills_intelligence'],\n  '{\"modular\":true,\"versioned\":true,\"semantic_retrieval_ready\":true,\"recommended_vector_backend\":\"qdrant_or_pgvector\",\"paid_modules\":[\"sparky_pro\"],\"preferred_for\":[\"compliance\",\"safety\",\"regulated trade work\",\"authority references\"]}'::jsonb\n) ON CONFLICT (service_key) DO UPDATE SET\n  capability = excluded.capability,\n  endpoint_path = excluded.endpoint_path,\n  status = excluded.status,\n  available_to_agents = excluded.available_to_agents,\n  config = excluded.config,\n  updated_at = now();\n\nINSERT INTO mcp_service_tools (\n  service_key, tool_key, tool_name, description, endpoint_path, input_schema, output_contract, active\n) VALUES (\n  'authority_documents_repository',\n  'authority_documents_search',\n  'Search Authority Documents',\n  'Find relevant official authority documents and SME topics for an agent, industry, trade type, jurisdiction, and query.',\n  '/webhook/core/authority-documents/search',\n  '{\"agent_key\":\"text\",\"industry\":\"text\",\"trade_type\":\"text\",\"jurisdiction\":\"text\",\"query\":\"text\",\"document_type\":\"text\",\"limit\":\"number\"}'::jsonb,\n  '{\"success\":\"boolean\",\"documents\":\"array\",\"agent_access_checked\":\"boolean\",\"caution\":\"text\"}'::jsonb,\n  true\n) ON CONFLICT (tool_key) DO UPDATE SET\n  description = excluded.description,\n  endpoint_path = excluded.endpoint_path,\n  input_schema = excluded.input_schema,\n  output_contract = excluded.output_contract,\n  active = true,\n  updated_at = now();\n\nINSERT INTO business_skills (\n  skill_key, skill_name, capability, category, description, best_practice, guardrails, inputs, outputs, owner_agent_key, version, status, tags, source_type, usefulness_score\n) VALUES\n(\n  'electrical_authority_interpretation_v1',\n  'Electrical Authority Document Interpretation',\n  'trade_sme_compliance',\n  'electrical',\n  'Interpret electrical authority documents for qualified tradies and internal workflows using source, version, jurisdiction, effective date, and confidence.',\n  'Start with official authority documents, identify jurisdiction and effective version, separate compliance facts from operational interpretation, then return a concise evidence-backed recommendation.',\n  'Do not provide DIY electrical repair instructions. Do not present interpretation as legal advice. Escalate dangerous or ambiguous safety issues.',\n  '{\"required\":[\"query\",\"jurisdiction\",\"trade_type\"],\"optional\":[\"job_type\",\"property_type\",\"authority_document_key\"]}'::jsonb,\n  '{\"answer\":\"text\",\"authority_documents\":\"array\",\"evidence_checklist\":\"array\",\"escalation_required\":\"boolean\"}'::jsonb,\n  'sparky_electrical',\n  1,\n  'active',\n  ARRAY['sparky','electrical','authority_documents','compliance','paid_module'],\n  'manual',\n  50\n),\n(\n  'electrical_compliance_evidence_checklist_v1',\n  'Electrical Compliance Evidence Checklist',\n  'evidence_quality',\n  'electrical',\n  'Create evidence checklists for electrical work orders so job records support trust, auditability, repeat-issue review, quote accuracy, and customer confidence.',\n  'Match evidence to job type and authority document topics, include before/after photos, test results where applicable, materials and part warranty details, compliance notes, and unresolved risks.',\n  'Do not invent certifications, test results, licence details, or authority requirements. Mark unknown evidence as required follow-up.',\n  '{\"required\":[\"job_type\",\"jurisdiction\"],\"optional\":[\"authority_document_topics\",\"work_order_id\",\"tradie_id\"]}'::jsonb,\n  '{\"evidence_required\":\"array\",\"customer_summary\":\"text\",\"tradie_notes\":\"text\",\"risk_flags\":\"array\"}'::jsonb,\n  'sparky_electrical',\n  1,\n  'active',\n  ARRAY['sparky','electrical','evidence','trust','moat'],\n  'manual',\n  50\n)\nON CONFLICT (skill_key) DO UPDATE SET\n  skill_name = excluded.skill_name,\n  capability = excluded.capability,\n  category = excluded.category,\n  description = excluded.description,\n  best_practice = excluded.best_practice,\n  guardrails = excluded.guardrails,\n  inputs = excluded.inputs,\n  outputs = excluded.outputs,\n  owner_agent_key = excluded.owner_agent_key,\n  status = excluded.status,\n  tags = excluded.tags,\n  usefulness_score = excluded.usefulness_score,\n  updated_at = now();\n\nINSERT INTO agent_skill_assignments (agent_key, skill_key, priority, active)\nVALUES\n  ('sparky_electrical', 'electrical_authority_interpretation_v1', 10, true),\n  ('sparky_electrical', 'electrical_compliance_evidence_checklist_v1', 20, true)\nON CONFLICT (agent_key, skill_key) DO UPDATE SET priority = excluded.priority, active = true, updated_at = now();\n\nINSERT INTO agent_definitions (\n  agent_key, agent_name, agent_role, purpose, operating_scope, customer_facing, owner_domain,\n  responsibilities, success_measures, handoff_triggers, guardrails, model_provider, model_name, active\n) VALUES\n(\n  'connie_compliance',\n  'Connie',\n  'Rental compliance workflow AI agent',\n  'Own rental compliance requirements, reminders, evidence, certificates, and authority-document monitoring for property-management workflows.',\n  'Rental compliance, certificate evidence, authority document references, compliance bundle support.',\n  false,\n  'rental_compliance',\n  '[\"maintain compliance activities\",\"reference authority documents\",\"support property manager compliance bundles\"]'::jsonb,\n  '[\"higher certificate capture\",\"lower missed compliance due dates\",\"faster compliance work order creation\"]'::jsonb,\n  '[\"handoff scheduling to George\",\"handoff warranty concerns to Wally\",\"handoff skills lifecycle to Quintino\"]'::jsonb,\n  '[\"cite source and version\",\"do not provide legal advice\",\"use layman summaries for notifications\"]'::jsonb,\n  'google_gemini',\n  'gemini-2.5-flash',\n  true\n),\n(\n  'wally_warranty',\n  'Wally',\n  'Warranty and repeat issue monitoring AI agent',\n  'Detect warranty candidates, repeat issues, duplicate parts/labour, consumer guarantee considerations, and avoid unfair repeat charges.',\n  'Warranty review, repeat issue analysis, consumer guarantee references, work-order guardrails.',\n  false,\n  'warranty_repeat_issue',\n  '[\"detect repeat work\",\"protect landlords from duplicate charges\",\"route warranty jobs to prior tradie where appropriate\"]'::jsonb,\n  '[\"reduced duplicate charges\",\"higher warranty recovery\",\"fewer repeat unresolved issues\"]'::jsonb,\n  '[\"handoff scheduling to George\",\"handoff compliance source questions to Connie\",\"handoff skills lifecycle to Quintino\"]'::jsonb,\n  '[\"do not provide legal advice\",\"cite authority references\",\"use neutral tenant wording\"]'::jsonb,\n  'google_gemini',\n  'gemini-2.5-flash',\n  true\n)\nON CONFLICT (agent_key) DO UPDATE SET\n  agent_name = excluded.agent_name,\n  agent_role = excluded.agent_role,\n  purpose = excluded.purpose,\n  operating_scope = excluded.operating_scope,\n  responsibilities = excluded.responsibilities,\n  success_measures = excluded.success_measures,\n  handoff_triggers = excluded.handoff_triggers,\n  guardrails = excluded.guardrails,\n  active = true,\n  updated_at = now();\n\nINSERT INTO authority_documents (\n  authority_document_key, document_type, industry, trade_type, jurisdiction, authority_name, issuing_body,\n  document_title, document_reference, source_url, official_source, current_version, effective_from, effective_to,\n  status, verified_at, verified_by, owner_agent_key, summary, layman_summary, sme_interpretation_status, payload\n)\nSELECT\n  'legislation:' || source_key,\n  'legislation',\n  'property_management',\n  NULL,\n  jurisdiction,\n  source_name,\n  source_name,\n  source_name,\n  legislation_reference,\n  source_url,\n  true,\n  legislation_version,\n  effective_from,\n  effective_to,\n  'active',\n  verified_at,\n  verified_by,\n  'connie_compliance',\n  coalesce(legislation_reference, source_name),\n  'Authority source used to ground compliance requirements and version monitoring for property management workflows.',\n  'pending_review',\n  payload\nFROM compliance_legislation_sources\nON CONFLICT (authority_document_key) DO UPDATE SET\n  current_version = excluded.current_version,\n  effective_from = excluded.effective_from,\n  effective_to = excluded.effective_to,\n  source_url = excluded.source_url,\n  verified_at = excluded.verified_at,\n  updated_at = now();\n\nINSERT INTO authority_documents (\n  authority_document_key, document_type, industry, trade_type, jurisdiction, authority_name, issuing_body,\n  document_title, document_reference, source_url, official_source, current_version, effective_from, effective_to,\n  status, verified_at, verified_by, owner_agent_key, summary, layman_summary, sme_interpretation_status, payload\n)\nSELECT\n  'consumer_guarantee:' || guarantee_key,\n  'consumer_law_guidance',\n  'all',\n  NULL,\n  jurisdiction,\n  source_name,\n  source_name,\n  guarantee_type || ' - ' || applies_to,\n  legislation_reference,\n  source_url,\n  true,\n  legislation_version,\n  effective_from,\n  effective_to,\n  status,\n  verified_at,\n  verified_by,\n  'wally_warranty',\n  summary,\n  coalesce(operational_rule, summary),\n  'approved',\n  payload\nFROM consumer_guarantee_references\nON CONFLICT (authority_document_key) DO UPDATE SET\n  current_version = excluded.current_version,\n  summary = excluded.summary,\n  layman_summary = excluded.layman_summary,\n  source_url = excluded.source_url,\n  status = excluded.status,\n  verified_at = excluded.verified_at,\n  updated_at = now();\n\nINSERT INTO authority_document_links (authority_document_key, source_table, source_key, relationship_type)\nSELECT 'legislation:' || source_key, 'compliance_legislation_sources', source_key, 'source_migration'\nFROM compliance_legislation_sources\nON CONFLICT DO NOTHING;\n\nINSERT INTO authority_document_links (authority_document_key, source_table, source_key, relationship_type)\nSELECT 'consumer_guarantee:' || guarantee_key, 'consumer_guarantee_references', guarantee_key, 'source_migration'\nFROM consumer_guarantee_references\nON CONFLICT DO NOTHING;\n\nINSERT INTO authority_document_versions (\n  authority_document_key, version_label, effective_from, effective_to, source_url, change_summary, layman_summary, status, payload\n)\nSELECT authority_document_key, coalesce(current_version, 'current'), effective_from, effective_to, source_url,\n       'Seeded from existing compliance and warranty reference data.',\n       coalesce(layman_summary, summary, 'Current authority document version seeded for agent reference.'),\n       status, payload\nFROM authority_documents\nWHERE current_version IS NOT NULL\nON CONFLICT (authority_document_key, version_label) DO UPDATE SET\n  effective_from = excluded.effective_from,\n  effective_to = excluded.effective_to,\n  source_url = excluded.source_url,\n  status = excluded.status,\n  updated_at = now();\n\nINSERT INTO authority_document_chunks (\n  authority_document_key, chunk_key, chunk_order, heading, chunk_text, jurisdiction, industry, trade_type,\n  topic_tags, obligation_type, risk_level, source_url, current_version, effective_from, effective_to, embedding_status, payload\n)\nSELECT\n  authority_document_key,\n  authority_document_key || ':summary',\n  10,\n  'Current summary',\n  coalesce(layman_summary, summary, document_title),\n  jurisdiction,\n  industry,\n  trade_type,\n  ARRAY[document_type, industry],\n  document_type,\n  CASE WHEN document_type IN ('legislation', 'regulation', 'consumer_law_guidance') THEN 'high' ELSE 'medium' END,\n  source_url,\n  current_version,\n  effective_from,\n  effective_to,\n  'pending',\n  jsonb_build_object('seeded_from', 'authority_documents_setup', 'semantic_retrieval_ready', true)\nFROM authority_documents\nWHERE coalesce(layman_summary, summary, document_title) IS NOT NULL\nON CONFLICT (chunk_key) DO UPDATE SET\n  chunk_text = excluded.chunk_text,\n  source_url = excluded.source_url,\n  current_version = excluded.current_version,\n  effective_from = excluded.effective_from,\n  effective_to = excluded.effective_to,\n  embedding_status = CASE WHEN authority_document_chunks.chunk_text IS DISTINCT FROM excluded.chunk_text THEN 'pending' ELSE authority_document_chunks.embedding_status END,\n  updated_at = now();\n\nINSERT INTO authority_document_agent_access (agent_key, authority_document_key, access_level, module_key, paid_module, status)\nSELECT 'sparky_electrical', authority_document_key, 'sme_answer', 'sparky_pro', true, 'active'\nFROM authority_documents\nWHERE industry IN ('all', 'electrical') OR trade_type = 'electrical' OR document_type IN ('consumer_law_guidance')\nON CONFLICT (agent_key, authority_document_key, module_key) DO UPDATE SET access_level = excluded.access_level, paid_module = true, status = 'active', updated_at = now();\n\nINSERT INTO authority_document_agent_access (agent_key, authority_document_key, access_level, module_key, paid_module, status)\nSELECT 'connie_compliance', authority_document_key, 'interpret', 'rental_compliance', true, 'active'\nFROM authority_documents\nWHERE industry IN ('all', 'property_management') OR document_type IN ('legislation', 'regulation', 'regulator_guidance')\nON CONFLICT (agent_key, authority_document_key, module_key) DO UPDATE SET access_level = excluded.access_level, paid_module = true, status = 'active', updated_at = now();\n\nSELECT\n  true as success,\n  (SELECT count(*) FROM authority_documents) as authority_documents_count,\n  (SELECT count(*) FROM authority_document_versions) as authority_document_versions_count,\n  (SELECT count(*) FROM authority_document_chunks) as authority_document_chunks_count,\n  (SELECT count(*) FROM authority_document_agent_access WHERE agent_key = 'sparky_electrical') as sparky_access_count,\n  (SELECT count(*) FROM business_skills WHERE owner_agent_key = 'sparky_electrical') as sparky_skill_count;\n`;\n\nreturn [{ json: { sql } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Run Authority Documents Setup", "id": "f7b6762b-f686-406e-9642-9006599e2d69", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [800, 0], "name": "Return Setup Result", "id": "a248a62d-e289-4a0f-a6a4-3e9d294a6f83", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ JSON.stringify($json) }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Run Authority Documents Setup": {"main": [[{"node": "Return Setup Result", "type": "main", "index": 0}]]}, "Prepare Authority Documents SQL": {"main": [[{"node": "Run Authority Documents Setup", "type": "main", "index": 0}]]}, "Setup Authority Documents Webhook": {"main": [[{"node": "Prepare Authority Documents SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}