docs/tradie-import/TRADIE-CORE-922-Skill-Lifecycle-Manage--sCVzzC9DeSCRs7ke.json
{"name": "TRADIE-CORE-922-Skill-Lifecycle-Manage", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Skill Lifecycle Webhook", "id": "313c742c-057a-4b56-92e5-7dbab10dd9a0", "webhookId": "be854a1a-03a2-4ff7-99ba-11006047bc44", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/skills/lifecycle-manage", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Skill Lifecycle SQL", "id": "68032e14-5257-41a5-9dea-eda10f27cccf", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction slug(text) {\n  return String(text || 'skill').toLowerCase().replace(/[^a-z0-9]+/g, '_').replace(/^_+|_+$/g, '').slice(0, 80);\n}\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nfunction arraySql(values) {\n  const items = Array.isArray(values) ? values : String(values || '').split(',').map((v) => v.trim()).filter(Boolean);\n  if (!items.length) return \"'{}'::text[]\";\n  return `ARRAY[${items.map(sql).join(',')}]::text[]`;\n}\n\nconst action = String(body.action || 'propose').toLowerCase();\nconst skillName = body.skill_name || body.title || 'Business Skill';\nconst skillKey = body.skill_key || slug(skillName);\nconst changeReason = body.change_reason || body.evidence_summary || 'Quintino lifecycle update.';\nconst status = action === 'promote' ? 'active' : 'proposed';\n\nconst query = `\nWITH current_skill AS (\n  SELECT * FROM business_skills WHERE skill_key = ${sql(skillKey)} LIMIT 1\n),\nnext_version AS (\n  SELECT COALESCE((SELECT max(version) + 1 FROM business_skill_versions WHERE skill_key = ${sql(skillKey)}), 1) AS version\n),\narchive_current AS (\n  UPDATE business_skill_versions\n  SET status = 'archived', archived_at = now()\n  WHERE skill_key = ${sql(skillKey)}\n    AND status = 'active'\n    AND ${sql(action)} = 'promote'\n  RETURNING id\n),\nupsert_skill AS (\n  INSERT INTO business_skills (\n    skill_key, skill_name, capability, category, description, best_practice, guardrails,\n    inputs, outputs, owner_agent_key, version, status, tags, source_type, source_id, usefulness_score\n  )\n  SELECT\n    ${sql(skillKey)},\n    ${sql(skillName)},\n    ${sql(body.capability || 'Business capability')},\n    ${sql(body.category || 'general')},\n    ${sql(body.description || body.best_practice || '')},\n    ${sql(body.best_practice || body.content || '')},\n    ${sql(body.guardrails || '')},\n    ${jsonSql(body.inputs || {})},\n    ${jsonSql(body.outputs || {})},\n    'quintino',\n    (SELECT version FROM next_version),\n    CASE WHEN ${sql(action)} = 'promote' THEN 'active' ELSE 'proposed' END,\n    ${arraySql(body.tags)},\n    ${sql(body.source_type || 'quintino')},\n    ${sql(body.source_id || body.recommendation_key || '')},\n    COALESCE(${sql(body.usefulness_score || 5)}, '5')::numeric\n  ON CONFLICT (skill_key) DO UPDATE SET\n    skill_name = EXCLUDED.skill_name,\n    capability = EXCLUDED.capability,\n    category = EXCLUDED.category,\n    description = EXCLUDED.description,\n    best_practice = EXCLUDED.best_practice,\n    guardrails = EXCLUDED.guardrails,\n    inputs = EXCLUDED.inputs,\n    outputs = EXCLUDED.outputs,\n    owner_agent_key = 'quintino',\n    version = CASE WHEN ${sql(action)} = 'promote' THEN business_skills.version + 1 ELSE business_skills.version END,\n    status = CASE WHEN ${sql(action)} = 'promote' THEN 'active' ELSE 'proposed' END,\n    tags = EXCLUDED.tags,\n    source_type = EXCLUDED.source_type,\n    source_id = EXCLUDED.source_id,\n    usefulness_score = EXCLUDED.usefulness_score,\n    updated_at = now()\n  RETURNING *\n),\ninsert_version AS (\n  INSERT INTO business_skill_versions (\n    skill_key, version, skill_name, capability, category, description, best_practice, guardrails,\n    inputs, outputs, status, change_reason, created_by_agent_key, approved_by, promoted_at, archived_at, payload\n  )\n  SELECT\n    s.skill_key,\n    s.version,\n    s.skill_name,\n    s.capability,\n    s.category,\n    s.description,\n    s.best_practice,\n    s.guardrails,\n    s.inputs,\n    s.outputs,\n    CASE WHEN ${sql(action)} = 'promote' THEN 'active' ELSE 'proposed' END,\n    ${sql(changeReason)},\n    'quintino',\n    ${sql(body.approved_by || '')},\n    CASE WHEN ${sql(action)} = 'promote' THEN now() ELSE NULL END,\n    NULL,\n    ${jsonSql(body)}\n  FROM upsert_skill s\n  ON CONFLICT (skill_key, version) DO UPDATE SET\n    status = EXCLUDED.status,\n    change_reason = EXCLUDED.change_reason,\n    payload = EXCLUDED.payload\n  RETURNING *\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'agent', 'Quintino',\n  'action', ${sql(action)},\n  'skill_key', skill_key,\n  'version', version,\n  'status', status,\n  'change_reason', change_reason,\n  'one_active_version_enforced', ${sql(action)} = 'promote',\n  'message', CASE WHEN ${sql(action)} = 'promote' THEN 'Skill promoted and older active versions archived.' ELSE 'Skill version proposed for review.' END\n) AS skill_lifecycle\nFROM insert_version\nLIMIT 1;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Manage Skill Lifecycle", "id": "62d44df5-c1c3-4ee2-bb8a-770566169055", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Skill Lifecycle", "id": "6a310bf6-09fe-4a0e-9d61-448efe12bea7", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.skill_lifecycle || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Skill Lifecycle Webhook": {"main": [[{"node": "Build Skill Lifecycle SQL", "type": "main", "index": 0}]]}, "Manage Skill Lifecycle": {"main": [[{"node": "Respond Skill Lifecycle", "type": "main", "index": 0}]]}, "Build Skill Lifecycle SQL": {"main": [[{"node": "Manage Skill Lifecycle", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}