docs/tradie-import/TRADIE-TOOL-Penny-Record-Payment--U6hYrE3HvduqLCMf.json
{"name": "TRADIE-TOOL-Penny-Record-Payment", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Penny Record Payment Tool Is Called", "id": "931b420c-ab7c-4fe6-810b-e6ae77f5de82", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Record Payment Input", "id": "cf71586f-6cdb-46fc-84c6-b250662ef099", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nreturn [{ json: raw.body ?? raw.query ?? raw }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Record Payment Endpoint", "id": "10dd8a26-8f16-46f2-b6de-702f6886beb2", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/payments/record", "options": {"timeout": 30000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"When Penny Record Payment Tool Is Called": {"main": [[{"node": "Normalise Record Payment Input", "type": "main", "index": 0}]]}, "Normalise Record Payment Input": {"main": [[{"node": "Call Record Payment Endpoint", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}