docs/tradie-import/TRADIE-SOCIAL-942-Mia-Review-Request--hoZlPp5EnRZRQCtR.json
{"name": "TRADIE-SOCIAL-942-Mia-Review-Request", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Mia Review Request Webhook", "id": "4c48cef8-2198-400d-a010-366779d8a20a", "webhookId": "53f8af62-faa4-495f-93bf-650bff6711ae", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/mia/review-request", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Review Request SQL", "id": "c0b5b093-3787-411e-b8f6-5513c1dc3fb4", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw.query ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nconst now = new Date();\nconst jobId = first(body.job_id);\nconst invoiceId = first(body.invoice_id);\nconst reviewUrl = first(body.review_url, 'https://g.page/r/1pacent-review-placeholder/review');\nconst channel = first(body.channel, 'email');\nconst requestId = first(body.review_request_id, `REV-${now.getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`);\n\nconst query = `\nWITH resolved AS (\n  SELECT\n    j.id AS job_id,\n    j.customer_id,\n    j.status AS job_status,\n    l.trade_type,\n    l.job_description,\n    c.name AS customer_name,\n    c.email AS customer_email,\n    i.id AS invoice_id,\n    i.status AS invoice_status\n  FROM jobs j\n  LEFT JOIN leads l ON l.id = j.lead_id\n  LEFT JOIN customers c ON c.id = j.customer_id\n  LEFT JOIN invoices i ON i.job_id = j.id\n  WHERE (${sql(jobId)} IS NOT NULL AND j.id = ${sql(jobId)})\n     OR (${sql(invoiceId)} IS NOT NULL AND i.id = ${sql(invoiceId)})\n  ORDER BY j.created_at DESC\n  LIMIT 1\n),\ncreated AS (\n  INSERT INTO review_requests (id, job_id, customer_id, status, channel, review_url, payload)\n  SELECT\n    ${sql(requestId)},\n    job_id,\n    customer_id,\n    CASE WHEN customer_email IS NULL THEN 'blocked_missing_email' ELSE 'requested' END,\n    ${sql(channel)},\n    ${sql(reviewUrl)},\n    jsonb_build_object('source_payload', ${jsonSql(body)}, 'invoice_id', invoice_id, 'invoice_status', invoice_status)\n  FROM resolved\n  WHERE job_id IS NOT NULL\n  ON CONFLICT (id) DO UPDATE SET\n    status = EXCLUDED.status,\n    channel = EXCLUDED.channel,\n    review_url = EXCLUDED.review_url,\n    payload = EXCLUDED.payload,\n    updated_at = now()\n  RETURNING *\n),\ninsert_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  SELECT 'review_request', id, 'review_request_created', to_jsonb(created)\n  FROM created\n),\ninsert_memory AS (\n  INSERT INTO agent_memory (agent_key, agent_name, job_id, memory_type, summary, payload)\n  SELECT 'mia_social', 'Mia', job_id, 'review_request', 'Mia requested a customer review for job ' || job_id || '.', to_jsonb(created)\n  FROM created\n),\nactive_review_template AS (\n  SELECT template_key, version, subject_template, body_template\n  FROM message_templates\n  WHERE template_key = 'review_request_email'\n    AND status = 'active'\n    AND active = true\n  ORDER BY version DESC\n  LIMIT 1\n)\nSELECT COALESCE(\n  (\n    SELECT jsonb_build_object(\n      'success', true,\n      'review_request_id', created.id,\n      'job_id', created.job_id,\n      'customer_email', resolved.customer_email,\n      'customer_name', resolved.customer_name,\n      'status', created.status,\n      'channel', created.channel,\n      'review_url', created.review_url,\n      'template_key', (SELECT template_key FROM active_review_template),\n      'template_version', (SELECT version FROM active_review_template),\n      'template_subject', (SELECT subject_template FROM active_review_template),\n      'template_body', (SELECT body_template FROM active_review_template),\n      'message', 'Thanks again for choosing 1pacent. If you were happy with the service, would you mind leaving a quick review? ' || created.review_url\n    )\n    FROM created\n    JOIN resolved ON resolved.job_id = created.job_id\n    LIMIT 1\n  ),\n  jsonb_build_object('success', false, 'status', 'not_found', 'message', 'No job matched job_id or invoice_id.')\n) AS review_request;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Review Request", "id": "5b1448b2-0ce6-4fcb-8881-dcfb0f1c3e5a", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Prepare Review Request Email", "id": "7e7801fc-6d3f-4dd8-8b63-d7336facd5fc", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const result = items[0]?.json?.review_request || items[0]?.json || {};\nconst variables = {\n  customer_name: result.customer_name || 'there',\n  review_url: result.review_url || '',\n  job_id: result.job_id || '',\n  trade_type: result.trade_type || '',\n};\nfunction renderTemplate(text) {\n  return String(text || '').replace(/\\{\\{\\s*([a-zA-Z0-9_.-]+)\\s*\\}\\}/g, (_, key) => {\n    const value = variables[key];\n    return value === undefined || value === null ? '' : String(value);\n  });\n}\nconst fallbackSubject = 'Thanks from 1pacent - quick review request';\nconst fallbackMessage = [\n  `Hi ${variables.customer_name},`,\n  '',\n  'Thanks again for choosing 1pacent.',\n  'If you were happy with the service, would you mind leaving a quick review?',\n  '',\n  result.review_url || '',\n  '',\n  'Thank you,',\n  'The 1pacent team'\n].join('\\n');\nreturn [{\n  json: {\n    ...result,\n    to: result.customer_email || 'admin@1pacent.com',\n    message_template_key: result.template_key || 'fallback_review_request_email',\n    message_template_version: result.template_version || null,\n    subject: result.template_subject ? renderTemplate(result.template_subject) : fallbackSubject,\n    message_text: result.template_body ? renderTemplate(result.template_body) : fallbackMessage\n  }\n}];"}, "typeVersion": 2}, {"position": [1040, -120], "name": "Email Customer Review Request", "id": "58aeb6c3-bdcb-4775-89c2-34b0848201ad", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "={{$json.subject}}", "sendTo": "={{$json.to}}", "emailType": "text", "options": {}, "message": "={{$json.message_text}}"}, "typeVersion": 2.2, "webhookId": "432a999a-68ce-489b-ab63-154c78076682"}, {"position": [1040, 120], "name": "Respond Review Request", "id": "685f8336-c78a-4ef3-82c0-49fc7755f4fc", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ { success: $json.success, review_request_id: $json.review_request_id, job_id: $json.job_id, status: $json.status, channel: $json.channel, review_url: $json.review_url } }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Review Request SQL": {"main": [[{"node": "Save Review Request", "type": "main", "index": 0}]]}, "Prepare Review Request Email": {"main": [[{"node": "Email Customer Review Request", "type": "main", "index": 0}, {"node": "Respond Review Request", "type": "main", "index": 0}]]}, "Mia Review Request Webhook": {"main": [[{"node": "Build Review Request SQL", "type": "main", "index": 0}]]}, "Save Review Request": {"main": [[{"node": "Prepare Review Request Email", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}