docs/tradie-import/TRADIE-COMMS-091-Status-Lookup--pM1MOrQMacAw8PAd.json
{"name": "TRADIE-COMMS-091-Status-Lookup", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Status Lookup Webhook", "id": "ba6828b8-14f8-4788-b870-4eff1f40dc16", "webhookId": "0cad01f8-273d-44dd-ab81-ac76e3c8e7fe", "type": "n8n-nodes-base.webhook", "parameters": {"path": "status/lookup", "responseMode": "responseNode", "options": {}, "httpMethod": "GET"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Status Lookup SQL", "id": "f56ceb5f-5dc8-4e61-b955-a18912916c3c", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst source = raw.query ?? raw.body ?? raw;\nconst reference = source.reference || source.lead_id || source.quote_id || source.job_id || source.invoice_id || source.customer_email || source.email || '';\n\nfunction sql(value) {\n  if (!value) return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nconst query = `\nWITH matched_leads AS (\n  SELECT DISTINCT l.id\n  FROM leads l\n  LEFT JOIN customers c ON c.id = l.customer_id\n  LEFT JOIN quotes q ON q.lead_id = l.id\n  LEFT JOIN quote_versions qv ON qv.lead_id = l.id\n  LEFT JOIN jobs j ON j.lead_id = l.id\n  LEFT JOIN job_schedule_slots ss ON ss.lead_id = l.id OR ss.job_id = j.id\n  LEFT JOIN invoices i ON i.job_id = j.id\n  WHERE ${sql(reference)} IN (l.id, q.id, qv.id, j.id, ss.id, i.id, c.email, c.phone)\n),\nlead_rows AS (\n  SELECT l.*, c.name AS customer_name, c.email AS customer_email, c.phone AS customer_phone\n  FROM leads l\n  LEFT JOIN customers c ON c.id = l.customer_id\n  WHERE l.id IN (SELECT id FROM matched_leads)\n),\nquote_rows AS (\n  SELECT q.* FROM quotes q WHERE q.lead_id IN (SELECT id FROM matched_leads)\n),\nquote_version_rows AS (\n  SELECT qv.* FROM quote_versions qv WHERE qv.lead_id IN (SELECT id FROM matched_leads)\n),\njob_rows AS (\n  SELECT j.* FROM jobs j WHERE j.lead_id IN (SELECT id FROM matched_leads)\n),\nschedule_rows AS (\n  SELECT\n    ss.*,\n    t.name AS tradie_name,\n    (ss.scheduled_start AT TIME ZONE 'Australia/Sydney') AS scheduled_start_local,\n    (ss.scheduled_end AT TIME ZONE 'Australia/Sydney') AS scheduled_end_local\n  FROM job_schedule_slots ss\n  LEFT JOIN tradies t ON t.id = ss.tradie_id\n  WHERE ss.lead_id IN (SELECT id FROM matched_leads)\n     OR ss.job_id IN (SELECT id FROM job_rows)\n),\ninvoice_rows AS (\n  SELECT i.* FROM invoices i WHERE i.job_id IN (SELECT id FROM job_rows)\n),\nevent_rows AS (\n  SELECT event_type, entity_type, entity_id, created_at\n  FROM workflow_events\n  WHERE entity_id IN (\n    SELECT id FROM matched_leads\n    UNION SELECT id FROM quote_rows\n    UNION SELECT id FROM quote_version_rows\n    UNION SELECT id FROM job_rows\n    UNION SELECT id FROM schedule_rows\n    UNION SELECT id FROM invoice_rows\n  )\n  ORDER BY created_at ASC\n)\nSELECT jsonb_build_object(\n  'success', EXISTS (SELECT 1 FROM matched_leads),\n  'reference', ${sql(reference)},\n  'leads', COALESCE((SELECT jsonb_agg(to_jsonb(lead_rows)) FROM lead_rows), '[]'::jsonb),\n  'quotes', COALESCE((SELECT jsonb_agg(to_jsonb(quote_rows)) FROM quote_rows), '[]'::jsonb),\n  'quote_versions', COALESCE((SELECT jsonb_agg(to_jsonb(quote_version_rows)) FROM quote_version_rows), '[]'::jsonb),\n  'jobs', COALESCE((SELECT jsonb_agg(to_jsonb(job_rows)) FROM job_rows), '[]'::jsonb),\n  'schedule_slots', COALESCE((SELECT jsonb_agg(to_jsonb(schedule_rows)) FROM schedule_rows), '[]'::jsonb),\n  'invoices', COALESCE((SELECT jsonb_agg(to_jsonb(invoice_rows)) FROM invoice_rows), '[]'::jsonb),\n  'timeline', COALESCE((SELECT jsonb_agg(to_jsonb(event_rows)) FROM event_rows), '[]'::jsonb)\n) AS status;\n`;\n\nreturn [{ json: { reference, sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Read Status From Postgres", "id": "b580ade1-0de3-49b5-8c0d-204d8d3d16af", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Status", "id": "39d6d415-0740-44d9-8405-66e854d49046", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.status}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Status Lookup Webhook": {"main": [[{"node": "Build Status Lookup SQL", "type": "main", "index": 0}]]}, "Build Status Lookup SQL": {"main": [[{"node": "Read Status From Postgres", "type": "main", "index": 0}]]}, "Read Status From Postgres": {"main": [[{"node": "Respond Status", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}