docs/tradie-import/TRADIE-SOCIAL-943-Mia-Status--VYr3WDxf3m2199P8.json
{"name": "TRADIE-SOCIAL-943-Mia-Status", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Mia Status Webhook", "id": "54793af1-2f2a-4903-b029-bba814ce9ba1", "webhookId": "4d18ceca-4978-41b7-9f1b-d5a1fc26d3a3", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/mia/status", "responseMode": "responseNode", "options": {}, "httpMethod": "GET"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Mia Status SQL", "id": "884ac551-68e4-40fe-bc51-cc6a08eddedd", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst q = raw.query ?? raw.body ?? raw;\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nconst ref = first(q.campaign_id, q.post_id, q.review_request_id, q.job_id);\nconst query = `\nWITH campaigns AS (\n  SELECT * FROM social_campaigns\n  WHERE id = ${sql(ref)} OR job_id = ${sql(ref)}\n  ORDER BY created_at DESC\n  LIMIT 10\n),\nposts AS (\n  SELECT * FROM social_posts\n  WHERE campaign_id IN (SELECT id FROM campaigns) OR id = ${sql(ref)}\n  ORDER BY created_at DESC\n  LIMIT 20\n),\nreviews AS (\n  SELECT * FROM review_requests\n  WHERE id = ${sql(ref)} OR job_id = ${sql(ref)}\n  ORDER BY created_at DESC\n  LIMIT 10\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'reference', ${sql(ref)},\n  'campaigns', COALESCE((SELECT jsonb_agg(to_jsonb(campaigns)) FROM campaigns), '[]'::jsonb),\n  'posts', COALESCE((SELECT jsonb_agg(to_jsonb(posts)) FROM posts), '[]'::jsonb),\n  'review_requests', COALESCE((SELECT jsonb_agg(to_jsonb(reviews)) FROM reviews), '[]'::jsonb)\n) AS mia_status;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Load Mia Status", "id": "28f3761b-9acc-40bb-9502-614557cedf13", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Mia Status", "id": "1d3e9fa8-f1bb-4260-9918-eed91b146c51", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.mia_status || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Load Mia Status": {"main": [[{"node": "Respond Mia Status", "type": "main", "index": 0}]]}, "Build Mia Status SQL": {"main": [[{"node": "Load Mia Status", "type": "main", "index": 0}]]}, "Mia Status Webhook": {"main": [[{"node": "Build Mia Status SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}