docs/tradie-import/TRADIE-AGENT-921-Quintino-Skills-Audit--WerfD5i9fxPhkI4d.json
{"name": "TRADIE-AGENT-921-Quintino-Skills-Audit", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Quintino Skills Audit Webhook", "id": "ef7085a0-f6a7-4bc6-93d5-010348c8d5d0", "webhookId": "f7863de3-1006-43c2-9b6f-6b2a324cbb3d", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/quintino/skills-audit", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Quintino Audit SQL", "id": "49dd3b61-01f7-40d1-8d43-4d8af837c1e2", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst source = raw.query && Object.keys(raw.query).length ? raw.query : (raw.body ?? raw);\nconst scope = source.scope || 'all_agents';\nconst snapshotKey = `QUINTINO-${new Date().toISOString().replace(/[-:.TZ]/g, '').slice(0, 14)}`;\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nconst query = `\nWITH metrics AS (\n  SELECT jsonb_build_object(\n    'customers', (SELECT count(*) FROM customers),\n    'leads', (SELECT count(*) FROM leads),\n    'quotes', (SELECT count(*) FROM quotes),\n    'quote_versions', (SELECT count(*) FROM quote_versions),\n    'jobs', (SELECT count(*) FROM jobs),\n    'completed_jobs', (SELECT count(*) FROM jobs WHERE lower(status) like '%complete%'),\n    'scheduled_slots', (SELECT count(*) FROM job_schedule_slots),\n    'calendar_events', (SELECT count(*) FROM calendar_events),\n    'agent_interactions', (SELECT count(*) FROM agent_interactions),\n    'workflow_events', (SELECT count(*) FROM workflow_events),\n    'active_skills', (SELECT count(*) FROM business_skills WHERE status = 'active'),\n    'skill_versions', (SELECT count(*) FROM business_skill_versions),\n    'avg_estimated_travel_minutes', COALESCE((SELECT round(avg(estimated_travel_minutes)::numeric, 2) FROM job_schedule_slots), 0),\n    'avg_actual_travel_minutes', COALESCE((SELECT round(avg(actual_travel_minutes)::numeric, 2) FROM job_actuals), 0),\n    'avg_estimated_duration_minutes', COALESCE((SELECT round(avg(estimated_duration_minutes)::numeric, 2) FROM job_schedule_slots), 0),\n    'avg_actual_duration_minutes', COALESCE((SELECT round(avg(actual_duration_minutes)::numeric, 2) FROM job_actuals), 0),\n    'low_inventory_items', (SELECT count(*) FROM inventory_items WHERE quantity_on_hand <= reorder_level),\n    'open_recommendations', (SELECT count(*) FROM skill_improvement_recommendations WHERE status IN ('proposed','reviewing'))\n  ) AS metrics\n),\nfindings AS (\n  SELECT jsonb_build_array(\n    jsonb_build_object(\n      'finding', 'Quote and job actuals should be captured for every completed job',\n      'evidence', 'quote_accuracy_metrics and job_actuals are the key moat tables for improving future estimates.',\n      'severity', CASE WHEN (SELECT count(*) FROM quote_accuracy_metrics) < (SELECT count(*) FROM jobs WHERE lower(status) like '%complete%') THEN 'high' ELSE 'low' END\n    ),\n    jsonb_build_object(\n      'finding', 'Scheduling optimisation depends on actual travel and duration feedback',\n      'evidence', 'Compare job_schedule_slots estimated travel/duration with job_actuals actual travel/duration.',\n      'severity', CASE WHEN (SELECT count(*) FROM job_actuals) = 0 THEN 'high' ELSE 'medium' END\n    ),\n    jsonb_build_object(\n      'finding', 'Calendar visibility improves operational trust',\n      'evidence', 'calendar_events should exist for held schedule slots so the team can see who is doing what job when.',\n      'severity', CASE WHEN (SELECT count(*) FROM calendar_events) < (SELECT count(*) FROM job_schedule_slots WHERE status not in ('cancelled','declined')) THEN 'medium' ELSE 'low' END\n    ),\n    jsonb_build_object(\n      'finding', 'Inventory learning should be tied to job materials and invoices',\n      'evidence', 'Low or negative inventory shows cost leakage risk and opportunity for better pre-job parts planning.',\n      'severity', CASE WHEN (SELECT count(*) FROM inventory_items WHERE quantity_on_hand <= reorder_level) > 0 THEN 'medium' ELSE 'low' END\n    )\n  ) AS findings\n),\nrecommendations AS (\n  SELECT jsonb_build_array(\n    jsonb_build_object(\n      'recommendation_key', ${sql(snapshotKey)} || '-QUOTE-ACTUALS',\n      'type', 'skill_improvement',\n      'priority', 'high',\n      'title', 'Strengthen Quote Accuracy Learning Skill with mandatory actuals capture',\n      'target_skill_key', 'skill_quote_accuracy_learning',\n      'recommended_change', 'Require job completion workflows to capture labour minutes, travel minutes, materials cost, quote amount, invoice amount and variance reason before invoice handoff.',\n      'expected_customer_impact', 'More accurate indicative pricing and fewer surprise-charge concerns.',\n      'expected_cost_impact', 'Lower rework and better parts planning.'\n    ),\n    jsonb_build_object(\n      'recommendation_key', ${sql(snapshotKey)} || '-SCHEDULE-ACTUALS',\n      'type', 'workflow_improvement',\n      'priority', 'high',\n      'title', 'Add actual travel feedback loop to George scheduling',\n      'target_skill_key', 'skill_route_efficient_scheduling',\n      'recommended_change', 'After job completion, compare estimated versus actual travel and duration and save a knowledge/skill update when variance is material.',\n      'expected_customer_impact', 'More reliable appointment windows.',\n      'expected_cost_impact', 'More productive tradie days and lower fuel/time leakage.'\n    ),\n    jsonb_build_object(\n      'recommendation_key', ${sql(snapshotKey)} || '-WOW-CONFIRMATION',\n      'type', 'customer_wow',\n      'priority', 'medium',\n      'title', 'Improve confirmation messages with clear next step and change pathway',\n      'target_skill_key', 'skill_customer_email_confirmation',\n      'recommended_change', 'Booking confirmations should include the requested window, estimate caveat, next action, and instruction to call Sally for changes.',\n      'expected_customer_impact', 'Reduces uncertainty and makes the service feel more premium.',\n      'expected_cost_impact', 'Reduces inbound clarification calls.'\n    )\n  ) AS recommendations\n),\ninsert_recommendations AS (\n  INSERT INTO skill_improvement_recommendations (\n    recommendation_key, owner_agent_key, target_skill_key, recommendation_type, priority, title,\n    evidence_summary, recommended_change, expected_customer_impact, expected_cost_impact, payload\n  )\n  SELECT\n    rec->>'recommendation_key',\n    'quintino',\n    rec->>'target_skill_key',\n    rec->>'type',\n    rec->>'priority',\n    rec->>'title',\n    'Generated from Quintino audit snapshot ' || ${sql(snapshotKey)},\n    rec->>'recommended_change',\n    rec->>'expected_customer_impact',\n    rec->>'expected_cost_impact',\n    rec\n  FROM recommendations r, jsonb_array_elements(r.recommendations) rec\n  ON CONFLICT (recommendation_key) DO UPDATE SET\n    status = skill_improvement_recommendations.status,\n    updated_at = now()\n  RETURNING recommendation_key\n),\nsnapshot AS (\n  INSERT INTO quintino_audit_snapshots (snapshot_key, scope, metrics, findings, recommendations)\n  SELECT ${sql(snapshotKey)}, ${sql(scope)}, metrics.metrics, findings.findings, recommendations.recommendations\n  FROM metrics, findings, recommendations\n  ON CONFLICT (snapshot_key) DO UPDATE SET metrics = EXCLUDED.metrics\n  RETURNING *\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'agent', 'Quintino',\n  'status', 'audit_complete',\n  'snapshot_key', ${sql(snapshotKey)},\n  'metrics', (SELECT metrics FROM snapshot),\n  'findings', (SELECT findings FROM snapshot),\n  'recommendations', (SELECT recommendations FROM snapshot),\n  'recommendations_saved', (SELECT count(*) FROM insert_recommendations)\n) AS quintino_audit;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Run Quintino Audit", "id": "fced7b8c-e20d-4331-863d-c8b9b933029d", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Quintino Audit", "id": "610f3396-0c67-4d29-b86e-93f811154cff", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.quintino_audit || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Quintino Audit SQL": {"main": [[{"node": "Run Quintino Audit", "type": "main", "index": 0}]]}, "Run Quintino Audit": {"main": [[{"node": "Respond Quintino Audit", "type": "main", "index": 0}]]}, "Quintino Skills Audit Webhook": {"main": [[{"node": "Build Quintino Audit SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}