docs/tradie-import/TRADIE-CORE-951-Agent-Catalog-List--ZuwQDGIF6RZKzZx6.json
{"name": "TRADIE-CORE-951-Agent-Catalog-List", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Agent Catalog List Webhook", "id": "ffaaaa74-ea58-488e-a23a-cedcfc0ad84d", "webhookId": "6feda408-bf09-45da-b559-8cb8a0215990", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/agent-catalog/list", "responseMode": "responseNode", "options": {}, "httpMethod": "GET"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Agent Catalog List SQL", "id": "6df5622c-0c4c-4cbb-a9cf-3aebacf6d56f", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst q = raw.query ?? raw.body ?? raw;\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nconst agentKey = q.agent_key || '';\nconst query = `\nSELECT jsonb_build_object(\n  'success', true,\n  'agent_key', ${sql(agentKey)},\n  'agents', COALESCE(jsonb_agg(\n    jsonb_build_object(\n      'agent_key', agent_key,\n      'agent_name', agent_name,\n      'agent_role', agent_role,\n      'purpose', purpose,\n      'operating_scope', operating_scope,\n      'customer_facing', customer_facing,\n      'owner_domain', owner_domain,\n      'responsibilities', responsibilities,\n      'success_measures', success_measures,\n      'handoff_triggers', handoff_triggers,\n      'guardrails', guardrails,\n      'model_provider', model_provider,\n      'model_name', model_name,\n      'active', active\n    )\n    ORDER BY customer_facing DESC, owner_domain, agent_name\n  ), '[]'::jsonb)\n) AS agent_catalog\nFROM agent_definitions\nWHERE active = true\n  AND (${sql(agentKey)} IS NULL OR agent_key = ${sql(agentKey)});\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "List Agent Catalog", "id": "d613f90f-2652-47fe-908c-212129b68316", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Agent Catalog List", "id": "dbcb2c68-ff93-4b37-bc88-e6ae2c0e9f13", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.agent_catalog || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Agent Catalog List Webhook": {"main": [[{"node": "Build Agent Catalog List SQL", "type": "main", "index": 0}]]}, "List Agent Catalog": {"main": [[{"node": "Respond Agent Catalog List", "type": "main", "index": 0}]]}, "Build Agent Catalog List SQL": {"main": [[{"node": "List Agent Catalog", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}