docs/tradie-import/TRADIE-CORE-022-Authority-Documents-Qdrant-Ingest--b1zvLxpry1UR8wmR.json
{"name": "TRADIE-CORE-022-Authority-Documents-Qdrant-Ingest", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Authority Qdrant Ingest Webhook", "id": "c5c7d0c3-fd05-4592-bb8d-d914d508e87a", "webhookId": "38e10d79-6f0c-46b1-9f34-9026163d8301", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/authority-documents/qdrant/ingest", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [240, 0], "name": "Build Chunk Select SQL", "id": "b3bfd413-d233-4cc8-b14e-5b2bc89e47e4", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const body = $json.body || $json || {};\nconst limit = Math.min(Math.max(parseInt(body.limit || '50', 10) || 50, 1), 200);\nconst includeEmbedded = body.include_embedded === true || body.include_embedded === 'true';\nconst where = includeEmbedded ? 'true' : \"embedding_status in ('pending','failed')\";\nconst sql = `\nSELECT\n  c.chunk_key,\n  c.authority_document_key,\n  c.chunk_text,\n  c.jurisdiction,\n  c.industry,\n  c.trade_type,\n  c.topic_tags,\n  c.obligation_type,\n  c.risk_level,\n  c.source_url,\n  c.current_version,\n  c.effective_from,\n  c.effective_to,\n  d.document_type,\n  d.document_title,\n  d.authority_name\nFROM authority_document_chunks c\nJOIN authority_documents d ON d.authority_document_key = c.authority_document_key\nWHERE ${where}\nORDER BY c.updated_at DESC, c.chunk_order\nLIMIT ${limit};\n`;\nreturn [{ json: { sql } }];"}, "typeVersion": 2}, {"position": [500, 0], "name": "Fetch Authority Chunks", "id": "9e0a5303-9b26-48b9-8a0b-aa86a56ac09d", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [760, 0], "name": "Prepare Documents For Qdrant", "id": "bed0022d-7b56-4aed-9d92-354b6983a4a6", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const rows = $input.all().map(item => item.json);\nreturn rows.map(row => ({\n  json: {\n    page_content: [\n      `Title: ${row.document_title || ''}`,\n      `Authority: ${row.authority_name || ''}`,\n      `Jurisdiction: ${row.jurisdiction || ''}`,\n      `Industry: ${row.industry || ''}`,\n      `Trade type: ${row.trade_type || ''}`,\n      `Document type: ${row.document_type || ''}`,\n      `Version: ${row.current_version || ''}`,\n      `Effective from: ${row.effective_from || ''}`,\n      `Source URL: ${row.source_url || ''}`,\n      '',\n      row.chunk_text || ''\n    ].join('\\n'),\n    metadata: {\n      authority_document_key: row.authority_document_key,\n      chunk_key: row.chunk_key,\n      jurisdiction: row.jurisdiction,\n      industry: row.industry,\n      trade_type: row.trade_type,\n      document_type: row.document_type,\n      document_title: row.document_title,\n      authority_name: row.authority_name,\n      risk_level: row.risk_level,\n      obligation_type: row.obligation_type,\n      current_version: row.current_version,\n      source_url: row.source_url,\n      effective_from: row.effective_from,\n      effective_to: row.effective_to,\n      indexed_by: 'TRADIE-CORE-022-Authority-Documents-Qdrant-Ingest'\n    }\n  }\n}));"}, "typeVersion": 2}, {"id": "a38eb077-88fc-431a-9867-1416334e1605", "name": "Insert Authority Documents Into Qdrant", "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant", "alwaysOutputData": true, "credentials": {"qdrantApi": {"id": "4Bkccs08lXED2IfL", "name": "Qdrant account"}}, "typeVersion": 1.1, "parameters": {"qdrantCollection": {"cachedResultName": "authority_documents", "__rl": true, "value": "authority_documents", "mode": "id"}, "options": {}, "mode": "insert"}, "position": [1040, 0]}, {"position": [1320, 0], "name": "Return Ingest Result", "id": "235c8c0a-0f9b-41b6-a9e1-8bc35056fcb2", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ JSON.stringify({success:true, collection:\"authority_documents\", output:$json}) }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}, {"position": [1040, 260], "name": "Embeddings OpenAI", "id": "01e27638-dc53-4a81-9d85-3a2b2a3373ce", "credentials": {"openAiApi": {"id": "ABcQFR9XPcZIxLan", "name": "OpenAI account"}}, "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi", "parameters": {"options": {"dimensions": 1536, "stripNewLines": true}, "model": "text-embedding-3-small"}, "typeVersion": 1.2}, {"position": [1040, 440], "name": "Default Data Loader", "id": "8c25a3ef-4111-4a96-96fb-3afe35521bee", "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader", "parameters": {"textSplittingMode": "simple", "options": {"metadata": {"metadataValues": [{"value": "={{ $json.metadata.authority_document_key }}", "name": "authority_document_key"}, {"value": "={{ $json.metadata.chunk_key }}", "name": "chunk_key"}, {"value": "={{ $json.metadata.jurisdiction }}", "name": "jurisdiction"}, {"value": "={{ $json.metadata.industry }}", "name": "industry"}, {"value": "={{ $json.metadata.trade_type }}", "name": "trade_type"}, {"value": "={{ $json.metadata.document_type }}", "name": "document_type"}, {"value": "={{ $json.metadata.current_version }}", "name": "current_version"}, {"value": "={{ $json.metadata.source_url }}", "name": "source_url"}]}}, "jsonMode": "expressionData", "dataType": "json", "jsonData": "={{ $json.page_content }}"}, "typeVersion": 1.1}], "connections": {"Default Data Loader": {"ai_document": [[{"node": "Insert Authority Documents Into Qdrant", "type": "ai_document", "index": 0}]]}, "Fetch Authority Chunks": {"main": [[{"node": "Prepare Documents For Qdrant", "type": "main", "index": 0}]]}, "Insert Authority Documents Into Qdrant": {"main": [[{"node": "Return Ingest Result", "type": "main", "index": 0}]]}, "Build Chunk Select SQL": {"main": [[{"node": "Fetch Authority Chunks", "type": "main", "index": 0}]]}, "Prepare Documents For Qdrant": {"main": [[{"node": "Insert Authority Documents Into Qdrant", "type": "main", "index": 0}]]}, "Authority Qdrant Ingest Webhook": {"main": [[{"node": "Build Chunk Select SQL", "type": "main", "index": 0}]]}, "Embeddings OpenAI": {"ai_embedding": [[{"node": "Insert Authority Documents Into Qdrant", "type": "ai_embedding", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}