docs/tradie-import/TRADIE-TOOL-Authority-Documents-Semantic-Search--gpbxiEYK1zzd8AGu.json
{"name": "TRADIE-TOOL-Authority-Documents-Semantic-Search", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Authority Search Tool Is Called", "id": "83c9abb8-7cb0-4928-9a05-448aca4c53bd", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Authority Search Input", "id": "e6f3a8af-1ff5-46ba-926c-534c51b82a7f", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = $input.first()?.json || {};\nconst text = String(raw.input || raw.tool_input || '').trim();\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction field(name) {\n  const escaped = name.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const pattern = new RegExp(`${escaped}\\\\s*:\\\\s*([^,\\\\n]+)`, 'i');\n  const match = text.match(pattern);\n  return match ? match[1].trim() : '';\n}\n\nreturn [{\n  json: {\n    agent_key: first(raw.agent_key, field('agent_key'), 'sparky_electrical'),\n    jurisdiction: first(raw.jurisdiction, field('jurisdiction'), 'AU'),\n    industry: first(raw.industry, field('industry'), 'electrical'),\n    trade_type: first(raw.trade_type, field('trade_type'), 'electrical'),\n    query: first(raw.query, raw.question, raw.search, field('query'), text),\n    limit: first(raw.limit, field('limit'), 5),\n  },\n}];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Authority Documents Semantic Search", "id": "058d14db-d488-4ecc-8d2f-f29211d5529a", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/core/authority-documents/qdrant/search", "options": {"timeout": 30000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"Normalise Authority Search Input": {"main": [[{"node": "Call Authority Documents Semantic Search", "type": "main", "index": 0}]]}, "When Authority Search Tool Is Called": {"main": [[{"node": "Normalise Authority Search Input", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}