docs/tradie-import/TRADIE-TOOL-Message-Template-Render--1FiDXtF3FGq5anDT.json
{"name": "TRADIE-TOOL-Message-Template-Render", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Message Template Render Tool Is Called", "id": "bff104e1-2594-4838-9ff2-3fd1a8353192", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Render Tool Input", "id": "f0372779-288e-4a21-ba85-7636fc7af236", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nreturn [{ json: raw.body ?? raw.query ?? raw }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Message Template Render Endpoint", "id": "a61eb699-6bd1-45cd-9967-b58a4837c78c", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/core/message-templates/render", "options": {"timeout": 30000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"When Message Template Render Tool Is Called": {"main": [[{"node": "Normalise Render Tool Input", "type": "main", "index": 0}]]}, "Normalise Render Tool Input": {"main": [[{"node": "Call Message Template Render Endpoint", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}