docs/tradie-import/TRADIE-CORE-903-Agent-Memory-Load--y9I74UctYLqqIPJV.json
{"name": "TRADIE-CORE-903-Agent-Memory-Load", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Agent Memory Load Webhook", "id": "8fabe18d-ec36-41ca-8048-8ecff1ecbfee", "webhookId": "2d98af68-13fb-4d2a-83d4-813cd75232a3", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/agent-memory/load", "responseMode": "responseNode", "options": {}, "httpMethod": "GET"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Memory Load SQL", "id": "491a15a5-29b9-4ac8-b970-bf4fade54ff4", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst source = raw.query ?? raw.body ?? raw;\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nconst agentKey = source.agent_key || 'george_foreman';\nconst query = `\nSELECT jsonb_build_object(\n  'success', true,\n  'agent_key', ${sql(agentKey)},\n  'memory', COALESCE(jsonb_agg(to_jsonb(m) ORDER BY m.created_at DESC), '[]'::jsonb)\n) AS memory_load\nFROM (\n  SELECT id, agent_key, agent_name, conversation_id, lead_id, job_id, memory_type, summary, payload, created_at\n  FROM agent_memory\n  WHERE agent_key = ${sql(agentKey)}\n    AND (${sql(source.lead_id)} IS NULL OR lead_id = ${sql(source.lead_id)})\n    AND (${sql(source.job_id)} IS NULL OR job_id = ${sql(source.job_id)})\n  ORDER BY created_at DESC\n  LIMIT 20\n) m;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Read Agent Memory", "id": "47dcf194-f4c2-4535-9797-3a8df505efce", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Memory Load", "id": "a14d1ed2-db09-4681-b078-ca2c0817ee15", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.memory_load}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Agent Memory Load Webhook": {"main": [[{"node": "Build Memory Load SQL", "type": "main", "index": 0}]]}, "Build Memory Load SQL": {"main": [[{"node": "Read Agent Memory", "type": "main", "index": 0}]]}, "Read Agent Memory": {"main": [[{"node": "Respond Memory Load", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}