docs/tradie-import/TRADIE-LEADS-010-Capture-New-Lead--PztnKwXaz9UjFJSc.json
{"name": "TRADIE-LEADS-010-Capture-New-Lead", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Lead Capture Webhook", "id": "a2e19b0f-2aaf-cec2-e348-7dae5a67680e", "webhookId": "a2e19b0f-2aaf-cec2-e348-7dae5a67680e", "type": "n8n-nodes-base.webhook", "parameters": {"path": "leads/capture", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Normalize App or ElevenLabs Lead", "id": "4d297d5f-97e3-4a43-9fa3-786782991701", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    if (Array.isArray(value) && value.length === 0) continue;\n    return value;\n  }\n  return '';\n}\n\nfunction text(value) {\n  if (value === undefined || value === null) return '';\n  if (Array.isArray(value)) return value.join(', ');\n  if (typeof value === 'object') return JSON.stringify(value);\n  return String(value);\n}\n\nconst customer = body.customer ?? {};\nconst job = body.job_request ?? body.job ?? {};\nconst consent = body.consent ?? {};\nconst analysis = body.analysis ?? {};\nconst dataCollection = analysis.data_collection_results ?? body.data_collection_results ?? {};\nconst dynamicVars = body.dynamic_variables ?? body.metadata?.dynamic_variables ?? {};\n\nconst now = new Date();\nconst leadId = first(\n  body.lead_id,\n  body.external_lead_id,\n  `LEAD-${now.getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`,\n);\n\nconst elevenLabsConversationId = first(\n  body.conversation_id,\n  body.call_id,\n  body.elevenlabs_conversation_id,\n  body.metadata?.conversation_id,\n);\nconst elevenLabsAgentId = first(\n  body.agent_id,\n  body.elevenlabs_agent_id,\n  body.metadata?.agent_id,\n  'agent_4601krtt5j3xf26ac865kpe19yvp',\n);\n\nconst customerName = first(\n  customer.name,\n  body.customer_name,\n  dataCollection.customer_name?.value,\n  dynamicVars.customer_name,\n  'Unknown caller',\n);\nconst phone = first(\n  customer.mobile,\n  customer.phone,\n  body.caller_number,\n  body.phone,\n  body.from,\n  dataCollection.phone?.value,\n  dynamicVars.phone,\n);\nconst email = first(customer.email, body.email, dataCollection.email?.value, dynamicVars.email);\nconst emailConfirmedRaw = first(body.email_confirmed, dataCollection.email_confirmed?.value, dynamicVars.email_confirmed, false);\nconst emailConfirmed = emailConfirmedRaw === true || String(emailConfirmedRaw).toLowerCase() === 'true' || String(emailConfirmedRaw).toLowerCase() === 'yes';\nconst tradeType = first(job.category, body.trade_type, body.category, dataCollection.trade_type?.value, dynamicVars.trade_type, 'unspecified');\nconst jobDescription = first(job.description, body.job_description, body.description, dataCollection.job_description?.value, dynamicVars.job_description);\nconst urgency = first(job.urgency, body.urgency, dataCollection.urgency?.value, dynamicVars.urgency, 'normal');\nconst address = first(customer.address, body.address, dataCollection.address?.value, dynamicVars.address);\nconst preferredTime = first(job.preferred_times, body.preferred_time, body.preferred_times, dataCollection.preferred_time?.value, dynamicVars.preferred_time);\nconst priceBand = first(body.estimated_price_band, body.price_band, dataCollection.estimated_price_band?.value, dynamicVars.estimated_price_band, 'To be estimated');\nconst transcript = first(body.transcript, body.call_transcript, analysis.transcript, body.messages);\nconst channel = first(body.channel, body.source, elevenLabsConversationId ? 'elevenlabs_sally' : 'unknown');\n\nconst contactConsent = first(consent.contact_consent, body.contact_consent, elevenLabsConversationId ? true : '');\nconst privacyConsent = first(consent.privacy_consent, body.privacy_consent, elevenLabsConversationId ? true : '');\nconst missing = [];\nif (!phone) missing.push('phone');\nif (!email) missing.push('email');\nif (email && !emailConfirmed) missing.push('email_confirmation');\nif (!jobDescription) missing.push('job_description');\nif (!address) missing.push('address');\nif (!preferredTime) missing.push('preferred_time');\n\nlet qualityScore = 100 - missing.length * 15;\nif (!email) qualityScore -= 5;\nif (urgency === 'emergency' || urgency === 'urgent') qualityScore += 5;\nqualityScore = Math.max(0, Math.min(100, qualityScore));\n\nconst consentStatus = contactConsent && privacyConsent ? 'consent_recorded' : 'consent_needs_review';\nlet status = missing.length ? 'Needs Info' : 'Lead Captured';\nif (!missing.length && email && emailConfirmed && preferredTime) {\n  status = 'Booking Request Confirmation Sent';\n} else if (email && !emailConfirmed) {\n  status = 'Email Confirmation Required';\n} else if (!email) {\n  status = 'Email Required For Booking Confirmation';\n}\n\nconst callSummaryParts = [\n  `Lead ID: ${leadId}`,\n  `Customer: ${customerName}`,\n  `Trade: ${tradeType}`,\n  `Urgency: ${urgency}`,\n  `Quality score: ${qualityScore}`,\n  `Consent: ${consentStatus}`,\n];\nif (email) callSummaryParts.push(`Email: ${email}`);\ncallSummaryParts.push(`Email confirmed: ${emailConfirmed ? 'yes' : 'no'}`);\nif (elevenLabsConversationId) callSummaryParts.push(`ElevenLabs conversation: ${elevenLabsConversationId}`);\nif (elevenLabsAgentId) callSummaryParts.push(`ElevenLabs agent: ${elevenLabsAgentId}`);\nif (missing.length) callSummaryParts.push(`Missing: ${missing.join(', ')}`);\nif (body.call_summary) callSummaryParts.push(`Sally summary: ${body.call_summary}`);\n\nreturn [{\n  json: {\n    lead_id: leadId,\n    tenant_id: first(body.tenant_id, dynamicVars.tenant_id, 'TENANT-001'),\n    created_at: now.toISOString(),\n    lead_status: status,\n    customer_name: text(customerName),\n    phone: text(phone),\n    email: text(email),\n    email_confirmed: emailConfirmed,\n    trade_type: text(tradeType),\n    job_description: text(jobDescription),\n    urgency: text(urgency),\n    address: text(address),\n    preferred_time: text(preferredTime),\n    estimated_price_band: text(priceBand),\n    call_summary: callSummaryParts.join(' | '),\n    source: text(channel),\n    transcript: text(transcript),\n    lead_quality_score: qualityScore,\n    missing_information: missing,\n    consent_status: consentStatus,\n    elevenlabs_conversation_id: text(elevenLabsConversationId),\n    elevenlabs_agent_id: text(elevenLabsAgentId),\n    next_action: missing.length ? 'qualify_lead' : (email && emailConfirmed && preferredTime ? 'tradie_confirm_quote' : 'collect_confirmed_email_and_preferred_time'),\n    customer_confirmation_email_status: email && emailConfirmed ? 'queued' : (email ? 'blocked_email_not_confirmed' : 'missing_email'),\n    customer_message: missing.length\n      ? `Thanks ${customerName}. Sally has captured your request and will confirm ${missing[0].replace('_', ' ')} next.`\n      : `Thanks ${customerName}. Sally has captured your request and the team will review it shortly.`,\n  },\n}];"}, "typeVersion": 2}, {"position": [540, -220], "name": "Build Lead Database SQL", "id": "834b4b1b-13f0-4387-888f-766659f00e82", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const lead = items[0]?.json ?? {};\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction sqlBool(value) {\n  return value ? 'true' : 'false';\n}\n\nfunction sqlInt(value) {\n  const parsed = Number.parseInt(value, 10);\n  return Number.isFinite(parsed) ? String(parsed) : 'NULL';\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nconst customerEmail = lead.email || `${lead.lead_id || Date.now()}@missing-email.local`;\nconst customerPhone = lead.phone || `${lead.lead_id || Date.now()}-missing-phone`;\n\nconst query = `\nWITH upsert_customer AS (\n  INSERT INTO customers (name, phone, email, email_confirmed, address, updated_at)\n  VALUES (\n    ${sql(lead.customer_name || 'Unknown Customer')},\n    ${sql(customerPhone)},\n    ${sql(customerEmail)},\n    ${sqlBool(lead.email_confirmed)},\n    ${sql(lead.address)},\n    now()\n  )\n  ON CONFLICT (email) DO UPDATE SET\n    name = EXCLUDED.name,\n    phone = EXCLUDED.phone,\n    email_confirmed = EXCLUDED.email_confirmed,\n    address = EXCLUDED.address,\n    updated_at = now()\n  RETURNING id\n),\nupsert_lead AS (\n  INSERT INTO leads (\n    id, customer_id, tenant_id, source, trade_type, job_description, urgency,\n    address, preferred_time, estimated_price_band, status, lead_quality_score,\n    consent_status, next_action, updated_at\n  )\n  SELECT\n    ${sql(lead.lead_id)},\n    id,\n    ${sql(lead.tenant_id || 'TENANT-001')},\n    ${sql(lead.source)},\n    ${sql(lead.trade_type)},\n    ${sql(lead.job_description)},\n    ${sql(lead.urgency)},\n    ${sql(lead.address)},\n    ${sql(lead.preferred_time)},\n    ${sql(lead.estimated_price_band)},\n    ${sql(lead.lead_status)},\n    ${sqlInt(lead.lead_quality_score)},\n    ${sql(lead.consent_status)},\n    ${sql(lead.next_action)},\n    now()\n  FROM upsert_customer\n  ON CONFLICT (id) DO UPDATE SET\n    customer_id = EXCLUDED.customer_id,\n    source = EXCLUDED.source,\n    trade_type = EXCLUDED.trade_type,\n    job_description = EXCLUDED.job_description,\n    urgency = EXCLUDED.urgency,\n    address = EXCLUDED.address,\n    preferred_time = EXCLUDED.preferred_time,\n    estimated_price_band = EXCLUDED.estimated_price_band,\n    status = EXCLUDED.status,\n    lead_quality_score = EXCLUDED.lead_quality_score,\n    consent_status = EXCLUDED.consent_status,\n    next_action = EXCLUDED.next_action,\n    updated_at = now()\n  RETURNING id, customer_id\n),\ninsert_agent_interaction AS (\n  INSERT INTO agent_interactions (\n    agent_name, customer_id, lead_id, conversation_id, transcript, summary, payload\n  )\n  SELECT\n    'Sally',\n    customer_id,\n    id,\n    ${sql(lead.elevenlabs_conversation_id)},\n    ${sql(lead.transcript)},\n    ${sql(lead.call_summary)},\n    ${jsonSql(lead)}\n  FROM upsert_lead\n  RETURNING id\n),\ninsert_workflow_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  SELECT\n    'lead',\n    id,\n    'lead_captured',\n    ${jsonSql(lead)}\n  FROM upsert_lead\n)\nSELECT id AS lead_id, customer_id FROM upsert_lead;\n`;\n\nreturn [{ json: { ...lead, sql: query } }];"}, "typeVersion": 2}, {"position": [820, -220], "name": "Save Lead to Postgres", "id": "393f114c-bd95-414c-9ee2-cf91c39a1b02", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [540, 0], "name": "Append Lead to Sally Sheet", "id": "7ee5dd53-2154-4ff2-9651-d56c5361d764", "credentials": {"googleSheetsOAuth2Api": {"id": "O2cMmfdJYPJUEjdb", "name": "Google Sheets account"}}, "type": "n8n-nodes-base.googleSheets", "parameters": {"operation": "append", "columns": {"value": {"created_at": "={{$json.created_at}}", "preferred_time": "={{$json.preferred_time}}", "source": "={{$json.source}}", "customer_name": "={{$json.customer_name}}", "trade_type": "={{$json.trade_type}}", "estimated_price_band": "={{$json.estimated_price_band}}", "urgency": "={{$json.urgency}}", "transcript": "={{$json.transcript}}", "call_summary": "={{$json.call_summary}}", "phone": "={{$json.phone}}", "lead_status": "={{$json.lead_status}}", "job_description": "={{$json.job_description}}", "address": "={{$json.address}}"}, "mappingMode": "defineBelow", "schema": [{"id": "created_at", "canBeUsedToMatch": true, "required": false, "displayName": "created_at", "type": "string", "removed": false, "display": true, "defaultMatch": false}, {"id": "lead_status", "canBeUsedToMatch": true, "required": false, "displayName": "lead_status", "type": "string", "removed": false, "display": true, "defaultMatch": false}, {"id": "customer_name", "canBeUsedToMatch": true, "required": false, "displayName": "customer_name", "type": "string", "removed": false, "display": true, "defaultMatch": false}, {"id": "phone", "canBeUsedToMatch": true, "required": false, "displayName": "phone", "type": "string", "removed": false, "display": true, "defaultMatch": false}, {"id": "trade_type", "canBeUsedToMatch": true, "required": false, "displayName": "trade_type", "type": "string", "removed": false, "display": true, "defaultMatch": false}, {"id": "job_description", "canBeUsedToMatch": true, "required": false, "displayName": "job_description", "type": "string", "removed": false, "display": true, "defaultMatch": false}, {"id": "urgency", "canBeUsedToMatch": true, "required": false, "displayName": "urgency", "type": "string", "removed": false, "display": true, "defaultMatch": false}, {"id": "address", "canBeUsedToMatch": true, "required": false, "displayName": "address", "type": "string", "removed": false, "display": true, "defaultMatch": false}, {"id": "preferred_time", "canBeUsedToMatch": true, "required": false, "displayName": "preferred_time", "type": "string", "removed": false, "display": true, "defaultMatch": false}, {"id": "estimated_price_band", "canBeUsedToMatch": true, "required": false, "displayName": "estimated_price_band", "type": "string", "removed": false, "display": true, "defaultMatch": false}, {"id": "call_summary", "canBeUsedToMatch": true, "required": false, "displayName": "call_summary", "type": "string", "removed": false, "display": true, "defaultMatch": false}, {"id": "source", "canBeUsedToMatch": true, "required": false, "displayName": "source", "type": "string", "removed": false, "display": true, "defaultMatch": false}, {"id": "transcript", "canBeUsedToMatch": true, "required": false, "displayName": "transcript", "type": "string", "removed": false, "display": true, "defaultMatch": false}], "attemptToConvertTypes": false, "matchingColumns": [], "convertFieldsToString": false}, "sheetName": {"mode": "list", "__rl": true, "cachedResultName": "1pacent Sally Leads", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hd3Kf3FkizQ0WCi67NAkPjPMw-paWOIrfyCBwPKzYc0/edit#gid=0", "value": "gid=0"}, "documentId": {"mode": "list", "__rl": true, "cachedResultName": "1pacent Sally Leads", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hd3Kf3FkizQ0WCi67NAkPjPMw-paWOIrfyCBwPKzYc0/edit?usp=drivesdk", "value": "1hd3Kf3FkizQ0WCi67NAkPjPMw-paWOIrfyCBwPKzYc0"}, "options": {}}, "typeVersion": 4.7}, {"position": [820, 0], "name": "Email Lead Notification", "id": "8af5d048-e076-4af6-8a4c-5598327409b7", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "=New Sally Lead {{$json.lead_id}}: {{$json.customer_name}} - {{$json.trade_type}}", "sendTo": "mac@1pacent.com", "emailType": "text", "options": {}, "message": "=New lead captured by Sally / Tradie App\n\nLead ID: {{$json.lead_id}}\nStatus: {{$json.lead_status}}\nQuality score: {{$json.lead_quality_score}}\nNext action: {{$json.next_action}}\n\nCustomer: {{$json.customer_name}}\nPhone: {{$json.phone}}\nEmail: {{$json.email}}\nAddress: {{$json.address}}\nPreferred time: {{$json.preferred_time}}\n\nTrade: {{$json.trade_type}}\nUrgency: {{$json.urgency}}\nPrice band: {{$json.estimated_price_band}}\n\nJob: {{$json.job_description}}\n\nSummary: {{$json.call_summary}}\n\nMissing information: {{$json.missing_information.join(\", \") || \"None\"}}\nSource: {{$json.source}}\nElevenLabs conversation: {{$json.elevenlabs_conversation_id || \"N/A\"}}"}, "typeVersion": 2.2, "webhookId": "6316b3ef-9ce1-4edf-b52b-33d9ed71f54d"}, {"position": [1100, 0], "name": "Respond to Lead Source", "id": "59d08eb7-4cfb-4706-860b-2459bb35b959", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ { success: true, lead_id: $json.lead_id, lead_status: $json.lead_status, lead_quality_score: $json.lead_quality_score, missing_information: $json.missing_information, next_action: $json.next_action, customer_confirmation_email_status: $json.customer_confirmation_email_status, customer_message: $json.customer_message } }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}, {"position": [820, 220], "name": "Prepare Customer Confirmation Email", "id": "c4e83b02-1ead-4f4a-8487-f96f2629bc3a", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const lead = items[0]?.json ?? {};\n\nif (!lead.email || !lead.email_confirmed) {\n  return [];\n}\n\nconst subject = `Booking request received: ${lead.trade_type || 'Tradie'} job ${lead.lead_id}`;\nconst trackingUrl = `https://app.1pacent.com/job-status?lead_id=${encodeURIComponent(lead.lead_id || '')}`;\nconst message = [\n  `Hi ${lead.customer_name || 'there'},`,\n  '',\n  'Thanks for speaking with Sally. We have received your booking request.',\n  '',\n  `Lead reference: ${lead.lead_id}`,\n  `Job type: ${lead.trade_type || 'To be confirmed'}`,\n  `Job details: ${lead.job_description || 'To be confirmed'}`,\n  `Location: ${lead.address || 'To be confirmed'}`,\n  `Preferred time: ${lead.preferred_time || 'To be confirmed'}`,\n  `Urgency: ${lead.urgency || 'normal'}`,\n  `Indicative price band: ${lead.estimated_price_band || 'To be estimated'}`,\n  '',\n  'Important: this is a booking request confirmation, not a fixed-price quote. The tradie will confirm scope, timing, and final pricing before any work begins.',\n  '',\n  'Our team will be in touch shortly.',\n  '',\n  `Track your request here: ${trackingUrl}`,\n  '',\n  'Need to change your booking request? Call Sally back and quote your lead reference.',\n  '',\n  'Thanks,',\n  '1pacent',\n].join('\\n');\n\nreturn [{\n  json: {\n    ...lead,\n    customer_tracking_url: trackingUrl,\n    confirmation_subject: subject,\n    confirmation_message: message,\n  },\n}]; "}, "typeVersion": 2}, {"position": [1100, 220], "name": "Build Confirmation Template Payload", "id": "35f26d44-f91a-4ef1-8727-8a467380f182", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const lead = items[0]?.json ?? {};\nreturn [{\n  json: {\n    template_key: 'booking_request_confirmation_email',\n    trade_type: lead.trade_type || '',\n    payload: {\n      ...lead,\n      entity_type: 'lead',\n      entity_id: lead.lead_id || '',\n      customer_name: lead.customer_name || 'there',\n      lead_id: lead.lead_id || '',\n      trade_type: lead.trade_type || 'To be confirmed',\n      job_description: lead.job_description || 'To be confirmed',\n      preferred_time: lead.preferred_time || 'To be confirmed',\n      address: lead.address || 'To be confirmed',\n      estimated_price_band: lead.estimated_price_band || 'To be estimated',\n      tracking_url: lead.customer_tracking_url || `https://app.1pacent.com/job-status?lead_id=${encodeURIComponent(lead.lead_id || '')}`,\n      fallback_subject: lead.confirmation_subject,\n      fallback_message: lead.confirmation_message,\n    },\n  },\n}];"}, "typeVersion": 2}, {"position": [1380, 220], "name": "Render Confirmation Template", "id": "d155b3dc-26fb-47c8-8f05-cb38a1e21d9a", "type": "n8n-nodes-base.httpRequest", "parameters": {"specifyBody": "json", "sendBody": true, "options": {"timeout": 30000}, "method": "POST", "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json", "url": "http://localhost:5678/webhook/core/message-templates/render"}, "typeVersion": 4.2}, {"position": [1660, 220], "name": "Apply Confirmation Template", "id": "b85ec299-a6cb-41d5-8882-13d24f5c736e", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const rendered = items[0]?.json || {};\nconst lead = rendered.payload || {};\nreturn [{\n  json: {\n    ...lead,\n    message_template_key: rendered.template_key || 'fallback_booking_request_confirmation_email',\n    message_template_version: rendered.version || null,\n    confirmation_subject: rendered.subject || lead.fallback_subject || lead.confirmation_subject,\n    confirmation_message: rendered.body || lead.fallback_message || lead.confirmation_message,\n  },\n}];"}, "typeVersion": 2}, {"position": [1940, 220], "name": "Email Customer Confirmation", "id": "fd6d8e98-b9fb-4a51-acce-52e7d73f7dfd", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "={{$json.confirmation_subject}}", "sendTo": "={{$json.email}}", "emailType": "text", "options": {}, "message": "={{$json.confirmation_message}}"}, "typeVersion": 2.2, "webhookId": "2d8e14f2-93f6-485c-93cf-69d81783003d"}], "connections": {"Lead Capture Webhook": {"main": [[{"node": "Normalize App or ElevenLabs Lead", "type": "main", "index": 0}]]}, "Prepare Customer Confirmation Email": {"main": [[{"node": "Build Confirmation Template Payload", "type": "main", "index": 0}]]}, "Apply Confirmation Template": {"main": [[{"node": "Email Customer Confirmation", "type": "main", "index": 0}]]}, "Build Confirmation Template Payload": {"main": [[{"node": "Render Confirmation Template", "type": "main", "index": 0}]]}, "Render Confirmation Template": {"main": [[{"node": "Apply Confirmation Template", "type": "main", "index": 0}]]}, "Normalize App or ElevenLabs Lead": {"main": [[{"node": "Build Lead Database SQL", "type": "main", "index": 0}, {"node": "Append Lead to Sally Sheet", "type": "main", "index": 0}, {"node": "Email Lead Notification", "type": "main", "index": 0}, {"node": "Prepare Customer Confirmation Email", "type": "main", "index": 0}, {"node": "Respond to Lead Source", "type": "main", "index": 0}]]}, "Build Lead Database SQL": {"main": [[{"node": "Save Lead to Postgres", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}