docs/tradie-import/TRADIE-AGENT-930-Nelly-Setup--7Ez3o3f9molGApf3.json
{"name": "TRADIE-AGENT-930-Nelly-Setup", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Nelly Setup Webhook", "id": "10318f47-7a8a-4e82-93f3-f515b0b57183", "webhookId": "696257a6-8de8-479d-afd7-6cabd5d1f32f", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/nelly/setup", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Nelly Setup SQL", "id": "0139b1ba-7d91-4bbd-bff5-ed04ceaf3d39", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const query = `\nCREATE TABLE IF NOT EXISTS price_recommendations (\n  id uuid primary key default gen_random_uuid(),\n  recommendation_key text not null unique,\n  agent_key text not null default 'nelly',\n  lead_id text references leads(id),\n  quote_id text,\n  trade_type text,\n  job_description text,\n  recommended_low numeric,\n  recommended_high numeric,\n  recommended_mid numeric,\n  confidence_score numeric,\n  confidence_label text,\n  evidence_count integer not null default 0,\n  missing_information text[] not null default '{}',\n  assumptions text[] not null default '{}',\n  risk_flags text[] not null default '{}',\n  similar_jobs jsonb not null default '[]'::jsonb,\n  pricing_basis jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now()\n);\n\nCREATE INDEX IF NOT EXISTS idx_price_recommendations_lead ON price_recommendations(lead_id, created_at DESC);\nCREATE INDEX IF NOT EXISTS idx_price_recommendations_trade ON price_recommendations(trade_type, created_at DESC);\n\nINSERT INTO agent_definitions (agent_key, agent_name, agent_role, model_provider, model_name, active)\nVALUES ('nelly', 'Nelly', 'Quote intelligence, indicative pricing and quote-vs-actual learning AI agent', 'google_gemini', 'models/gemini-3.1-flash-lite', true)\nON CONFLICT (agent_key) DO UPDATE SET\n  agent_name = EXCLUDED.agent_name,\n  agent_role = EXCLUDED.agent_role,\n  model_provider = EXCLUDED.model_provider,\n  model_name = EXCLUDED.model_name,\n  active = true,\n  updated_at = now();\n\nDELETE FROM agent_business_rules WHERE agent_key = 'nelly';\nINSERT INTO agent_business_rules (agent_key, rule_group, rule_order, rule_text, active)\nVALUES\n  ('nelly', 'mission', 10, 'Nelly owns indicative pricing intelligence, quote confidence and quote-vs-actual learning for 1pacent.', true),\n  ('nelly', 'pricing', 20, 'Never promise final fixed prices. Provide indicative ranges and explain final pricing is confirmed by the tradie before work begins.', true),\n  ('nelly', 'evidence', 30, 'Use similar jobs, quote accuracy metrics, job actuals, materials, labour and variance reasons to support price recommendations.', true),\n  ('nelly', 'confidence', 40, 'Low evidence or missing job details must reduce confidence and produce missing information prompts.', true),\n  ('nelly', 'learning', 50, 'When quote variance patterns are found, save knowledge and feed Quintino Skills improvement recommendations.', true);\n\nINSERT INTO agent_knowledge_collections (agent_key, collection_key, collection_name, capability, active)\nVALUES ('nelly', 'quote_intelligence', 'Nelly Quote Intelligence', 'Indicative pricing, quote confidence, similar job evidence and quote-vs-actual learning', true)\nON CONFLICT (agent_key, collection_key) DO UPDATE SET\n  collection_name = EXCLUDED.collection_name,\n  capability = EXCLUDED.capability,\n  active = true,\n  updated_at = now();\n\nINSERT INTO business_skills (\n  skill_key, skill_name, capability, category, description, best_practice, guardrails,\n  inputs, outputs, owner_agent_key, version, status, tags, source_type, source_id, usefulness_score\n)\nVALUES (\n  'skill_indicative_price_recommendation',\n  'Indicative Price Recommendation',\n  'Pricing trust and quote confidence',\n  'quoting',\n  'Recommend indicative price bands using similar jobs, actuals, materials and confidence scoring.',\n  'Use job description, trade type, suburb, urgency, similar completed jobs, quote-vs-actual metrics, material costs and labour assumptions. Return price band, confidence, assumptions, missing information and risk flags.',\n  'Never present an indicative price as a fixed quote. Final pricing must be confirmed by the tradie before work begins.',\n  '{\"required\":[\"trade_type\",\"job_description\"]}'::jsonb,\n  '{\"returns\":[\"recommended_low\",\"recommended_high\",\"confidence\",\"assumptions\",\"risk_flags\"]}'::jsonb,\n  'quintino',\n  1,\n  'active',\n  ARRAY['quoting','pricing','trust','quote_accuracy','moat'],\n  'seed',\n  'NELLY-SKILL-SEED-001',\n  10\n)\nON CONFLICT (skill_key) DO UPDATE SET\n  best_practice = EXCLUDED.best_practice,\n  guardrails = EXCLUDED.guardrails,\n  owner_agent_key = 'quintino',\n  status = 'active',\n  usefulness_score = 10,\n  updated_at = now();\n\nINSERT INTO agent_skill_assignments (agent_key, skill_key, priority, active)\nVALUES ('nelly', 'skill_indicative_price_recommendation', 10, true),\n       ('nelly', 'skill_quote_accuracy_learning', 20, true)\nON CONFLICT (agent_key, skill_key) DO UPDATE SET priority = EXCLUDED.priority, active = true, updated_at = now();\n\nSELECT jsonb_build_object(\n  'success', true,\n  'agent_key', 'nelly',\n  'note', 'Nelly Quote Intelligence foundation is ready.',\n  'active_skills', (SELECT count(*) FROM agent_skill_assignments WHERE agent_key = 'nelly' AND active = true)\n) AS setup_result;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Setup Nelly", "id": "7d7382a8-3750-4590-9797-8130fb5a8992", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Nelly Setup", "id": "bab4fa32-c130-44f6-8407-0a4dc08d9dc8", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.setup_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Nelly Setup SQL": {"main": [[{"node": "Setup Nelly", "type": "main", "index": 0}]]}, "Setup Nelly": {"main": [[{"node": "Respond Nelly Setup", "type": "main", "index": 0}]]}, "Nelly Setup Webhook": {"main": [[{"node": "Build Nelly Setup SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}