docs/tradie-import/TRADIE-TOOL-Agent-Knowledge-Search--GxQAF82yRIlkqbK8.json
{"name": "TRADIE-TOOL-Agent-Knowledge-Search", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Agent Knowledge Search Tool Is Called", "id": "cb6da43c-09ae-4af0-b204-4cc15839bea9", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Knowledge Search Tool Input", "id": "164ce07a-fedd-4ed0-aa3f-bee39a9a25d1", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst text = String(raw.input || raw.tool_input || '').trim();\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction field(name) {\n  const escaped = name.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const pattern = new RegExp(`${escaped}\\\\s*:\\\\s*([^,\\\\n]+)`, 'i');\n  const match = text.match(pattern);\n  return match ? match[1].trim() : '';\n}\n\nreturn [{\n  json: {\n    agent_key: first(raw.agent_key, field('agent_key'), 'george_foreman'),\n    collection_key: first(raw.collection_key, field('collection_key'), ''),\n    query: first(raw.query, raw.question, raw.search, field('query'), text),\n    trade_type: first(raw.trade_type, field('trade_type'), ''),\n    limit: first(raw.limit, field('limit'), 5),\n  },\n}];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Knowledge Search Endpoint", "id": "36c86bc8-8064-4bb7-8b0e-c468c40f855e", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/core/agent-knowledge/search", "options": {"timeout": 20000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"Normalise Knowledge Search Tool Input": {"main": [[{"node": "Call Knowledge Search Endpoint", "type": "main", "index": 0}]]}, "When Agent Knowledge Search Tool Is Called": {"main": [[{"node": "Normalise Knowledge Search Tool Input", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}