docs/tradie-import/TRADIE-PAYMENTS-061-Request-Payment--wm75GPErWRC3Qg1s.json
{"name": "TRADIE-PAYMENTS-061-Request-Payment", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Request Payment Webhook", "id": "d54d815a-34ab-4f92-9f3a-784de74ba3f0", "webhookId": "536b3712-8373-47d0-89f5-8425a98c58d2", "type": "n8n-nodes-base.webhook", "parameters": {"path": "payments/request", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Payment Request SQL", "id": "64f32292-bf19-4453-ba0c-e63f0726ebeb", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction num(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\n  return Number.isFinite(n) ? String(n) : 'NULL';\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nconst invoiceId = first(body.invoice_id);\nconst jobId = first(body.job_id);\nconst quoteId = first(body.quote_id);\nconst requestedAmount = first(body.amount, body.invoice_amount, body.final_invoice_amount);\nconst dueDays = Number(first(body.due_days, 7)) || 7;\nconst paymentRequestId = first(body.payment_request_id, `PAY-${new Date().getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`);\nconst provider = first(body.provider, 'internal_placeholder');\nconst paymentUrl = first(body.payment_url, `https://app.1pacent.com/pay/${encodeURIComponent(paymentRequestId)}`);\n\nconst query = `\nWITH invoice_context AS (\n  SELECT\n    i.id AS invoice_id,\n    i.job_id,\n    i.quote_id,\n    i.customer_id,\n    i.amount AS invoice_amount,\n    i.status AS invoice_status,\n    i.sent_at,\n    j.lead_id,\n    l.job_description,\n    c.name AS customer_name,\n    c.email AS customer_email,\n    c.phone AS customer_phone\n  FROM invoices i\n  LEFT JOIN jobs j ON j.id = i.job_id\n  LEFT JOIN leads l ON l.id = j.lead_id\n  LEFT JOIN customers c ON c.id = i.customer_id\n  WHERE (${sql(invoiceId)} IS NOT NULL AND i.id = ${sql(invoiceId)})\n     OR (${sql(jobId)} IS NOT NULL AND i.job_id = ${sql(jobId)})\n     OR (${sql(quoteId)} IS NOT NULL AND i.quote_id = ${sql(quoteId)})\n  ORDER BY i.sent_at DESC NULLS LAST, i.updated_at DESC\n  LIMIT 1\n),\nresolved AS (\n  SELECT\n    COALESCE(invoice_id, ${sql(invoiceId)}) AS invoice_id,\n    COALESCE(job_id, ${sql(jobId)}) AS job_id,\n    COALESCE(quote_id, ${sql(quoteId)}) AS quote_id,\n    customer_id,\n    lead_id,\n    customer_name,\n    customer_email,\n    customer_phone,\n    job_description,\n    COALESCE(${num(requestedAmount)}, NULLIF(regexp_replace(coalesce(invoice_amount, ''), '[^0-9.]', '', 'g'), '')::numeric) AS amount\n  FROM invoice_context\n),\nupsert_payment_request AS (\n  INSERT INTO payment_requests (\n    id, invoice_id, job_id, quote_id, customer_id, amount, currency, status, provider, payment_url, due_at, sent_at, payload, updated_at\n  )\n  SELECT\n    ${sql(paymentRequestId)},\n    invoice_id,\n    job_id,\n    quote_id,\n    customer_id,\n    amount,\n    'AUD',\n    'payment_requested',\n    ${sql(provider)},\n    ${sql(paymentUrl)},\n    now() + (${dueDays} || ' days')::interval,\n    now(),\n    ${jsonSql(body)},\n    now()\n  FROM resolved\n  ON CONFLICT (id) DO UPDATE SET\n    status = 'payment_requested',\n    amount = EXCLUDED.amount,\n    payment_url = EXCLUDED.payment_url,\n    due_at = EXCLUDED.due_at,\n    sent_at = now(),\n    updated_at = now()\n  RETURNING *\n),\nupdate_invoice AS (\n  UPDATE invoices\n  SET status = 'Payment Requested', updated_at = now()\n  WHERE id = (SELECT invoice_id FROM resolved)\n  RETURNING id\n),\ninsert_event AS (\n  INSERT INTO payment_events (payment_request_id, invoice_id, event_type, provider, amount, payload)\n  SELECT id, invoice_id, 'payment_request_sent', provider, amount, to_jsonb(upsert_payment_request)\n  FROM upsert_payment_request\n),\ninsert_workflow_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  SELECT 'payment_request', id, 'payment_request_sent', to_jsonb(upsert_payment_request)\n  FROM upsert_payment_request\n),\ninsert_memory AS (\n  INSERT INTO agent_memory (agent_key, agent_name, lead_id, job_id, memory_type, summary, payload)\n  SELECT\n    'penny',\n    'Penny',\n    (SELECT lead_id FROM resolved),\n    job_id,\n    'payment_request',\n    'Payment request sent for invoice ' || invoice_id || ' amount ' || chr(36) || amount || '.',\n    to_jsonb(upsert_payment_request)\n  FROM upsert_payment_request\n),\nactive_payment_template AS (\n  SELECT\n    mt.template_key,\n    mt.version,\n    mt.subject_template,\n    mt.body_template\n  FROM message_templates mt\n  WHERE mt.template_key = 'payment_request_email'\n    AND mt.status = 'active'\n    AND mt.active = true\n  ORDER BY mt.version DESC\n  LIMIT 1\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'status', 'payment_requested',\n  'payment_request_id', p.id,\n  'invoice_id', p.invoice_id,\n  'job_id', p.job_id,\n  'quote_id', p.quote_id,\n  'amount', p.amount,\n  'currency', p.currency,\n  'payment_url', p.payment_url,\n  'due_at', p.due_at,\n  'customer_name', (SELECT customer_name FROM resolved),\n  'customer_email', (SELECT customer_email FROM resolved),\n  'customer_email_safe', COALESCE((SELECT customer_email FROM resolved), 'mac@1pacent.com'),\n  'job_description', (SELECT job_description FROM resolved),\n  'template_key', (SELECT template_key FROM active_payment_template),\n  'template_version', (SELECT version FROM active_payment_template),\n  'template_subject', (SELECT subject_template FROM active_payment_template),\n  'template_body', (SELECT body_template FROM active_payment_template)\n) AS payment_request\nFROM upsert_payment_request p;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Payment Request", "id": "eaab1f9e-847f-4023-838e-0e550e934324", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Prepare Payment Request Email", "id": "5c3d8655-c495-428c-867b-f3a4caf6a52b", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const p = items[0]?.json?.payment_request || items[0]?.json || {};\nconst amount = p.amount ? `$${p.amount}` : 'the invoice amount';\nconst name = p.customer_name || 'there';\nconst trackingUrl = p.payment_request_id\n  ? `https://app.1pacent.com/job-status?payment_request_id=${encodeURIComponent(p.payment_request_id)}`\n  : `https://app.1pacent.com/job-status?invoice_id=${encodeURIComponent(p.invoice_id || '')}`;\nconst variables = {\n  customer_name: name,\n  invoice_id: p.invoice_id || '',\n  job_id: p.job_id || '',\n  quote_id: p.quote_id || '',\n  payment_request_id: p.payment_request_id || '',\n  amount,\n  currency: p.currency || 'AUD',\n  payment_url: p.payment_url || '',\n  tracking_url: trackingUrl,\n  due_at: p.due_at || '',\n  job_description: p.job_description || '',\n};\nfunction renderTemplate(text) {\n  return String(text || '').replace(/\\{\\{\\s*([a-zA-Z0-9_.-]+)\\s*\\}\\}/g, (_, key) => {\n    const value = variables[key];\n    return value === undefined || value === null ? '' : String(value);\n  });\n}\nconst fallbackSubject = `Payment request for your 1pacent invoice ${p.invoice_id || ''}`;\nconst fallbackMessage = [\n  `Hi ${name},`,\n  '',\n  'Thanks again for choosing 1pacent. Your invoice summary is ready for payment.',\n  '',\n  `Invoice reference: ${p.invoice_id || ''}`,\n  `Job reference: ${p.job_id || ''}`,\n  `Amount due: ${amount}`,\n  '',\n  `Pay here: ${p.payment_url || ''}`,\n  `Track your request here: ${trackingUrl}`,\n  '',\n  'This payment link is currently a secure placeholder while payment provider integration is being configured. If you have any questions, call Sally and quote your invoice reference.',\n  '',\n  'Thanks,',\n  '1pacent',\n].join('\\n');\nreturn [{\n  json: {\n    ...p,\n    customer_tracking_url: trackingUrl,\n    message_template_key: p.template_key || 'fallback_payment_request_email',\n    message_template_version: p.template_version || null,\n    internal_subject: `Payment request sent: ${p.payment_request_id || ''}`,\n    internal_message: [\n      `Payment request: ${p.payment_request_id || ''}`,\n      `Invoice: ${p.invoice_id || ''}`,\n      `Job: ${p.job_id || ''}`,\n      `Customer: ${p.customer_name || ''}`,\n      `Email: ${p.customer_email || 'Missing'}`,\n      `Amount: ${amount}`,\n      `Payment URL: ${p.payment_url || ''}`,\n      `Status: ${p.status || 'payment_requested'}`,\n      `Template: ${p.template_key || 'fallback'} v${p.template_version || ''}`,\n    ].join('\\n'),\n    customer_subject: p.template_subject ? renderTemplate(p.template_subject) : fallbackSubject,\n    customer_message: p.template_body ? renderTemplate(p.template_body) : fallbackMessage,\n  },\n}];"}, "typeVersion": 2}, {"position": [1040, -120], "name": "Email Customer Payment Request", "id": "91ed4eed-930d-4d0b-96e0-10ea3ab03a78", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "={{$json.customer_subject}}", "sendTo": "={{$json.customer_email_safe}}", "emailType": "text", "options": {}, "message": "={{$json.customer_message}}"}, "typeVersion": 2.2, "webhookId": "07c887c9-682f-46ff-a6a9-a88389221e22"}, {"position": [1040, 120], "name": "Email Internal Payment Alert", "id": "958cd85f-af1a-4166-ad7d-d61ee0356682", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "={{$json.internal_subject}}", "sendTo": "mac@1pacent.com", "emailType": "text", "options": {}, "message": "={{$json.internal_message}}"}, "typeVersion": 2.2, "webhookId": "4619ed70-81c9-448f-8ad5-d6eebd890a19"}, {"position": [1300, 0], "name": "Respond Payment Request", "id": "c6d0fd93-8511-400a-af26-16a0e2d5e5d4", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ { success: true, status: $json.status, payment_request_id: $json.payment_request_id, invoice_id: $json.invoice_id, job_id: $json.job_id, amount: $json.amount, currency: $json.currency, payment_url: $json.payment_url, due_at: $json.due_at } }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Request Payment Webhook": {"main": [[{"node": "Build Payment Request SQL", "type": "main", "index": 0}]]}, "Save Payment Request": {"main": [[{"node": "Prepare Payment Request Email", "type": "main", "index": 0}]]}, "Prepare Payment Request Email": {"main": [[{"node": "Email Customer Payment Request", "type": "main", "index": 0}, {"node": "Email Internal Payment Alert", "type": "main", "index": 0}, {"node": "Respond Payment Request", "type": "main", "index": 0}]]}, "Build Payment Request SQL": {"main": [[{"node": "Save Payment Request", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}