docs/tradie-import/TRADIE-RENTAL-104-Inspection-Report-To-Work-Orders--KabTrWFQlBbzDPUW.json
{"name": "TRADIE-RENTAL-104-Inspection-Report-To-Work-Orders", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Inspection Report Ingest Webhook", "id": "57fe6c1f-b31a-45df-a7d7-613a07382a47", "webhookId": "fdb1fbb5-4db4-44a7-9e4c-6070897d2e47", "type": "n8n-nodes-base.webhook", "parameters": {"path": "rental/inspection-reports/ingest", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Inspection Report SQL", "id": "c11d4d98-4bef-4e35-bb2b-23df9d10d927", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\r\nconst body = raw.body ?? raw;\r\n\r\nfunction first(...values) {\r\n  for (const value of values) {\r\n    if (value === undefined || value === null) continue;\r\n    if (typeof value === 'string' && value.trim() === '') continue;\r\n    return value;\r\n  }\r\n  return '';\r\n}\r\nfunction sql(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  return `'${String(value).replace(/'/g, \"''\")}'`;\r\n}\r\nfunction num(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\r\n  return Number.isFinite(n) ? String(n) : 'NULL';\r\n}\r\nfunction jsonSql(value) {\r\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\r\n}\r\nfunction makeId(prefix, suffix = '') {\r\n  const base = `${prefix}-${new Date().getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`;\r\n  return suffix ? `${base}-${suffix}` : base;\r\n}\r\nfunction classify(text) {\r\n  const lower = String(text || '').toLowerCase();\r\n  if (lower.includes('power') || lower.includes('light') || lower.includes('switch') || lower.includes('electrical')) return 'electrical';\r\n  if (lower.includes('tap') || lower.includes('leak') || lower.includes('toilet') || lower.includes('plumb')) return 'plumbing';\r\n  if (lower.includes('lock') || lower.includes('door') || lower.includes('handle')) return 'locksmith';\r\n  if (lower.includes('heater') || lower.includes('aircon') || lower.includes('air con') || lower.includes('hvac')) return 'hvac';\r\n  if (lower.includes('smoke') || lower.includes('gas safety') || lower.includes('electrical safety')) return 'compliance';\r\n  return 'general_maintenance';\r\n}\r\nfunction urgencyFor(text) {\r\n  const lower = String(text || '').toLowerCase();\r\n  if (lower.includes('urgent') || lower.includes('unsafe') || lower.includes('sparking') || lower.includes('flood') || lower.includes('no power')) return 'urgent';\r\n  return 'normal';\r\n}\r\nfunction amountFor(tradeType) {\r\n  if (tradeType === 'electrical') return 250;\r\n  if (tradeType === 'plumbing') return 220;\r\n  if (tradeType === 'locksmith') return 180;\r\n  if (tradeType === 'compliance') return 299;\r\n  return 200;\r\n}\r\n\r\nconst report = body.report || {};\r\nconst propertyId = first(body.property_id, report.property_id);\r\nconst reportId = first(body.report_id, report.id, makeId('INSP'));\r\nconst reportText = first(body.report_text, report.text, report.summary, '');\r\nconst sourceFindings = Array.isArray(body.findings) ? body.findings : Array.isArray(report.findings) ? report.findings : [];\r\nconst findings = sourceFindings.length\r\n  ? sourceFindings\r\n  : reportText.split(/\\n+/).map(line => line.trim()).filter(line => /repair|replace|broken|fault|leak|not working|damaged|unsafe|check|service/i.test(line)).map(description => ({ description }));\r\n\r\nconst safeFindings = findings.slice(0, 20).map((finding, index) => {\r\n  const description = first(finding.description, finding.issue, finding.text, `Inspection finding ${index + 1}`);\r\n  const tradeType = first(finding.trade_type, classify(description));\r\n  return {\r\n    id: first(finding.finding_id, makeId('FIND', String(index + 1).padStart(2, '0'))),\r\n    work_order_id: first(finding.work_order_id, makeId('WO-INSP', String(index + 1).padStart(2, '0'))),\r\n    description,\r\n    trade_type: tradeType,\r\n    job_type: first(finding.job_type, tradeType),\r\n    location_hint: first(finding.location_hint, finding.room, ''),\r\n    urgency: first(finding.urgency, urgencyFor(description)),\r\n    estimated_amount: first(finding.estimated_amount, amountFor(tradeType)),\r\n    confidence_score: first(finding.confidence_score, sourceFindings.length ? 0.85 : 0.55),\r\n  };\r\n});\r\n\r\nconst values = safeFindings.map(f => `(\r\n  ${sql(f.id)},\r\n  ${sql(reportId)},\r\n  ${sql(propertyId)},\r\n  ${sql(f.work_order_id)},\r\n  'maintenance',\r\n  ${sql(f.trade_type)},\r\n  ${sql(f.job_type)},\r\n  ${sql(f.description)},\r\n  ${sql(f.location_hint)},\r\n  ${sql(f.urgency)},\r\n  ${num(f.estimated_amount)},\r\n  ${num(f.confidence_score)},\r\n  'work_order_created',\r\n  ${jsonSql(f)}\r\n)`).join(',\\n');\r\n\r\nconst noWorkOrderSelect = `\r\n  SELECT\r\n    NULL::text AS id,\r\n    NULL::text AS agency_id,\r\n    NULL::text AS property_id,\r\n    NULL::text AS tenancy_id,\r\n    NULL::text AS tenant_id,\r\n    NULL::text AS landlord_id,\r\n    NULL::text AS property_manager_id,\r\n    NULL::text AS source,\r\n    NULL::text AS category,\r\n    NULL::text AS trade_type,\r\n    NULL::text AS job_type,\r\n    NULL::text AS description,\r\n    NULL::text AS urgency,\r\n    NULL::text AS status,\r\n    NULL::numeric AS estimated_amount,\r\n    NULL::text AS approval_status,\r\n    NULL::boolean AS approval_required,\r\n    NULL::boolean AS auto_approved,\r\n    NULL::jsonb AS payload\r\n  WHERE false`;\r\n\r\nconst workOrderSelects = safeFindings.map(f => `\r\n  SELECT\r\n    ${sql(f.work_order_id)} AS id,\r\n    rp.agency_id AS agency_id,\r\n    rp.id AS property_id,\r\n    t.id AS tenancy_id,\r\n    t.tenant_id AS tenant_id,\r\n    rp.landlord_id AS landlord_id,\r\n    rp.property_manager_id AS property_manager_id,\r\n    'inspection_report'::text AS source,\r\n    'maintenance'::text AS category,\r\n    ${sql(f.trade_type)}::text AS trade_type,\r\n    ${sql(f.job_type)}::text AS job_type,\r\n    ${sql(f.description)}::text AS description,\r\n    ${sql(f.urgency)}::text AS urgency,\r\n    'triaged_from_inspection'::text AS status,\r\n    ${num(f.estimated_amount)}::numeric AS estimated_amount,\r\n    CASE\r\n      WHEN COALESCE(${num(f.estimated_amount)}, 0) <= COALESCE(ar.threshold_amount, l.default_approval_limit, pm.approval_limit, 300)\r\n        AND COALESCE(l.prefers_auto_approval, false) = true THEN 'auto_approved_within_landlord_threshold'\r\n      ELSE 'landlord_approval_required'\r\n    END AS approval_status,\r\n    NOT (\r\n      COALESCE(${num(f.estimated_amount)}, 0) <= COALESCE(ar.threshold_amount, l.default_approval_limit, pm.approval_limit, 300)\r\n      AND COALESCE(l.prefers_auto_approval, false) = true\r\n    ) AS approval_required,\r\n    (\r\n      COALESCE(${num(f.estimated_amount)}, 0) <= COALESCE(ar.threshold_amount, l.default_approval_limit, pm.approval_limit, 300)\r\n      AND COALESCE(l.prefers_auto_approval, false) = true\r\n    ) AS auto_approved,\r\n    ${jsonSql({ ...f, report_id: reportId })} AS payload\r\n  FROM property_row rp\r\n  LEFT JOIN active_tenancy t ON true\r\n  LEFT JOIN pm ON true\r\n  LEFT JOIN l ON true\r\n  LEFT JOIN ar ON true\r\n`).join('\\nUNION ALL\\n');\r\n\r\nconst query = `\r\nWITH property_row AS (\r\n  SELECT * FROM rental_properties WHERE id = ${sql(propertyId)} LIMIT 1\r\n),\r\nactive_tenancy AS (\r\n  SELECT * FROM tenancies WHERE property_id = ${sql(propertyId)} AND status = 'active' ORDER BY created_at DESC LIMIT 1\r\n),\r\ninsert_report AS (\r\n  INSERT INTO property_inspection_reports (\r\n    id, agency_id, property_id, property_manager_id, inspection_type, report_source,\r\n    report_url, report_text, report_date, status, extracted_summary, payload, updated_at\r\n  )\r\n  SELECT\r\n    ${sql(reportId)},\r\n    agency_id,\r\n    id,\r\n    property_manager_id,\r\n    ${sql(first(body.inspection_type, report.inspection_type, 'routine'))},\r\n    ${sql(first(body.report_source, report.source, 'manual_upload'))},\r\n    ${sql(first(body.report_url, report.url))},\r\n    ${sql(reportText)},\r\n    COALESCE(${sql(first(body.report_date, report.report_date))}::date, now()::date),\r\n    CASE WHEN ${safeFindings.length} > 0 THEN 'findings_extracted' ELSE 'no_findings_detected' END,\r\n    ${sql(safeFindings.length + ' finding(s) extracted')},\r\n    ${jsonSql(body)},\r\n    now()\r\n  FROM property_row\r\n  ON CONFLICT (id) DO UPDATE SET\r\n    report_url = EXCLUDED.report_url,\r\n    report_text = EXCLUDED.report_text,\r\n    status = EXCLUDED.status,\r\n    extracted_summary = EXCLUDED.extracted_summary,\r\n    payload = EXCLUDED.payload,\r\n    updated_at = now()\r\n  RETURNING *\r\n),\r\npm AS (\r\n  SELECT pm.* FROM property_managers pm JOIN property_row rp ON rp.property_manager_id = pm.id LIMIT 1\r\n),\r\nl AS (\r\n  SELECT l.* FROM landlords l JOIN property_row rp ON rp.landlord_id = l.id LIMIT 1\r\n),\r\nar AS (\r\n  SELECT ar.*\r\n  FROM approval_rules ar\r\n  JOIN property_row rp ON (ar.property_id IS NULL OR ar.property_id = rp.id)\r\n  WHERE ar.active = true\r\n  ORDER BY ar.property_id NULLS LAST\r\n  LIMIT 1\r\n),\r\ncreated_work_orders AS (\r\n  INSERT INTO work_orders (\r\n    id, agency_id, property_id, tenancy_id, tenant_id, landlord_id, property_manager_id,\r\n    source, category, trade_type, job_type, description, urgency, status, estimated_amount,\r\n    approval_status, approval_required, auto_approved, payload, updated_at\r\n  )\r\n  SELECT\r\n    v.id, v.agency_id, v.property_id, v.tenancy_id, v.tenant_id, v.landlord_id, v.property_manager_id,\r\n    v.source, v.category, v.trade_type, v.job_type, v.description, v.urgency, v.status, v.estimated_amount,\r\n    v.approval_status, v.approval_required, v.auto_approved, v.payload, now()\r\n  FROM (\r\n    ${workOrderSelects || noWorkOrderSelect}\r\n  ) v\r\n  WHERE v.property_id IS NOT NULL\r\n  ON CONFLICT (id) DO UPDATE SET\r\n    description = EXCLUDED.description,\r\n    estimated_amount = EXCLUDED.estimated_amount,\r\n    approval_status = EXCLUDED.approval_status,\r\n    approval_required = EXCLUDED.approval_required,\r\n    auto_approved = EXCLUDED.auto_approved,\r\n    payload = EXCLUDED.payload,\r\n    updated_at = now()\r\n  RETURNING *\r\n),\r\ninsert_findings AS (\r\n  INSERT INTO property_inspection_findings (\r\n    id, inspection_report_id, property_id, work_order_id, finding_type, trade_type,\r\n    job_type, description, location_hint, urgency, estimated_amount, confidence_score, status, payload\r\n  )\r\n  VALUES\r\n    ${values || \"('NO-FINDING', NULL, NULL, NULL, 'maintenance', NULL, NULL, 'No findings', NULL, 'normal', NULL, NULL, 'ignored', '{}'::jsonb)\"}\r\n  ON CONFLICT (id) DO UPDATE SET\r\n    work_order_id = EXCLUDED.work_order_id,\r\n    status = EXCLUDED.status,\r\n    payload = EXCLUDED.payload,\r\n    updated_at = now()\r\n  RETURNING *\r\n),\r\ninsert_approvals AS (\r\n  INSERT INTO landlord_approvals (id, work_order_id, landlord_id, amount, status, approval_url, payload, updated_at)\r\n  SELECT\r\n    'APR-' || replace(cwo.id, 'WO-', ''),\r\n    cwo.id,\r\n    cwo.landlord_id,\r\n    cwo.estimated_amount,\r\n    'pending',\r\n    'https://app.1pacent.com/landlord/approve?approval_id=APR-' || replace(cwo.id, 'WO-', ''),\r\n    to_jsonb(cwo),\r\n    now()\r\n  FROM created_work_orders cwo\r\n  WHERE cwo.approval_required = true\r\n  ON CONFLICT (id) DO UPDATE SET amount = EXCLUDED.amount, status = EXCLUDED.status, approval_url = EXCLUDED.approval_url, payload = EXCLUDED.payload, updated_at = now()\r\n  RETURNING *\r\n),\r\ninsert_event AS (\r\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\r\n  SELECT 'inspection_report', id, 'inspection_report_ingested', to_jsonb(insert_report) FROM insert_report\r\n)\r\nSELECT jsonb_build_object(\r\n  'success', true,\r\n  'inspection_report_id', (SELECT id FROM insert_report),\r\n  'property_id', ${sql(propertyId)},\r\n  'findings_detected', ${safeFindings.length},\r\n  'work_orders_created', COALESCE((SELECT jsonb_agg(jsonb_build_object(\r\n    'work_order_id', id,\r\n    'trade_type', trade_type,\r\n    'description', description,\r\n    'approval_status', approval_status,\r\n    'approval_required', approval_required,\r\n    'auto_approved', auto_approved,\r\n    'estimated_amount', estimated_amount\r\n  )) FROM created_work_orders), '[]'::jsonb),\r\n  'approvals_created', COALESCE((SELECT jsonb_agg(jsonb_build_object('approval_id', id, 'work_order_id', work_order_id, 'approval_url', approval_url)) FROM insert_approvals), '[]'::jsonb)\r\n) AS inspection_report_result;\r\n`;\r\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Inspection Report And Work Orders", "id": "bee25c79-b88e-4546-8b6f-a0c8cca4a434", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Inspection Report", "id": "8370362c-f0a3-4f86-9ef5-8c6fbc7bfd7c", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.inspection_report_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Save Inspection Report And Work Orders": {"main": [[{"node": "Respond Inspection Report", "type": "main", "index": 0}]]}, "Inspection Report Ingest Webhook": {"main": [[{"node": "Build Inspection Report SQL", "type": "main", "index": 0}]]}, "Build Inspection Report SQL": {"main": [[{"node": "Save Inspection Report And Work Orders", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}