docs/tradie-import/TRADIE-CORE-908-MCP-Services-Search--mVejHCeqYybT38ar.json
{"name": "TRADIE-CORE-908-MCP-Services-Search", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "MCP Services Search Webhook", "id": "25db1b6b-8c76-4d3f-8c4d-d8c655c4e50a", "webhookId": "159d73be-5729-495d-a43e-943d872bf46b", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/mcp-services/search", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build MCP Services Search SQL", "id": "2076e914-18a9-4526-bd45-634b36168dc0", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst source = raw.query && Object.keys(raw.query).length ? raw.query : (raw.body ?? raw);\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nconst agentKey = source.agent_key || '';\nconst category = source.category || '';\nconst queryText = source.query || source.search || '';\n\nconst query = `\nWITH svc AS (\n  SELECT *,\n    CASE\n      WHEN ${sql(queryText)} IS NULL THEN 0\n      ELSE COALESCE((\n        SELECT count(*)\n        FROM regexp_split_to_table(lower(${sql(queryText)}), '\\\\s+') AS q(term)\n        WHERE length(q.term) > 2\n          AND lower(service_name || ' ' || capability || ' ' || provider || ' ' || category) LIKE '%' || q.term || '%'\n      ), 0)\n    END AS term_hits\n  FROM mcp_services\n  WHERE status IN ('active','planned')\n    AND (${sql(agentKey)} IS NULL OR ${sql(agentKey)} = ANY(available_to_agents))\n    AND (${sql(category)} IS NULL OR category = ${sql(category)})\n),\ntool_rows AS (\n  SELECT\n    s.service_key,\n    COALESCE(jsonb_agg(jsonb_build_object(\n      'tool_key', t.tool_key,\n      'tool_name', t.tool_name,\n      'description', t.description,\n      'endpoint_path', t.endpoint_path,\n      'workflow_id', t.workflow_id,\n      'input_schema', t.input_schema,\n      'output_contract', t.output_contract\n    ) ORDER BY t.tool_name) FILTER (WHERE t.id IS NOT NULL), '[]'::jsonb) AS tools\n  FROM svc s\n  LEFT JOIN mcp_service_tools t ON t.service_key = s.service_key AND t.active = true\n  GROUP BY s.service_key\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'agent_key', ${sql(agentKey)},\n  'query', ${sql(queryText)},\n  'result_count', (SELECT count(*) FROM svc WHERE ${sql(queryText)} IS NULL OR term_hits > 0),\n  'services', COALESCE(jsonb_agg(jsonb_build_object(\n    'service_key', s.service_key,\n    'service_name', s.service_name,\n    'provider', s.provider,\n    'category', s.category,\n    'capability', s.capability,\n    'endpoint_path', s.endpoint_path,\n    'workflow_id', s.workflow_id,\n    'credential_name', s.credential_name,\n    'status', s.status,\n    'available_to_agents', s.available_to_agents,\n    'config', s.config,\n    'tools', tr.tools\n  ) ORDER BY s.category, s.service_name), '[]'::jsonb)\n) AS mcp_services\nFROM svc s\nLEFT JOIN tool_rows tr ON tr.service_key = s.service_key\nWHERE ${sql(queryText)} IS NULL OR s.term_hits > 0;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Search MCP Services", "id": "64ca322e-4cee-4380-9246-6127bd01d68c", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond MCP Services Search", "id": "529aae87-6ec0-4eda-928e-ff40f05409d6", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.mcp_services || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Search MCP Services": {"main": [[{"node": "Respond MCP Services Search", "type": "main", "index": 0}]]}, "MCP Services Search Webhook": {"main": [[{"node": "Build MCP Services Search SQL", "type": "main", "index": 0}]]}, "Build MCP Services Search SQL": {"main": [[{"node": "Search MCP Services", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}