docs/tradie-import/TRADIE-QUOTES-931-Nelly-Price-Recommendation--evFuY5QddyftkdUZ.json
{"name": "TRADIE-QUOTES-931-Nelly-Price-Recommendation", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Nelly Price Recommendation Webhook", "id": "17c00739-3011-41d6-a592-1259705a463e", "webhookId": "4e73cf34-a42c-438c-8211-f2d92289d102", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/nelly/price-recommendation", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Price Recommendation SQL", "id": "8da87d9c-9497-4890-978b-34f599955975", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nfunction num(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\n  return Number.isFinite(n) ? String(n) : 'NULL';\n}\n\nconst leadId = first(body.lead_id);\nconst quoteId = first(body.quote_id);\nconst tradeType = String(first(body.trade_type, 'electrical')).toLowerCase();\nconst jobDescription = first(body.job_description, body.description, '');\nconst suburb = first(body.customer_suburb, body.suburb, '');\nconst urgency = first(body.urgency, 'normal');\nconst materialsCost = first(body.materials_cost, body.estimated_materials_cost);\nconst labourHours = first(body.labour_hours, body.estimated_labour_hours);\nconst calloutFee = first(body.callout_fee, 150);\nconst recommendationKey = `PRICE-${new Date().toISOString().replace(/[-:.TZ]/g, '').slice(0, 14)}-${Math.floor(Math.random() * 1000)}`;\n\nconst missing = [];\nif (!tradeType) missing.push('trade_type');\nif (!jobDescription) missing.push('job_description');\n\nconst fallbackLow = tradeType.includes('elect') ? 150 : 180;\nconst fallbackHigh = tradeType.includes('elect') ? 350 : 450;\n\nconst query = `\nWITH input AS (\n  SELECT\n    ${sql(leadId)}::text AS lead_id,\n    ${sql(quoteId)}::text AS quote_id,\n    ${sql(tradeType)}::text AS trade_type,\n    ${sql(jobDescription)}::text AS job_description,\n    ${sql(suburb)}::text AS suburb,\n    ${sql(urgency)}::text AS urgency,\n    ${num(materialsCost)}::numeric AS materials_cost,\n    ${num(labourHours)}::numeric AS labour_hours,\n    ${num(calloutFee)}::numeric AS callout_fee\n),\nsimilar_jobs_cte AS (\n  SELECT\n    qam.*,\n    ja.actual_duration_minutes,\n    ja.actual_travel_minutes,\n    j.status AS job_status,\n    l.job_description AS lead_job_description,\n    l.address,\n    CASE\n      WHEN lower(coalesce(qam.trade_type, l.trade_type, '')) = (SELECT trade_type FROM input) THEN 5 ELSE 0\n    END\n    + CASE\n      WHEN lower(coalesce(l.job_description, '')) LIKE '%' || split_part(lower((SELECT job_description FROM input)), ' ', 1) || '%' THEN 2 ELSE 0\n    END AS similarity_score\n  FROM quote_accuracy_metrics qam\n  LEFT JOIN job_actuals ja ON ja.quote_id = qam.quote_id OR ja.lead_id = qam.lead_id\n  LEFT JOIN leads l ON l.id = qam.lead_id\n  LEFT JOIN jobs j ON j.lead_id = qam.lead_id OR j.quote_id = qam.quote_id\n  WHERE lower(coalesce(qam.trade_type, l.trade_type, (SELECT trade_type FROM input))) = (SELECT trade_type FROM input)\n  ORDER BY similarity_score DESC, qam.created_at DESC\n  LIMIT 8\n),\nparsed AS (\n  SELECT\n    *,\n    NULLIF(regexp_replace(coalesce(final_invoice, ''), '[^0-9.]', '', 'g'), '')::numeric AS final_invoice_num,\n    NULLIF(regexp_replace(coalesce(confirmed_quote, ''), '[^0-9.]', '', 'g'), '')::numeric AS confirmed_quote_num\n  FROM similar_jobs_cte\n),\nstats AS (\n  SELECT\n    count(*)::integer AS evidence_count,\n    percentile_cont(0.25) WITHIN GROUP (ORDER BY final_invoice_num) AS p25_invoice,\n    percentile_cont(0.5) WITHIN GROUP (ORDER BY final_invoice_num) AS p50_invoice,\n    percentile_cont(0.75) WITHIN GROUP (ORDER BY final_invoice_num) AS p75_invoice,\n    avg(accuracy_score) AS avg_accuracy,\n    avg(actual_duration_minutes) AS avg_duration,\n    avg(actual_travel_minutes) AS avg_travel\n  FROM parsed\n  WHERE final_invoice_num IS NOT NULL\n),\nrecommendation AS (\n  SELECT\n    CASE\n      WHEN evidence_count >= 3 THEN round(GREATEST(p25_invoice * 0.9, 50)::numeric, 0)\n      WHEN evidence_count >= 1 THEN round(GREATEST(COALESCE(p50_invoice, p25_invoice, p75_invoice) * 0.9, 50)::numeric, 0)\n      WHEN (SELECT labour_hours FROM input) IS NOT NULL THEN round(((SELECT callout_fee FROM input) + ((SELECT labour_hours FROM input) * 120) + COALESCE((SELECT materials_cost FROM input), 0)) * 0.9, 0)\n      ELSE ${fallbackLow}\n    END AS low,\n    CASE\n      WHEN evidence_count >= 3 THEN round(GREATEST(p75_invoice * 1.15, p50_invoice)::numeric, 0)\n      WHEN evidence_count >= 1 THEN round(GREATEST(COALESCE(p75_invoice, p50_invoice, p25_invoice) * 1.2, COALESCE(p50_invoice, p25_invoice, p75_invoice))::numeric, 0)\n      WHEN (SELECT labour_hours FROM input) IS NOT NULL THEN round(((SELECT callout_fee FROM input) + ((SELECT labour_hours FROM input) * 120) + COALESCE((SELECT materials_cost FROM input), 0)) * 1.25, 0)\n      ELSE ${fallbackHigh}\n    END AS high,\n    evidence_count,\n    avg_accuracy,\n    avg_duration,\n    avg_travel\n  FROM stats\n),\nscored AS (\n  SELECT\n    low,\n    high,\n    round(((low + high) / 2.0)::numeric, 0) AS mid,\n    evidence_count,\n    LEAST(95, GREATEST(25,\n      35\n      + (evidence_count * 10)\n      + CASE WHEN ${missing.length} = 0 THEN 15 ELSE 0 END\n      + COALESCE(avg_accuracy, 60) / 10\n    )) AS confidence_score,\n    avg_duration,\n    avg_travel\n  FROM recommendation\n),\nfinal AS (\n  SELECT\n    *,\n    CASE WHEN confidence_score >= 75 THEN 'high' WHEN confidence_score >= 55 THEN 'medium' ELSE 'low' END AS confidence_label,\n    ARRAY_REMOVE(ARRAY[\n      ${missing.includes('trade_type') ? \"'trade_type'\" : 'NULL'},\n      ${missing.includes('job_description') ? \"'job_description'\" : 'NULL'},\n      CASE WHEN evidence_count < 3 THEN 'more_similar_completed_jobs' ELSE NULL END,\n      CASE WHEN (SELECT materials_cost FROM input) IS NULL THEN 'materials_cost_if_known' ELSE NULL END,\n      CASE WHEN (SELECT labour_hours FROM input) IS NULL THEN 'estimated_labour_hours_if_known' ELSE NULL END\n    ], NULL) AS missing_information,\n    ARRAY_REMOVE(ARRAY[\n      'Indicative estimate only',\n      'Final price confirmed by tradie before work begins',\n      CASE WHEN evidence_count < 3 THEN 'Limited similar job history, fallback pricing used' ELSE 'Similar completed jobs used' END,\n      CASE WHEN (SELECT urgency FROM input) IN ('urgent','emergency') THEN 'Urgency may increase callout or scheduling cost' ELSE NULL END\n    ], NULL) AS assumptions,\n    ARRAY_REMOVE(ARRAY[\n      CASE WHEN evidence_count < 3 THEN 'low_evidence' ELSE NULL END,\n      CASE WHEN (SELECT urgency FROM input) IN ('urgent','emergency') THEN 'urgent_job' ELSE NULL END,\n      CASE WHEN lower((SELECT job_description FROM input)) LIKE '%fault%' THEN 'fault_diagnosis_required' ELSE NULL END,\n      CASE WHEN lower((SELECT job_description FROM input)) LIKE '%hidden%' THEN 'hidden_scope_risk' ELSE NULL END\n    ], NULL) AS risk_flags\n  FROM scored\n),\ninsert_recommendation AS (\n  INSERT INTO price_recommendations (\n    recommendation_key, agent_key, lead_id, quote_id, trade_type, job_description,\n    recommended_low, recommended_high, recommended_mid, confidence_score, confidence_label,\n    evidence_count, missing_information, assumptions, risk_flags, similar_jobs, pricing_basis\n  )\n  SELECT\n    ${sql(recommendationKey)},\n    'nelly',\n    (SELECT lead_id FROM input),\n    (SELECT quote_id FROM input),\n    (SELECT trade_type FROM input),\n    (SELECT job_description FROM input),\n    low,\n    high,\n    mid,\n    confidence_score,\n    confidence_label,\n    evidence_count,\n    missing_information,\n    assumptions,\n    risk_flags,\n    COALESCE((SELECT jsonb_agg(to_jsonb(parsed) ORDER BY similarity_score DESC, created_at DESC) FROM parsed), '[]'::jsonb),\n    jsonb_build_object(\n      'suburb', (SELECT suburb FROM input),\n      'urgency', (SELECT urgency FROM input),\n      'materials_cost', (SELECT materials_cost FROM input),\n      'labour_hours', (SELECT labour_hours FROM input),\n      'callout_fee', (SELECT callout_fee FROM input),\n      'avg_duration', avg_duration,\n      'avg_travel', avg_travel\n    )\n  FROM final\n  RETURNING *\n),\ninsert_memory AS (\n  INSERT INTO agent_memory (agent_key, agent_name, lead_id, memory_type, summary, payload)\n  SELECT\n    'nelly',\n    'Nelly',\n    lead_id,\n    'price_recommendation',\n    'Recommended indicative price band ' || chr(36) || recommended_low || '-' || chr(36) || recommended_high || ' with ' || confidence_label || ' confidence.',\n    to_jsonb(insert_recommendation)\n  FROM insert_recommendation\n),\ninsert_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  SELECT 'price_recommendation', recommendation_key, 'nelly_price_recommended', to_jsonb(insert_recommendation)\n  FROM insert_recommendation\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'agent', 'Nelly',\n  'status', CASE WHEN array_length(missing_information, 1) > 0 AND evidence_count = 0 THEN 'needs_more_info' ELSE 'price_recommended' END,\n  'recommendation_key', recommendation_key,\n  'lead_id', lead_id,\n  'quote_id', quote_id,\n  'trade_type', trade_type,\n  'job_description', job_description,\n  'indicative_price_band', chr(36) || recommended_low || '-' || chr(36) || recommended_high,\n  'recommended_low', recommended_low,\n  'recommended_high', recommended_high,\n  'recommended_mid', recommended_mid,\n  'confidence_score', confidence_score,\n  'confidence_label', confidence_label,\n  'evidence_count', evidence_count,\n  'missing_information', missing_information,\n  'assumptions', assumptions,\n  'risk_flags', risk_flags,\n  'similar_jobs', similar_jobs,\n  'customer_message', 'The indicative estimate is ' || chr(36) || recommended_low || '-' || chr(36) || recommended_high || '. The tradie will confirm the final quote before any work begins.',\n  'internal_note', 'Evidence count: ' || evidence_count || ', confidence: ' || confidence_label || '.'\n) AS price_recommendation\nFROM insert_recommendation;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Generate Price Recommendation", "id": "fb50b7f1-4354-4d88-936e-0bd60bc259b2", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Price Recommendation", "id": "03f9b69a-1407-440b-9ea9-cf028d4d9182", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.price_recommendation || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Generate Price Recommendation": {"main": [[{"node": "Respond Price Recommendation", "type": "main", "index": 0}]]}, "Nelly Price Recommendation Webhook": {"main": [[{"node": "Build Price Recommendation SQL", "type": "main", "index": 0}]]}, "Build Price Recommendation SQL": {"main": [[{"node": "Generate Price Recommendation", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}