docs/tradie-import/TRADIE-PAYMENTS-063-Payment-Status--naefjLhW5Vja5gvf.json
{"name": "TRADIE-PAYMENTS-063-Payment-Status", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Payment Status Webhook", "id": "50a097d1-238a-457c-9801-6816aa275e6f", "webhookId": "72fe6405-8a35-40f3-97ef-2982ac71ba66", "type": "n8n-nodes-base.webhook", "parameters": {"path": "payments/status", "responseMode": "responseNode", "options": {}, "httpMethod": "GET"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Payment Status SQL", "id": "a4a216e3-56d2-4d67-9743-d0bf784dd5a1", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst q = raw.query ?? raw.body ?? raw;\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nconst reference = first(q.payment_request_id, q.request_id, q.invoice_id, q.job_id);\nconst query = `\nWITH matched AS (\n  SELECT pr.*, i.status AS invoice_status, i.paid_at AS invoice_paid_at\n  FROM payment_requests pr\n  LEFT JOIN invoices i ON i.id = pr.invoice_id\n  WHERE pr.id = ${sql(reference)}\n     OR pr.invoice_id = ${sql(reference)}\n     OR pr.job_id = ${sql(reference)}\n  ORDER BY pr.created_at DESC\n  LIMIT 5\n),\nevents AS (\n  SELECT pe.*\n  FROM payment_events pe\n  WHERE pe.payment_request_id IN (SELECT id FROM matched)\n  ORDER BY pe.created_at DESC\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'reference', ${sql(reference)},\n  'payment_requests', COALESCE((SELECT jsonb_agg(to_jsonb(matched)) FROM matched), '[]'::jsonb),\n  'events', COALESCE((SELECT jsonb_agg(to_jsonb(events)) FROM events), '[]'::jsonb)\n) AS payment_status;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Load Payment Status", "id": "da976c4c-f3ed-45ad-9bec-d422747badfb", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Payment Status", "id": "32eef94f-9f5c-4365-a20a-4cf9b0041ad8", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.payment_status || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Payment Status Webhook": {"main": [[{"node": "Build Payment Status SQL", "type": "main", "index": 0}]]}, "Load Payment Status": {"main": [[{"node": "Respond Payment Status", "type": "main", "index": 0}]]}, "Build Payment Status SQL": {"main": [[{"node": "Load Payment Status", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}