docs/tradie-import/TRADIE-TOOL-Skills-Search--HMi7xtGQXxMhOCug.json
{"name": "TRADIE-TOOL-Skills-Search", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Skills Search Tool Is Called", "id": "ad54e5d3-796b-4424-ab09-53dd19a0dd75", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Skills Search Input", "id": "9792b6b9-cdc5-4b6e-b175-0ad4b7eb80ee", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst text = String(raw.input || raw.tool_input || '').trim();\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction field(name) {\n  const escaped = name.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const pattern = new RegExp(`${escaped}\\\\s*:\\\\s*([^,\\\\n]+)`, 'i');\n  const match = text.match(pattern);\n  return match ? match[1].trim() : '';\n}\n\nreturn [{\n  json: {\n    agent_key: first(raw.agent_key, field('agent_key'), 'george_foreman'),\n    category: first(raw.category, field('category'), ''),\n    query: first(raw.query, raw.search, field('query'), text),\n    limit: first(raw.limit, field('limit'), 8),\n  },\n}];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Skills Search Endpoint", "id": "89ba28ef-b233-4d2f-be88-a1f1dd38140a", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/core/skills/search", "options": {"timeout": 20000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"Normalise Skills Search Input": {"main": [[{"node": "Call Skills Search Endpoint", "type": "main", "index": 0}]]}, "When Skills Search Tool Is Called": {"main": [[{"node": "Normalise Skills Search Input", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}