docs/tradie-import/TRADIE-SCHEDULE-032-George-Scheduling-Agent--JRWGMo5LsoMcybon.json
{"name": "TRADIE-SCHEDULE-032-George-Scheduling-Agent", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "George Scheduling Agent Webhook", "id": "b89eeea1-668b-4bb7-a523-a99f5ae92bfd", "webhookId": "cff98a23-72e5-4b70-8da8-5028cf53610c", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/george/schedule-recommendation", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Prepare Scheduler Payload", "id": "1e27671b-c20d-42d5-92bd-c97f57001dfe", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction inferDurationMinutes(jobDescription, tradeType) {\n  const text = `${jobDescription || ''} ${tradeType || ''}`.toLowerCase();\n  if (text.includes('install') && text.includes('power point')) return 120;\n  if (text.includes('quote') || text.includes('inspection')) return 60;\n  if (text.includes('urgent') || text.includes('fault')) return 90;\n  return 120;\n}\n\nfunction boolValue(value) {\n  if (value === true) return true;\n  if (value === false) return false;\n  const text = String(value ?? '').toLowerCase().trim();\n  return ['true', 'yes', 'book', 'hold', 'confirm', 'accepted'].includes(text);\n}\n\nconst bookingAction = first(body.booking_action, body.action, body.intent, 'preview');\nconst shouldHold = boolValue(first(body.persist_schedule, body.hold_slot, body.create_hold, bookingAction, false));\n\nconst payload = {\n  lead_id: first(body.lead_id, body.reference, ''),\n  quote_id: first(body.quote_id, ''),\n  job_id: first(body.job_id, ''),\n  customer_name: first(body.customer_name, body.name, ''),\n  customer_email: first(body.customer_email, body.email, ''),\n  customer_address: first(body.customer_address, body.address, ''),\n  customer_suburb: first(body.customer_suburb, body.suburb, ''),\n  trade_type: first(body.trade_type, body.category, 'electrical'),\n  preferred_date: first(body.preferred_date, ''),\n  preferred_window: first(body.preferred_window, body.preferred_time, body.booking_window, ''),\n  urgency: first(body.urgency, 'normal'),\n  job_description: first(body.job_description, body.description, ''),\n  estimated_duration_minutes: Number(first(body.estimated_duration_minutes, body.duration_minutes, inferDurationMinutes(body.job_description, body.trade_type))),\n  booking_action: bookingAction,\n  persist_schedule: shouldHold,\n};\n\nconst required = ['trade_type', 'preferred_window', 'customer_suburb'];\nif (shouldHold && !payload.lead_id) required.push('lead_id');\nconst missing = required.filter((field) => !payload[field]);\nif (missing.length) {\n  return [{\n    json: {\n      agent: 'George Foreman',\n      success: false,\n      status: 'needs_input',\n      missing_information: missing,\n      customer_message: 'I need a little more information before I can check the schedule.',\n      payload,\n    },\n  }];\n}\n\nreturn [{ json: payload }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Schedule Engine", "id": "7c31816f-bee8-4d85-aa5d-58348ad32d02", "type": "n8n-nodes-base.httpRequest", "parameters": {"specifyBody": "json", "sendBody": true, "options": {"timeout": 20000}, "method": "POST", "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json", "url": "http://localhost:5678/webhook/schedule/book-job"}, "typeVersion": 4.2}, {"position": [780, 0], "name": "George Scheduling Decision", "id": "2e2ca174-d2c1-44b0-8587-5de80e8d94cb", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const schedule = items[0]?.json ?? {};\n\nconst hasSlot = Boolean(schedule.success && schedule.scheduled_start_local && schedule.scheduled_end_local);\nconst isHeld = schedule.persist_schedule === true;\nconst customerMessage = hasSlot\n  ? isHeld\n    ? `I have added ${schedule.scheduled_start_local} to ${schedule.scheduled_end_local} to the booking request. Send the written booking request confirmation now.`\n    : `I can request ${schedule.scheduled_start_local} to ${schedule.scheduled_end_local}. Ask the customer if they would like to use that window for the booking request.`\n  : 'I could not find a suitable slot from the current tradie availability. The team will need to confirm the next available time manually.';\n\nconst georgeDecision = {\n  agent: 'George Foreman',\n  success: hasSlot,\n  status: hasSlot ? (isHeld ? 'schedule_held' : 'schedule_preview_recommended') : 'schedule_needs_manual_review',\n  lead_id: schedule.lead_id || '',\n  quote_id: schedule.quote_id || '',\n  job_id: schedule.job_id || '',\n  schedule_slot_id: schedule.schedule_slot_id || '',\n  recommended_window: hasSlot ? `${schedule.scheduled_start_local} to ${schedule.scheduled_end_local}` : '',\n  tradie_id: schedule.tradie_id || '',\n  tradie_name: schedule.tradie_name || '',\n  customer_message: customerMessage,\n  internal_reasoning: {\n    scheduling_score: schedule.scheduling_score,\n    estimated_travel_minutes: schedule.estimated_travel_minutes,\n    estimated_duration_minutes: schedule.estimated_duration_minutes,\n    scheduling_reason: schedule.scheduling_reason || schedule.reason || '',\n    timezone: schedule.timezone || 'Australia/Sydney',\n    slot_held: isHeld,\n  },\n  scheduler_response: schedule,\n};\n\nreturn [{ json: georgeDecision }];"}, "typeVersion": 2}, {"position": [1040, 0], "name": "Respond George", "id": "3ee4f21c-677e-4d84-a5f5-41a7d1bfe5b7", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}, {"position": [1300, 0], "name": "Build George Memory SQL", "id": "4267efb0-281c-4396-9cbd-6b222c0ad8c8", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const decision = items[0]?.json ?? {};\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nconst summary = decision.success\n  ? `George recommended ${decision.recommended_window} with ${decision.tradie_name || 'a matching tradie'}.`\n  : `George could not recommend a slot: ${decision.status}.`;\n\nconst query = `\nINSERT INTO agent_interactions (\n  agent_name, lead_id, conversation_id, transcript, summary, payload\n)\nVALUES (\n  'George Foreman',\n  ${sql(decision.lead_id)},\n  ${sql(decision.schedule_slot_id)},\n  ${sql(decision.customer_message)},\n  ${sql(summary)},\n  ${jsonSql(decision)}\n);\n\nINSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\nVALUES (\n  'agent',\n  ${sql(decision.schedule_slot_id || decision.lead_id || 'george')},\n  ${sql(decision.success ? 'george_schedule_recommended' : 'george_schedule_manual_review')},\n  ${jsonSql(decision)}\n);\n\nSELECT ${jsonSql(decision)} AS george_decision;\n`;\n\nreturn [{ json: { ...decision, sql: query } }];"}, "typeVersion": 2}, {"position": [1560, 0], "name": "Save George Memory", "id": "70c28564-e895-4615-8d58-f5da514c4b9d", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}], "connections": {"Prepare Scheduler Payload": {"main": [[{"node": "Call Schedule Engine", "type": "main", "index": 0}]]}, "Call Schedule Engine": {"main": [[{"node": "George Scheduling Decision", "type": "main", "index": 0}]]}, "Build George Memory SQL": {"main": [[{"node": "Save George Memory", "type": "main", "index": 0}]]}, "George Scheduling Agent Webhook": {"main": [[{"node": "Prepare Scheduler Payload", "type": "main", "index": 0}]]}, "George Scheduling Decision": {"main": [[{"node": "Respond George", "type": "main", "index": 0}]]}, "Respond George": {"main": [[{"node": "Build George Memory SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}