docs/tradie-import/TRADIE-SCHEDULE-030-Book-Job--xOvlcYpKuo5I3lXI.json
{"name": "TRADIE-SCHEDULE-030-Book-Job", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Schedule Booking Webhook", "id": "8dc0dcbd-3f7c-4081-94b4-dfa9fd056aa4", "webhookId": "f24918b4-fabf-4d71-bfa1-4c86296d41bd", "type": "n8n-nodes-base.webhook", "parameters": {"path": "schedule/book-job", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Candidate Schedule SQL", "id": "779b9b7b-d560-4de1-b3bd-8cab4e99ecff", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction parsePreferredDate(value) {\n  const text = String(value || '').toLowerCase();\n  const now = new Date();\n  if (text.includes('tomorrow')) {\n    const d = new Date(now);\n    d.setDate(d.getDate() + 1);\n    return d.toISOString().slice(0, 10);\n  }\n  const iso = text.match(/\\d{4}-\\d{2}-\\d{2}/);\n  if (iso) return iso[0];\n  const days = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'];\n  const target = days.findIndex((d) => text.includes(d));\n  if (target >= 0) {\n    const d = new Date(now);\n    const delta = (target - d.getDay() + 7) % 7 || 7;\n    d.setDate(d.getDate() + delta);\n    return d.toISOString().slice(0, 10);\n  }\n  const fallback = new Date(now);\n  fallback.setDate(fallback.getDate() + 1);\n  return fallback.toISOString().slice(0, 10);\n}\n\nconst leadId = first(body.lead_id, body.reference, '');\nconst quoteId = first(body.quote_id, '');\nconst jobId = first(body.job_id, `JOB-${new Date().getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`);\nconst tradeType = first(body.trade_type, body.category, 'electrical').toLowerCase();\nconst address = first(body.address, body.customer_address, '');\nconst suburb = first(body.suburb, body.customer_suburb, address.split(',')[0], address);\nconst preferredTime = first(body.preferred_time, body.preferred_window, body.booking_window, 'tomorrow morning');\nconst preferredDate = parsePreferredDate(first(body.preferred_date, preferredTime));\nconst durationMinutes = Number.parseInt(first(body.estimated_duration_minutes, body.duration_minutes, 120), 10) || 120;\nconst urgency = first(body.urgency, 'normal');\nconst persistRaw = first(body.persist_schedule, body.hold_slot, body.create_hold, false);\nconst persistSchedule = Boolean(leadId) && persistRaw !== false && String(persistRaw).toLowerCase() !== 'false';\n\nconst query = `\nCREATE TABLE IF NOT EXISTS tradies (\n  id text primary key,\n  name text not null,\n  phone text,\n  email text,\n  home_suburb text,\n  active boolean not null default true,\n  licence_status text not null default 'Not yet verified',\n  insurance_status text not null default 'Not yet verified',\n  quote_accuracy_score numeric,\n  on_time_rate numeric,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\nCREATE TABLE IF NOT EXISTS tradie_skills (\n  id uuid primary key default gen_random_uuid(),\n  tradie_id text references tradies(id),\n  trade_type text not null,\n  skill_name text,\n  verified boolean not null default false,\n  created_at timestamptz not null default now()\n);\nCREATE TABLE IF NOT EXISTS tradie_availability (\n  id uuid primary key default gen_random_uuid(),\n  tradie_id text references tradies(id),\n  day_of_week integer not null check (day_of_week between 0 and 6),\n  start_time time not null,\n  end_time time not null,\n  active boolean not null default true,\n  created_at timestamptz not null default now()\n);\nCREATE TABLE IF NOT EXISTS job_schedule_slots (\n  id text primary key,\n  job_id text,\n  lead_id text references leads(id),\n  quote_id text,\n  tradie_id text references tradies(id),\n  status text not null,\n  scheduled_start timestamptz,\n  scheduled_end timestamptz,\n  customer_address text,\n  customer_suburb text,\n  estimated_duration_minutes integer,\n  estimated_travel_minutes integer,\n  scheduling_score numeric,\n  scheduling_reason text,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\nCREATE INDEX IF NOT EXISTS idx_job_schedule_slots_tradie_start ON job_schedule_slots(tradie_id, scheduled_start);\nCREATE INDEX IF NOT EXISTS idx_job_schedule_slots_lead_id ON job_schedule_slots(lead_id);\nALTER TABLE job_schedule_slots ADD COLUMN IF NOT EXISTS inbound_travel_minutes integer;\nALTER TABLE job_schedule_slots ADD COLUMN IF NOT EXISTS outbound_travel_minutes integer;\nALTER TABLE job_schedule_slots ADD COLUMN IF NOT EXISTS previous_schedule_slot_id text;\nALTER TABLE job_schedule_slots ADD COLUMN IF NOT EXISTS next_schedule_slot_id text;\nALTER TABLE job_schedule_slots ADD COLUMN IF NOT EXISTS route_context jsonb not null default '{}'::jsonb;\n\nINSERT INTO tradies (id, name, phone, email, home_suburb, active, licence_status, insurance_status, quote_accuracy_score, on_time_rate)\nVALUES ('TRD-DEFAULT-ELECTRICAL', 'Default Electrical Tradie', NULL, NULL, 'Melbourne', true, 'Not yet verified', 'Not yet verified', 90, 92)\nON CONFLICT (id) DO UPDATE SET active = true, updated_at = now();\n\nINSERT INTO tradie_skills (tradie_id, trade_type, skill_name, verified)\nSELECT 'TRD-DEFAULT-ELECTRICAL', 'electrical', 'General electrical', false\nWHERE NOT EXISTS (\n  SELECT 1 FROM tradie_skills WHERE tradie_id = 'TRD-DEFAULT-ELECTRICAL' AND trade_type = 'electrical'\n);\n\nINSERT INTO tradie_availability (tradie_id, day_of_week, start_time, end_time)\nSELECT 'TRD-DEFAULT-ELECTRICAL', day, '08:00'::time, '16:30'::time\nFROM generate_series(1, 5) AS day\nWHERE NOT EXISTS (\n  SELECT 1 FROM tradie_availability WHERE tradie_id = 'TRD-DEFAULT-ELECTRICAL'\n);\n\nWITH request AS (\n  SELECT\n    ${sql(leadId)}::text AS lead_id,\n    ${sql(quoteId)}::text AS quote_id,\n    ${sql(jobId)}::text AS job_id,\n    ${sql(tradeType)}::text AS trade_type,\n    ${sql(address)}::text AS customer_address,\n    ${sql(suburb)}::text AS customer_suburb,\n    ${sql(preferredTime)}::text AS preferred_time,\n    ${sql(preferredDate)}::date AS preferred_date,\n    ${durationMinutes}::integer AS estimated_duration_minutes,\n    ${sql(urgency)}::text AS urgency,\n    ${persistSchedule ? 'true' : 'false'}::boolean AS persist_schedule\n),\ncandidate_tradies AS (\n  SELECT\n    t.id AS tradie_id,\n    t.name AS tradie_name,\n    t.home_suburb,\n    t.quote_accuracy_score,\n    t.on_time_rate,\n    ts.trade_type,\n    ta.start_time,\n    ta.end_time,\n    r.*\n  FROM request r\n  JOIN tradie_skills ts ON lower(ts.trade_type) = lower(r.trade_type)\n  JOIN tradies t ON t.id = ts.tradie_id AND t.active = true\n  JOIN tradie_availability ta\n    ON ta.tradie_id = t.id\n   AND ta.active = true\n   AND ta.day_of_week = EXTRACT(DOW FROM r.preferred_date)::integer\n),\nexisting_slots AS (\n  SELECT\n    jss.tradie_id,\n    jsonb_agg(jsonb_build_object(\n      'slot_id', jss.id,\n      'scheduled_start', jss.scheduled_start,\n      'scheduled_end', jss.scheduled_end,\n      'customer_suburb', jss.customer_suburb,\n      'estimated_travel_minutes', jss.estimated_travel_minutes\n    ) ORDER BY jss.scheduled_start) AS slots\n  FROM job_schedule_slots jss\n  JOIN request r ON (jss.scheduled_start AT TIME ZONE 'Australia/Sydney')::date = r.preferred_date\n  WHERE jss.status NOT IN ('cancelled', 'declined')\n  GROUP BY jss.tradie_id\n)\nSELECT\n  ct.*,\n  COALESCE(es.slots, '[]'::jsonb) AS existing_slots\nFROM candidate_tradies ct\nLEFT JOIN existing_slots es ON es.tradie_id = ct.tradie_id;\n`;\n\nreturn [{ json: { lead_id: leadId, quote_id: quoteId, job_id: jobId, preferred_date: preferredDate, preferred_time: preferredTime, estimated_duration_minutes: durationMinutes, customer_address: address, customer_suburb: suburb, trade_type: tradeType, urgency, persist_schedule: persistSchedule, sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Read Schedule Candidates", "id": "fee6d9b2-dd09-4f01-9468-d31981104981", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Optimise Tradie Schedule", "id": "4f10f34d-316e-4139-9a05-837a0a8e5ac3", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const rows = items.map((item) => item.json);\n\nfunction normaliseSuburb(value) {\n  return String(value || '').trim().toLowerCase();\n}\n\nfunction travelMinutes(fromSuburb, toSuburb) {\n  const from = normaliseSuburb(fromSuburb);\n  const to = normaliseSuburb(toSuburb);\n  if (!from || !to) return 35;\n  if (from === to) return 15;\n  if (from.includes(to) || to.includes(from)) return 20;\n  return 35;\n}\n\nfunction firstSunday(year, monthIndex) {\n  const d = new Date(Date.UTC(year, monthIndex, 1));\n  const day = d.getUTCDay();\n  const offset = (7 - day) % 7;\n  return 1 + offset;\n}\n\nfunction sydneyOffset(datePart) {\n  const [year, month, day] = String(datePart).split('-').map(Number);\n  const octStart = `${year}-10-${String(firstSunday(year, 9)).padStart(2, '0')}`;\n  const aprEnd = `${year}-04-${String(firstSunday(year, 3)).padStart(2, '0')}`;\n  const value = `${year}-${String(month).padStart(2, '0')}-${String(day).padStart(2, '0')}`;\n  const inDst = value >= octStart || value < aprEnd;\n  return inDst ? '+11:00' : '+10:00';\n}\n\nfunction parseDateTime(date, time) {\n  const datePart = String(date || '').slice(0, 10);\n  return new Date(`${datePart}T${time}${sydneyOffset(datePart)}`);\n}\n\nfunction formatLocal(date) {\n  return new Intl.DateTimeFormat('en-AU', {\n    timeZone: 'Australia/Sydney',\n    dateStyle: 'medium',\n    timeStyle: 'short',\n  }).format(date);\n}\n\nif (!rows.length || !rows[0].tradie_id) {\n  return [{\n    json: {\n      success: false,\n      status: 'No Tradie Available',\n      reason: 'No active tradie with matching skill and availability was found.',\n      missing_information: ['tradie_availability_or_skill'],\n    },\n  }];\n}\n\nconst candidates = [];\nfor (const row of rows) {\n  const date = row.preferred_date;\n  const duration = Number(row.estimated_duration_minutes || 120);\n  const availabilityStart = parseDateTime(date, row.start_time);\n  const availabilityEnd = parseDateTime(date, row.end_time);\n  const existing = Array.isArray(row.existing_slots) ? row.existing_slots : [];\n\n  const preferredText = String(row.preferred_time || '').toLowerCase();\n  const preferredHour = preferredText.includes('afternoon') || preferredText.includes('2') || preferredText.includes('14') ? 14 : preferredText.includes('morning') ? 9 : 10;\n  const preferredStart = parseDateTime(date, `${String(preferredHour).padStart(2, '0')}:00:00`);\n  const windowStart = preferredText.includes('afternoon') ? parseDateTime(date, '12:00:00') : preferredText.includes('morning') ? parseDateTime(date, '08:00:00') : availabilityStart;\n  const windowEnd = preferredText.includes('afternoon') ? parseDateTime(date, '16:30:00') : preferredText.includes('morning') ? parseDateTime(date, '12:30:00') : availabilityEnd;\n  const searchStart = new Date(Math.max(availabilityStart.getTime(), windowStart.getTime()));\n  const searchEnd = new Date(Math.min(availabilityEnd.getTime(), windowEnd.getTime()));\n  const sorted = existing\n    .map((slot) => ({\n      ...slot,\n      start: new Date(slot.scheduled_start),\n      end: new Date(slot.scheduled_end),\n    }))\n    .sort((a, b) => a.start - b.start);\n\n  for (let t = searchStart.getTime(); t + duration * 60000 <= availabilityEnd.getTime(); t += 15 * 60000) {\n    const slotStart = new Date(t);\n    const slotEnd = new Date(slotStart.getTime() + duration * 60000);\n    const overlaps = sorted.some((slot) => slotStart < slot.end && slotEnd > slot.start);\n    if (overlaps) continue;\n\n    const previous = [...sorted].reverse().find((slot) => slot.end <= slotStart);\n    const next = sorted.find((slot) => slot.start >= slotEnd);\n    const inboundFrom = previous?.customer_suburb || row.home_suburb;\n    const outboundTo = next?.customer_suburb || row.home_suburb;\n    const inboundTravel = travelMinutes(inboundFrom, row.customer_suburb);\n    const outboundTravel = travelMinutes(row.customer_suburb, outboundTo);\n    const hasInboundBuffer = previous ? slotStart.getTime() >= previous.end.getTime() + inboundTravel * 60000 : slotStart >= availabilityStart;\n    const hasOutboundBuffer = next ? slotEnd.getTime() + outboundTravel * 60000 <= next.start.getTime() : slotEnd <= availabilityEnd;\n    if (!hasInboundBuffer || !hasOutboundBuffer) continue;\n\n    const preferredPenalty = Math.abs(slotStart.getTime() - preferredStart.getTime()) / 60000 / 10;\n    const totalRouteTravel = inboundTravel + outboundTravel;\n    let score = 60;\n    score += Number(row.quote_accuracy_score || 0) * 0.18;\n    score += Number(row.on_time_rate || 0) * 0.18;\n    score -= totalRouteTravel * 0.45;\n    score -= preferredPenalty;\n    score -= existing.length * 3;\n    if (String(row.urgency).toLowerCase() === 'urgent') score += 10;\n    if (slotStart < searchStart || slotEnd > searchEnd) score -= 12;\n\n    candidates.push({\n      ...row,\n      feasible: true,\n      scheduled_start: slotStart.toISOString(),\n      scheduled_end: slotEnd.toISOString(),\n      estimated_travel_minutes: totalRouteTravel,\n      inbound_travel_minutes: inboundTravel,\n      outbound_travel_minutes: outboundTravel,\n      previous_schedule_slot_id: previous?.slot_id || '',\n      next_schedule_slot_id: next?.slot_id || '',\n      route_context: {\n        inbound_from_suburb: inboundFrom || '',\n        customer_suburb: row.customer_suburb || '',\n        outbound_to_suburb: outboundTo || '',\n        existing_jobs_on_day: existing.length,\n      },\n      scheduling_score: Math.round(score),\n      scheduling_reason: `Best route-aware fit based on ${row.tradie_name}'s ${row.trade_type} skill, preferred window, existing day plan, and ${totalRouteTravel} minutes estimated total travel around this job.`,\n    });\n  }\n}\n\nif (!candidates.length) {\n  const row = rows[0];\n  return [{\n    json: {\n      success: false,\n      status: 'No Feasible Slot',\n      lead_id: row.lead_id,\n      quote_id: row.quote_id,\n      job_id: row.job_id,\n      tradie_id: row.tradie_id,\n      tradie_name: row.tradie_name,\n      customer_address: row.customer_address,\n      customer_suburb: row.customer_suburb,\n      estimated_duration_minutes: Number(row.estimated_duration_minutes || 120),\n      scheduling_reason: 'George could not find a slot that fits availability, existing bookings, and travel buffers.',\n      missing_information: ['manual_schedule_review'],\n    },\n  }];\n}\n\nconst best = candidates.sort((a, b) => b.scheduling_score - a.scheduling_score)[0];\nconst slotId = `SCH-${new Date().getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`;\n\nreturn [{\n  json: {\n    success: best.feasible,\n    schedule_slot_id: slotId,\n    status: best.feasible ? 'Schedule Proposed' : 'No Feasible Slot',\n    lead_id: best.lead_id,\n    quote_id: best.quote_id,\n    job_id: best.job_id,\n    tradie_id: best.tradie_id,\n    tradie_name: best.tradie_name,\n    scheduled_start: best.scheduled_start,\n    scheduled_end: best.scheduled_end,\n    scheduled_start_local: formatLocal(new Date(best.scheduled_start)),\n    scheduled_end_local: formatLocal(new Date(best.scheduled_end)),\n    timezone: 'Australia/Sydney',\n    customer_address: best.customer_address,\n    customer_suburb: best.customer_suburb,\n    estimated_duration_minutes: Number(best.estimated_duration_minutes || 120),\n    estimated_travel_minutes: best.estimated_travel_minutes,\n    inbound_travel_minutes: best.inbound_travel_minutes,\n    outbound_travel_minutes: best.outbound_travel_minutes,\n    previous_schedule_slot_id: best.previous_schedule_slot_id,\n    next_schedule_slot_id: best.next_schedule_slot_id,\n    route_context: best.route_context,\n    persist_schedule: best.persist_schedule !== false,\n    scheduling_score: best.scheduling_score,\n    scheduling_reason: best.scheduling_reason,\n    alternatives: candidates.slice(1, 4),\n  },\n}];"}, "typeVersion": 2}, {"position": [1040, 0], "name": "Build Save Schedule SQL", "id": "f77bf02c-c18f-4b0f-bdc5-2c7bfa08a116", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const s = items[0]?.json ?? {};\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nfunction num(value) {\n  const parsed = Number.parseFloat(value);\n  return Number.isFinite(parsed) ? String(parsed) : 'NULL';\n}\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nif (!s.success) {\n  return [{ json: { ...s, sql: `INSERT INTO workflow_events (entity_type, entity_id, event_type, payload) VALUES ('schedule', ${sql(s.lead_id || 'unknown')}, 'schedule_failed', ${jsonSql(s)}); SELECT ${sql(s.status)} AS status;` } }];\n}\n\nif (s.persist_schedule === false) {\n  return [{ json: { ...s, sql: `SELECT ${jsonSql(s)} AS schedule_preview;` } }];\n}\n\nconst query = `\nINSERT INTO job_schedule_slots (\n  id, job_id, lead_id, quote_id, tradie_id, status, scheduled_start, scheduled_end,\n  customer_address, customer_suburb, estimated_duration_minutes, estimated_travel_minutes,\n  inbound_travel_minutes, outbound_travel_minutes, previous_schedule_slot_id, next_schedule_slot_id,\n  route_context, scheduling_score, scheduling_reason, updated_at\n)\nVALUES (\n  ${sql(s.schedule_slot_id)},\n  ${sql(s.job_id)},\n  ${sql(s.lead_id)},\n  ${sql(s.quote_id)},\n  ${sql(s.tradie_id)},\n  ${sql(s.status)},\n  ${sql(s.scheduled_start)}::timestamptz,\n  ${sql(s.scheduled_end)}::timestamptz,\n  ${sql(s.customer_address)},\n  ${sql(s.customer_suburb)},\n  ${num(s.estimated_duration_minutes)},\n  ${num(s.estimated_travel_minutes)},\n  ${num(s.inbound_travel_minutes)},\n  ${num(s.outbound_travel_minutes)},\n  ${sql(s.previous_schedule_slot_id)},\n  ${sql(s.next_schedule_slot_id)},\n  ${jsonSql(s.route_context)},\n  ${num(s.scheduling_score)},\n  ${sql(s.scheduling_reason)},\n  now()\n)\nON CONFLICT (id) DO UPDATE SET\n  status = EXCLUDED.status,\n  scheduled_start = EXCLUDED.scheduled_start,\n  scheduled_end = EXCLUDED.scheduled_end,\n  estimated_travel_minutes = EXCLUDED.estimated_travel_minutes,\n  inbound_travel_minutes = EXCLUDED.inbound_travel_minutes,\n  outbound_travel_minutes = EXCLUDED.outbound_travel_minutes,\n  previous_schedule_slot_id = EXCLUDED.previous_schedule_slot_id,\n  next_schedule_slot_id = EXCLUDED.next_schedule_slot_id,\n  route_context = EXCLUDED.route_context,\n  scheduling_score = EXCLUDED.scheduling_score,\n  scheduling_reason = EXCLUDED.scheduling_reason,\n  updated_at = now();\n\nUPDATE jobs\nSET status = 'Schedule Proposed',\n    scheduled_window = ${sql(`${s.scheduled_start} to ${s.scheduled_end}`)},\n    updated_at = now()\nWHERE id = ${sql(s.job_id)};\n\nINSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\nVALUES ('schedule', ${sql(s.schedule_slot_id)}, 'schedule_proposed', ${jsonSql(s)});\n\nSELECT ${sql(s.schedule_slot_id)} AS schedule_slot_id;\n`;\n\nreturn [{ json: { ...s, sql: query } }];"}, "typeVersion": 2}, {"position": [1300, 0], "name": "Save Schedule Proposal", "id": "fae3388b-a77a-4a6f-9a5a-0815078827b1", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [1560, 0], "name": "Respond Schedule", "id": "f601a005-2cf3-405f-bd8b-8c20d7a9ad24", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$node[\"Optimise Tradie Schedule\"].json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Optimise Tradie Schedule": {"main": [[{"node": "Build Save Schedule SQL", "type": "main", "index": 0}]]}, "Save Schedule Proposal": {"main": [[{"node": "Respond Schedule", "type": "main", "index": 0}]]}, "Build Candidate Schedule SQL": {"main": [[{"node": "Read Schedule Candidates", "type": "main", "index": 0}]]}, "Build Save Schedule SQL": {"main": [[{"node": "Save Schedule Proposal", "type": "main", "index": 0}]]}, "Schedule Booking Webhook": {"main": [[{"node": "Build Candidate Schedule SQL", "type": "main", "index": 0}]]}, "Read Schedule Candidates": {"main": [[{"node": "Optimise Tradie Schedule", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}