docs/tradie-import/TRADIE-ADMIN-001-Cleanup-Orphan-Schedule-Previews--Xi9UC1TZnMs1VxXh.json
{"name": "TRADIE-ADMIN-001-Cleanup-Orphan-Schedule-Previews", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Cleanup Orphan Schedule Previews Webhook", "id": "babc7ddc-39bd-47a5-aa24-48273601e0ab", "webhookId": "9db9cea3-d5ef-4008-a1ac-688c3cc6b5bf", "type": "n8n-nodes-base.webhook", "parameters": {"path": "admin/cleanup-orphan-schedule-previews", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Cleanup SQL", "id": "bab9ffb3-71b8-4c75-a50b-967a3d332c46", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const query = `\nWITH updated AS (\n  UPDATE job_schedule_slots\n  SET status = 'cancelled',\n      scheduling_reason = COALESCE(scheduling_reason, '') || ' Cancelled because it was an orphan preview hold from testing.',\n      updated_at = now()\n  WHERE lead_id IS NULL\n    AND status = 'Schedule Proposed'\n  RETURNING id, job_id, scheduled_start, scheduled_end, customer_suburb\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'cancelled_orphan_preview_count', (SELECT count(*) FROM updated),\n  'cancelled_slots', COALESCE((SELECT jsonb_agg(to_jsonb(updated)) FROM updated), '[]'::jsonb)\n) AS cleanup;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Cancel Orphan Schedule Previews", "id": "fdb51b40-984a-4fa8-bbe5-57ca8ad33fe3", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Cleanup", "id": "0f2a009c-b5e9-4abd-9259-af5a1ff6b34c", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.cleanup}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Cleanup Orphan Schedule Previews Webhook": {"main": [[{"node": "Build Cleanup SQL", "type": "main", "index": 0}]]}, "Cancel Orphan Schedule Previews": {"main": [[{"node": "Respond Cleanup", "type": "main", "index": 0}]]}, "Build Cleanup SQL": {"main": [[{"node": "Cancel Orphan Schedule Previews", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}