docs/tradie-import/TRADIE-SCHEDULE-033-George-Day-Plan-Tool--qStdbx8G9KhmSwFC.json
{"name": "TRADIE-SCHEDULE-033-George-Day-Plan-Tool", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "George Day Plan Webhook", "id": "13e4ab11-839c-42df-9b4f-0911454edbdf", "webhookId": "561e2f68-5c23-4c42-a348-e5e74a21eddf", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/george/day-plan", "responseMode": "responseNode", "options": {}, "httpMethod": "GET"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build George Day Plan SQL", "id": "0f7aa414-da3e-4f46-a3d5-4727441fad42", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst source = raw.query ?? raw.body ?? raw;\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction parseDate(value) {\n  const text = String(value || '').toLowerCase();\n  const iso = text.match(/\\d{4}-\\d{2}-\\d{2}/);\n  if (iso) return iso[0];\n  const now = new Date();\n  if (text.includes('tomorrow')) now.setDate(now.getDate() + 1);\n  return now.toISOString().slice(0, 10);\n}\n\nconst workDate = parseDate(source.work_date || source.date);\nconst tradieId = source.tradie_id || '';\n\nconst query = `\nWITH day_slots AS (\n  SELECT\n    ss.*,\n    t.name AS tradie_name,\n    (ss.scheduled_start AT TIME ZONE 'Australia/Sydney') AS scheduled_start_local,\n    (ss.scheduled_end AT TIME ZONE 'Australia/Sydney') AS scheduled_end_local\n  FROM job_schedule_slots ss\n  LEFT JOIN tradies t ON t.id = ss.tradie_id\n  WHERE (ss.scheduled_start AT TIME ZONE 'Australia/Sydney')::date = ${sql(workDate)}::date\n    AND (${sql(tradieId)} IS NULL OR ss.tradie_id = ${sql(tradieId)})\n    AND ss.status NOT IN ('cancelled', 'declined')\n),\nordered AS (\n  SELECT * FROM day_slots ORDER BY tradie_id, scheduled_start\n)\nSELECT jsonb_build_object(\n  'agent', 'George Foreman',\n  'success', true,\n  'work_date', ${sql(workDate)},\n  'tradie_id', ${sql(tradieId)},\n  'slot_count', (SELECT count(*) FROM ordered),\n  'estimated_total_travel_minutes', COALESCE((SELECT sum(estimated_travel_minutes) FROM ordered), 0),\n  'estimated_total_job_minutes', COALESCE((SELECT sum(estimated_duration_minutes) FROM ordered), 0),\n  'day_plan', COALESCE((\n    SELECT jsonb_agg(jsonb_build_object(\n      'schedule_slot_id', id,\n      'job_id', job_id,\n      'lead_id', lead_id,\n      'quote_id', quote_id,\n      'tradie_id', tradie_id,\n      'tradie_name', tradie_name,\n      'status', status,\n      'scheduled_start_local', scheduled_start_local,\n      'scheduled_end_local', scheduled_end_local,\n      'customer_suburb', customer_suburb,\n      'estimated_duration_minutes', estimated_duration_minutes,\n      'estimated_travel_minutes', estimated_travel_minutes,\n      'inbound_travel_minutes', inbound_travel_minutes,\n      'outbound_travel_minutes', outbound_travel_minutes,\n      'previous_schedule_slot_id', previous_schedule_slot_id,\n      'next_schedule_slot_id', next_schedule_slot_id,\n      'route_context', route_context,\n      'scheduling_score', scheduling_score,\n      'scheduling_reason', scheduling_reason\n    ) ORDER BY tradie_id, scheduled_start)\n    FROM ordered\n  ), '[]'::jsonb)\n) AS george_day_plan;\n`;\n\nreturn [{ json: { work_date: workDate, tradie_id: tradieId, sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Read George Day Plan", "id": "a9b2a3ee-f069-40f1-af67-fbaab9d881a0", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond George Day Plan", "id": "8fa5ef3c-2121-4615-b9f9-f90fb0b2147e", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.george_day_plan}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"George Day Plan Webhook": {"main": [[{"node": "Build George Day Plan SQL", "type": "main", "index": 0}]]}, "Read George Day Plan": {"main": [[{"node": "Respond George Day Plan", "type": "main", "index": 0}]]}, "Build George Day Plan SQL": {"main": [[{"node": "Read George Day Plan", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}