docs/tradie-import/TRADIE-SOCIAL-941-Mia-Social-Draft--lkrRB5uyPVwUKnRk.json
{"name": "TRADIE-SOCIAL-941-Mia-Social-Draft", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Mia Social Draft Webhook", "id": "74d7834a-d5b9-42de-b893-81699039751d", "webhookId": "fa23f0ae-cb25-4793-a1b5-bd0065cace0a", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/mia/social-draft", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Social Draft SQL", "id": "dfe46237-a9aa-40ce-bd37-6bc97c80aabf", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw.query ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    if (Array.isArray(value) && value.length === 0) continue;\n    return value;\n  }\n  return '';\n}\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\nfunction arrSql(values) {\n  const arr = Array.isArray(values) ? values : String(values || '').split(',').map(v => v.trim()).filter(Boolean);\n  if (!arr.length) return \"ARRAY[]::text[]\";\n  return `ARRAY[${arr.map(v => sql(v)).join(',')}]::text[]`;\n}\n\nconst now = new Date();\nconst jobId = first(body.job_id);\nconst invoiceId = first(body.invoice_id);\nconst leadId = first(body.lead_id);\nconst platforms = first(body.platforms, ['instagram', 'facebook']);\nconst approvedMediaUrls = first(body.approved_media_urls, body.media_urls, []);\nconst customerApproved = ['true', 'yes', 'approved'].includes(String(first(body.customer_approved, body.media_approved, false)).toLowerCase());\nconst internalApproved = ['true', 'yes', 'approved'].includes(String(first(body.internal_approved, false)).toLowerCase());\nconst campaignId = first(body.campaign_id, `SOC-${now.getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`);\n\nconst query = `\nWITH resolved AS (\n  SELECT\n    j.id AS job_id,\n    j.lead_id,\n    j.quote_id,\n    j.customer_id,\n    j.status AS job_status,\n    j.scheduled_window,\n    j.completed_at,\n    l.trade_type,\n    l.job_description,\n    l.address,\n    l.urgency,\n    c.name AS customer_name,\n    c.email AS customer_email,\n    i.id AS invoice_id,\n    i.status AS invoice_status,\n    i.amount AS invoice_amount\n  FROM jobs j\n  LEFT JOIN leads l ON l.id = j.lead_id\n  LEFT JOIN customers c ON c.id = j.customer_id\n  LEFT JOIN invoices i ON i.job_id = j.id\n  WHERE (${sql(jobId)} IS NOT NULL AND j.id = ${sql(jobId)})\n     OR (${sql(invoiceId)} IS NOT NULL AND i.id = ${sql(invoiceId)})\n     OR (${sql(leadId)} IS NOT NULL AND j.lead_id = ${sql(leadId)})\n  ORDER BY j.created_at DESC\n  LIMIT 1\n),\ncontent AS (\n  SELECT\n    ${sql(campaignId)} AS campaign_id,\n    r.*,\n    CASE\n      WHEN ${customerApproved}::boolean AND ${internalApproved}::boolean THEN 'approved_ready_to_schedule'\n      WHEN ${customerApproved}::boolean THEN 'internal_approval_required'\n      ELSE 'customer_media_approval_required'\n    END AS approval_status,\n    CASE\n      WHEN r.job_id IS NULL THEN 'blocked'\n      ELSE 'draft'\n    END AS campaign_status,\n    regexp_replace(COALESCE(r.address, 'local area'), '^.*?,\\\\s*', '') AS suburb_hint\n  FROM resolved r\n),\ncampaign_upsert AS (\n  INSERT INTO social_campaigns (id, job_id, lead_id, customer_id, campaign_type, status, approval_status, platforms, content)\n  SELECT\n    campaign_id,\n    job_id,\n    lead_id,\n    customer_id,\n    'completed_job_story',\n    campaign_status,\n    approval_status,\n    ${arrSql(platforms)},\n    jsonb_build_object(\n      'trade_type', trade_type,\n      'job_description', job_description,\n      'suburb_hint', suburb_hint,\n      'invoice_status', invoice_status,\n      'privacy_notes', ARRAY['No customer contact details', 'No exact street address', 'No faces or licence plates without explicit approval'],\n      'source_payload', ${jsonSql(body)}\n    )\n  FROM content\n  WHERE job_id IS NOT NULL\n  ON CONFLICT (id) DO UPDATE SET\n    status = EXCLUDED.status,\n    approval_status = EXCLUDED.approval_status,\n    platforms = EXCLUDED.platforms,\n    content = EXCLUDED.content,\n    updated_at = now()\n  RETURNING *\n),\nplatforms AS (\n  SELECT unnest(${arrSql(platforms)}) AS platform\n),\npost_upsert AS (\n  INSERT INTO social_posts (id, campaign_id, platform, status, caption, media_urls, customer_approved, approval_required, payload)\n  SELECT\n    'POST-' || campaign_upsert.id || '-' || platforms.platform,\n    campaign_upsert.id,\n    platforms.platform,\n    CASE WHEN campaign_upsert.approval_status = 'approved_ready_to_schedule' THEN 'ready_to_schedule' ELSE 'draft_approval_required' END,\n    'Completed ' || COALESCE(campaign_upsert.content->>'trade_type', 'trade') || ' job in ' || COALESCE(campaign_upsert.content->>'suburb_hint', 'the local area') || ': ' || COALESCE(campaign_upsert.content->>'job_description', 'customer job completed') || '. Clear scope, transparent pricing and a tidy finish. Need help from a trusted local tradie? Contact 1pacent.',\n    ${arrSql(approvedMediaUrls)},\n    ${customerApproved}::boolean,\n    true,\n    jsonb_build_object('generated_by', 'mia_social', 'draft_only', true, 'internal_approved', ${internalApproved}::boolean)\n  FROM campaign_upsert\n  CROSS JOIN platforms\n  ON CONFLICT (id) DO UPDATE SET\n    status = EXCLUDED.status,\n    caption = EXCLUDED.caption,\n    media_urls = EXCLUDED.media_urls,\n    customer_approved = EXCLUDED.customer_approved,\n    payload = EXCLUDED.payload,\n    updated_at = now()\n  RETURNING *\n),\ninsert_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  SELECT 'social_campaign', id, 'social_draft_created', to_jsonb(campaign_upsert)\n  FROM campaign_upsert\n),\ninsert_memory AS (\n  INSERT INTO agent_memory (agent_key, agent_name, job_id, memory_type, summary, payload)\n  SELECT\n    'mia_social',\n    'Mia',\n    job_id,\n    'social_draft',\n    'Mia drafted social content for completed job ' || job_id || ' with approval status ' || approval_status || '.',\n    to_jsonb(campaign_upsert)\n  FROM campaign_upsert\n)\nSELECT COALESCE(\n  (\n    SELECT jsonb_build_object(\n      'success', true,\n      'campaign_id', campaign_upsert.id,\n      'job_id', campaign_upsert.job_id,\n      'lead_id', campaign_upsert.lead_id,\n      'status', campaign_upsert.status,\n      'approval_status', campaign_upsert.approval_status,\n      'platforms', campaign_upsert.platforms,\n      'posts', COALESCE((SELECT jsonb_agg(to_jsonb(post_upsert)) FROM post_upsert), '[]'::jsonb),\n      'privacy_notes', campaign_upsert.content->'privacy_notes',\n      'next_action', CASE WHEN campaign_upsert.approval_status = 'approved_ready_to_schedule' THEN 'connect_meta_publish_or_schedule' ELSE campaign_upsert.approval_status END\n    )\n    FROM campaign_upsert\n    LIMIT 1\n  ),\n  jsonb_build_object('success', false, 'status', 'not_found', 'message', 'No completed job matched job_id, invoice_id, or lead_id.')\n) AS social_draft;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Social Draft", "id": "30fe58a3-7e9f-4c21-9f1a-34240b1025a6", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Prepare Social Approval Email", "id": "e7a2aba1-078f-4787-a016-924b4d0bf5ac", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const result = items[0]?.json?.social_draft || items[0]?.json || {};\nconst posts = Array.isArray(result.posts) ? result.posts : [];\nconst lines = [\n  `Mia social draft: ${result.campaign_id || 'not created'}`,\n  `Job: ${result.job_id || ''}`,\n  `Approval status: ${result.approval_status || result.status || ''}`,\n  '',\n  'Draft captions:',\n  ...posts.map((p, i) => `${i + 1}. ${p.platform}: ${p.caption}`),\n  '',\n  'Privacy notes:',\n  ...(Array.isArray(result.privacy_notes) ? result.privacy_notes.map(n => `- ${n}`) : ['- Approval and privacy review required.']),\n  '',\n  `Next action: ${result.next_action || 'review draft'}`\n];\nreturn [{ json: { ...result, internal_subject: `Mia social draft ${result.campaign_id || ''}`, internal_message: lines.join('\\n') } }];"}, "typeVersion": 2}, {"position": [1040, -120], "name": "Email Internal Social Draft", "id": "4b0e4127-1816-4e6f-ab74-d77d3c44d16d", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "={{$json.internal_subject}}", "sendTo": "admin@1pacent.com", "emailType": "text", "options": {}, "message": "={{$json.internal_message}}"}, "typeVersion": 2.2, "webhookId": "9776a76c-ea57-4e42-9217-12c50c0ac6c7"}, {"position": [1040, 120], "name": "Respond Social Draft", "id": "8ba4fe0f-e5ac-468c-8519-885e4c11ae05", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ { success: $json.success, campaign_id: $json.campaign_id, job_id: $json.job_id, status: $json.status, approval_status: $json.approval_status, posts: $json.posts, next_action: $json.next_action, privacy_notes: $json.privacy_notes } }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Mia Social Draft Webhook": {"main": [[{"node": "Build Social Draft SQL", "type": "main", "index": 0}]]}, "Build Social Draft SQL": {"main": [[{"node": "Save Social Draft", "type": "main", "index": 0}]]}, "Save Social Draft": {"main": [[{"node": "Prepare Social Approval Email", "type": "main", "index": 0}]]}, "Prepare Social Approval Email": {"main": [[{"node": "Email Internal Social Draft", "type": "main", "index": 0}, {"node": "Respond Social Draft", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}