docs/tradie-import/TRADIE-RENTAL-106-Approve-Quote-Option-Lock-Slot--5V6t3jQcmjYOcpLb.json
{"name": "TRADIE-RENTAL-106-Approve-Quote-Option-Lock-Slot", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Approve Rental Quote Option Webhook", "id": "a509f5ca-cc37-4619-a03d-2f3d83028e1a", "webhookId": "3bbb84b3-0ead-4e53-ac3c-7703056998a5", "type": "n8n-nodes-base.webhook", "parameters": {"path": "rental/quote-options/approve", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Rental Quote Option Approval SQL", "id": "68299039-8d3e-439e-8179-f190516773fa", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\r\nconst body = raw.body ?? raw;\r\n\r\nfunction first(...values) {\r\n  for (const value of values) {\r\n    if (value === undefined || value === null) continue;\r\n    if (typeof value === 'string' && value.trim() === '') continue;\r\n    return value;\r\n  }\r\n  return '';\r\n}\r\nfunction sql(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  return `'${String(value).replace(/'/g, \"''\")}'`;\r\n}\r\nfunction jsonSql(value) {\r\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\r\n}\r\n\r\nconst approvalId = first(body.approval_id);\r\nconst optionId = first(body.option_id, body.selected_option_id);\r\nconst approver = first(body.approved_by, body.landlord_name, 'landlord');\r\nconst decisionNotes = first(body.decision_notes, 'Landlord approved quote option.');\r\n\r\nconst query = `\r\nWITH selected_option AS (\r\n  SELECT ro.*\r\n  FROM rental_quote_options ro\r\n  WHERE (${sql(optionId)} IS NOT NULL AND ro.id = ${sql(optionId)})\r\n     OR (${sql(optionId)} IS NULL AND ro.approval_id = ${sql(approvalId)})\r\n  ORDER BY ro.option_rank\r\n  LIMIT 1\r\n),\r\nwo AS (\r\n  SELECT wo.*\r\n  FROM work_orders wo\r\n  JOIN selected_option so ON so.work_order_id = wo.id\r\n  LIMIT 1\r\n),\r\nproperty_row AS (\r\n  SELECT rp.*\r\n  FROM rental_properties rp\r\n  JOIN wo ON wo.property_id = rp.id\r\n  LIMIT 1\r\n),\r\nmark_options AS (\r\n  UPDATE rental_quote_options ro\r\n  SET status = CASE WHEN ro.id = (SELECT id FROM selected_option) THEN 'approved_selected' ELSE 'not_selected' END,\r\n      updated_at = now()\r\n  WHERE ro.approval_id = ${sql(approvalId)}\r\n  RETURNING *\r\n),\r\napproval AS (\r\n  UPDATE landlord_approvals la\r\n  SET status = 'approved',\r\n      amount = (SELECT quote_amount FROM selected_option),\r\n      decision_notes = ${sql(decisionNotes)},\r\n      decided_at = now(),\r\n      payload = la.payload || jsonb_build_object(\r\n        'selected_option_id', (SELECT id FROM selected_option),\r\n        'approved_by', ${sql(approver)},\r\n        'approved_at', now()\r\n      ),\r\n      updated_at = now()\r\n  WHERE la.id = ${sql(approvalId)}\r\n  RETURNING *\r\n),\r\nschedule_slot AS (\r\n  INSERT INTO job_schedule_slots (\r\n    id, job_id, lead_id, quote_id, tradie_id, status, scheduled_start, scheduled_end,\r\n    customer_address, customer_suburb, estimated_duration_minutes, route_context,\r\n    scheduling_score, scheduling_reason, updated_at\r\n  )\r\n  SELECT\r\n    'SLOT-' || so.id,\r\n    wo.job_id,\r\n    wo.lead_id,\r\n    wo.quote_id,\r\n    so.tradie_id,\r\n    'booked_pending_tradie_confirmation',\r\n    so.scheduled_start,\r\n    so.scheduled_end,\r\n    rp.address,\r\n    rp.suburb,\r\n    GREATEST(30, EXTRACT(EPOCH FROM (so.scheduled_end - so.scheduled_start))::integer / 60),\r\n    jsonb_build_object(\r\n      'source', 'landlord_quote_option_approval',\r\n      'work_order_id', wo.id,\r\n      'approval_id', ${sql(approvalId)},\r\n      'tenant_availability_window_id', so.tenant_availability_window_id,\r\n      'approval_matched_tenant_and_tradie_availability', true\r\n    ),\r\n    so.total_score,\r\n    'Landlord approved one of three ranked options already matched to tenant availability and tradie availability.',\r\n    now()\r\n  FROM selected_option so\r\n  JOIN wo ON true\r\n  LEFT JOIN property_row rp ON true\r\n  ON CONFLICT (id) DO UPDATE SET\r\n    status = EXCLUDED.status,\r\n    scheduled_start = EXCLUDED.scheduled_start,\r\n    scheduled_end = EXCLUDED.scheduled_end,\r\n    route_context = EXCLUDED.route_context,\r\n    scheduling_score = EXCLUDED.scheduling_score,\r\n    scheduling_reason = EXCLUDED.scheduling_reason,\r\n    updated_at = now()\r\n  RETURNING *\r\n),\r\nupdate_work_order AS (\r\n  UPDATE work_orders\r\n  SET status = 'landlord_approved_scheduling_ready',\r\n      approval_status = 'landlord_approved_quote_option',\r\n      approval_required = false,\r\n      auto_approved = false,\r\n      estimated_amount = (SELECT quote_amount FROM selected_option),\r\n      scheduled_window = to_char((SELECT scheduled_start FROM selected_option) AT TIME ZONE 'Australia/Sydney', 'Dy DD Mon YYYY HH24:MI') || ' - ' || to_char((SELECT scheduled_end FROM selected_option) AT TIME ZONE 'Australia/Sydney', 'HH24:MI'),\r\n      payload = payload || jsonb_build_object(\r\n        'selected_quote_option_id', (SELECT id FROM selected_option),\r\n        'selected_schedule_slot_id', (SELECT id FROM schedule_slot),\r\n        'landlord_approval_id', ${sql(approvalId)}\r\n      ),\r\n      updated_at = now()\r\n  WHERE id = (SELECT work_order_id FROM selected_option)\r\n  RETURNING *\r\n),\r\ninsert_event AS (\r\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\r\n  SELECT 'work_order', id, 'landlord_quote_option_approved', jsonb_build_object(\r\n    'approval_id', ${sql(approvalId)},\r\n    'selected_option', (SELECT to_jsonb(selected_option) FROM selected_option),\r\n    'schedule_slot', (SELECT to_jsonb(schedule_slot) FROM schedule_slot)\r\n  )\r\n  FROM update_work_order\r\n)\r\nSELECT COALESCE(\r\n  (\r\n    SELECT jsonb_build_object(\r\n      'success', true,\r\n      'approval_id', ${sql(approvalId)},\r\n      'selected_option_id', so.id,\r\n      'work_order_id', so.work_order_id,\r\n      'quote_amount', so.quote_amount,\n      'tradie_id', so.tradie_id,\n      'company_id', so.company_id,\n      'trade_type', (SELECT trade_type FROM wo),\n      'job_type', (SELECT job_type FROM wo),\n      'approval_recipient_role', (SELECT payload->>'approval_recipient_role' FROM wo),\n      'property_scenario', (SELECT payload->>'property_scenario' FROM wo),\n      'scheduled_start', so.scheduled_start,\n      'scheduled_end', so.scheduled_end,\n      'schedule_slot_id', (SELECT id FROM schedule_slot),\r\n      'next_action', 'notify_tenant_and_tradie_then_create_calendar_event',\r\n      'message', 'Quote option approved and schedule slot locked for tenant/tradie confirmation.'\r\n    )\r\n    FROM selected_option so\r\n  ),\r\n  jsonb_build_object('success', false, 'message', 'No quote option matched the approval request.')\r\n) AS quote_option_approval_result;\r\n`;\r\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Approve Rental Quote Option", "id": "a73b94a1-f5d8-4d1d-9a06-c1df14f6abac", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Prepare George Calendar Booking Handoff", "id": "5590868e-2d3d-4834-b6ac-4273c635a9b2", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const approval = $('Approve Rental Quote Option').first().json?.quote_option_approval_result || $('Approve Rental Quote Option').first().json || {};\r\n\r\nif (!approval.success || !approval.schedule_slot_id) {\r\n  return [{\r\n    json: {\r\n      success: false,\r\n      status: 'calendar_handoff_skipped',\r\n      approval_result: approval,\r\n      customer_message: 'The quote option approval could not be handed to scheduling because no schedule slot was created.',\r\n    },\r\n  }];\r\n}\r\n\r\nreturn [{\r\n  json: {\r\n    schedule_slot_id: approval.schedule_slot_id,\r\n    job_id: approval.job_id || '',\r\n    lead_id: approval.lead_id || '',\r\n    quote_id: approval.quote_id || '',\n    company_id: approval.company_id || 'COMP-1PACENT-DEFAULT',\n    tradie_id: approval.tradie_id || '',\n    preferred_tradie_id: approval.tradie_id || '',\n    tradie_count: 1,\n    trade_type: approval.trade_type || 'general_maintenance',\n    job_type: approval.job_type || '',\n    calendar_id: approval.calendar_id || 'mac@1pacent.com',\n    source: approval.approval_recipient_role === 'owner'\n      ? 'owner_quote_option_approval'\n      : 'rental_landlord_quote_option_approval',\n    approval_recipient_role: approval.approval_recipient_role || 'landlord',\n    property_scenario: approval.property_scenario || 'rental',\n    approval_id: approval.approval_id,\n    selected_option_id: approval.selected_option_id,\r\n    work_order_id: approval.work_order_id,\r\n  },\r\n}];"}, "typeVersion": 2}, {"position": [1040, 0], "name": "Call George Calendar Booking", "id": "a648edbf-00f7-4439-afec-9bad2d6b0ff7", "type": "n8n-nodes-base.httpRequest", "continueOnFail": true, "parameters": {"specifyBody": "json", "sendBody": true, "options": {"timeout": 30000}, "method": "POST", "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json", "url": "http://localhost:5678/webhook/agents/george/calendar-book-job"}, "typeVersion": 4.2}, {"position": [1300, 0], "name": "Build Rental Notification Context SQL", "id": "472aa272-ef2b-4001-a453-fe3ed090ffdf", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const approval = $('Approve Rental Quote Option').first().json?.quote_option_approval_result || $('Approve Rental Quote Option').first().json || {};\r\nconst calendar = $('Call George Calendar Booking').first().json?.body || $('Call George Calendar Booking').first().json || {};\r\n\r\nfunction sql(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  return `'${String(value).replace(/'/g, \"''\")}'`;\r\n}\r\nfunction jsonSql(value) {\r\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\r\n}\r\n\r\nconst query = `\r\nWITH ctx AS (\r\n  SELECT\r\n    wo.id AS work_order_id,\r\n    wo.description,\r\n    wo.trade_type,\r\n    wo.job_type,\r\n    wo.urgency,\r\n    wo.estimated_amount,\r\n    wo.scheduled_window,\r\n    rp.address,\r\n    rp.suburb,\r\n    t.name AS tenant_name,\r\n    t.email AS tenant_email,\r\n    t.phone AS tenant_phone,\r\n    l.name AS landlord_name,\r\n    l.email AS landlord_email,\r\n    pm.name AS property_manager_name,\r\n    pm.email AS property_manager_email,\r\n    so.id AS selected_option_id,\r\n    so.quote_amount,\r\n    so.scheduled_start,\r\n    so.scheduled_end,\r\n    so.tradie_id,\r\n    tr.name AS tradie_name,\r\n    tr.email AS tradie_email,\r\n    tr.phone AS tradie_phone,\r\n    so.company_id,\r\n    tc.name AS company_name\r\n  FROM work_orders wo\r\n  LEFT JOIN rental_properties rp ON rp.id = wo.property_id\r\n  LEFT JOIN tenants t ON t.id = wo.tenant_id\r\n  LEFT JOIN landlords l ON l.id = wo.landlord_id\r\n  LEFT JOIN property_managers pm ON pm.id = wo.property_manager_id\r\n  LEFT JOIN rental_quote_options so ON so.id = ${sql(approval.selected_option_id)}\r\n  LEFT JOIN tradies tr ON tr.id = so.tradie_id\r\n  LEFT JOIN tradie_companies tc ON tc.id = so.company_id\r\n  WHERE wo.id = ${sql(approval.work_order_id)}\r\n  LIMIT 1\r\n),\r\nevent AS (\r\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\r\n  SELECT 'work_order', work_order_id, 'rental_approval_calendar_notification_context_loaded', ${jsonSql({ approval, calendar })}\r\n  FROM ctx\r\n)\r\nSELECT jsonb_build_object(\r\n  'success', true,\r\n  'approval', ${jsonSql(approval)},\r\n  'calendar', ${jsonSql(calendar)},\r\n  'context', COALESCE((SELECT to_jsonb(ctx) FROM ctx), '{}'::jsonb)\r\n) AS notification_context;\r\n`;\r\n\r\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [1560, 0], "name": "Load Rental Notification Context", "id": "9f36e47b-2f86-4797-93ac-1074d626dd51", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [1820, 0], "name": "Build Rental Notification Emails", "id": "c268d90a-59fb-4e5b-bee8-10b763f199e3", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const row = items[0]?.json?.notification_context || items[0]?.json || {};\r\nconst approval = row.approval || {};\r\nconst calendar = row.calendar || {};\r\nconst ctx = row.context || {};\r\n\r\nfunction fmtDate(value) {\r\n  if (!value) return 'the approved time';\r\n  try {\r\n    return new Intl.DateTimeFormat('en-AU', {\r\n      timeZone: 'Australia/Sydney',\r\n      weekday: 'short',\r\n      day: '2-digit',\r\n      month: 'short',\r\n      year: 'numeric',\r\n      hour: '2-digit',\r\n      minute: '2-digit',\r\n    }).format(new Date(value));\r\n  } catch {\r\n    return String(value);\r\n  }\r\n}\r\nfunction money(value) {\r\n  const n = Number(value);\r\n  return Number.isFinite(n) ? `$${Math.round(n)}` : 'to be confirmed';\r\n}\r\nfunction add(list, role, to, subject, message) {\r\n  if (!to) return;\r\n  list.push({\r\n    json: {\r\n      role,\r\n      to,\r\n      subject,\r\n      message,\r\n      work_order_id: ctx.work_order_id || approval.work_order_id,\r\n      approval_id: approval.approval_id,\r\n      selected_option_id: approval.selected_option_id,\r\n      schedule_slot_id: approval.schedule_slot_id,\r\n    },\r\n  });\r\n}\r\n\r\nconst start = fmtDate(ctx.scheduled_start || approval.scheduled_start);\r\nconst end = fmtDate(ctx.scheduled_end || approval.scheduled_end);\r\nconst job = ctx.description || 'the approved maintenance job';\r\nconst address = [ctx.address, ctx.suburb].filter(Boolean).join(', ');\r\nconst amount = money(ctx.quote_amount || approval.quote_amount);\r\nconst tradie = ctx.tradie_name || approval.tradie_id || 'the assigned tradie';\r\nconst calendarStatus = calendar.success ? 'booked in the company calendar' : 'ready for calendar review';\r\nconst trackingUrl = `https://app.1pacent.com/job-status?work_order_id=${encodeURIComponent(ctx.work_order_id || approval.work_order_id || '')}`;\r\n\r\nconst emails = [];\r\n\r\nadd(\r\n  emails,\r\n  'tenant',\r\n  ctx.tenant_email,\r\n  `Maintenance appointment confirmed for ${start}`,\r\n  [\r\n    `Hi ${ctx.tenant_name || 'there'},`,\r\n    '',\r\n    `Your maintenance appointment has been approved and ${calendarStatus}.`,\r\n    '',\r\n    `Job: ${job}`,\r\n    `Property: ${address || 'your rental property'}`,\r\n    `Appointment: ${start} to ${end}`,\r\n    `Tradie: ${tradie}`,\r\n    '',\r\n    'Please make sure access is available during this window. If this no longer works, contact Sally as soon as possible.',\r\n    '',\r\n    `Track this job: ${trackingUrl}`,\r\n  ].join('\\n')\r\n);\r\n\r\nadd(\r\n  emails,\r\n  'tradie',\r\n  ctx.tradie_email,\r\n  `Approved rental maintenance job: ${ctx.work_order_id || approval.work_order_id}`,\r\n  [\r\n    `Hi ${ctx.tradie_name || 'there'},`,\r\n    '',\r\n    'A landlord-approved rental maintenance job has been assigned to you.',\r\n    '',\r\n    `Work order: ${ctx.work_order_id || approval.work_order_id}`,\r\n    `Job: ${job}`,\r\n    `Property: ${address || 'address to be confirmed'}`,\r\n    `Appointment: ${start} to ${end}`,\r\n    `Approved amount: ${amount}`,\r\n    '',\r\n    'Confirm final scope before work begins and record parts, labour, notes and evidence when complete.',\r\n  ].join('\\n')\r\n);\r\n\r\nadd(\r\n  emails,\r\n  'landlord',\r\n  ctx.landlord_email,\r\n  `Approved maintenance scheduled: ${ctx.work_order_id || approval.work_order_id}`,\r\n  [\r\n    `Hi ${ctx.landlord_name || 'there'},`,\r\n    '',\r\n    'Thanks, your selected maintenance option has been approved and moved to scheduling.',\r\n    '',\r\n    `Work order: ${ctx.work_order_id || approval.work_order_id}`,\r\n    `Job: ${job}`,\r\n    `Property: ${address || 'the rental property'}`,\r\n    `Approved amount: ${amount}`,\r\n    `Appointment: ${start} to ${end}`,\r\n    `Tradie: ${tradie}`,\r\n    '',\r\n    'The tradie will confirm final scope before work begins and completion evidence will be captured for your records.',\r\n  ].join('\\n')\r\n);\r\n\r\nadd(\r\n  emails,\r\n  'property_manager',\r\n  ctx.property_manager_email,\r\n  `Rental job approved and scheduled: ${ctx.work_order_id || approval.work_order_id}`,\r\n  [\r\n    `Hi ${ctx.property_manager_name || 'there'},`,\r\n    '',\r\n    'A landlord-approved maintenance option has been scheduled automatically.',\r\n    '',\r\n    `Work order: ${ctx.work_order_id || approval.work_order_id}`,\r\n    `Tenant: ${ctx.tenant_name || 'Tenant'}`,\r\n    `Landlord: ${ctx.landlord_name || 'Landlord'}`,\r\n    `Job: ${job}`,\r\n    `Property: ${address || 'address to be confirmed'}`,\r\n    `Approved amount: ${amount}`,\r\n    `Appointment: ${start} to ${end}`,\r\n    `Tradie: ${tradie}`,\r\n    `Calendar status: ${calendarStatus}`,\r\n    '',\r\n    'This avoided the normal tenant-tradie-landlord back-and-forth by approving a costed option already matched to tenant and tradie availability.',\r\n  ].join('\\n')\r\n);\r\n\r\nif (!emails.length) {\r\n  emails.push({\r\n    json: {\r\n      role: 'ops',\r\n      to: 'mac@1pacent.com',\r\n      subject: `Rental job scheduled but contacts missing: ${ctx.work_order_id || approval.work_order_id || 'work order'}`,\r\n      message: [\r\n        'A rental quote option was approved and scheduled, but no role emails were available on the demo records.',\r\n        '',\r\n        `Work order: ${ctx.work_order_id || approval.work_order_id || ''}`,\r\n        `Selected option: ${approval.selected_option_id || ''}`,\r\n        `Schedule slot: ${approval.schedule_slot_id || ''}`,\r\n        `Calendar status: ${calendar.success ? 'booked' : 'needs review'}`,\r\n      ].join('\\n'),\r\n      work_order_id: ctx.work_order_id || approval.work_order_id,\r\n      approval_id: approval.approval_id,\r\n      selected_option_id: approval.selected_option_id,\r\n      schedule_slot_id: approval.schedule_slot_id,\r\n    },\r\n  });\r\n}\r\n\r\nreturn emails;"}, "typeVersion": 2}, {"id": "6038f71b-9919-4059-93cc-2c333a8ed01e", "name": "Send Rental Approval Notifications", "type": "n8n-nodes-base.gmail", "continueOnFail": true, "typeVersion": 2.2, "parameters": {"subject": "={{$json.subject}}", "sendTo": "={{$json.to}}", "emailType": "text", "options": {}, "message": "={{$json.message}}"}, "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "position": [2080, 0], "webhookId": "45c5ceb9-0a60-4820-814f-0966747321e6"}, {"position": [2340, 0], "name": "Build Rental Notification Log SQL", "id": "83d66495-eb09-4b12-b9ad-16d6ebd9f241", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const preparedItems = $('Build Rental Notification Emails').all().map(item => item.json || {});\r\nconst sentItems = items.map(item => item.json || {});\r\nconst approval = $('Approve Rental Quote Option').first().json?.quote_option_approval_result || $('Approve Rental Quote Option').first().json || {};\r\nconst calendar = $('Call George Calendar Booking').first().json?.body || $('Call George Calendar Booking').first().json || {};\r\n\r\nfunction sql(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  return `'${String(value).replace(/'/g, \"''\")}'`;\r\n}\r\nfunction jsonSql(value) {\r\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\r\n}\r\n\r\nconst query = `\r\nINSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\r\nVALUES (\r\n  'work_order',\r\n  ${sql(approval.work_order_id)},\r\n  'rental_notifications_sent_after_landlord_approval',\r\n  ${jsonSql({ approval, calendar, notifications: preparedItems.map(i => ({ role: i.role, to: i.to, subject: i.subject })), gmail_results: sentItems.map(i => ({ id: i.id || null, threadId: i.threadId || null, error: i.error || null })) })}\r\n);\r\n\r\nSELECT jsonb_build_object(\r\n  'success', true,\r\n  'approval_result', ${jsonSql(approval)},\r\n  'calendar_booking_result', ${jsonSql(calendar)},\r\n  'notifications_sent', ${jsonSql(preparedItems.map(i => ({ role: i.role, to: i.to, subject: i.subject })))},\r\n  'gmail_results', ${jsonSql(sentItems.map(i => ({ id: i.id || null, threadId: i.threadId || null, error: i.error || null })))},\r\n  'next_action', 'monitor_tenant_tradie_confirmation_and_job_completion',\r\n  'message', 'Tenant, tradie, landlord and property manager notifications have been prepared and sent where email addresses are available.'\r\n) AS notification_result;\r\n`;\r\n\r\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [2600, 0], "name": "Log Rental Notifications", "id": "0418cebe-c418-4e2f-b064-a0e7d291abc4", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [2860, 0], "name": "Build Quote Option Approval Response", "id": "88584dd1-39c1-4762-bc4f-e27d810b6bee", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const approval = $('Approve Rental Quote Option').first().json?.quote_option_approval_result || $('Approve Rental Quote Option').first().json || {};\r\nconst calendar = $('Call George Calendar Booking').first().json || {};\r\nconst calendarBody = calendar.body || calendar;\r\nconst notificationLog = items[0]?.json?.notification_result || items[0]?.json || {};\r\n\r\nreturn [{\r\n  json: {\r\n    success: Boolean(approval.success),\r\n    approval_result: approval,\r\n    calendar_booking_result: calendarBody,\r\n    notification_result: notificationLog,\r\n    next_action: calendarBody?.success\r\n      ? 'notify_tenant_tradie_and_property_manager'\r\n      : 'calendar_booking_needs_review_then_notify',\r\n    message: calendarBody?.success\r\n      ? 'Landlord option approved, schedule slot locked, and George booked it into the company calendar.'\r\n      : 'Landlord option approved and schedule slot locked. Calendar booking needs review.',\r\n  },\r\n}];"}, "typeVersion": 2}, {"position": [3120, 0], "name": "Respond Rental Quote Option Approval", "id": "67b58155-afde-480e-9dc2-e6711acf782c", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Send Rental Approval Notifications": {"main": [[{"node": "Build Rental Notification Log SQL", "type": "main", "index": 0}]]}, "Approve Rental Quote Option": {"main": [[{"node": "Prepare George Calendar Booking Handoff", "type": "main", "index": 0}]]}, "Call George Calendar Booking": {"main": [[{"node": "Build Rental Notification Context SQL", "type": "main", "index": 0}]]}, "Build Rental Notification Log SQL": {"main": [[{"node": "Log Rental Notifications", "type": "main", "index": 0}]]}, "Prepare George Calendar Booking Handoff": {"main": [[{"node": "Call George Calendar Booking", "type": "main", "index": 0}]]}, "Load Rental Notification Context": {"main": [[{"node": "Build Rental Notification Emails", "type": "main", "index": 0}]]}, "Log Rental Notifications": {"main": [[{"node": "Build Quote Option Approval Response", "type": "main", "index": 0}]]}, "Approve Rental Quote Option Webhook": {"main": [[{"node": "Build Rental Quote Option Approval SQL", "type": "main", "index": 0}]]}, "Build Rental Notification Emails": {"main": [[{"node": "Send Rental Approval Notifications", "type": "main", "index": 0}]]}, "Build Rental Notification Context SQL": {"main": [[{"node": "Load Rental Notification Context", "type": "main", "index": 0}]]}, "Build Quote Option Approval Response": {"main": [[{"node": "Respond Rental Quote Option Approval", "type": "main", "index": 0}]]}, "Build Rental Quote Option Approval SQL": {"main": [[{"node": "Approve Rental Quote Option", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}