docs/tradie-import/TRADIE-RENTAL-110-Warranty-Repeat-Issue-Guard--MBHZlMQY8Ps7yRqd.json
{"name": "TRADIE-RENTAL-110-Warranty-Repeat-Issue-Guard", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Rental Warranty Review Webhook", "id": "e053e18a-6f3b-4de6-9f57-65f56226f83f", "webhookId": "2fd9c074-e564-4665-a9b4-40c29f8c4296", "type": "n8n-nodes-base.webhook", "parameters": {"path": "rental/warranty/review", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Rental Warranty Review SQL", "id": "2df0110d-c35c-400d-adeb-493950d546e3", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\r\nconst body = raw.body ?? raw;\r\n\r\nfunction first(...values) {\r\n  for (const value of values) {\r\n    if (value === undefined || value === null) continue;\r\n    if (typeof value === 'string' && value.trim() === '') continue;\r\n    return value;\r\n  }\r\n  return '';\r\n}\r\nfunction sql(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  return `'${String(value).replace(/'/g, \"''\")}'`;\r\n}\r\nfunction num(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\r\n  return Number.isFinite(n) ? String(n) : 'NULL';\r\n}\r\nfunction jsonSql(value) {\r\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\r\n}\r\nfunction signature(text) {\r\n  return String(text || '')\r\n    .toLowerCase()\r\n    .replace(/[^a-z0-9 ]+/g, ' ')\r\n    .split(/\\s+/)\r\n    .filter(w => w.length > 2 && !['the','and','for','with','needs','repair','replace','broken','faulty','issue','again'].includes(w))\r\n    .slice(0, 8)\r\n    .join(' ');\r\n}\r\n\r\nconst workOrderId = first(body.work_order_id);\r\nconst propertyId = first(body.property_id);\r\nconst tradeType = first(body.trade_type);\r\nconst jobType = first(body.job_type);\r\nconst description = first(body.description, body.job_description, body.issue);\r\nconst issueSignature = first(body.issue_signature, signature(description));\r\nconst lookbackDays = Math.max(7, Math.min(730, Number(first(body.lookback_days, 180)) || 180));\r\nconst warrantyDays = Math.max(7, Math.min(730, Number(first(body.default_warranty_days, 90)) || 90));\r\nconst reviewKey = first(body.review_key, `WREV-${new Date().getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`);\r\n\r\nconst query = `\r\nWITH target AS (\r\n  SELECT\r\n    wo.*,\r\n    COALESCE(${sql(propertyId)}, wo.property_id) AS resolved_property_id,\r\n    COALESCE(${sql(tradeType)}, wo.trade_type) AS resolved_trade_type,\r\n    COALESCE(${sql(jobType)}, wo.job_type) AS resolved_job_type,\r\n    COALESCE(${sql(description)}, wo.description) AS resolved_description,\r\n    ${sql(issueSignature)} AS issue_signature\r\n  FROM work_orders wo\r\n  WHERE (${sql(workOrderId)} IS NOT NULL AND wo.id = ${sql(workOrderId)})\r\n     OR (${sql(workOrderId)} IS NULL AND ${sql(propertyId)} IS NOT NULL AND wo.property_id = ${sql(propertyId)})\r\n  ORDER BY wo.created_at DESC\r\n  LIMIT 1\r\n),\r\nprior_work AS (\r\n  SELECT\r\n    prev.*,\r\n    rje.tradie_id AS evidence_tradie_id,\r\n    rje.final_amount,\r\n    rje.parts_used,\r\n    rje.created_at AS completed_at\r\n  FROM target t\r\n  JOIN work_orders prev\r\n    ON prev.property_id = t.resolved_property_id\r\n   AND prev.id <> t.id\r\n   AND prev.created_at >= now() - (${lookbackDays} || ' days')::interval\r\n  LEFT JOIN rental_job_evidence rje ON rje.work_order_id = prev.id\r\n  WHERE\r\n    lower(COALESCE(prev.trade_type, '')) = lower(COALESCE(t.resolved_trade_type, prev.trade_type, ''))\r\n    AND (\r\n      lower(COALESCE(prev.job_type, '')) = lower(COALESCE(t.resolved_job_type, prev.job_type, ''))\r\n      OR lower(COALESCE(prev.description, '')) LIKE '%' || split_part(t.issue_signature, ' ', 1) || '%'\r\n      OR lower(COALESCE(t.resolved_description, '')) LIKE '%' || split_part(lower(COALESCE(prev.description, '')), ' ', 1) || '%'\r\n    )\r\n),\r\nmatched_warranty AS (\r\n  SELECT wow.*\r\n  FROM target t\r\n  JOIN work_order_warranties wow\r\n    ON wow.property_id = t.resolved_property_id\r\n   AND wow.status = 'active'\r\n   AND now()::date <= COALESCE(wow.warranty_end, now()::date)\r\n   AND (wow.trade_type IS NULL OR lower(wow.trade_type) = lower(COALESCE(t.resolved_trade_type, '')))\r\n   AND (wow.job_type IS NULL OR lower(wow.job_type) = lower(COALESCE(t.resolved_job_type, '')))\r\n  ORDER BY wow.warranty_end DESC\r\n  LIMIT 1\r\n),\r\nimplicit_warranty AS (\r\n  SELECT\r\n    'AUTO-WARRANTY-' || pw.id AS warranty_key,\r\n    pw.id AS original_work_order_id,\r\n    pw.evidence_tradie_id AS tradie_id,\r\n    (pw.completed_at::date + (${warrantyDays} || ' days')::interval)::date AS warranty_end\r\n  FROM prior_work pw\r\n  WHERE pw.completed_at IS NOT NULL\r\n    AND pw.completed_at >= now() - (${warrantyDays} || ' days')::interval\r\n  ORDER BY pw.completed_at DESC\r\n  LIMIT 1\r\n),\r\nrepeat_stats AS (\r\n  SELECT\r\n    count(*)::integer AS repeat_count,\r\n    count(*) FILTER (WHERE completed_at >= now() - interval '30 days')::integer AS repeat_count_30d,\r\n    max(completed_at) AS last_completed_at,\r\n    COALESCE(\r\n      (SELECT warranty_key FROM matched_warranty),\r\n      (SELECT warranty_key FROM implicit_warranty)\r\n    ) AS matched_warranty_key,\r\n    COALESCE(\r\n      (SELECT tradie_id FROM matched_warranty),\r\n      (SELECT tradie_id FROM implicit_warranty),\r\n      (SELECT evidence_tradie_id FROM prior_work WHERE evidence_tradie_id IS NOT NULL ORDER BY completed_at DESC LIMIT 1)\r\n    ) AS previous_tradie_id\r\n  FROM prior_work\r\n),\r\ndecision AS (\r\n  SELECT\r\n    t.id AS work_order_id,\r\n    t.resolved_property_id AS property_id,\r\n    t.tenant_id,\r\n    t.resolved_trade_type AS trade_type,\r\n    t.resolved_job_type AS job_type,\r\n    t.issue_signature,\r\n    rs.repeat_count,\r\n    rs.repeat_count_30d,\r\n    rs.last_completed_at,\r\n    rs.matched_warranty_key,\r\n    rs.previous_tradie_id,\r\n    (rs.matched_warranty_key IS NOT NULL OR rs.repeat_count_30d > 0) AS warranty_candidate,\r\n    CASE\r\n      WHEN rs.matched_warranty_key IS NOT NULL THEN 'no_landlord_charge_until_warranty_scope_reviewed'\r\n      WHEN rs.repeat_count_30d > 0 THEN 'hold_duplicate_callout_fee_pending_repeat_issue_review'\r\n      ELSE 'standard_charge_policy'\r\n    END AS landlord_charge_recommendation,\r\n    CASE\r\n      WHEN rs.repeat_count >= 4 THEN 'higher_than_average_requests_review_property_condition_and_usage_neutrally'\r\n      WHEN rs.repeat_count >= 2 THEN 'repeat_issue_monitoring_recommended'\r\n      ELSE 'no_unusual_pattern_detected'\r\n    END AS tenant_responsibility_signal,\r\n    CASE\r\n      WHEN rs.matched_warranty_key IS NOT NULL OR rs.repeat_count_30d > 0 THEN 'route_to_previous_tradie_for_warranty_or_repeat_issue_review'\r\n      WHEN rs.repeat_count >= 4 THEN 'property_manager_review_before_charge_or_scope_expansion'\r\n      ELSE 'continue_standard_quote_and_schedule_flow'\r\n    END AS recommended_action\r\n  FROM target t\r\n  CROSS JOIN repeat_stats rs\r\n),\r\ninsert_review AS (\r\n  INSERT INTO repeat_issue_reviews (\r\n    review_key, work_order_id, property_id, tenant_id, trade_type, job_type,\r\n    issue_signature, repeat_count, warranty_candidate, matched_warranty_key,\r\n    previous_tradie_id, landlord_charge_recommendation, tenant_responsibility_signal,\r\n    recommended_action, status, payload\r\n  )\r\n  SELECT\r\n    ${sql(reviewKey)},\r\n    work_order_id,\r\n    property_id,\r\n    tenant_id,\r\n    trade_type,\r\n    job_type,\r\n    issue_signature,\r\n    repeat_count,\r\n    warranty_candidate,\r\n    matched_warranty_key,\r\n    previous_tradie_id,\r\n    landlord_charge_recommendation,\r\n    tenant_responsibility_signal,\r\n    recommended_action,\r\n    'reviewed',\r\n    jsonb_build_object(\r\n      'request', ${jsonSql(body)},\r\n      'last_completed_at', last_completed_at,\r\n      'repeat_count_30d', repeat_count_30d,\r\n      'lookback_days', ${lookbackDays},\r\n      'default_warranty_days', ${warrantyDays}\r\n    )\r\n  FROM decision\r\n  ON CONFLICT (review_key) DO UPDATE SET\r\n    repeat_count = EXCLUDED.repeat_count,\r\n    warranty_candidate = EXCLUDED.warranty_candidate,\r\n    matched_warranty_key = EXCLUDED.matched_warranty_key,\r\n    previous_tradie_id = EXCLUDED.previous_tradie_id,\r\n    landlord_charge_recommendation = EXCLUDED.landlord_charge_recommendation,\r\n    tenant_responsibility_signal = EXCLUDED.tenant_responsibility_signal,\r\n    recommended_action = EXCLUDED.recommended_action,\r\n    payload = EXCLUDED.payload\r\n  RETURNING *\r\n),\r\nupdate_work_order AS (\r\n  UPDATE work_orders wo\r\n  SET status = CASE\r\n      WHEN (SELECT warranty_candidate FROM insert_review) THEN 'warranty_review_required'\r\n      WHEN (SELECT repeat_count FROM insert_review) >= 4 THEN 'repeat_issue_property_manager_review'\r\n      ELSE wo.status\r\n    END,\r\n    approval_status = CASE\r\n      WHEN (SELECT warranty_candidate FROM insert_review) THEN 'warranty_or_repeat_issue_hold'\r\n      ELSE wo.approval_status\r\n    END,\r\n    approval_required = CASE\r\n      WHEN (SELECT warranty_candidate FROM insert_review) THEN false\r\n      ELSE wo.approval_required\r\n    END,\r\n    payload = wo.payload || jsonb_build_object(\r\n      'latest_warranty_review_key', ${sql(reviewKey)},\r\n      'warranty_candidate', (SELECT warranty_candidate FROM insert_review),\r\n      'matched_warranty_key', (SELECT matched_warranty_key FROM insert_review),\r\n      'previous_tradie_id', (SELECT previous_tradie_id FROM insert_review),\r\n      'landlord_charge_recommendation', (SELECT landlord_charge_recommendation FROM insert_review),\r\n      'tenant_responsibility_signal', (SELECT tenant_responsibility_signal FROM insert_review)\r\n    ),\r\n    updated_at = now()\r\n  WHERE wo.id = (SELECT work_order_id FROM insert_review)\r\n  RETURNING *\r\n),\r\ninsert_event AS (\r\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\r\n  SELECT 'work_order', work_order_id, 'warranty_repeat_issue_reviewed', to_jsonb(insert_review)\r\n  FROM insert_review\r\n)\r\nSELECT COALESCE(\r\n  (\r\n    SELECT jsonb_build_object(\r\n      'success', true,\r\n      'review_key', review_key,\r\n      'work_order_id', work_order_id,\r\n      'property_id', property_id,\r\n      'repeat_count', repeat_count,\r\n      'warranty_candidate', warranty_candidate,\r\n      'matched_warranty_key', matched_warranty_key,\r\n      'previous_tradie_id', previous_tradie_id,\r\n      'scheduling_constraint', CASE\r\n        WHEN warranty_candidate AND previous_tradie_id IS NOT NULL THEN 'previous_tradie_only'\r\n        WHEN warranty_candidate THEN 'warranty_review_before_new_tradie_assignment'\r\n        ELSE 'standard_scheduling'\r\n      END,\r\n      'landlord_charge_recommendation', landlord_charge_recommendation,\r\n      'tenant_responsibility_signal', tenant_responsibility_signal,\r\n      'recommended_action', recommended_action,\r\n      'next_action', CASE\r\n        WHEN warranty_candidate AND previous_tradie_id IS NOT NULL THEN 'route_to_previous_tradie_before_new_quote'\r\n        WHEN warranty_candidate THEN 'property_manager_review_warranty_before_charge'\r\n        WHEN repeat_count >= 4 THEN 'property_manager_review_repeat_pattern_neutrally'\r\n        ELSE 'continue_standard_flow'\r\n      END,\r\n      'customer_safe_language', CASE\r\n        WHEN repeat_count >= 4 THEN 'There have been several similar requests at this property, so the team should review the history and property condition before deciding responsibility.'\r\n        WHEN warranty_candidate THEN 'This may relate to recent work, so the team should check warranty coverage before any new landlord charge is approved.'\r\n        ELSE 'No warranty or unusual repeat pattern was detected.'\r\n      END\r\n    )\r\n    FROM insert_review\r\n    LIMIT 1\r\n  ),\r\n  jsonb_build_object('success', false, 'message', 'No work order matched warranty review input.')\r\n) AS warranty_review_result;\r\n`;\r\n\r\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Rental Warranty Review", "id": "1b9c3431-e075-42ad-947b-691d9359a4cb", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Rental Warranty Review", "id": "e62eb912-d178-4ac0-a53e-e71c28e133f6", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.warranty_review_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Rental Warranty Review SQL": {"main": [[{"node": "Save Rental Warranty Review", "type": "main", "index": 0}]]}, "Save Rental Warranty Review": {"main": [[{"node": "Respond Rental Warranty Review", "type": "main", "index": 0}]]}, "Rental Warranty Review Webhook": {"main": [[{"node": "Build Rental Warranty Review SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}