docs/tradie-import/TRADIE-PAYMENTS-060-Penny-Setup--HCH7Mc2MLG06xlvp.json
{"name": "TRADIE-PAYMENTS-060-Penny-Setup", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Penny Setup Webhook", "id": "362f5496-27fd-41ef-9122-2f651ad92107", "webhookId": "7da88122-f53b-4bb0-88ed-b8dacff0dbdf", "type": "n8n-nodes-base.webhook", "parameters": {"path": "payments/penny/setup", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Penny Setup SQL", "id": "95ce63eb-d22d-43f2-8e71-7dd38a11ef35", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const query = `\nCREATE TABLE IF NOT EXISTS payment_requests (\n  id text primary key,\n  invoice_id text references invoices(id),\n  job_id text references jobs(id),\n  quote_id text references quotes(id),\n  customer_id uuid references customers(id),\n  amount numeric,\n  currency text not null default 'AUD',\n  status text not null default 'payment_requested',\n  provider text not null default 'internal_placeholder',\n  payment_url text,\n  due_at timestamptz,\n  sent_at timestamptz,\n  paid_at timestamptz,\n  reminder_count integer not null default 0,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS payment_events (\n  id uuid primary key default gen_random_uuid(),\n  payment_request_id text references payment_requests(id),\n  invoice_id text references invoices(id),\n  event_type text not null,\n  provider text,\n  amount numeric,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now()\n);\n\nCREATE INDEX IF NOT EXISTS idx_payment_requests_invoice_id ON payment_requests(invoice_id);\nCREATE INDEX IF NOT EXISTS idx_payment_requests_status ON payment_requests(status, due_at);\nCREATE INDEX IF NOT EXISTS idx_payment_events_payment_request_id ON payment_events(payment_request_id, created_at DESC);\n\nINSERT INTO agent_definitions (agent_key, agent_name, agent_role, model_provider, model_name, active)\nVALUES ('penny', 'Penny', 'Payments, invoice collection and faster-cashflow AI agent', 'google_gemini', 'models/gemini-3.1-flash-lite', true)\nON CONFLICT (agent_key) DO UPDATE SET agent_name = EXCLUDED.agent_name, agent_role = EXCLUDED.agent_role, active = true, updated_at = now();\n\nINSERT INTO agent_business_rules (agent_key, rule_group, rule_order, rule_text, active)\nVALUES\n  ('penny', 'mission', 10, 'Penny owns payment requests, payment follow-up, payment status, and cashflow acceleration for tradie businesses.', true),\n  ('penny', 'customer_experience', 20, 'Payment requests must be clear, polite, mobile-friendly and linked to the completed job and invoice summary.', true),\n  ('penny', 'guardrails', 30, 'Never mark an invoice paid without a payment event or explicit authorised payment confirmation.', true),\n  ('penny', 'integrations', 40, 'Use internal placeholder payment links until Stripe or another payment provider is configured. Keep provider IDs separate from internal invoice and job IDs.', true)\nON CONFLICT DO NOTHING;\n\nINSERT INTO business_skills (\n  skill_key, skill_name, capability, category, description, best_practice, guardrails,\n  inputs, outputs, owner_agent_key, version, status, tags, source_type, usefulness_score\n)\nVALUES (\n  'skill_fast_payment_request',\n  'Fast Payment Request',\n  'Payments',\n  'payments',\n  'Send clear payment requests immediately after job completion and track payment speed.',\n  'Use job, invoice, amount, due date and customer contact details. Provide a mobile-friendly payment link and keep the tone polite and direct. Track sent_at, paid_at and days-to-pay.',\n  'Do not claim payment is complete until provider confirmation or authorised manual confirmation is received.',\n  '{\"required\":[\"invoice_id\",\"amount\",\"customer_email\"]}'::jsonb,\n  '{\"returns\":[\"payment_request_id\",\"payment_url\",\"status\",\"cashflow_metric\"]}'::jsonb,\n  'penny',\n  1,\n  'active',\n  ARRAY['payments','cashflow','invoice','customer_experience'],\n  'system_seed',\n  8\n)\nON CONFLICT (skill_key) DO UPDATE SET status = 'active', updated_at = now();\n\nINSERT INTO agent_skill_assignments (agent_key, skill_key, priority, active)\nVALUES ('penny', 'skill_fast_payment_request', 10, true)\nON CONFLICT (agent_key, skill_key) DO UPDATE SET priority = EXCLUDED.priority, active = true, updated_at = now();\n\nSELECT jsonb_build_object('success', true, 'agent_key', 'penny', 'note', 'Penny payments foundation is ready.') AS setup_result;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Setup Penny Payments", "id": "f95a2202-9d44-4cc2-a4eb-892e04898f9e", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Penny Setup", "id": "02ae3bb2-29cf-40cb-9073-1f838b2791c8", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.setup_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Penny Setup Webhook": {"main": [[{"node": "Build Penny Setup SQL", "type": "main", "index": 0}]]}, "Setup Penny Payments": {"main": [[{"node": "Respond Penny Setup", "type": "main", "index": 0}]]}, "Build Penny Setup SQL": {"main": [[{"node": "Setup Penny Payments", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}