docs/tradie-import/TRADIE-CORE-025-Authority-Documents-Qdrant-Hybrid-Search--1UNToNuKaPCnAgIp.json
{"name": "TRADIE-CORE-025-Authority-Documents-Qdrant-Hybrid-Search", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Authority Hybrid Search Webhook", "id": "86c827f8-7f54-46b2-a2bd-2acd0aa6e2c5", "webhookId": "32eb04dd-ea3e-462c-8422-6141fca7cab2", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/authority-documents/qdrant-hybrid/search", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Hybrid Search", "id": "9a9fc90a-86d7-49a1-a840-10cb329853d6", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const body = $json.body || $json || {};\nconst dims = 384;\nconst stop = new Set(['the','and','or','a','an','to','of','in','for','on','with','is','are','be','by','as','at','from','that','this','it','must','should','may','can']);\nfunction hash32(text, seed = 2166136261) {\n  let h = seed >>> 0;\n  for (let i = 0; i < String(text).length; i++) {\n    h ^= String(text).charCodeAt(i);\n    h = Math.imul(h, 16777619);\n  }\n  return h >>> 0;\n}\nfunction hashToken(token) {\n  return hash32(token) % dims;\n}\nfunction vector(text) {\n  const values = new Array(dims).fill(0);\n  const tokens = String(text || '').toLowerCase().match(/[a-z0-9]+/g) || [];\n  for (const token of tokens) {\n    if (token.length < 2 || stop.has(token)) continue;\n    values[hashToken(token)] += 1;\n    if (token.endsWith('ing') && token.length > 5) values[hashToken(token.slice(0, -3))] += 0.5;\n    if (token.endsWith('ed') && token.length > 4) values[hashToken(token.slice(0, -2))] += 0.5;\n    if (token.endsWith('s') && token.length > 3) values[hashToken(token.slice(0, -1))] += 0.5;\n  }\n  const norm = Math.sqrt(values.reduce((sum, n) => sum + n * n, 0)) || 1;\n  return values.map(n => Number((n / norm).toFixed(6)));\n}\n\nconst query = body.query || body.question || body.search || 'authority document compliance obligation';\nconst jurisdiction = body.jurisdiction || 'AU';\nconst industry = body.industry || 'all';\nconst tradeType = body.trade_type || '';\nconst limit = Math.min(Math.max(parseInt(body.limit || '8', 10) || 8, 1), 20);\nconst filterMust = [\n  { key: 'jurisdiction', match: { any: [jurisdiction, 'AU'] } }\n];\nif (industry && industry !== 'all') filterMust.push({ key: 'industry', match: { any: [industry, 'all'] } });\nif (tradeType) filterMust.push({ key: 'trade_type', match: { any: [tradeType, null] } });\n\nreturn [{\n  json: {\n    vector: vector(`${query}\\n${jurisdiction}\\n${industry}\\n${tradeType}`),\n    limit,\n    with_payload: true,\n    filter: { must: filterMust },\n    request: { query, jurisdiction, industry, trade_type: tradeType }\n  }\n}];"}, "typeVersion": 2}, {"position": [540, 0], "name": "Search Hybrid Collection", "id": "4a98e68a-e1e9-40d0-84e6-55f4426551e8", "type": "n8n-nodes-base.httpRequest", "continueOnFail": false, "parameters": {"specifyBody": "json", "sendBody": true, "options": {"timeout": 30000}, "method": "POST", "jsonBody": "={{ JSON.stringify({ vector: $json.vector, limit: $json.limit, with_payload: true, filter: $json.filter }) }}", "contentType": "json", "url": "http://qdrant:6333/collections/authority_documents_hybrid/points/search"}, "typeVersion": 4.2}, {"position": [800, 0], "name": "Format Hybrid Search", "id": "0a65e696-2ba9-4c6f-a5e8-6c9adbc53043", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = $input.first()?.json || {};\nconst result = raw.result || [];\nreturn [{\n  json: {\n    success: true,\n    retrieval_backend: 'qdrant_hybrid_hash_v1',\n    collection: 'authority_documents_hybrid',\n    request: raw.request || {},\n    count: Array.isArray(result) ? result.length : 0,\n    documents: (Array.isArray(result) ? result : []).map(point => ({\n      score: point.score,\n      authority_document_key: point.payload?.authority_document_key,\n      chunk_key: point.payload?.chunk_key,\n      document_title: point.payload?.document_title,\n      authority_name: point.payload?.authority_name,\n      jurisdiction: point.payload?.jurisdiction,\n      industry: point.payload?.industry,\n      trade_type: point.payload?.trade_type,\n      document_type: point.payload?.document_type,\n      current_version: point.payload?.current_version,\n      effective_from: point.payload?.effective_from,\n      source_url: point.payload?.source_url,\n      chunk_text: point.payload?.chunk_text,\n      risk_level: point.payload?.risk_level,\n      caution: 'Grounding reference only. Use source, jurisdiction, version, and effective date; do not present as legal advice.'\n    })),\n    next_upgrade: 'Replace qdrant_hybrid_hash_v1 vectors with managed semantic embeddings once an embeddings credential is available.'\n  }\n}];"}, "typeVersion": 2}, {"position": [1060, 0], "name": "Return Hybrid Search", "id": "f3f200d3-b651-40bf-9d05-79269d781f01", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ JSON.stringify($json) }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Authority Hybrid Search Webhook": {"main": [[{"node": "Build Hybrid Search", "type": "main", "index": 0}]]}, "Search Hybrid Collection": {"main": [[{"node": "Format Hybrid Search", "type": "main", "index": 0}]]}, "Format Hybrid Search": {"main": [[{"node": "Return Hybrid Search", "type": "main", "index": 0}]]}, "Build Hybrid Search": {"main": [[{"node": "Search Hybrid Collection", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}