docs/tradie-import/TRADIE-CORE-981-Message-Template-Render--Lit7vB2siuh9DqJG.json
{"name": "TRADIE-CORE-981-Message-Template-Render", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Message Template Render Webhook", "id": "8b61caaf-cb20-4fb7-8eca-9d266299f3b7", "webhookId": "a88cd0c1-ceae-4c45-b4ed-af3c2964df19", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/message-templates/render", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Template Render SQL", "id": "48eb2c09-f1f1-42db-a83d-b743ec09a4ec", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw.query ?? raw;\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\nconst templateKey = body.template_key || 'payment_request_email';\nconst payload = body.payload || body;\nconst tradeType = String(body.trade_type || payload.trade_type || '').toLowerCase();\nconst jobType = String(body.job_type || payload.job_type || payload.subcategory || '').toLowerCase();\nconst customerSegment = String(body.customer_segment || payload.customer_segment || '').toLowerCase();\nconst query = `\nWITH selected_template AS (\n  SELECT *\n  FROM message_templates\n  WHERE template_key = ${sql(templateKey)}\n    AND active = true\n    AND status = 'active'\n  ORDER BY version DESC\n  LIMIT 1\n),\nselected_variant AS (\n  SELECT *\n  FROM message_template_variants\n  WHERE template_key = ${sql(templateKey)}\n    AND active = true\n    AND status = 'active'\n    AND (trade_type IS NULL OR lower(trade_type) = ${sql(tradeType)})\n    AND (job_type IS NULL OR lower(job_type) = ${sql(jobType)})\n    AND (customer_segment IS NULL OR lower(customer_segment) = ${sql(customerSegment)})\n  ORDER BY\n    CASE WHEN trade_type IS NOT NULL THEN 1 ELSE 0 END +\n    CASE WHEN job_type IS NOT NULL THEN 1 ELSE 0 END +\n    CASE WHEN customer_segment IS NOT NULL THEN 1 ELSE 0 END DESC,\n    priority ASC,\n    version DESC\n  LIMIT 1\n),\nusage_event AS (\n  INSERT INTO message_template_usage_events (template_key, variant_key, version, owner_agent_key, entity_type, entity_id, channel, outcome, payload)\n  SELECT\n    st.template_key,\n    COALESCE((SELECT variant_key FROM selected_variant), 'default'),\n    COALESCE((SELECT version FROM selected_variant), st.version),\n    st.owner_agent_key,\n    ${sql(payload.entity_type || payload.source_entity_type || '')},\n    ${sql(payload.entity_id || payload.invoice_id || payload.job_id || payload.lead_id || '')},\n    st.channel,\n    'rendered',\n    ${jsonSql(payload)}\n  FROM selected_template st\n)\nSELECT COALESCE(\n  (\n    SELECT jsonb_build_object(\n      'success', true,\n      'template_key', st.template_key,\n      'template_name', st.template_name,\n      'owner_agent_key', st.owner_agent_key,\n      'channel', st.channel,\n      'version', COALESCE(sv.version, st.version),\n      'variant_key', COALESCE(sv.variant_key, 'default'),\n      'trade_type', sv.trade_type,\n      'job_type', sv.job_type,\n      'customer_segment', sv.customer_segment,\n      'subject_template', COALESCE(sv.subject_template, st.subject_template),\n      'body_template', COALESCE(sv.body_template, st.body_template),\n      'variables_schema', COALESCE(sv.variables_schema, st.variables_schema)\n    )\n    FROM selected_template st\n    LEFT JOIN selected_variant sv ON true\n  ),\n  jsonb_build_object('success', false, 'status', 'not_found', 'template_key', ${sql(templateKey)})\n) AS template_render;\n`;\nreturn [{ json: { sql: query, payload } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Load Message Template", "id": "07ab6429-1d16-4fcd-89a4-8cc527688a92", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Apply Template Variables", "id": "e1b9d005-7b31-452b-b550-5f906b67cb4a", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const row = items[0]?.json?.template_render || items[0]?.json || {};\nconst payload = $('Build Template Render SQL').first().json.payload || {};\nfunction valueFor(path) {\n  return path.split('.').reduce((acc, key) => acc && acc[key] !== undefined ? acc[key] : '', payload);\n}\nfunction render(text) {\n  return String(text || '').replace(/\\{\\{\\s*([a-zA-Z0-9_.-]+)\\s*\\}\\}/g, (_, key) => {\n    const value = valueFor(key);\n    return value === undefined || value === null ? '' : String(value);\n  });\n}\nreturn [{\n  json: {\n    ...row,\n    payload,\n    subject: render(row.subject_template),\n    body: render(row.body_template),\n  },\n}];"}, "typeVersion": 2}, {"position": [1040, 0], "name": "Respond Message Template Render", "id": "3a402be0-d0c1-4189-8856-ccf71b22672d", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Template Render SQL": {"main": [[{"node": "Load Message Template", "type": "main", "index": 0}]]}, "Apply Template Variables": {"main": [[{"node": "Respond Message Template Render", "type": "main", "index": 0}]]}, "Load Message Template": {"main": [[{"node": "Apply Template Variables", "type": "main", "index": 0}]]}, "Message Template Render Webhook": {"main": [[{"node": "Build Template Render SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}