docs/tradie-import/TRADIE-RENTAL-100-Property-Management-Setup--LFSjmh2XItz7iSF6.json
{"name": "TRADIE-RENTAL-100-Property-Management-Setup", "description": null, "active": false, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Rental Foundation Setup Webhook", "id": "51772c64-64af-4b3f-8181-622ed9fdc1be", "webhookId": "9100783e-d31d-4356-a395-44750de97c1b", "type": "n8n-nodes-base.webhook", "parameters": {"path": "rental/setup", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Rental Foundation SQL", "id": "a20c0496-492a-4f18-9319-741a392e2b02", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const query = `\r\nCREATE TABLE IF NOT EXISTS agencies (\r\n  id text primary key,\r\n  name text not null,\r\n  abn text,\r\n  primary_email text,\r\n  primary_phone text,\r\n  plan_key text not null default 'starter',\r\n  property_count integer not null default 0,\r\n  active boolean not null default true,\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS property_managers (\r\n  id text primary key,\r\n  agency_id text references agencies(id),\r\n  name text not null,\r\n  email text,\r\n  phone text,\r\n  approval_limit numeric not null default 300,\r\n  active boolean not null default true,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS landlords (\r\n  id text primary key,\r\n  name text not null,\r\n  email text,\r\n  phone text,\r\n  default_approval_limit numeric not null default 300,\r\n  prefers_auto_approval boolean not null default false,\r\n  active boolean not null default true,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS tenants (\r\n  id text primary key,\r\n  name text not null,\r\n  email text,\r\n  phone text,\r\n  preferred_contact_channel text not null default 'email',\r\n  feedback_score numeric,\r\n  active boolean not null default true,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS rental_properties (\r\n  id text primary key,\r\n  agency_id text references agencies(id),\r\n  property_manager_id text references property_managers(id),\r\n  landlord_id text references landlords(id),\r\n  address text not null,\r\n  suburb text,\r\n  state text not null default 'VIC',\r\n  postcode text,\r\n  bedrooms integer,\r\n  bathrooms integer,\r\n  access_notes text,\r\n  compliance_status text not null default 'not_assessed',\r\n  active boolean not null default true,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS tenancies (\r\n  id text primary key,\r\n  property_id text references rental_properties(id),\r\n  tenant_id text references tenants(id),\r\n  lease_start date,\r\n  lease_end date,\r\n  status text not null default 'active',\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS approval_rules (\r\n  id uuid primary key default gen_random_uuid(),\r\n  agency_id text references agencies(id),\r\n  landlord_id text references landlords(id),\r\n  property_id text references rental_properties(id),\r\n  trade_type text,\r\n  job_type text,\r\n  threshold_amount numeric not null default 300,\r\n  auto_approve_compliance boolean not null default false,\r\n  auto_approve_emergency boolean not null default true,\r\n  requires_landlord_approval boolean not null default true,\r\n  contract_reference text,\r\n  active boolean not null default true,\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS work_orders (\r\n  id text primary key,\r\n  agency_id text references agencies(id),\r\n  property_id text references rental_properties(id),\r\n  tenancy_id text references tenancies(id),\r\n  tenant_id text references tenants(id),\r\n  landlord_id text references landlords(id),\r\n  property_manager_id text references property_managers(id),\r\n  lead_id text references leads(id),\r\n  job_id text,\r\n  quote_id text,\r\n  source text not null default 'sally',\r\n  category text not null default 'maintenance',\r\n  trade_type text,\r\n  job_type text,\r\n  description text not null,\r\n  urgency text not null default 'normal',\r\n  status text not null default 'triaged',\r\n  indicative_price_band text,\r\n  estimated_amount numeric,\r\n  approval_status text not null default 'pending_triage',\r\n  approval_required boolean not null default true,\r\n  auto_approved boolean not null default false,\r\n  tenant_preferred_time text,\r\n  scheduled_window text,\r\n  tenant_access_confirmed boolean not null default false,\r\n  compliance_required boolean not null default false,\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS tradie_commercial_terms (\r\n  id uuid primary key default gen_random_uuid(),\r\n  tradie_id text references tradies(id),\r\n  company_id text references tradie_companies(id),\r\n  trade_type text,\r\n  job_type text,\r\n  standard_callout_fee numeric,\r\n  emergency_callout_fee numeric,\r\n  hourly_rate numeric,\r\n  minimum_labour_minutes integer,\r\n  labour_warranty_days integer not null default 90,\r\n  parts_warranty_policy text not null default 'manufacturer_or_supplier_warranty_plus_acl_consumer_guarantees',\r\n  parts_warranty_days integer,\r\n  can_discount boolean not null default true,\r\n  callout_waiver_policy text,\r\n  sally_discount_instructions text,\r\n  effective_from date not null default current_date,\r\n  effective_to date,\r\n  active boolean not null default true,\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS tradie_job_offer_overrides (\r\n  id uuid primary key default gen_random_uuid(),\r\n  tradie_id text references tradies(id),\r\n  work_order_id text,\r\n  quote_option_id text,\r\n  callout_fee_override numeric,\r\n  discount_amount numeric,\r\n  discount_percent numeric,\r\n  labour_warranty_days_override integer,\r\n  parts_warranty_policy_override text,\r\n  sally_instruction_override text,\r\n  reason text,\r\n  expires_at timestamptz,\r\n  status text not null default 'active',\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS work_order_warranties (\r\n  id uuid primary key default gen_random_uuid(),\r\n  warranty_key text not null unique,\r\n  original_work_order_id text references work_orders(id),\r\n  job_id text,\r\n  quote_option_id text,\r\n  tradie_id text references tradies(id),\r\n  property_id text references rental_properties(id),\r\n  trade_type text,\r\n  job_type text,\r\n  part_sku text,\r\n  part_description text,\r\n  warranty_type text not null default 'workmanship_and_parts',\r\n  commercial_terms_id uuid,\r\n  labour_warranty_days integer,\r\n  parts_warranty_days integer,\r\n  consumer_guarantee_reference_keys text[] not null default '{}',\r\n  warranty_start date,\r\n  warranty_end date,\r\n  warranty_terms text,\r\n  callout_fee_policy text,\r\n  landlord_charge_policy text not null default 'no_charge_if_same_issue_within_warranty',\r\n  status text not null default 'active',\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS repeat_issue_reviews (\r\n  id uuid primary key default gen_random_uuid(),\r\n  review_key text not null unique,\r\n  work_order_id text references work_orders(id),\r\n  property_id text references rental_properties(id),\r\n  tenant_id text references tenants(id),\r\n  trade_type text,\r\n  job_type text,\r\n  issue_signature text,\r\n  repeat_count integer not null default 0,\r\n  warranty_candidate boolean not null default false,\r\n  matched_warranty_key text references work_order_warranties(warranty_key),\r\n  previous_tradie_id text references tradies(id),\r\n  landlord_charge_recommendation text,\r\n  tenant_responsibility_signal text,\r\n  recommended_action text,\r\n  status text not null default 'reviewed',\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS landlord_approvals (\r\n  id text primary key,\r\n  work_order_id text references work_orders(id),\r\n  landlord_id text references landlords(id),\r\n  approval_type text not null default 'quote',\r\n  amount numeric,\r\n  status text not null default 'pending',\r\n  approval_url text,\r\n  decision_notes text,\r\n  decided_at timestamptz,\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS tenant_availability_windows (\r\n  id uuid primary key default gen_random_uuid(),\r\n  work_order_id text references work_orders(id),\r\n  tenant_id text references tenants(id),\r\n  window_start timestamptz,\r\n  window_end timestamptz,\r\n  preference_rank integer not null default 1,\r\n  access_notes text,\r\n  status text not null default 'offered',\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS rental_quote_options (\r\n  id text primary key,\r\n  batch_id text not null,\r\n  work_order_id text references work_orders(id),\r\n  landlord_id text references landlords(id),\r\n  tenant_id text references tenants(id),\r\n  tenant_availability_window_id uuid references tenant_availability_windows(id),\r\n  tradie_id text references tradies(id),\r\n  company_id text references tradie_companies(id),\r\n  option_rank integer not null default 1,\r\n  quote_amount numeric,\r\n  quote_band text,\r\n  scheduled_start timestamptz,\r\n  scheduled_end timestamptz,\r\n  urgency text,\r\n  trust_score numeric,\r\n  cost_score numeric,\r\n  availability_score numeric,\r\n  total_score numeric,\r\n  status text not null default 'proposed',\r\n  approval_id text,\r\n  approval_url text,\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS rental_confirmation_events (\r\n  id uuid primary key default gen_random_uuid(),\r\n  work_order_id text references work_orders(id),\r\n  quote_option_id text references rental_quote_options(id),\r\n  schedule_slot_id text references job_schedule_slots(id),\r\n  actor_type text not null,\r\n  actor_id text,\r\n  confirmation_status text not null,\r\n  response_channel text not null default 'webhook',\r\n  response_due_at timestamptz,\r\n  responded_at timestamptz not null default now(),\r\n  fallback_triggered boolean not null default false,\r\n  fallback_quote_option_id text references rental_quote_options(id),\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS rental_job_evidence (\r\n  id uuid primary key default gen_random_uuid(),\r\n  work_order_id text references work_orders(id),\r\n  job_id text,\r\n  quote_option_id text references rental_quote_options(id),\r\n  tradie_id text references tradies(id),\r\n  evidence_type text not null default 'completion',\r\n  before_photo_urls text[] not null default '{}',\r\n  after_photo_urls text[] not null default '{}',\r\n  certificate_urls text[] not null default '{}',\r\n  parts_used jsonb not null default '[]'::jsonb,\r\n  labour_hours numeric,\r\n  travel_minutes integer,\r\n  final_amount numeric,\r\n  completion_notes text,\r\n  variance_reason text,\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS tenant_feedback (\r\n  id uuid primary key default gen_random_uuid(),\r\n  work_order_id text references work_orders(id),\r\n  tenant_id text references tenants(id),\r\n  tradie_id text references tradies(id),\r\n  rating integer check (rating between 1 and 5),\r\n  access_experience_score integer check (access_experience_score between 1 and 5),\r\n  communication_score integer check (communication_score between 1 and 5),\r\n  completion_score integer check (completion_score between 1 and 5),\r\n  comments text,\r\n  trust_signal jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS compliance_requirements (\r\n  id uuid primary key default gen_random_uuid(),\r\n  property_id text references rental_properties(id),\r\n  requirement_type text not null,\r\n  jurisdiction text not null default 'VIC',\r\n  frequency_months integer,\r\n  due_date date,\r\n  status text not null default 'due',\r\n  upsell_eligible boolean not null default true,\r\n  package_key text,\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS compliance_legislation_sources (\r\n  id uuid primary key default gen_random_uuid(),\r\n  jurisdiction text not null,\r\n  source_key text not null unique,\r\n  source_name text not null,\r\n  source_url text not null,\r\n  legislation_reference text,\r\n  legislation_version text,\r\n  effective_from date,\r\n  effective_to date,\r\n  verified_at timestamptz not null default now(),\r\n  verified_by text not null default 'codex',\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS consumer_guarantee_references (\r\n  id uuid primary key default gen_random_uuid(),\r\n  jurisdiction text not null default 'AU',\r\n  guarantee_key text not null unique,\r\n  source_name text not null,\r\n  source_url text not null,\r\n  legislation_reference text,\r\n  legislation_version text,\r\n  guarantee_type text not null,\r\n  applies_to text not null,\r\n  summary text not null,\r\n  operational_rule text,\r\n  effective_from date,\r\n  effective_to date,\r\n  verified_at timestamptz not null default now(),\r\n  verified_by text not null default 'codex',\r\n  status text not null default 'active',\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nALTER TABLE work_order_warranties ADD COLUMN IF NOT EXISTS commercial_terms_id uuid;\r\nALTER TABLE work_order_warranties ADD COLUMN IF NOT EXISTS labour_warranty_days integer;\r\nALTER TABLE work_order_warranties ADD COLUMN IF NOT EXISTS parts_warranty_days integer;\r\nALTER TABLE work_order_warranties ADD COLUMN IF NOT EXISTS consumer_guarantee_reference_keys text[] not null default '{}';\r\nALTER TABLE work_order_warranties ADD COLUMN IF NOT EXISTS callout_fee_policy text;\r\nCREATE TABLE IF NOT EXISTS compliance_requirement_catalogue (\r\n  id uuid primary key default gen_random_uuid(),\r\n  requirement_key text not null unique,\r\n  jurisdiction text not null,\r\n  activity_key text not null,\r\n  activity_name text not null,\r\n  requirement_summary text not null,\r\n  frequency_months integer,\r\n  due_rule text,\r\n  required_tradie_type text,\r\n  evidence_required text[] not null default '{}',\r\n  legislation_source_key text references compliance_legislation_sources(source_key),\r\n  legislation_reference text,\r\n  legislation_version text,\r\n  effective_from date,\r\n  effective_to date,\r\n  status text not null default 'active',\r\n  verified_at timestamptz not null default now(),\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS compliance_bundle_catalogue (\r\n  id uuid primary key default gen_random_uuid(),\r\n  bundle_key text not null unique,\r\n  jurisdiction text not null,\r\n  bundle_name text not null,\r\n  included_activity_keys text[] not null default '{}',\r\n  fixed_fee_amount numeric,\r\n  tradie_payout_amount numeric,\r\n  platform_margin_amount numeric,\r\n  recommended_duration_minutes integer,\r\n  travel_saving_strategy text,\r\n  evidence_required text[] not null default '{}',\r\n  status text not null default 'active',\r\n  effective_from date,\r\n  effective_to date,\r\n  verified_at timestamptz not null default now(),\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS compliance_certificates (\r\n  id text primary key,\r\n  property_id text references rental_properties(id),\r\n  work_order_id text references work_orders(id),\r\n  requirement_type text not null,\r\n  certificate_url text,\r\n  issued_by_tradie_id text references tradies(id),\r\n  issued_at timestamptz,\r\n  expires_at timestamptz,\r\n  status text not null default 'captured',\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS compliance_service_offers (\r\n  id text primary key,\r\n  agency_id text references agencies(id),\r\n  property_id text references rental_properties(id),\r\n  landlord_id text references landlords(id),\r\n  package_key text not null,\r\n  package_name text not null,\r\n  price_amount numeric,\r\n  platform_revenue_amount numeric,\r\n  status text not null default 'proposed',\r\n  offer_url text,\r\n  accepted_at timestamptz,\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\n\r\nCREATE TABLE IF NOT EXISTS property_inspection_reports (\r\n  id text primary key,\r\n  agency_id text references agencies(id),\r\n  property_id text references rental_properties(id),\r\n  property_manager_id text references property_managers(id),\r\n  inspection_type text not null default 'routine',\r\n  report_source text not null default 'manual_upload',\r\n  report_url text,\r\n  report_text text,\r\n  report_date date,\r\n  status text not null default 'received',\r\n  extracted_summary text,\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\n\r\nCREATE TABLE IF NOT EXISTS property_inspection_findings (\r\n  id text primary key,\r\n  inspection_report_id text references property_inspection_reports(id),\r\n  property_id text references rental_properties(id),\r\n  work_order_id text references work_orders(id),\r\n  finding_type text not null default 'maintenance',\r\n  trade_type text,\r\n  job_type text,\r\n  description text not null,\r\n  location_hint text,\r\n  urgency text not null default 'normal',\r\n  estimated_amount numeric,\r\n  confidence_score numeric,\r\n  status text not null default 'work_order_created',\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now(),\r\n  updated_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS rental_schedule_forecasts (\r\n  id text primary key,\r\n  forecast_window_start date not null,\r\n  forecast_window_end date not null,\r\n  generated_by_agent text not null default 'george_foreman',\r\n  scope text not null default 'rental_maintenance',\r\n  status text not null default 'generated',\r\n  total_candidate_jobs integer not null default 0,\r\n  total_forecast_options integer not null default 0,\r\n  estimated_travel_minutes_saved integer,\r\n  estimated_landlord_savings numeric,\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now()\r\n);\r\nCREATE TABLE IF NOT EXISTS rental_schedule_forecast_options (\r\n  id uuid primary key default gen_random_uuid(),\r\n  forecast_id text references rental_schedule_forecasts(id),\r\n  work_order_id text references work_orders(id),\r\n  compliance_requirement_key text,\r\n  bundle_key text,\r\n  tradie_id text references tradies(id),\r\n  company_id text references tradie_companies(id),\r\n  tenant_availability_window_id uuid references tenant_availability_windows(id),\r\n  scheduled_start timestamptz,\r\n  scheduled_end timestamptz,\r\n  suburb text,\r\n  urgency text,\r\n  route_cluster_key text,\r\n  productivity_score numeric,\r\n  landlord_cost_estimate numeric,\r\n  travel_minutes_estimate integer,\r\n  status text not null default 'forecast',\r\n  payload jsonb not null default '{}'::jsonb,\r\n  created_at timestamptz not null default now()\r\n);\r\n\r\nCREATE INDEX IF NOT EXISTS idx_rental_properties_agency ON rental_properties(agency_id, active);\r\nCREATE INDEX IF NOT EXISTS idx_work_orders_property_status ON work_orders(property_id, status);\r\nCREATE INDEX IF NOT EXISTS idx_work_orders_agency_status ON work_orders(agency_id, status);\r\nCREATE INDEX IF NOT EXISTS idx_work_order_warranties_lookup ON work_order_warranties(property_id, trade_type, job_type, status, warranty_end);\r\nCREATE INDEX IF NOT EXISTS idx_repeat_issue_reviews_work_order ON repeat_issue_reviews(work_order_id, created_at desc);\r\nCREATE INDEX IF NOT EXISTS idx_tradie_commercial_terms_lookup ON tradie_commercial_terms(tradie_id, company_id, trade_type, job_type, active, effective_from);\r\nCREATE INDEX IF NOT EXISTS idx_tradie_job_offer_overrides_lookup ON tradie_job_offer_overrides(tradie_id, work_order_id, quote_option_id, status);\r\nCREATE INDEX IF NOT EXISTS idx_consumer_guarantee_references_lookup ON consumer_guarantee_references(jurisdiction, guarantee_type, applies_to, status);\r\nCREATE INDEX IF NOT EXISTS idx_landlord_approvals_work_order ON landlord_approvals(work_order_id, status);\r\nCREATE INDEX IF NOT EXISTS idx_rental_quote_options_work_order ON rental_quote_options(work_order_id, status, option_rank);\r\nCREATE INDEX IF NOT EXISTS idx_rental_quote_options_batch ON rental_quote_options(batch_id, option_rank);\r\nCREATE INDEX IF NOT EXISTS idx_rental_confirmation_events_work_order ON rental_confirmation_events(work_order_id, actor_type, created_at desc);\r\nCREATE INDEX IF NOT EXISTS idx_rental_job_evidence_work_order ON rental_job_evidence(work_order_id, created_at desc);\r\nCREATE INDEX IF NOT EXISTS idx_tenant_feedback_work_order ON tenant_feedback(work_order_id, created_at desc);\r\nCREATE INDEX IF NOT EXISTS idx_compliance_requirements_due ON compliance_requirements(status, due_date);\r\nCREATE INDEX IF NOT EXISTS idx_compliance_requirement_catalogue_lookup ON compliance_requirement_catalogue(jurisdiction, status, activity_key);\r\nCREATE INDEX IF NOT EXISTS idx_compliance_bundle_catalogue_lookup ON compliance_bundle_catalogue(jurisdiction, status);\r\nCREATE INDEX IF NOT EXISTS idx_compliance_certificates_property ON compliance_certificates(property_id, requirement_type, expires_at);\r\nCREATE INDEX IF NOT EXISTS idx_compliance_service_offers_status ON compliance_service_offers(agency_id, status);\r\nCREATE INDEX IF NOT EXISTS idx_property_inspection_reports_property ON property_inspection_reports(property_id, report_date desc);\r\nCREATE INDEX IF NOT EXISTS idx_property_inspection_findings_report ON property_inspection_findings(inspection_report_id, status);\r\nCREATE INDEX IF NOT EXISTS idx_rental_schedule_forecast_options_forecast ON rental_schedule_forecast_options(forecast_id, tradie_id, scheduled_start);\r\n\r\nINSERT INTO compliance_legislation_sources (\r\n  jurisdiction, source_key, source_name, source_url, legislation_reference,\r\n  legislation_version, effective_from, verified_at, payload\r\n)\r\nVALUES\r\n  ('VIC', 'vic_cav_smoke_alarms_2026_02_27', 'Consumer Affairs Victoria - Smoke alarms and fire safety', 'https://www.consumer.vic.gov.au/housing/renting/repairs-alterations-safety-and-pets/keeping-the-property-safe/smoke-alarms-and-fire-safety', 'Residential Tenancies Act 1997 (VIC) sections 3, 68AA, 72', 'CAV page last updated 27 February 2026; verified by 1pacent catalogue on 2026-05-20', '2025-11-25', now(), '{\"official_source\":true}'::jsonb),\r\n  ('VIC', 'vic_cav_gas_electrical_2026_05_04', 'Consumer Affairs Victoria - Rental providers gas and electrical safety', 'https://www.consumer.vic.gov.au/housing/renting/repairs-alterations-safety-and-pets/gas-electrical-and-water-safety-standards/rental-providers-gas-and-electrical-safety', 'Residential Tenancies Regulations 2021 (VIC) regulation 5, 16, 30 and Schedule 3; Residential Tenancies Act 1997 (VIC) sections 68A and 68B', 'CAV page last updated 4 May 2026; verified by 1pacent catalogue on 2026-05-20', '2021-03-29', now(), '{\"official_source\":true}'::jsonb),\r\n  ('NSW', 'nsw_fair_trading_smoke_alarms_2026', 'NSW Government - Landlord responsibilities for repair and maintenance of rental properties', 'https://www.nsw.gov.au/housing-and-construction/rules/landlord-obligations-and-responsibilities-for-rental-properties', 'Residential Tenancies Regulation 2019 (NSW) smoke alarm repair and maintenance obligations', 'NSW Government page crawled last week by search index; verified by 1pacent catalogue on 2026-05-20', '2020-03-23', now(), '{\"official_source\":true}'::jsonb),\r\n  ('QLD', 'qld_rta_smoke_alarms_2026', 'Queensland Residential Tenancies Authority - Smoke alarms', 'https://www.rta.qld.gov.au/during-a-tenancy/maintenance/smoke-alarms', 'Fire Services Act 1990 (QLD); Building Fire Safety Regulation 2008 (QLD)', 'RTA smoke alarms page; verified by 1pacent catalogue on 2026-05-20', null, now(), '{\"official_source\":true}'::jsonb),\r\n  ('WA', 'wa_lgirs_rental_home_safety_2026', 'WA Consumer Protection - Rental home safety', 'https://www.consumerprotection.wa.gov.au/rental-home-safety', 'WA smoke alarm and RCD rental home safety requirements', 'WA Consumer Protection rental home safety page; verified by 1pacent catalogue on 2026-05-20', null, now(), '{\"official_source\":true}'::jsonb),\r\n  ('SA', 'sa_gov_smoke_alarms_2023_06_02', 'SA.GOV.AU - Smoke alarms', 'https://www.sa.gov.au/topics/housing/keeping-your-property-safe/smoke-alarms', 'South Australian smoke alarm property safety requirements', 'SA.GOV.AU page last updated 2 June 2023; verified by 1pacent catalogue on 2026-05-20', null, now(), '{\"official_source\":true}'::jsonb),\r\n  ('TAS', 'tas_cbos_smoke_alarms_2024', 'CBOS Tasmania - Smoke alarms in rental properties', 'https://www.cbos.tas.gov.au/topics/housing/renting/beginning-tenancy/smoke-alarms', 'Residential Tenancy Act 1997 (TAS) and related smoke alarm Regulations', 'CBOS smoke alarms in rental properties page; verified by 1pacent catalogue on 2026-05-20', null, now(), '{\"official_source\":true}'::jsonb)\r\nON CONFLICT (source_key) DO UPDATE SET\r\n  source_name = EXCLUDED.source_name,\r\n  source_url = EXCLUDED.source_url,\r\n  legislation_reference = EXCLUDED.legislation_reference,\r\n  legislation_version = EXCLUDED.legislation_version,\r\n  effective_from = EXCLUDED.effective_from,\r\n  verified_at = EXCLUDED.verified_at,\r\n  payload = EXCLUDED.payload,\r\n  updated_at = now();\r\n\r\nINSERT INTO consumer_guarantee_references (\r\n  jurisdiction, guarantee_key, source_name, source_url, legislation_reference,\r\n  legislation_version, guarantee_type, applies_to, summary, operational_rule,\r\n  effective_from, verified_at, verified_by, status, payload\r\n)\r\nVALUES\r\n  ('AU', 'AU_ACL_CONSUMER_GUARANTEES_AUTOMATIC_2026_05_21', 'ACCC - Consumer rights and guarantees', 'https://www.accc.gov.au/consumers/buying-products-and-services/consumer-rights-and-guarantees', 'Australian Consumer Law consumer guarantees', 'ACCC page crawled/verified 2026-05-21; national ACL framework', 'automatic_consumer_guarantee', 'goods_and_services', 'Consumer guarantees apply automatically when goods or services are supplied to consumers and cannot be excluded, replaced or limited by business warranty terms.', 'Do not treat a tradie warranty expiry as the end of all rights. For repeat defects, check ACL consumer guarantees and escalate before approving duplicate charges.', '2011-01-01', now(), 'codex_official_source_check', 'active', '{\"official_source\":true,\"legal_advice\":false,\"notes\":\"Operational reference only; escalate disputes or ambiguous claims.\"}'::jsonb),\r\n  ('AU', 'AU_ACL_SERVICES_DUE_CARE_SKILL_2026_05_21', 'ACCC - Consumer rights and guarantees', 'https://www.accc.gov.au/consumers/buying-products-and-services/consumer-rights-and-guarantees', 'Australian Consumer Law service consumer guarantees', 'ACCC page crawled/verified 2026-05-21; services due care and skill guidance', 'service_due_care_and_skill', 'services', 'Services must be provided with due care and skill, fit for stated purpose where applicable, and within a reasonable time where no time is agreed.', 'If the same repair fails shortly after attendance, mark for warranty/rework review before charging another callout. Route to prior tradie where appropriate.', '2011-01-01', now(), 'codex_official_source_check', 'active', '{\"official_source\":true,\"example\":\"ACCC describes a plumbing leak returning the next day as a possible due care and skill issue.\"}'::jsonb),\r\n  ('AU', 'AU_ACL_WARRANTIES_ADDITIONAL_2026_05_21', 'ACCC - Warranties', 'https://www.accc.gov.au/consumers/consumer-rights-guarantees/warranties', 'Australian Consumer Law warranties and warranties against defects', 'ACCC warranties page crawled/verified 2026-05-21', 'warranty_additional_to_acl', 'goods_and_services', 'Warranties are extra promises businesses make and apply in addition to automatic consumer guarantees. Warranties cannot remove basic consumer rights.', 'Store tradie labour warranties and part warranties as commercial promises, but always keep ACL consumer guarantees as a separate protection layer.', '2011-01-01', now(), 'codex_official_source_check', 'active', '{\"official_source\":true,\"legal_advice\":false}'::jsonb),\r\n  ('AU', 'AU_ACL_REMEDIES_REPAIR_REPLACE_REFUND_2026_05_21', 'ACCC - Problem with a product or service you bought', 'https://www.accc.gov.au/consumers/problem-with-a-product-or-service-you-bought', 'Australian Consumer Law remedies for consumer guarantee failures', 'ACCC page crawled/verified 2026-05-21', 'remedy_reference', 'goods_and_services', 'Where a product or service does not meet consumer guarantees, a remedy such as repair, replacement, refund, cancellation or compensation may be required depending on the circumstances.', 'For Wally decisions, recommend review/remedy paths and avoid auto-charging landlords for repeat defects until warranty/ACL position is checked.', '2011-01-01', now(), 'codex_official_source_check', 'active', '{\"official_source\":true,\"legal_advice\":false}'::jsonb)\r\nON CONFLICT (guarantee_key) DO UPDATE SET\r\n  source_name = EXCLUDED.source_name,\r\n  source_url = EXCLUDED.source_url,\r\n  legislation_reference = EXCLUDED.legislation_reference,\r\n  legislation_version = EXCLUDED.legislation_version,\r\n  guarantee_type = EXCLUDED.guarantee_type,\r\n  applies_to = EXCLUDED.applies_to,\r\n  summary = EXCLUDED.summary,\r\n  operational_rule = EXCLUDED.operational_rule,\r\n  effective_from = EXCLUDED.effective_from,\r\n  verified_at = EXCLUDED.verified_at,\r\n  verified_by = EXCLUDED.verified_by,\r\n  status = EXCLUDED.status,\r\n  payload = EXCLUDED.payload,\r\n  updated_at = now();\r\n\r\nINSERT INTO compliance_requirement_catalogue (\r\n  requirement_key, jurisdiction, activity_key, activity_name, requirement_summary,\r\n  frequency_months, due_rule, required_tradie_type, evidence_required,\r\n  legislation_source_key, legislation_reference, legislation_version, effective_from, status, payload\r\n)\r\nVALUES\r\n  ('VIC_SMOKE_ALARM_ANNUAL_2025_11_25', 'VIC', 'smoke_alarm_safety_check', 'Annual smoke alarm safety check', 'All Victorian rental properties require annual smoke alarm safety checks to ensure alarms are correctly installed and working.', 12, 'Due every 12 months from 25 November 2025 or earlier by agency policy.', 'smoke_alarm_technician_or_electrician', ARRAY['test_result','alarm_locations','battery/replacement evidence','technician details'], 'vic_cav_smoke_alarms_2026_02_27', 'Residential Tenancies Act 1997 (VIC) sections 3, 68AA, 72', 'CAV page last updated 27 February 2026; annual checks mandatory from 25 November 2025', '2025-11-25', 'active', '{\"bundle_candidate\":true}'::jsonb),\r\n  ('VIC_GAS_SAFETY_CHECK_24M_2021_03_29', 'VIC', 'gas_safety_check', 'Gas safety check', 'Rental providers for relevant agreements must conduct gas safety checks every 2 years where the premises contains gas appliances, fixtures or fittings.', 24, 'Due every 24 months for relevant rental agreements entered into after 29 March 2021, and as soon as possible if no check in last 2 years at occupation.', 'licensed_or_registered_gasfitter_type_a_servicing', ARRAY['gasfitter licence/registration','date conducted','results','servicing record'], 'vic_cav_gas_electrical_2026_05_04', 'Residential Tenancies Regulations 2021 (VIC) regulation 5, 16, 30 and Schedule 3', 'CAV page last updated 4 May 2026; Schedule 3 every two years', '2021-03-29', 'active', '{\"bundle_candidate\":true}'::jsonb),\r\n  ('VIC_ELECTRICAL_SAFETY_CHECK_24M_2021_03_29', 'VIC', 'electrical_safety_check', 'Electrical safety check', 'Rental providers for relevant agreements must have all electrical installations and fittings checked by a licensed electrician at least once every 2 years.', 24, 'Due every 24 months for relevant rental agreements entered into after 29 March 2021, and as soon as possible if no check in last 2 years at occupation.', 'licensed_electrician_rec', ARRAY['electrician licence/registration','date conducted','results','AS/NZS 3019 report'], 'vic_cav_gas_electrical_2026_05_04', 'Residential Tenancies Regulations 2021 (VIC) regulation 5, 16, 30 and Schedule 3', 'CAV page last updated 4 May 2026; Schedule 3 every two years', '2021-03-29', 'active', '{\"bundle_candidate\":true}'::jsonb),\r\n  ('QLD_SMOKE_ALARM_START_RENEWAL_2026', 'QLD', 'smoke_alarm_tenancy_start_renewal_check', 'Smoke alarm test before tenancy start or renewal', 'Property managers/owners are required to test smoke alarms within 30 days before the start date of a tenancy, including a renewed tenancy.', null, 'Due within 30 days before tenancy start or renewal.', 'smoke_alarm_technician', ARRAY['test_result','battery/replacement evidence','alarm compliance notes'], 'qld_rta_smoke_alarms_2026', 'Fire Services Act 1990 (QLD); Building Fire Safety Regulation 2008 (QLD)', 'RTA smoke alarms page verified 2026-05-20', null, 'active', '{\"bundle_candidate\":true}'::jsonb),\r\n  ('NSW_SMOKE_ALARM_REPAIR_MAINTAIN_2026', 'NSW', 'smoke_alarm_repair_maintain', 'Smoke alarm repair and maintenance', 'Landlords should check smoke alarms are working, repair smoke alarms within required timeframes, and install or replace removable batteries every year.', 12, 'Annual battery replacement/check where applicable and repair within required smoke alarm repair timeframes.', 'smoke_alarm_technician_or_electrician', ARRAY['working test result','battery replacement evidence','repair notes'], 'nsw_fair_trading_smoke_alarms_2026', 'Residential Tenancies Regulation 2019 (NSW)', 'NSW Government landlord responsibilities page verified 2026-05-20', '2020-03-23', 'active', '{\"bundle_candidate\":true}'::jsonb),\r\n  ('WA_SMOKE_ALARM_RENT_HIRE_2026', 'WA', 'smoke_alarm_compliance_check', 'Smoke alarm compliance check', 'Homes made available for rent or hire must have compliant mains powered smoke alarms that are less than 10 years old, working and maintained by the landlord.', null, 'Check before lease/rent/hire and maintain during tenancy.', 'smoke_alarm_technician_or_electrician', ARRAY['working test result','age check','mains power compliance note'], 'wa_lgirs_rental_home_safety_2026', 'WA smoke alarm rental home safety requirements', 'WA Consumer Protection rental home safety page verified 2026-05-20', null, 'active', '{\"bundle_candidate\":true}'::jsonb),\r\n  ('WA_RCD_RENTAL_HOME_2026', 'WA', 'rcd_safety_check', 'RCD safety switch check', 'Rental homes must have two RCDs installed on the switchboard before being leased; faulty RCDs must be replaced immediately.', null, 'Check before lease and when reported faulty.', 'licensed_electrician', ARRAY['RCD test result','switchboard photo','electrician details'], 'wa_lgirs_rental_home_safety_2026', 'WA RCD rental home safety requirements', 'WA Consumer Protection rental home safety page verified 2026-05-20', null, 'active', '{\"bundle_candidate\":true}'::jsonb),\r\n  ('SA_SMOKE_ALARM_WORKING_2023_06_02', 'SA', 'smoke_alarm_compliance_check', 'Smoke alarm working and correctly installed check', 'Residential landlords are responsible for making sure smoke alarms are working and installed correctly.', null, 'Check before lease and when smoke alarm status changes.', 'smoke_alarm_technician_or_electrician', ARRAY['working test result','installation compliance notes'], 'sa_gov_smoke_alarms_2023_06_02', 'South Australian smoke alarm property safety requirements', 'SA.GOV.AU page last updated 2 June 2023', null, 'active', '{\"bundle_candidate\":true}'::jsonb),\r\n  ('TAS_SMOKE_ALARM_RENTAL_2024', 'TAS', 'smoke_alarm_rental_compliance_check', 'Smoke alarm rental compliance check', 'Owners must install and maintain smoke alarms for rented residential properties, with alarms permanently connected to power or powered by a 10-year non-replaceable battery.', null, 'Check at tenancy setup and when alarm condition changes.', 'smoke_alarm_technician_or_electrician', ARRAY['alarm type','installation location','working test result'], 'tas_cbos_smoke_alarms_2024', 'Residential Tenancy Act 1997 (TAS) and related smoke alarm Regulations', 'CBOS page verified 2026-05-20', null, 'active', '{\"bundle_candidate\":true}'::jsonb)\r\nON CONFLICT (requirement_key) DO UPDATE SET\r\n  requirement_summary = EXCLUDED.requirement_summary,\r\n  frequency_months = EXCLUDED.frequency_months,\r\n  due_rule = EXCLUDED.due_rule,\r\n  required_tradie_type = EXCLUDED.required_tradie_type,\r\n  evidence_required = EXCLUDED.evidence_required,\r\n  legislation_source_key = EXCLUDED.legislation_source_key,\r\n  legislation_reference = EXCLUDED.legislation_reference,\r\n  legislation_version = EXCLUDED.legislation_version,\r\n  effective_from = EXCLUDED.effective_from,\r\n  status = EXCLUDED.status,\r\n  verified_at = now(),\r\n  payload = EXCLUDED.payload,\r\n  updated_at = now();\r\n\r\nINSERT INTO compliance_bundle_catalogue (\r\n  bundle_key, jurisdiction, bundle_name, included_activity_keys, fixed_fee_amount,\r\n  tradie_payout_amount, platform_margin_amount, recommended_duration_minutes,\r\n  travel_saving_strategy, evidence_required, status, effective_from, payload\r\n)\r\nVALUES\r\n  ('VIC_RENTAL_COMPLIANCE_PACK_V1', 'VIC', 'Victorian Rental Compliance Pack', ARRAY['smoke_alarm_safety_check','electrical_safety_check','gas_safety_check'], 649, 560, 89, 210, 'Bundle smoke, electrical and gas compliance in one tenant access window where property has both electrical and gas requirements.', ARRAY['smoke alarm evidence','electrical report','gas safety record','certificate URLs'], 'active', '2025-11-25', '{\"pricing_version\":\"v1\",\"fixed_fee_indicative\":true}'::jsonb),\r\n  ('VIC_SMOKE_ELECTRICAL_PACK_V1', 'VIC', 'Smoke Alarm + Electrical Safety Pack', ARRAY['smoke_alarm_safety_check','electrical_safety_check'], 399, 340, 59, 150, 'Pair annual smoke alarm check with electrical safety visit where electrical check is due inside the next 90 days.', ARRAY['smoke alarm evidence','electrical report'], 'active', '2025-11-25', '{\"pricing_version\":\"v1\",\"fixed_fee_indicative\":true}'::jsonb),\r\n  ('NATIONAL_SMOKE_ALARM_RUN_V1', 'NATIONAL', 'Smoke Alarm Local Run', ARRAY['smoke_alarm_safety_check','smoke_alarm_compliance_check','smoke_alarm_repair_maintain','smoke_alarm_tenancy_start_renewal_check','smoke_alarm_rental_compliance_check'], 129, 105, 24, 45, 'Cluster smoke alarm checks by suburb to reduce travel and create dense half-day tradie runs.', ARRAY['working test result','alarm locations','photo evidence'], 'active', null, '{\"pricing_version\":\"v1\",\"fixed_fee_indicative\":true}'::jsonb),\r\n  ('WA_RCD_SMOKE_PACK_V1', 'WA', 'WA RCD + Smoke Alarm Pack', ARRAY['rcd_safety_check','smoke_alarm_compliance_check'], 299, 255, 44, 120, 'Combine RCD and smoke alarm compliance checks in one electrician visit before or during tenancy.', ARRAY['RCD test result','smoke alarm evidence','switchboard photo'], 'active', null, '{\"pricing_version\":\"v1\",\"fixed_fee_indicative\":true}'::jsonb)\r\nON CONFLICT (bundle_key) DO UPDATE SET\r\n  bundle_name = EXCLUDED.bundle_name,\r\n  included_activity_keys = EXCLUDED.included_activity_keys,\r\n  fixed_fee_amount = EXCLUDED.fixed_fee_amount,\r\n  tradie_payout_amount = EXCLUDED.tradie_payout_amount,\r\n  platform_margin_amount = EXCLUDED.platform_margin_amount,\r\n  recommended_duration_minutes = EXCLUDED.recommended_duration_minutes,\r\n  travel_saving_strategy = EXCLUDED.travel_saving_strategy,\r\n  evidence_required = EXCLUDED.evidence_required,\r\n  status = EXCLUDED.status,\r\n  verified_at = now(),\r\n  payload = EXCLUDED.payload,\r\n  updated_at = now();\r\n\r\nINSERT INTO tradie_companies (id, name, active, updated_at)\r\nVALUES\r\n  ('TC-ELECTRICAL-001', 'Demo Electrical Company', true, now()),\r\n  ('TC-PLUMBING-001', 'Demo Plumbing Company', true, now())\r\nON CONFLICT (id) DO UPDATE SET\r\n  name = EXCLUDED.name,\r\n  active = true,\r\n  updated_at = now();\r\n\r\nINSERT INTO tradies (id, company_id, name, active, updated_at)\r\nVALUES\r\n  ('TRD-ELECTRICAL-001', 'TC-ELECTRICAL-001', 'Demo Electrical Tradie', true, now()),\r\n  ('TRD-PLUMBING-001', 'TC-PLUMBING-001', 'Demo Plumbing Tradie', true, now())\r\nON CONFLICT (id) DO UPDATE SET\r\n  company_id = EXCLUDED.company_id,\r\n  name = EXCLUDED.name,\r\n  active = true,\r\n  updated_at = now();\r\n\r\nINSERT INTO tradie_commercial_terms (\r\n  tradie_id, company_id, trade_type, job_type, standard_callout_fee, emergency_callout_fee,\r\n  hourly_rate, minimum_labour_minutes, labour_warranty_days, parts_warranty_policy,\r\n  parts_warranty_days, can_discount, callout_waiver_policy, sally_discount_instructions,\r\n  effective_from, active, payload\r\n)\r\nVALUES\r\n  ('TRD-ELECTRICAL-001', 'TC-ELECTRICAL-001', 'electrical', null, 150, 220, 120, 60, 90, 'Manufacturer or supplier warranty applies to supplied parts, plus Australian Consumer Law consumer guarantees where applicable.', null, true, 'May waive callout for confirmed warranty rework, repeat issue within 30 days, or bundled compliance run where margin remains acceptable.', 'For customer-facing estimates, Sally may say the callout may be waived if the issue is confirmed as covered warranty rework. Do not promise a waiver before review.', current_date, true, '{\"source\":\"demo_default\",\"consumer_guarantee_keys\":[\"AU_ACL_CONSUMER_GUARANTEES_AUTOMATIC_2026_05_21\",\"AU_ACL_SERVICES_DUE_CARE_SKILL_2026_05_21\",\"AU_ACL_WARRANTIES_ADDITIONAL_2026_05_21\"]}'::jsonb),\r\n  ('TRD-PLUMBING-001', 'TC-PLUMBING-001', 'plumbing', null, 140, 210, 110, 60, 90, 'Manufacturer or supplier warranty applies to supplied parts, plus Australian Consumer Law consumer guarantees where applicable.', null, true, 'May waive callout for confirmed same-leak warranty rework within the labour warranty period.', 'Sally may explain that repeat leaks are reviewed before any duplicate callout is approved.', current_date, true, '{\"source\":\"demo_default\",\"consumer_guarantee_keys\":[\"AU_ACL_CONSUMER_GUARANTEES_AUTOMATIC_2026_05_21\",\"AU_ACL_SERVICES_DUE_CARE_SKILL_2026_05_21\"]}'::jsonb)\r\nON CONFLICT DO NOTHING;\r\n\r\nINSERT INTO agent_definitions (\r\n  agent_key, agent_name, agent_role, purpose, operating_scope, customer_facing, owner_domain,\r\n  responsibilities, success_measures, handoff_triggers, guardrails, model_provider, model_name, active\r\n)\r\nVALUES\r\n(\r\n  'patricia_property_manager',\r\n  'Patricia',\r\n  'Property manager work-order orchestration AI agent',\r\n  'Reduce property manager admin by triaging rental maintenance, applying contract approval rules and coordinating tenant/landlord/tradie workflows.',\r\n  'Internal n8n agent. Owns rental work orders, property manager rules, tenant access, landlord approval thresholds and escalation policy.',\r\n  false,\r\n  'rental_work_order_operations',\r\n  '[\"Classify rental work orders\",\"Apply approval thresholds\",\"Route landlord approvals\",\"Coordinate tenant access windows\",\"Escalate exceptions to property managers\",\"Measure admin-time reduction\"]'::jsonb,\r\n  '[\"Auto-approval rate within contract thresholds\",\"Manual intervention rate\",\"Time from tenant report to actionable work order\",\"Landlord approval turnaround\",\"Tenant access confirmation rate\"]'::jsonb,\r\n  '[\"Tenant reports issue\",\"Sally identifies rental persona\",\"Quote exceeds threshold\",\"Emergency job needs auto approval\",\"Landlord approval pending\",\"Tenant access missing\"]'::jsonb,\r\n  '[\"Do not approve spend above configured threshold\",\"Do not bypass landlord approval where contract requires it\",\"Keep audit trail for approvals\",\"Escalate safety/compliance risks\"]'::jsonb,\r\n  'google_gemini',\r\n  'models/gemini-3.1-flash-lite',\r\n  true\r\n),\r\n(\r\n  'leo_landlord',\r\n  'Leo',\r\n  'Landlord approval and owner communication AI agent',\r\n  'Help landlords approve maintenance quickly with clear quote, risk, compliance and property-impact summaries.',\r\n  'Internal n8n agent. Owns landlord approval messaging, spend summaries, property history and compliance upsell explanations.',\r\n  false,\r\n  'landlord_approvals',\r\n  '[\"Summarise work order impact\",\"Request landlord approval\",\"Explain quote assumptions\",\"Surface compliance risk\",\"Track approval decisions\",\"Support annual compliance upsell\"]'::jsonb,\r\n  '[\"Approval response time\",\"Approval conversion rate\",\"Fewer follow-up questions\",\"Compliance offer acceptance rate\",\"Landlord satisfaction score\"]'::jsonb,\r\n  '[\"Approval required above threshold\",\"Compliance service offer due\",\"Landlord asks for quote context\",\"Property manager needs owner-ready summary\"]'::jsonb,\r\n  '[\"Do not pressure approval\",\"Do not invent legal advice\",\"Make spend and assumptions clear\",\"Escalate disputed approvals to property manager\"]'::jsonb,\r\n  'google_gemini',\r\n  'models/gemini-3.1-flash-lite',\r\n  true\r\n),\r\n(\r\n  'connie_compliance',\r\n  'Connie',\r\n  'Rental compliance workflow and certificate vault AI agent',\r\n  'Own recurring rental compliance workflows, certificate capture, renewal reminders and compliance service upsell opportunities.',\r\n  'Internal n8n agent. Tracks smoke alarm, gas, electrical and other rental compliance obligations by property and jurisdiction.',\r\n  false,\r\n  'rental_compliance',\r\n  '[\"Track compliance due dates\",\"Create compliance work orders\",\"Capture certificates\",\"Flag expired/missing evidence\",\"Recommend annual compliance bundles\",\"Measure certificate capture rate\"]'::jsonb,\r\n  '[\"Certificate capture rate\",\"Expired compliance count\",\"Compliance bundle conversion\",\"Renewal reminder completion\",\"Audit-ready property percentage\"]'::jsonb,\r\n  '[\"Compliance due soon\",\"Certificate uploaded\",\"Compliance job completed\",\"Landlord/agency eligible for annual package\",\"Audit report requested\"]'::jsonb,\r\n  '[\"Do not provide legal advice\",\"Use jurisdiction-specific rules as configurable data\",\"Require certificate evidence\",\"Escalate missing or expired compliance records\"]'::jsonb,\r\n  'google_gemini',\r\n  'models/gemini-3.1-flash-lite',\r\n  true\r\n),\r\n(\r\n  'wally_warranty',\r\n  'Wally',\r\n  'Warranty, repeat issue and cost-protection AI agent',\r\n  'Detect repeat rental maintenance issues, protect landlords from duplicate charges, route genuine warranty work back to the previous tradie, and surface fair non-accusatory responsibility signals.',\r\n  'Internal n8n agent. Reviews new work orders before quote/scheduling, compares prior work, parts, evidence, warranties and tenant/property history.',\r\n  false,\r\n  'warranty_repeat_issue_cost_control',\r\n  '[\"Detect repeated issues at the same property\",\"Match possible warranty coverage\",\"Route work back to previous tradie where warranty applies\",\"Flag duplicate part replacement risk\",\"Identify unusual work-order frequency patterns\",\"Use neutral responsibility language\"]'::jsonb,\r\n  '[\"Avoided duplicate landlord charges\",\"Warranty recovery rate\",\"Repeat issue detection precision\",\"Reduced unnecessary callout fees\",\"Fair responsibility triage completion rate\"]'::jsonb,\r\n  '[\"New work order resembles completed job\",\"Same part replaced recently\",\"Tenant reports issue within warranty period\",\"High request frequency at property\",\"Tradie suggests replacement of recently replaced part\"]'::jsonb,\r\n  '[\"Do not accuse tenants of damage\",\"Do not deny urgent safety repairs\",\"Do not charge landlord for likely warranty rework without review\",\"Escalate disputed responsibility to property manager\"]'::jsonb,\r\n  'google_gemini',\r\n  'models/gemini-3.1-flash-lite',\r\n  true\r\n)\r\nON CONFLICT (agent_key) DO UPDATE SET\r\n  agent_name = EXCLUDED.agent_name,\r\n  agent_role = EXCLUDED.agent_role,\r\n  purpose = EXCLUDED.purpose,\r\n  operating_scope = EXCLUDED.operating_scope,\r\n  customer_facing = EXCLUDED.customer_facing,\r\n  owner_domain = EXCLUDED.owner_domain,\r\n  responsibilities = EXCLUDED.responsibilities,\r\n  success_measures = EXCLUDED.success_measures,\r\n  handoff_triggers = EXCLUDED.handoff_triggers,\r\n  guardrails = EXCLUDED.guardrails,\r\n  model_provider = EXCLUDED.model_provider,\r\n  model_name = EXCLUDED.model_name,\r\n  active = true,\r\n  updated_at = now();\r\n\r\nINSERT INTO mcp_services (service_key, service_name, provider, category, capability, endpoint_path, workflow_id, credential_name, status, available_to_agents, config)\r\nVALUES\r\n  ('rental_work_orders', 'Rental Work Orders', 'postgres', 'property_management', 'Rental property work-order source of truth with tenant, landlord, property manager and approval context', '/webhook/rental/work-orders/intake', null, 'Tradie App Postgres', 'active', ARRAY['sally_receptionist','patricia_property_manager','leo_landlord','connie_compliance','george_foreman','nelly','penny','quintino'], '{\"source_of_truth\":\"postgres\"}'::jsonb),\r\n  ('rental_compliance', 'Rental Compliance Engine', 'postgres', 'property_management', 'Compliance requirements, certificates, annual packages and renewal/upsell workflows', '/webhook/rental/compliance/offer', null, 'Tradie App Postgres', 'active', ARRAY['connie_compliance','patricia_property_manager','leo_landlord','quintino'], '{\"jurisdiction\":\"configurable\",\"initial_state\":\"VIC\"}'::jsonb),\r\n  ('inspection_report_ingestion', 'Inspection Report Ingestion', 'postgres', 'property_management', 'Inspection report intake, finding extraction and automatic rental work-order creation', '/webhook/rental/inspection-reports/ingest', null, 'Tradie App Postgres', 'active', ARRAY['patricia_property_manager','connie_compliance','sally_receptionist','quintino'], '{\"supports\":[\"manual_text\",\"structured_findings\",\"future_file_download\",\"future_ocr\"]}'::jsonb),\r\n  ('rental_quote_options', 'Rental Quote Options', 'postgres', 'property_management', 'Create and approve landlord-ready quote options that already match tenant availability, tradie availability, urgency, cost and trust score', '/webhook/rental/quote-options/generate', null, 'Tradie App Postgres', 'active', ARRAY['patricia_property_manager','leo_landlord','nelly','george_foreman','quintino'], '{\"ranking_weights\":{\"trust\":0.40,\"cost\":0.35,\"availability\":0.25},\"approve_endpoint\":\"/webhook/rental/quote-options/approve\",\"confirm_endpoint\":\"/webhook/rental/confirmations/respond\",\"goal\":\"reduce tenant-tradie-landlord ping-pong\"}'::jsonb),\r\n  ('rental_job_completion', 'Rental Job Completion Evidence', 'postgres', 'property_management', 'Capture completion evidence, job actuals, quote accuracy, compliance certificates and invoice trigger for rental jobs', '/webhook/rental/jobs/complete', null, 'Tradie App Postgres', 'active', ARRAY['patricia_property_manager','connie_compliance','nelly','penny','mia_social','quintino'], '{\"feeds\":[\"quote_accuracy_metrics\",\"job_actuals\",\"invoices\",\"rental_job_evidence\"],\"goal\":\"audit-ready completion and pricing moat\"}'::jsonb),\r\n  ('rental_schedule_optimiser', 'Rental Schedule Optimiser', 'postgres', 'property_management', 'Forecast two-week tradie productivity, bundled compliance runs, tenant availability matching and fallback options', '/webhook/rental/schedule/forecast', null, 'Tradie App Postgres', 'active', ARRAY['george_foreman','patricia_property_manager','connie_compliance','nelly','quintino'], '{\"forecast_days\":14,\"goal\":\"maximise tradie productivity and minimise landlord travel/admin cost\"}'::jsonb),\r\n  ('rental_warranty_guard', 'Rental Warranty Guard', 'postgres', 'property_management', 'Detect repeat issues, warranty candidates, duplicate part replacements and neutral tenant/property responsibility signals before landlord charges are approved', '/webhook/rental/warranty/review', null, 'Tradie App Postgres', 'active', ARRAY['wally_warranty','patricia_property_manager','leo_landlord','nelly','george_foreman','quintino'], '{\"goal\":\"avoid duplicate landlord charges and route warranty rework to previous tradie\"}'::jsonb)\r\nON CONFLICT (service_key) DO UPDATE SET\r\n  service_name = EXCLUDED.service_name,\r\n  category = EXCLUDED.category,\r\n  capability = EXCLUDED.capability,\r\n  endpoint_path = EXCLUDED.endpoint_path,\r\n  status = EXCLUDED.status,\r\n  available_to_agents = EXCLUDED.available_to_agents,\r\n  config = EXCLUDED.config,\r\n  updated_at = now();\r\n\r\nINSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\r\nVALUES ('rental_foundation', 'property_management', 'rental_foundation_setup', '{\"agents\":[\"patricia_property_manager\",\"leo_landlord\",\"connie_compliance\",\"wally_warranty\"]}'::jsonb);\r\n\r\nSELECT jsonb_build_object(\r\n  'success', true,\r\n  'message', 'Rental property management foundation is ready.',\r\n  'agents_added', ARRAY['patricia_property_manager','leo_landlord','connie_compliance','wally_warranty']\r\n) AS setup_result;\r\n`;\r\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Setup Rental Foundation", "id": "2ca7c616-b6ef-4f72-b6eb-02ff961d861d", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Rental Setup", "id": "7bb7a399-cc08-417a-876f-af77e426182f", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.setup_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Rental Foundation SQL": {"main": [[{"node": "Setup Rental Foundation", "type": "main", "index": 0}]]}, "Setup Rental Foundation": {"main": [[{"node": "Respond Rental Setup", "type": "main", "index": 0}]]}, "Rental Foundation Setup Webhook": {"main": [[{"node": "Build Rental Foundation SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}