docs/tradie-import/TRADIE-SCHEDULE-034-George-Calendar-Book-Job--fvxKC3ZdeagYaZ8S.json
{"name": "TRADIE-SCHEDULE-034-George-Calendar-Book-Job", "description": null, "active": false, "isArchived": false, "nodes": [{"parameters": {"httpMethod": "POST", "path": "agents/george/calendar-book-job", "responseMode": "responseNode", "options": {}}, "position": [0, 0], "name": "Book Job In Company Calendar", "id": "fb26502f-cdbe-4e6a-b5c5-294efde2bd6f", "webhookId": "71382741-1da8-4c13-be13-3dae73c47e07", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "disabled": true}, {"parameters": {"jsCode": "const raw = $('Book Job In Company Calendar').first().json ?? items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nconst companyId = first(body.company_id, 'COMP-1PACENT-DEFAULT');\nconst calendarId = first(body.calendar_id, 'primary');\n\nconst query = `\nALTER TABLE IF EXISTS tradies ADD COLUMN IF NOT EXISTS company_id text;\n\nCREATE TABLE IF NOT EXISTS tradie_companies (\n  id text primary key,\n  name text not null,\n  calendar_id text,\n  max_tradies_per_job integer not null default 5,\n  active boolean not null default true,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS job_assignments (\n  id uuid primary key default gen_random_uuid(),\n  job_id text,\n  lead_id text references leads(id),\n  quote_id text references quotes(id),\n  schedule_slot_id text references job_schedule_slots(id),\n  company_id text references tradie_companies(id),\n  tradie_id text references tradies(id),\n  role text not null default 'assigned_tradie',\n  status text not null default 'assigned',\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now(),\n  unique (schedule_slot_id, tradie_id)\n);\n\nCREATE TABLE IF NOT EXISTS calendar_events (\n  id uuid primary key default gen_random_uuid(),\n  schedule_slot_id text references job_schedule_slots(id),\n  job_id text,\n  lead_id text references leads(id),\n  quote_id text references quotes(id),\n  company_id text references tradie_companies(id),\n  calendar_id text not null,\n  google_event_id text,\n  event_summary text not null,\n  event_start timestamptz,\n  event_end timestamptz,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE INDEX IF NOT EXISTS idx_job_assignments_schedule_slot ON job_assignments(schedule_slot_id);\nCREATE INDEX IF NOT EXISTS idx_job_assignments_tradie ON job_assignments(tradie_id);\nCREATE INDEX IF NOT EXISTS idx_calendar_events_schedule_slot ON calendar_events(schedule_slot_id);\nCREATE INDEX IF NOT EXISTS idx_calendar_events_google_event ON calendar_events(google_event_id);\n\nINSERT INTO tradie_companies (id, name, calendar_id, max_tradies_per_job, active)\nVALUES (${sql(companyId)}, '1pacent Tradies', ${sql(calendarId)}, 5, true)\nON CONFLICT (id) DO UPDATE SET\n  calendar_id = EXCLUDED.calendar_id,\n  max_tradies_per_job = 5,\n  updated_at = now();\n\nINSERT INTO tradies (id, company_id, name, home_suburb, active)\nVALUES\n  ('TRD-ELECTRICAL-001', ${sql(companyId)}, 'Electrical Tradie 1', 'Melbourne', true),\n  ('TRD-ELECTRICAL-002', ${sql(companyId)}, 'Electrical Tradie 2', 'Melbourne', true),\n  ('TRD-ELECTRICAL-003', ${sql(companyId)}, 'Electrical Tradie 3', 'Melbourne', true),\n  ('TRD-ELECTRICAL-004', ${sql(companyId)}, 'Electrical Tradie 4', 'Melbourne', true),\n  ('TRD-ELECTRICAL-005', ${sql(companyId)}, 'Electrical Tradie 5', 'Melbourne', true)\nON CONFLICT (id) DO UPDATE SET\n  company_id = EXCLUDED.company_id,\n  active = true,\n  updated_at = now();\n\nINSERT INTO tradie_skills (tradie_id, trade_type, skill_name, verified)\nSELECT t.id, 'electrical', 'General electrical jobs', false\nFROM tradies t\nWHERE t.id like 'TRD-ELECTRICAL-%'\n  AND NOT EXISTS (\n    SELECT 1 FROM tradie_skills s\n    WHERE s.tradie_id = t.id AND lower(s.trade_type) = 'electrical'\n  );\n\nINSERT INTO tradie_availability (tradie_id, day_of_week, start_time, end_time, active)\nSELECT t.id, d.day_of_week, time '08:00', time '16:30', true\nFROM tradies t\nCROSS JOIN (VALUES (1),(2),(3),(4),(5)) AS d(day_of_week)\nWHERE t.id like 'TRD-ELECTRICAL-%'\n  AND NOT EXISTS (\n    SELECT 1 FROM tradie_availability a\n    WHERE a.tradie_id = t.id\n      AND a.day_of_week = d.day_of_week\n      AND a.start_time = time '08:00'\n      AND a.end_time = time '16:30'\n  );\n\nSELECT true AS bootstrap_complete;\n`;\n\nreturn [{ json: { sql: query } }];"}, "position": [240, 0], "name": "Prepare Calendar Bootstrap SQL", "id": "52567e12-e80f-4e8b-a0f5-e125b3aba822", "type": "n8n-nodes-base.code", "typeVersion": 2}, {"parameters": {"operation": "executeQuery", "query": "{{$json.sql}}", "options": {}}, "position": [480, 0], "name": "Bootstrap Calendar Booking Tables", "id": "5dea35a8-e477-44aa-bb4c-9ebfed97eafb", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}}, {"parameters": {"jsCode": "const raw = $('Book Job In Company Calendar').first().json ?? items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nconst scheduleSlotId = first(body.schedule_slot_id, body.slot_id);\nconst leadId = first(body.lead_id);\nconst jobId = first(body.job_id);\nconst quoteId = first(body.quote_id);\nconst companyId = first(body.company_id, 'COMP-1PACENT-DEFAULT');\nconst requestedTradieCount = Math.min(Math.max(Number(first(body.tradie_count, 1)), 1), 5);\nconst tradeType = String(first(body.trade_type, 'electrical')).toLowerCase();\nconst calendarId = first(body.calendar_id, 'primary');\nconst dryRun = ['true', 'yes', '1'].includes(String(first(body.dry_run, false)).toLowerCase());\n\nif (!scheduleSlotId && !leadId && !jobId) {\n  return [{\n    json: {\n      success: false,\n      status: 'needs_input',\n      missing_information: ['schedule_slot_id or lead_id or job_id'],\n      sql: 'select 1 as noop;',\n    },\n  }];\n}\n\nconst query = `\nWITH target_slot AS (\n  SELECT s.*\n  FROM job_schedule_slots s\n  WHERE\n    (${sql(scheduleSlotId)} IS NOT NULL AND s.id = ${sql(scheduleSlotId)})\n    OR (${sql(scheduleSlotId)} IS NULL AND ${sql(leadId)} IS NOT NULL AND s.lead_id = ${sql(leadId)})\n    OR (${sql(scheduleSlotId)} IS NULL AND ${sql(jobId)} IS NOT NULL AND s.job_id = ${sql(jobId)})\n  ORDER BY s.created_at DESC\n  LIMIT 1\n),\nlead_context AS (\n  SELECT\n    l.id AS lead_id,\n    l.trade_type,\n    l.job_description,\n    l.urgency,\n    l.address AS lead_address,\n    c.name AS customer_name,\n    c.email AS customer_email,\n    c.phone AS customer_phone\n  FROM target_slot s\n  LEFT JOIN leads l ON l.id = COALESCE(s.lead_id, ${sql(leadId)})\n  LEFT JOIN customers c ON c.id = l.customer_id\n),\ncompany AS (\n  SELECT * FROM tradie_companies WHERE id = ${sql(companyId)} AND active = true LIMIT 1\n),\navailable_tradies AS (\n  SELECT DISTINCT t.id, t.name, t.email, t.phone\n  FROM tradies t\n  JOIN company co ON co.id = t.company_id\n  LEFT JOIN tradie_skills sk ON sk.tradie_id = t.id\n  CROSS JOIN target_slot s\n  WHERE t.active = true\n    AND (lower(coalesce(sk.trade_type, ${sql(tradeType)})) = ${sql(tradeType)} OR sk.trade_type IS NULL)\n    AND NOT EXISTS (\n      SELECT 1\n      FROM job_assignments ja\n      JOIN job_schedule_slots js ON js.id = ja.schedule_slot_id\n      WHERE ja.tradie_id = t.id\n        AND ja.status NOT IN ('cancelled', 'declined')\n        AND tstzrange(js.scheduled_start, js.scheduled_end, '[)') && tstzrange(s.scheduled_start, s.scheduled_end, '[)')\n    )\n  ORDER BY t.id\n  LIMIT ${requestedTradieCount}\n),\npayload AS (\n  SELECT\n    true AS success,\n    ${dryRun ? 'true' : 'false'}::boolean AS dry_run,\n    s.id AS schedule_slot_id,\n    COALESCE(s.job_id, ${sql(jobId)}, 'JOB-' || s.id) AS job_id,\n    COALESCE(s.lead_id, lc.lead_id, ${sql(leadId)}) AS lead_id,\n    COALESCE(s.quote_id, ${sql(quoteId)}) AS quote_id,\n    co.id AS company_id,\n    co.name AS company_name,\n    COALESCE(co.calendar_id, ${sql(calendarId)}) AS calendar_id,\n    s.scheduled_start AS event_start,\n    s.scheduled_end AS event_end,\n    COALESCE(lc.customer_name, 'Customer') AS customer_name,\n    COALESCE(lc.customer_email, '') AS customer_email,\n    COALESCE(lc.customer_phone, '') AS customer_phone,\n    COALESCE(s.customer_suburb, s.customer_address, lc.lead_address, '') AS location,\n    COALESCE(lc.trade_type, ${sql(tradeType)}) AS trade_type,\n    COALESCE(lc.job_description, 'Trade service job') AS job_description,\n    COALESCE(lc.urgency, 'normal') AS urgency,\n    (\n      SELECT jsonb_agg(jsonb_build_object('tradie_id', id, 'tradie_name', name, 'email', email, 'phone', phone))\n      FROM available_tradies\n    ) AS assigned_tradies,\n    (SELECT count(*) FROM available_tradies) AS assigned_tradie_count,\n    LEAST(${requestedTradieCount}, co.max_tradies_per_job, 5) AS requested_tradie_count\n  FROM target_slot s\n  CROSS JOIN company co\n  LEFT JOIN lead_context lc ON true\n)\nSELECT * FROM payload;\n`;\n\nreturn [{ json: { sql: query, requested_tradie_count: requestedTradieCount, dry_run: dryRun } }];"}, "position": [720, 0], "name": "Prepare Assignment SQL", "id": "665dd597-aef8-44b1-a153-ba148491b82d", "type": "n8n-nodes-base.code", "typeVersion": 2}, {"parameters": {"operation": "executeQuery", "query": "{{$json.sql}}", "options": {}}, "position": [960, 0], "name": "Load Slot And Assign Tradies", "id": "73453fd9-3628-49ed-82c1-7ecdb5aef40e", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}}, {"parameters": {"jsCode": "const row = items[0]?.json ?? {};\n\nfunction asArray(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  if (typeof value === 'string') {\n    try { return JSON.parse(value); } catch { return []; }\n  }\n  return [];\n}\n\nif (!row.success || !row.schedule_slot_id) {\n  return [{\n    json: {\n      success: false,\n      status: 'needs_schedule_slot',\n      customer_message: 'I could not find a scheduled slot to add to the calendar.',\n      raw: row,\n    },\n  }];\n}\n\nconst assignedTradies = asArray(row.assigned_tradies);\nif (!assignedTradies.length || Number(row.assigned_tradie_count || 0) < Number(row.requested_tradie_count || 1)) {\n  return [{\n    json: {\n      success: false,\n      status: 'not_enough_available_tradies',\n      schedule_slot_id: row.schedule_slot_id,\n      requested_tradie_count: Number(row.requested_tradie_count || 1),\n      assigned_tradie_count: Number(row.assigned_tradie_count || 0),\n      customer_message: 'The team needs to manually confirm tradie availability for this booking.',\n      raw: row,\n    },\n  }];\n}\n\nconst tradieNames = assignedTradies.map((t) => t.tradie_name || t.name || t.tradie_id).join(', ');\nconst trade = String(row.trade_type || 'trade').toUpperCase();\nconst summary = `[1pacent] ${trade} | ${row.lead_id || row.job_id || row.schedule_slot_id} | ${row.location || 'Job'} | ${row.customer_name || 'Customer'} | ${tradieNames}`;\nconst description = [\n  `1pacent job booking`,\n  `Lead ID: ${row.lead_id || ''}`,\n  `Job ID: ${row.job_id || ''}`,\n  `Quote ID: ${row.quote_id || ''}`,\n  `Company: ${row.company_name || row.company_id || ''}`,\n  `Assigned tradies: ${tradieNames}`,\n  `Customer: ${row.customer_name || ''}`,\n  `Phone: ${row.customer_phone || ''}`,\n  `Email: ${row.customer_email || ''}`,\n  `Trade: ${row.trade_type || ''}`,\n  `Urgency: ${row.urgency || ''}`,\n  `Job: ${row.job_description || ''}`,\n  `Address/Suburb: ${row.location || ''}`,\n  ``,\n  `Operational note: tradie must confirm final scope and pricing before work begins. No work proceeds until customer accepts the confirmed quote.`,\n].join('\\n');\n\nreturn [{\n  json: {\n    success: true,\n    dry_run: row.dry_run === true || row.dry_run === 'true',\n    schedule_slot_id: row.schedule_slot_id,\n    job_id: row.job_id,\n    lead_id: row.lead_id,\n    quote_id: row.quote_id,\n    company_id: row.company_id,\n    company_name: row.company_name,\n    calendar_id: row.calendar_id || 'mac@1pacent.com',\n    event_start: row.event_start,\n    event_end: row.event_end,\n    event_summary: summary,\n    event_description: description,\n    location: row.location || '',\n    assigned_tradies: assignedTradies,\n    assigned_tradie_count: assignedTradies.length,\n    customer_message: `The booking request is now in the company calendar for ${tradieNames}.`,\n  },\n}];"}, "position": [1200, 0], "name": "Build Calendar Event Payload", "id": "2f6af379-d859-4e7f-b240-6e04fda7ef24", "type": "n8n-nodes-base.code", "typeVersion": 2}, {"parameters": {"calendar": "={{$json.calendar_id}}", "start": "={{$json.event_start}}", "end": "={{$json.event_end}}", "additionalFields": {"description": "={{$json.event_description}}", "location": "={{$json.location}}", "summary": "={{$json.event_summary}}"}}, "id": "f7a226a0-90a7-48bf-953b-5753d0e80d87", "name": "Create Labelled Calendar Event", "type": "n8n-nodes-base.googleCalendar", "typeVersion": 1.3, "position": [1440, 0], "credentials": {"googleCalendarOAuth2Api": {"id": "Qy3Z3GZ8CX5ruMLE", "name": "Google Calendar account"}}, "continueOnFail": true}, {"parameters": {"jsCode": "const event = items[0]?.json ?? {};\nconst input = $('Build Calendar Event Payload').first().json;\nconst payload = { ...input, google_calendar_response: event };\nconst googleEventId = event.id || event.htmlLink || '';\nconst calendarError = event.error?.message || event.message || '';\nconst calendarCreated = Boolean(googleEventId && !calendarError);\nconst status = calendarCreated ? 'calendar_booked' : 'calendar_booking_needs_calendar_fix';\nconst customerMessage = calendarCreated\n  ? input.customer_message\n  : 'The job has been assigned internally, but the Google Calendar event needs the calendar connection checked.';\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nconst assignments = (input.assigned_tradies || []).map((tradie) => `\nINSERT INTO job_assignments (job_id, lead_id, quote_id, schedule_slot_id, company_id, tradie_id, role, status)\nVALUES (${sql(input.job_id)}, ${sql(input.lead_id)}, ${sql(input.quote_id)}, ${sql(input.schedule_slot_id)}, ${sql(input.company_id)}, ${sql(tradie.tradie_id)}, 'assigned_tradie', 'assigned')\nON CONFLICT (schedule_slot_id, tradie_id) DO UPDATE SET\n  status = 'assigned',\n  updated_at = now();\n`).join('\\n');\n\nconst query = `\n${assignments}\n\nINSERT INTO calendar_events (\n  schedule_slot_id, job_id, lead_id, quote_id, company_id, calendar_id, google_event_id,\n  event_summary, event_start, event_end, payload\n)\nVALUES (\n  ${sql(input.schedule_slot_id)},\n  ${sql(input.job_id)},\n  ${sql(input.lead_id)},\n  ${sql(input.quote_id)},\n  ${sql(input.company_id)},\n  ${sql(input.calendar_id)},\n  ${sql(googleEventId)},\n  ${sql(input.event_summary)},\n  ${sql(input.event_start)},\n  ${sql(input.event_end)},\n  ${jsonSql(payload)}\n);\n\nUPDATE job_schedule_slots\nSET status = ${sql(status)}, updated_at = now()\nWHERE id = ${sql(input.schedule_slot_id)};\n\nUPDATE jobs\nSET status = ${sql(calendarCreated ? 'Calendar Booked - Awaiting Tradie Confirmation' : 'Assigned - Calendar Connection Needs Review')},\n    scheduled_window = ${sql(`${input.event_start} to ${input.event_end}`)},\n    updated_at = now()\nWHERE id = ${sql(input.job_id)};\n\nINSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\nVALUES ('schedule_slot', ${sql(input.schedule_slot_id)}, ${sql(calendarCreated ? 'calendar_job_booked' : 'calendar_booking_failed')}, ${jsonSql(payload)});\n\nSELECT\n  ${calendarCreated ? 'true' : 'false'} AS success,\n  ${sql(status)} AS status,\n  ${sql(input.schedule_slot_id)} AS schedule_slot_id,\n  ${sql(input.job_id)} AS job_id,\n  ${sql(input.lead_id)} AS lead_id,\n  ${sql(input.calendar_id)} AS calendar_id,\n  ${sql(googleEventId)} AS google_event_id,\n  ${sql(calendarError)} AS calendar_error,\n  ${sql(input.event_summary)} AS event_summary,\n  ${jsonSql(input.assigned_tradies)} AS assigned_tradies,\n  ${sql(customerMessage)} AS customer_message;\n`;\n\nreturn [{ json: { sql: query } }];"}, "position": [1680, 0], "name": "Build Save Calendar SQL", "id": "36e29eb5-8b97-46bb-b550-441121a2b9aa", "type": "n8n-nodes-base.code", "typeVersion": 2}, {"parameters": {"operation": "executeQuery", "query": "{{$json.sql}}", "options": {}}, "position": [1920, 0], "name": "Save Calendar Booking", "id": "5ac9ece6-9a20-4143-add7-5901a1397b3b", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": {}}, "position": [2160, 0], "name": "Return Calendar Booking Result", "id": "3841bb2c-9903-41f9-b59d-e81425137718", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5}], "connections": {"Build Save Calendar SQL": {"main": [[{"node": "Save Calendar Booking", "type": "main", "index": 0}]]}, "Save Calendar Booking": {"main": [[{"node": "Return Calendar Booking Result", "type": "main", "index": 0}]]}, "Load Slot And Assign Tradies": {"main": [[{"node": "Build Calendar Event Payload", "type": "main", "index": 0}]]}, "Bootstrap Calendar Booking Tables": {"main": [[{"node": "Prepare Assignment SQL", "type": "main", "index": 0}]]}, "Book Job In Company Calendar": {"main": [[{"node": "Prepare Calendar Bootstrap SQL", "type": "main", "index": 0}]]}, "Build Calendar Event Payload": {"main": [[{"node": "Create Labelled Calendar Event", "type": "main", "index": 0}]]}, "Prepare Assignment SQL": {"main": [[{"node": "Load Slot And Assign Tradies", "type": "main", "index": 0}]]}, "Prepare Calendar Bootstrap SQL": {"main": [[{"node": "Bootstrap Calendar Booking Tables", "type": "main", "index": 0}]]}, "Create Labelled Calendar Event": {"main": [[{"node": "Build Save Calendar SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true, "binaryMode": "separate"}, "staticData": null, "meta": null, "pinData": {}, "tags": [], "versionMetadata": {"name": null, "description": null}}