docs/tradie-import/TRADIE-PAYMENTS-062-Record-Payment--CTjn5fZZdw2UhgxP.json
{"name": "TRADIE-PAYMENTS-062-Record-Payment", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Record Payment Webhook", "id": "baab58e4-ff68-46a9-9288-f5da94e67dca", "webhookId": "d8a1798d-a4c5-4b79-b7dc-38e7d521f978", "type": "n8n-nodes-base.webhook", "parameters": {"path": "payments/record", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Record Payment SQL", "id": "654bc924-70e0-4391-b707-06fe1e387e6a", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw.query ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction num(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\n  return Number.isFinite(n) ? String(n) : 'NULL';\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nconst paymentRequestId = first(body.payment_request_id, body.request_id);\nconst invoiceId = first(body.invoice_id);\nconst provider = first(body.provider, 'manual');\nconst providerPaymentId = first(body.provider_payment_id, body.payment_intent_id, body.transaction_id);\nconst amount = first(body.amount);\n\nconst query = `\nWITH target AS (\n  SELECT *\n  FROM payment_requests\n  WHERE (${sql(paymentRequestId)} IS NOT NULL AND id = ${sql(paymentRequestId)})\n     OR (${sql(invoiceId)} IS NOT NULL AND invoice_id = ${sql(invoiceId)})\n  ORDER BY created_at DESC\n  LIMIT 1\n),\nupdated_payment AS (\n  UPDATE payment_requests\n  SET status = 'paid',\n      paid_at = now(),\n      provider = ${sql(provider)},\n      amount = COALESCE(${num(amount)}, amount),\n      payload = payload || ${jsonSql({ provider_payment_id: providerPaymentId, raw: body })},\n      updated_at = now()\n  WHERE id = (SELECT id FROM target)\n  RETURNING *\n),\nupdated_invoice AS (\n  UPDATE invoices\n  SET status = 'Paid',\n      paid_at = now(),\n      updated_at = now()\n  WHERE id = (SELECT invoice_id FROM updated_payment)\n  RETURNING *\n),\ninsert_event AS (\n  INSERT INTO payment_events (payment_request_id, invoice_id, event_type, provider, amount, payload)\n  SELECT id, invoice_id, 'payment_paid', provider, amount, ${jsonSql(body)}\n  FROM updated_payment\n),\ninsert_workflow_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  SELECT 'payment_request', id, 'payment_paid', to_jsonb(updated_payment)\n  FROM updated_payment\n),\ninsert_memory AS (\n  INSERT INTO agent_memory (agent_key, agent_name, job_id, memory_type, summary, payload)\n  SELECT\n    'penny',\n    'Penny',\n    job_id,\n    'payment_paid',\n    'Payment received for invoice ' || invoice_id || ' amount ' || chr(36) || amount || '.',\n    to_jsonb(updated_payment)\n  FROM updated_payment\n)\nSELECT COALESCE(\n  (\n    SELECT jsonb_build_object(\n      'success', true,\n      'status', 'paid',\n      'payment_request_id', id,\n      'invoice_id', invoice_id,\n      'job_id', job_id,\n      'quote_id', quote_id,\n      'amount', amount,\n      'paid_at', paid_at,\n      'provider', provider\n    )\n    FROM updated_payment\n  ),\n  jsonb_build_object(\n    'success', false,\n    'status', 'not_found',\n    'message', 'No payment request matched the supplied payment_request_id or invoice_id.',\n    'payment_request_id', ${sql(paymentRequestId)},\n    'invoice_id', ${sql(invoiceId)}\n  )\n) AS payment_result;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Payment Received", "id": "1fb2a8c5-65ca-4da0-949d-734d067fee31", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Payment Recorded", "id": "80762777-4b38-4a4a-b847-ca8f80ad48f4", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.payment_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Record Payment Webhook": {"main": [[{"node": "Build Record Payment SQL", "type": "main", "index": 0}]]}, "Save Payment Received": {"main": [[{"node": "Respond Payment Recorded", "type": "main", "index": 0}]]}, "Build Record Payment SQL": {"main": [[{"node": "Save Payment Received", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}