docs/tradie-import/TRADIE-TOOL-George-Calendar-Book-Job--XjaNfDQl1pXdRu1X.json
{"name": "TRADIE-TOOL-George-Calendar-Book-Job", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When George Calendar Booking Tool Is Called", "id": "399d7406-028d-4c5a-8829-b21546ebf519", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Calendar Booking Tool Input", "id": "efbb6591-314a-45f8-990b-69bb1a47d2e7", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst text = String(raw.input || raw.tool_input || '').trim();\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction field(name) {\n  const escaped = name.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const pattern = new RegExp(`${escaped}\\\\s*:\\\\s*([^,\\\\n]+)`, 'i');\n  const match = text.match(pattern);\n  return match ? match[1].trim() : '';\n}\n\nreturn [{\n  json: {\n    schedule_slot_id: first(raw.schedule_slot_id, raw.slot_id, field('schedule_slot_id'), field('slot_id')),\n    lead_id: first(raw.lead_id, field('lead_id')),\n    job_id: first(raw.job_id, field('job_id')),\n    quote_id: first(raw.quote_id, field('quote_id')),\n    company_id: first(raw.company_id, field('company_id'), 'COMP-1PACENT-DEFAULT'),\n    tradie_id: first(raw.tradie_id, raw.preferred_tradie_id, field('tradie_id'), field('preferred_tradie_id')),\n    preferred_tradie_id: first(raw.preferred_tradie_id, raw.tradie_id, field('preferred_tradie_id'), field('tradie_id')),\n    tradie_count: first(raw.tradie_count, field('tradie_count'), 1),\n    trade_type: first(raw.trade_type, field('trade_type'), 'electrical'),\n    calendar_id: first(raw.calendar_id, field('calendar_id'), 'mac@1pacent.com'),\n  },\n}];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Calendar Booking Endpoint", "id": "b67c875f-7365-4fdf-ba93-3de3270fd24b", "type": "n8n-nodes-base.httpRequest", "parameters": {"specifyBody": "json", "sendBody": true, "options": {"timeout": 20000}, "method": "POST", "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json", "url": "http://localhost:5678/webhook/agents/george/calendar-book-job"}, "typeVersion": 4.2}], "connections": {"Normalise Calendar Booking Tool Input": {"main": [[{"node": "Call Calendar Booking Endpoint", "type": "main", "index": 0}]]}, "When George Calendar Booking Tool Is Called": {"main": [[{"node": "Normalise Calendar Booking Tool Input", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}