docs/tradie-import/TRADIE-CORE-909-Skills-Search--NvyVJsuMEcmToCQK.json
{"name": "TRADIE-CORE-909-Skills-Search", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Skills Search Webhook", "id": "1883d01a-60c0-49a2-85fd-f1f468e055cc", "webhookId": "d42473be-cf98-4fe3-8979-996588c48a49", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/skills/search", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Skills Search SQL", "id": "eda91c19-47d8-4928-a567-3d1ad1759180", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst source = raw.query && Object.keys(raw.query).length ? raw.query : (raw.body ?? raw);\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nconst agentKey = source.agent_key || '';\nconst category = source.category || '';\nconst queryText = source.query || source.search || source.question || '';\nconst limit = Math.min(Math.max(Number(source.limit || 8), 1), 20);\n\nconst query = `\nWITH skills AS (\n  SELECT\n    s.*,\n    a.priority,\n    CASE\n      WHEN ${sql(queryText)} IS NULL THEN 0\n      ELSE COALESCE((\n        SELECT count(*)\n        FROM regexp_split_to_table(lower(${sql(queryText)}), '\\\\s+') AS q(term)\n        WHERE length(q.term) > 2\n          AND (\n            lower(s.skill_name) LIKE '%' || q.term || '%'\n            OR lower(s.description) LIKE '%' || q.term || '%'\n            OR lower(s.best_practice) LIKE '%' || q.term || '%'\n            OR lower(array_to_string(s.tags, ' ')) LIKE '%' || q.term || '%'\n          )\n      ), 0)\n    END AS term_hits\n  FROM business_skills s\n  LEFT JOIN agent_skill_assignments a ON a.skill_key = s.skill_key AND a.active = true AND a.agent_key = ${sql(agentKey)}\n  WHERE s.status = 'active'\n    AND (${sql(agentKey)} IS NULL OR s.owner_agent_key = ${sql(agentKey)} OR a.agent_key = ${sql(agentKey)})\n    AND (${sql(category)} IS NULL OR s.category = ${sql(category)})\n),\nranked AS (\n  SELECT *, term_hits + usefulness_score + COALESCE(100 - priority, 0) / 100.0 AS score\n  FROM skills\n  WHERE ${sql(queryText)} IS NULL OR term_hits > 0\n  ORDER BY score DESC, updated_at DESC\n  LIMIT ${limit}\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'agent_key', ${sql(agentKey)},\n  'query', ${sql(queryText)},\n  'result_count', (SELECT count(*) FROM ranked),\n  'results', COALESCE((\n    SELECT jsonb_agg(jsonb_build_object(\n      'skill_key', skill_key,\n      'skill_name', skill_name,\n      'capability', capability,\n      'category', category,\n      'description', description,\n      'best_practice', best_practice,\n      'guardrails', guardrails,\n      'inputs', inputs,\n      'outputs', outputs,\n      'owner_agent_key', owner_agent_key,\n      'version', version,\n      'tags', tags,\n      'usefulness_score', usefulness_score,\n      'score', score,\n      'updated_at', updated_at\n    ) ORDER BY score DESC, updated_at DESC)\n    FROM ranked\n  ), '[]'::jsonb)\n) AS skills_search;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Search Skills", "id": "11a174df-cdce-41ba-ae64-c6db999507d7", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Skills Search", "id": "597e6b8d-562c-47af-bd29-91d8f8945d23", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.skills_search || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Skills Search Webhook": {"main": [[{"node": "Build Skills Search SQL", "type": "main", "index": 0}]]}, "Build Skills Search SQL": {"main": [[{"node": "Search Skills", "type": "main", "index": 0}]]}, "Search Skills": {"main": [[{"node": "Respond Skills Search", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}