docs/tradie-import/TRADIE-CORE-950-Agent-Catalog-Enrich--UDh5gtTub0JYGWM4.json
{"name": "TRADIE-CORE-950-Agent-Catalog-Enrich", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Agent Catalog Enrich Webhook", "id": "270ed1e2-7a5b-4d94-8569-3e85b7242b50", "webhookId": "83cf31bc-9172-4feb-b4ff-8ead49350f54", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/agent-catalog/enrich", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Agent Catalog Enrichment SQL", "id": "a52fcf92-7b94-44e5-8c57-7b2218f43853", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const query = `\nALTER TABLE agent_definitions ADD COLUMN IF NOT EXISTS purpose text;\nALTER TABLE agent_definitions ADD COLUMN IF NOT EXISTS operating_scope text;\nALTER TABLE agent_definitions ADD COLUMN IF NOT EXISTS customer_facing boolean not null default false;\nALTER TABLE agent_definitions ADD COLUMN IF NOT EXISTS owner_domain text;\nALTER TABLE agent_definitions ADD COLUMN IF NOT EXISTS responsibilities jsonb not null default '[]'::jsonb;\nALTER TABLE agent_definitions ADD COLUMN IF NOT EXISTS success_measures jsonb not null default '[]'::jsonb;\nALTER TABLE agent_definitions ADD COLUMN IF NOT EXISTS handoff_triggers jsonb not null default '[]'::jsonb;\nALTER TABLE agent_definitions ADD COLUMN IF NOT EXISTS guardrails jsonb not null default '[]'::jsonb;\n\nINSERT INTO agent_definitions (\n  agent_key, agent_name, agent_role, purpose, operating_scope, customer_facing, owner_domain,\n  responsibilities, success_measures, handoff_triggers, guardrails, model_provider, model_name, active\n)\nVALUES\n(\n  'sally_receptionist',\n  'Sally',\n  'Customer intake and booking request receptionist',\n  'Give customers a fast, calm, trustworthy first contact for trade enquiries across calls and chats.',\n  'External ElevenLabs voice/chat agent. Collects customer/job details, confirms email, calls n8n tools, and hands structured work to internal agents.',\n  true,\n  'customer_intake',\n  '[\"Capture complete customer/job details\",\"Confirm email spelling before confirmation\",\"Use pricing and scheduling tools instead of guessing\",\"Create booking requests for qualified tradies\",\"Maintain a short, natural customer experience\"]'::jsonb,\n  '[\"High percentage of complete intake records\",\"Low email correction rate after confirmation\",\"Low customer frustration during scheduling\",\"Fast booking request confirmation sent\",\"Low number of missing consent/contact fields\"]'::jsonb,\n  '[\"Needs schedule recommendation -> George Foreman\",\"Needs indicative pricing -> Nelly\",\"Booking request captured -> George/Nelly/Penny as lifecycle progresses\",\"Customer asks for change -> George\",\"Customer asks payment or invoice question -> Penny\"]'::jsonb,\n  '[\"Do not give DIY repair instructions\",\"Do not promise fixed final pricing\",\"Do not say internal terms like CRM/workflow/George\",\"Do not create confirmation without confirmed email and consent\"]'::jsonb,\n  'elevenlabs',\n  'Sally - 1pacent Receptionist',\n  true\n),\n(\n  'george_foreman',\n  'George Foreman',\n  'Scheduling operations AI agent',\n  'Create efficient, customer-friendly schedules that reduce travel time and improve tradie productivity.',\n  'Internal n8n agent. Owns schedule recommendations, calendar booking, day planning, tradie allocation and route efficiency.',\n  false,\n  'scheduling_operations',\n  '[\"Recommend appointment windows\",\"Avoid double booking\",\"Respect tradie capacity and travel buffers\",\"Book calendar events\",\"Optimise daily route plans\",\"Record scheduling decisions for learning\"]'::jsonb,\n  '[\"Schedule acceptance rate\",\"Travel minutes reduced per day\",\"Tradie utilisation rate\",\"Double-booking incidents near zero\",\"Manual scheduling intervention rate\",\"Customer wait time to recommended slot\"]'::jsonb,\n  '[\"Customer or Sally requests availability\",\"Quote accepted and job needs scheduling\",\"Tradie calendar changes\",\"Schedule conflict detected\",\"Manual review needed for no feasible slot\"]'::jsonb,\n  '[\"Do not invent availability\",\"Use calendar and scheduler tools\",\"Prefer route efficiency without ignoring urgency\",\"Do not expose internal routing logic to customers\"]'::jsonb,\n  'google_gemini',\n  'models/gemini-3.1-flash-lite',\n  true\n),\n(\n  'nelly',\n  'Nelly',\n  'Quote intelligence, indicative pricing and quote-vs-actual learning AI agent',\n  'Improve quote accuracy and customer trust by learning from similar jobs, tradie-confirmed quotes, and actual job outcomes.',\n  'Internal n8n agent. Owns indicative price ranges, quote confidence, quote assumptions and quote-vs-actual learning.',\n  false,\n  'pricing_quote_intelligence',\n  '[\"Provide indicative price ranges\",\"Explain pricing assumptions\",\"Compare quotes to actuals\",\"Capture pricing evidence\",\"Improve quote templates and confidence over time\"]'::jsonb,\n  '[\"Quote accuracy score\",\"Quote variance against actuals\",\"Estimate confidence improvement\",\"Reduced tradie quote rework\",\"Customer acceptance rate of quotes\",\"Number of useful similar-job evidence records\"]'::jsonb,\n  '[\"Sally/customer asks cost\",\"Tradie confirms final costs\",\"Job completed with actual labour/materials\",\"Variation requested\",\"Quote accuracy metric created\"]'::jsonb,\n  '[\"Never promise fixed final price before tradie confirmation\",\"Separate indicative estimate from quote\",\"Do not invent similar-job evidence\",\"Surface assumptions and risks\"]'::jsonb,\n  'google_gemini',\n  'models/gemini-3.1-flash-lite',\n  true\n),\n(\n  'penny',\n  'Penny',\n  'Payments, invoice collection and faster-cashflow AI agent',\n  'Help tradie businesses get paid faster while keeping payment communication clear and respectful.',\n  'Internal n8n agent. Owns payment requests, payment status, payment received events and payment follow-up recommendations.',\n  false,\n  'payments_cashflow',\n  '[\"Create payment requests\",\"Send payment links\",\"Track payment status\",\"Record provider/manual payment events\",\"Recommend overdue follow-ups\",\"Measure speed to paid\"]'::jsonb,\n  '[\"Days sales outstanding reduced\",\"Payment request to paid conversion rate\",\"Average time from invoice sent to paid\",\"Overdue invoice count\",\"Payment follow-up success rate\",\"Payment status accuracy\"]'::jsonb,\n  '[\"Invoice issued\",\"Payment request needed\",\"Provider payment webhook received\",\"Payment overdue\",\"Customer asks payment/invoice question\",\"Admin records manual payment\"]'::jsonb,\n  '[\"Never mark paid without payment event or authorised manual confirmation\",\"Do not invent provider transaction IDs\",\"Clearly distinguish placeholder/test provider from real payments\",\"Keep customer wording transparent\"]'::jsonb,\n  'google_gemini',\n  'models/gemini-3.1-flash-lite',\n  true\n),\n(\n  'mia_social',\n  'Mia',\n  'Social media and reputation growth AI agent',\n  'Turn completed jobs, approved media and reviews into trust-building growth for each tradie business.',\n  'Internal n8n agent. Owns social drafts, customer media approval guardrails, review requests and reputation growth loops.',\n  false,\n  'growth_reputation',\n  '[\"Draft completed-job social content\",\"Require customer media approval\",\"Request reviews after completed jobs\",\"Protect customer privacy\",\"Track social/review status\",\"Feed growth learnings into Skills\"]'::jsonb,\n  '[\"Review request conversion rate\",\"Approved social draft count\",\"Customer media approval rate\",\"Follower/reputation growth indicators\",\"Privacy incident count zero\",\"Repeatable growth Skills created\"]'::jsonb,\n  '[\"Job completed\",\"Invoice sent or paid\",\"Customer approved media\",\"Review request due\",\"Internal social approval granted\",\"Social provider credentials connected\"]'::jsonb,\n  '[\"Never publish without customer and internal approval\",\"No exact address, phone, email, faces or licence plates without consent\",\"Do not invent ratings or trust proof\",\"Draft only until Meta credentials are connected\"]'::jsonb,\n  'google_gemini',\n  'models/gemini-3.1-flash-lite',\n  true\n),\n(\n  'quintino',\n  'Quintino',\n  'Skills intelligence, lifecycle governance, workflow improvement and moat-building analytics AI agent',\n  'Strengthen the product moat by turning operational data into version-managed Skills and measurable service improvements.',\n  'Internal n8n agent. Owns Skills lifecycle, best-practice library, workflow improvement recommendations and cross-agent learning audits.',\n  false,\n  'skills_moat_intelligence',\n  '[\"Analyse cross-agent history and workflow data\",\"Identify best-practice Skills\",\"Manage Skill versions and archival\",\"Recommend workflow improvements\",\"Track evidence strength\",\"Keep only one active Skill version\"]'::jsonb,\n  '[\"Useful Skills created or improved\",\"Workflow improvement recommendations accepted\",\"Quote/scheduling/payment/review performance improvements linked to Skills\",\"Archived duplicate or stale Skills\",\"Evidence-backed recommendations ratio\"]'::jsonb,\n  '[\"New learning from job completion\",\"Repeated operational pattern detected\",\"Agent saves knowledge\",\"Skill needs promotion or archival\",\"Workflow performance issue appears\"]'::jsonb,\n  '[\"Do not promote weakly evidenced Skills\",\"Do not invent evidence\",\"Keep recommendations measurable\",\"Preserve historical Skill versions for audit\"]'::jsonb,\n  'google_gemini',\n  'models/gemini-3.1-flash-lite',\n  true\n)\nON CONFLICT (agent_key) DO UPDATE SET\n  agent_name = EXCLUDED.agent_name,\n  agent_role = EXCLUDED.agent_role,\n  purpose = EXCLUDED.purpose,\n  operating_scope = EXCLUDED.operating_scope,\n  customer_facing = EXCLUDED.customer_facing,\n  owner_domain = EXCLUDED.owner_domain,\n  responsibilities = EXCLUDED.responsibilities,\n  success_measures = EXCLUDED.success_measures,\n  handoff_triggers = EXCLUDED.handoff_triggers,\n  guardrails = EXCLUDED.guardrails,\n  model_provider = EXCLUDED.model_provider,\n  model_name = EXCLUDED.model_name,\n  active = EXCLUDED.active,\n  updated_at = now();\n\nINSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\nVALUES ('agent_catalog', 'all', 'agent_catalog_enriched', '{\"agents\":[\"sally_receptionist\",\"george_foreman\",\"nelly\",\"penny\",\"mia_social\",\"quintino\"]}'::jsonb);\n\nSELECT jsonb_build_object(\n  'success', true,\n  'agent_count', (SELECT count(*) FROM agent_definitions WHERE active = true),\n  'message', 'Agent catalogue enriched with purpose, scope, responsibilities, success measures, handoffs and guardrails.'\n) AS setup_result;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Enrich Agent Catalog", "id": "400fa450-7915-4cb3-a646-d1032718fbf6", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Agent Catalog Enrich", "id": "02656200-2dd8-4da8-93aa-c1403404ff98", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.setup_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Agent Catalog Enrichment SQL": {"main": [[{"node": "Enrich Agent Catalog", "type": "main", "index": 0}]]}, "Enrich Agent Catalog": {"main": [[{"node": "Respond Agent Catalog Enrich", "type": "main", "index": 0}]]}, "Agent Catalog Enrich Webhook": {"main": [[{"node": "Build Agent Catalog Enrichment SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}