docs/tradie-import/TRADIE-TOOL-Skill-Lifecycle-Manage--7eIJK8PKiuS3Zb6G.json
{"name": "TRADIE-TOOL-Skill-Lifecycle-Manage", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Skill Lifecycle Tool Is Called", "id": "bc600875-9ba9-4036-a416-aed46b131dfc", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Skill Lifecycle Tool Input", "id": "c5a7550d-b3f0-4ad3-8a09-f9fcf279090c", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nreturn [{\n  json: {\n    action: raw.action || 'propose',\n    skill_key: raw.skill_key || '',\n    skill_name: raw.skill_name || raw.title || 'Business Skill',\n    capability: raw.capability || '',\n    category: raw.category || 'general',\n    description: raw.description || '',\n    best_practice: raw.best_practice || raw.content || '',\n    guardrails: raw.guardrails || '',\n    tags: raw.tags || '',\n    change_reason: raw.change_reason || raw.evidence_summary || '',\n    usefulness_score: raw.usefulness_score || 5,\n    approved_by: raw.approved_by || '',\n    source_type: raw.source_type || 'quintino',\n    source_id: raw.source_id || raw.recommendation_key || '',\n  },\n}];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Skill Lifecycle Endpoint", "id": "8cb86993-9ebe-475b-987c-a3663daf9bc6", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/core/skills/lifecycle-manage", "options": {"timeout": 30000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"When Skill Lifecycle Tool Is Called": {"main": [[{"node": "Normalise Skill Lifecycle Tool Input", "type": "main", "index": 0}]]}, "Normalise Skill Lifecycle Tool Input": {"main": [[{"node": "Call Skill Lifecycle Endpoint", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}