docs/tradie-import/TRADIE-JOBS-045-Complete-Job--ZmHO0utVjtGXXvaz.json
{"name": "TRADIE-JOBS-045-Complete-Job", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Job Completion Webhook", "id": "12692ce0-a40e-4d07-8ee9-333eb81a10a5", "webhookId": "bccf9b4f-371d-48dc-8564-c819dd8d2425", "type": "n8n-nodes-base.webhook", "parameters": {"path": "jobs/complete", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Completion Invoice SQL", "id": "d0173a6e-4899-4dfb-9d72-2fd69b99c47f", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    if (Array.isArray(value) && value.length === 0) continue;\n    return value;\n  }\n  return '';\n}\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction num(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\n  return Number.isFinite(n) ? String(n) : 'NULL';\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nfunction minutes(value, fallbackHours) {\n  const n = Number(String(value ?? '').replace(/[^0-9.\\-]/g, ''));\n  if (Number.isFinite(n)) return Math.round(n);\n  const h = Number(String(fallbackHours ?? '').replace(/[^0-9.\\-]/g, ''));\n  return Number.isFinite(h) ? Math.round(h * 60) : null;\n}\n\nfunction moneyNumber(value) {\n  const n = Number(String(value ?? '').replace(/[^0-9.\\-]/g, ''));\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction normaliseMaterials(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value);\n      if (Array.isArray(parsed)) return parsed;\n    } catch {}\n    return value.split(/\\n|,/).map((line) => {\n      const text = line.trim();\n      if (!text) return null;\n      const match = text.match(/^(\\d+(?:\\.\\d+)?)\\s*x?\\s+(.+)$/i);\n      return {\n        description: match ? match[2].trim() : text,\n        quantity: match ? Number(match[1]) : 1,\n      };\n    }).filter(Boolean);\n  }\n  return [];\n}\n\nconst now = new Date();\nconst jobId = first(body.job_id);\nconst leadId = first(body.lead_id);\nconst quoteId = first(body.quote_id);\nconst scheduleSlotId = first(body.schedule_slot_id);\nconst invoiceId = first(body.invoice_id, `INV-${now.getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`);\nconst tradieId = first(body.tradie_id);\nconst actualDurationMinutes = minutes(first(body.actual_duration_minutes, body.labour_minutes), body.labour_hours);\nconst actualTravelMinutes = minutes(first(body.actual_travel_minutes, body.travel_minutes), body.travel_hours);\nconst finalInvoiceAmount = first(body.final_invoice_amount, body.final_amount, body.invoice_amount);\nconst confirmedQuote = first(body.confirmed_quote, body.confirmed_quote_amount, body.quote_amount);\nconst initialEstimate = first(body.initial_estimate, body.estimated_price_band);\nconst actualMaterialsCost = first(body.actual_materials_cost, body.materials_cost);\nconst estimatedMaterialsCost = first(body.estimated_materials_cost);\nconst completionNotes = first(body.completion_notes, body.tradie_notes, body.notes, 'Completed as agreed.');\nconst varianceReason = first(body.variance_reason, completionNotes);\nconst customerNotes = first(body.customer_notes);\nconst parts = normaliseMaterials(first(body.materials, body.parts, body.parts_used));\nconst actualLabourHours = actualDurationMinutes === null ? first(body.actual_labour_hours, body.labour_hours) : (actualDurationMinutes / 60).toFixed(2);\n\nconst missing = [];\nif (!jobId && !leadId && !quoteId) missing.push('job_id_or_lead_id_or_quote_id');\nif (actualDurationMinutes === null) missing.push('actual_duration_minutes');\nif (actualTravelMinutes === null) missing.push('actual_travel_minutes');\nif (!finalInvoiceAmount) missing.push('final_invoice_amount');\n\nconst quoteNumber = moneyNumber(confirmedQuote);\nconst invoiceNumber = moneyNumber(finalInvoiceAmount);\nconst quoteVariance = quoteNumber !== null && invoiceNumber !== null ? invoiceNumber - quoteNumber : null;\nconst quoteVariancePercent = quoteNumber !== null && quoteNumber !== 0 && quoteVariance !== null ? (quoteVariance / quoteNumber) * 100 : null;\nconst accuracyScore = quoteVariancePercent === null ? null : Math.max(0, Math.min(100, 100 - Math.abs(quoteVariancePercent)));\n\nconst materialCtes = parts.map((material, index) => {\n  const description = first(material.description, material.name, material.item, 'Material');\n  const quantity = Number(first(material.quantity, material.qty, 1));\n  const unitCost = first(material.unit_cost, material.unitCost);\n  const totalCost = first(material.total_cost, material.totalCost, Number.isFinite(quantity) && unitCost ? Number(unitCost) * quantity : '');\n  const sku = first(material.sku, `AUTO-${description.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '').slice(0, 40)}`);\n  return `\nmaterial_item_${index} AS (\n  INSERT INTO inventory_items (sku, name, category, quantity_on_hand, reorder_level, unit_cost)\n  VALUES (${sql(sku)}, ${sql(description)}, ${sql(material.category || 'job_material')}, 0, 0, ${num(unitCost)})\n  ON CONFLICT (sku) DO UPDATE SET name = EXCLUDED.name, category = EXCLUDED.category, unit_cost = COALESCE(EXCLUDED.unit_cost, inventory_items.unit_cost), updated_at = now()\n  RETURNING id\n),\nmaterial_inventory_update_${index} AS (\n  UPDATE inventory_items\n  SET quantity_on_hand = quantity_on_hand - ${Number.isFinite(quantity) ? quantity : 1}, updated_at = now()\n  WHERE id = (SELECT id FROM material_item_${index})\n  RETURNING id\n),\njob_material_${index} AS (\n  INSERT INTO job_materials (job_id, inventory_item_id, description, quantity, unit_cost, total_cost)\n  SELECT (SELECT job_id FROM resolved), (SELECT id FROM material_item_${index}), ${sql(description)}, ${Number.isFinite(quantity) ? quantity : 1}, ${num(unitCost)}, ${num(totalCost)}\n  RETURNING id\n)\n`;\n}).join(',\\n');\n\nconst requestPayload = {\n  ...body,\n  invoice_id: invoiceId,\n  missing_information: missing,\n  quote_variance: quoteVariance,\n  quote_variance_percent: quoteVariancePercent,\n  accuracy_score: accuracyScore,\n  material_count: parts.length,\n};\n\nconst query = `\nWITH resolved AS (\n  SELECT\n    COALESCE(${sql(jobId)}, j.id, 'JOB-' || to_char(now(), 'YYYY-HH24MISS')) AS job_id,\n    COALESCE(${sql(leadId)}, j.lead_id, q.lead_id) AS lead_id,\n    COALESCE(${sql(quoteId)}, j.quote_id, q.id) AS quote_id,\n    COALESCE(${sql(tradieId)}, ss.tradie_id) AS tradie_id,\n    COALESCE(l.trade_type, ${sql(body.trade_type)}, 'unknown') AS trade_type,\n    COALESCE(j.customer_id, q.customer_id, l.customer_id) AS customer_id,\n    COALESCE(c.name, ${sql(body.customer_name)}, 'Customer') AS customer_name,\n    COALESCE(c.email, ${sql(body.customer_email)}, ${sql(body.email)}) AS customer_email,\n    COALESCE(ss.estimated_duration_minutes, ${num(body.estimated_duration_minutes)}) AS estimated_duration_minutes,\n    COALESCE(ss.estimated_travel_minutes, ${num(body.estimated_travel_minutes)}) AS estimated_travel_minutes,\n    COALESCE(q.current_amount, ${sql(confirmedQuote)}) AS current_amount,\n    COALESCE(q.original_amount, ${sql(initialEstimate)}) AS original_amount\n  FROM (SELECT 1) seed\n  LEFT JOIN jobs j ON (${sql(jobId)} IS NOT NULL AND j.id = ${sql(jobId)}) OR (${sql(leadId)} IS NOT NULL AND j.lead_id = ${sql(leadId)}) OR (${sql(quoteId)} IS NOT NULL AND j.quote_id = ${sql(quoteId)})\n  LEFT JOIN quotes q ON q.id = COALESCE(${sql(quoteId)}, j.quote_id)\n  LEFT JOIN leads l ON l.id = COALESCE(${sql(leadId)}, j.lead_id, q.lead_id)\n  LEFT JOIN customers c ON c.id = COALESCE(j.customer_id, q.customer_id, l.customer_id)\n  LEFT JOIN job_schedule_slots ss ON (${sql(scheduleSlotId)} IS NOT NULL AND ss.id = ${sql(scheduleSlotId)}) OR ss.job_id = j.id OR ss.quote_id = q.id\n  ORDER BY j.updated_at DESC NULLS LAST, ss.updated_at DESC NULLS LAST\n  LIMIT 1\n),\nupsert_job AS (\n  INSERT INTO jobs (id, lead_id, quote_id, customer_id, status, completed_at, updated_at)\n  SELECT job_id, lead_id, quote_id, customer_id, 'Job Complete - Invoice Sent', now(), now()\n  FROM resolved\n  ON CONFLICT (id) DO UPDATE SET\n    lead_id = COALESCE(EXCLUDED.lead_id, jobs.lead_id),\n    quote_id = COALESCE(EXCLUDED.quote_id, jobs.quote_id),\n    customer_id = COALESCE(EXCLUDED.customer_id, jobs.customer_id),\n    status = 'Job Complete - Invoice Sent',\n    completed_at = COALESCE(jobs.completed_at, now()),\n    updated_at = now()\n  RETURNING id\n),\nupsert_invoice AS (\n  INSERT INTO invoices (id, job_id, quote_id, customer_id, status, amount, sent_at, updated_at)\n  SELECT ${sql(invoiceId)}, job_id, quote_id, customer_id, 'Invoice Summary Sent', ${sql(finalInvoiceAmount)}, now(), now()\n  FROM resolved\n  ON CONFLICT (id) DO UPDATE SET status = EXCLUDED.status, amount = EXCLUDED.amount, sent_at = now(), updated_at = now()\n  RETURNING id\n),\ninsert_actual AS (\n  INSERT INTO job_actuals (\n    job_id, lead_id, quote_id, tradie_id, actual_start, actual_end,\n    actual_duration_minutes, actual_travel_minutes, late_minutes, completion_notes\n  )\n  SELECT\n    job_id,\n    lead_id,\n    quote_id,\n    tradie_id,\n    ${sql(body.actual_start)},\n    ${sql(body.actual_end)},\n    ${actualDurationMinutes === null ? 'NULL' : actualDurationMinutes},\n    ${actualTravelMinutes === null ? 'NULL' : actualTravelMinutes},\n    ${num(body.late_minutes)},\n    ${sql(completionNotes)}\n  FROM resolved\n),\ninsert_quote_accuracy AS (\n  INSERT INTO quote_accuracy_metrics (\n    lead_id, quote_id, trade_type, initial_estimate, confirmed_quote, revised_quote, final_invoice,\n    estimated_labour_hours, actual_labour_hours, estimated_materials_cost, actual_materials_cost,\n    variance_reason, accuracy_score\n  )\n  SELECT\n    lead_id,\n    quote_id,\n    trade_type,\n    COALESCE(${sql(initialEstimate)}, original_amount),\n    COALESCE(${sql(confirmedQuote)}, current_amount),\n    ${sql(body.revised_quote)},\n    ${sql(finalInvoiceAmount)},\n    COALESCE(${num(body.estimated_labour_hours)}, estimated_duration_minutes / 60.0),\n    ${num(actualLabourHours)},\n    ${num(estimatedMaterialsCost)},\n    ${num(actualMaterialsCost)},\n    ${sql(varianceReason)},\n    ${accuracyScore === null ? 'NULL' : accuracyScore.toFixed(2)}\n  FROM resolved\n),\nupdate_schedule AS (\n  UPDATE job_schedule_slots\n  SET status = 'completed_actuals_captured', updated_at = now()\n  WHERE (${sql(scheduleSlotId)} IS NOT NULL AND id = ${sql(scheduleSlotId)})\n     OR job_id = (SELECT job_id FROM resolved)\n  RETURNING id\n),\nupdate_quote AS (\n  UPDATE quotes\n  SET status = 'Job Complete - Invoice Sent', updated_at = now()\n  WHERE id = (SELECT quote_id FROM resolved)\n  RETURNING id\n),\nupdate_lead AS (\n  UPDATE leads\n  SET status = 'Job Complete - Invoice Sent', next_action = 'review_invoice_and_customer_feedback', updated_at = now()\n  WHERE id = (SELECT lead_id FROM resolved)\n  RETURNING id\n),\ninsert_workflow_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  SELECT 'job', job_id, 'job_completed_invoice_sent', ${jsonSql(requestPayload)}\n  FROM resolved\n),\ninsert_george_memory AS (\n  INSERT INTO agent_memory (agent_key, agent_name, lead_id, job_id, memory_type, summary, payload)\n  SELECT\n    'george_foreman',\n    'George Foreman',\n    lead_id,\n    job_id,\n    'job_actuals_feedback',\n    ${sql(`Actuals captured. Duration ${actualDurationMinutes ?? 'unknown'} minutes, travel ${actualTravelMinutes ?? 'unknown'} minutes, final invoice ${finalInvoiceAmount || 'unknown'}.`)},\n    ${jsonSql(requestPayload)}\n  FROM resolved\n),\ninsert_nelly_memory AS (\n  INSERT INTO agent_memory (agent_key, agent_name, lead_id, job_id, memory_type, summary, payload)\n  SELECT\n    'nelly',\n    'Nelly',\n    lead_id,\n    job_id,\n    'quote_vs_actual',\n    ${sql(`Quote-vs-actual captured. Quote variance ${quoteVariance ?? 'unknown'}, accuracy ${accuracyScore === null ? 'unknown' : accuracyScore.toFixed(2)}.`)},\n    ${jsonSql(requestPayload)}\n  FROM resolved\n),\ninsert_nelly_knowledge AS (\n  INSERT INTO agent_knowledge_items (\n    agent_key, collection_key, source_type, source_id, title, content, tags, trade_type,\n    entity_type, entity_id, confidence, usefulness_score, payload\n  )\n  SELECT\n    'nelly',\n    'quote_intelligence',\n    'job_completion',\n    job_id,\n    'Quote actuals captured for completed job',\n    ${sql(`Completed job actuals captured for quote intelligence. Confirmed quote ${confirmedQuote || 'unknown'}, final invoice ${finalInvoiceAmount || 'unknown'}, variance reason: ${varianceReason || 'not provided'}.`)},\n    ARRAY['quote_actuals','pricing','materials','invoice','moat'],\n    trade_type,\n    'job',\n    job_id,\n    0.9,\n    CASE WHEN ${accuracyScore === null ? 'NULL' : accuracyScore.toFixed(2)} IS NULL THEN 6 ELSE LEAST(10, GREATEST(6, ${accuracyScore === null ? '0' : accuracyScore.toFixed(2)} / 10)) END,\n    ${jsonSql(requestPayload)}\n  FROM resolved\n),\ninsert_knowledge AS (\n  INSERT INTO agent_knowledge_items (\n    agent_key, collection_key, source_type, source_id, title, content, tags, trade_type,\n    entity_type, entity_id, confidence, usefulness_score, payload\n  )\n  SELECT\n    'quintino',\n    'skills_intelligence',\n    'job_completion',\n    job_id,\n    'Completed job actuals captured',\n    ${sql(`Completed job actuals captured for pricing, inventory and schedule optimisation. Variance reason: ${varianceReason || 'not provided'}.`)},\n    ARRAY['job_completion','quote_accuracy','inventory','scheduling_feedback','moat'],\n    trade_type,\n    'job',\n    job_id,\n    0.9,\n    CASE WHEN ${quoteVariancePercent === null ? 'NULL' : Math.abs(quoteVariancePercent).toFixed(2)} IS NULL THEN 6 ELSE LEAST(10, GREATEST(6, ${quoteVariancePercent === null ? '0' : Math.abs(quoteVariancePercent).toFixed(2)} / 4)) END,\n    ${jsonSql(requestPayload)}\n  FROM resolved\n)\n${materialCtes ? ',' + materialCtes : ''}\n,\nactive_completion_template AS (\n  SELECT template_key, version, subject_template, body_template\n  FROM message_templates\n  WHERE template_key = 'job_complete_invoice_summary_email'\n    AND status = 'active'\n    AND active = true\n  ORDER BY version DESC\n  LIMIT 1\n)\nSELECT jsonb_build_object(\n  'success', ${missing.length ? 'false' : 'true'},\n  'status', CASE WHEN ${missing.length ? 'true' : 'false'} THEN 'job_completed_with_missing_information' ELSE 'job_completed_invoice_sent' END,\n  'job_id', (SELECT job_id FROM resolved),\n  'lead_id', (SELECT lead_id FROM resolved),\n  'quote_id', (SELECT quote_id FROM resolved),\n  'invoice_id', ${sql(invoiceId)},\n  'customer_name', (SELECT customer_name FROM resolved),\n  'customer_email', (SELECT customer_email FROM resolved),\n  'customer_email_safe', COALESCE((SELECT customer_email FROM resolved), 'mac@1pacent.com'),\n  'actual_duration_minutes', ${actualDurationMinutes === null ? 'NULL' : actualDurationMinutes},\n  'actual_travel_minutes', ${actualTravelMinutes === null ? 'NULL' : actualTravelMinutes},\n  'final_invoice_amount', ${sql(finalInvoiceAmount)},\n  'quote_variance', ${quoteVariance === null ? 'NULL' : quoteVariance.toFixed(2)},\n  'quote_variance_percent', ${quoteVariancePercent === null ? 'NULL' : quoteVariancePercent.toFixed(2)},\n  'accuracy_score', ${accuracyScore === null ? 'NULL' : accuracyScore.toFixed(2)},\n  'material_count', ${parts.length},\n  'completion_notes', ${sql(completionNotes)},\n  'customer_notes', ${sql(customerNotes)},\n  'missing_information', ${jsonSql(missing)},\n  'template_key', (SELECT template_key FROM active_completion_template),\n  'template_version', (SELECT version FROM active_completion_template),\n  'template_subject', (SELECT subject_template FROM active_completion_template),\n  'template_body', (SELECT body_template FROM active_completion_template)\n) AS completion_result;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Completion Invoice And Learning", "id": "cae3d96c-aea9-451d-a5d3-4df72ecf4137", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Prepare Completion Emails", "id": "fd0d2548-2141-4cf7-8aae-e50ca7f58b49", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const result = items[0]?.json?.completion_result || items[0]?.json || {};\nconst amount = result.final_invoice_amount ? `$${result.final_invoice_amount}` : 'To be confirmed';\nconst customerName = result.customer_name || 'there';\nconst customerEmail = result.customer_email_safe || 'mac@1pacent.com';\nconst notes = result.completion_notes || 'Completed as agreed.';\nconst trackingUrl = result.lead_id\n  ? `https://app.1pacent.com/job-status?lead_id=${encodeURIComponent(result.lead_id)}`\n  : `https://app.1pacent.com/job-status?job_id=${encodeURIComponent(result.job_id || '')}`;\nconst variables = {\n  customer_name: customerName,\n  job_id: result.job_id || '',\n  invoice_id: result.invoice_id || '',\n  quote_id: result.quote_id || '',\n  final_invoice_amount: amount,\n  completion_notes: notes,\n  materials_summary: result.material_count ? `${result.material_count} material line item(s) recorded` : 'No separate material line items recorded',\n  tracking_url: trackingUrl,\n};\nfunction renderTemplate(text) {\n  return String(text || '').replace(/\\{\\{\\s*([a-zA-Z0-9_.-]+)\\s*\\}\\}/g, (_, key) => {\n    const value = variables[key];\n    return value === undefined || value === null ? '' : String(value);\n  });\n}\nconst fallbackSubject = `Job complete and invoice summary: ${result.invoice_id || ''}`;\nconst fallbackMessage = [\n  `Hi ${customerName},`,\n  '',\n  'Thanks again for choosing 1pacent. Your job has been marked complete.',\n  '',\n  `Job reference: ${result.job_id || ''}`,\n  `Invoice reference: ${result.invoice_id || ''}`,\n  `Completion notes: ${notes}`,\n  `Labour time recorded: ${result.actual_duration_minutes ?? 'To be confirmed'} minutes`,\n  `Invoice amount: ${amount}`,\n  '',\n  `Track your request here: ${trackingUrl}`,\n  '',\n  'Please keep this email for your records. If you have any questions, call Sally back and quote your job or invoice reference.',\n  '',\n  'Thanks,',\n  '1pacent',\n].join('\\n');\n\nreturn [{\n  json: {\n    ...result,\n    customer_email_safe: customerEmail,\n    customer_tracking_url: trackingUrl,\n    message_template_key: result.template_key || 'fallback_job_complete_invoice_summary_email',\n    message_template_version: result.template_version || null,\n    internal_subject: `Job complete and invoice summary sent: ${result.job_id || ''}`,\n    internal_message: [\n      `Job ID: ${result.job_id || ''}`,\n      `Lead ID: ${result.lead_id || ''}`,\n      `Quote ID: ${result.quote_id || ''}`,\n      `Invoice ID: ${result.invoice_id || ''}`,\n      `Customer: ${result.customer_name || ''}`,\n      `Customer email: ${result.customer_email || 'Missing - sent fallback internally'}`,\n      `Final invoice: ${amount}`,\n      `Duration minutes: ${result.actual_duration_minutes ?? ''}`,\n      `Travel minutes: ${result.actual_travel_minutes ?? ''}`,\n      `Quote variance: ${result.quote_variance ?? ''}`,\n      `Accuracy score: ${result.accuracy_score ?? ''}`,\n      `Materials count: ${result.material_count ?? 0}`,\n      `Missing: ${(result.missing_information || []).join(', ') || 'None'}`,\n    ].join('\\n'),\n    customer_subject: result.template_subject ? renderTemplate(result.template_subject) : fallbackSubject,\n    customer_message: result.template_body ? renderTemplate(result.template_body) : fallbackMessage,\n  },\n}];"}, "typeVersion": 2}, {"position": [1040, -120], "name": "Email Customer Invoice Summary", "id": "e237fe5b-5993-40dd-9ce1-b66bfe4eaa5e", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "={{$json.customer_subject}}", "sendTo": "={{$json.customer_email_safe}}", "emailType": "text", "options": {}, "message": "={{$json.customer_message}}"}, "typeVersion": 2.2, "webhookId": "be38825a-466a-4e4f-9d6f-7016997d9322"}, {"position": [1040, 120], "name": "Email Internal Completion Alert", "id": "74b7cf6a-23fb-4ef6-ae9f-249880209b3f", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "={{$json.internal_subject}}", "sendTo": "mac@1pacent.com", "emailType": "text", "options": {}, "message": "={{$json.internal_message}}"}, "typeVersion": 2.2, "webhookId": "9e0afe73-073c-4b9a-b084-eadaf4f33011"}, {"position": [1300, 0], "name": "Respond Job Complete", "id": "56b7b831-4c7b-4ff7-8ac3-e1e7f780c718", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ { success: $json.success, status: $json.status, job_id: $json.job_id, lead_id: $json.lead_id, quote_id: $json.quote_id, invoice_id: $json.invoice_id, final_invoice_amount: $json.final_invoice_amount, quote_variance: $json.quote_variance, accuracy_score: $json.accuracy_score, material_count: $json.material_count, missing_information: $json.missing_information } }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Job Completion Webhook": {"main": [[{"node": "Build Completion Invoice SQL", "type": "main", "index": 0}]]}, "Build Completion Invoice SQL": {"main": [[{"node": "Save Completion Invoice And Learning", "type": "main", "index": 0}]]}, "Save Completion Invoice And Learning": {"main": [[{"node": "Prepare Completion Emails", "type": "main", "index": 0}]]}, "Prepare Completion Emails": {"main": [[{"node": "Email Customer Invoice Summary", "type": "main", "index": 0}, {"node": "Email Internal Completion Alert", "type": "main", "index": 0}, {"node": "Respond Job Complete", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}