docs/tradie-import/TRADIE-TOOL-Penny-Request-Payment--S5e8tzrPhOLjdwVM.json
{"name": "TRADIE-TOOL-Penny-Request-Payment", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Penny Request Payment Tool Is Called", "id": "762201b9-761d-46a0-affb-e484f43de275", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Request Payment Input", "id": "e5e3d42a-8bba-4bd9-a4e0-b8a4266e3d52", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nreturn [{ json: raw.body ?? raw.query ?? raw }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Payment Request Endpoint", "id": "6a6a8a0f-74a7-4cf4-b91e-90a771e86339", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/payments/request", "options": {"timeout": 30000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"When Penny Request Payment Tool Is Called": {"main": [[{"node": "Normalise Request Payment Input", "type": "main", "index": 0}]]}, "Normalise Request Payment Input": {"main": [[{"node": "Call Payment Request Endpoint", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}