docs/tradie-import/TRADIE-QUOTES-020-Generate-Estimate--ticKij77pKvIsCYo.json
{"name": "TRADIE-QUOTES-020-Generate-Estimate", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Tradie Confirm Quote Webhook", "id": "9b9978b6-8f66-4b4c-9f43-c7bad27ab303", "webhookId": "69b331bf-0b80-4748-ba5e-f63ca43ebc03", "type": "n8n-nodes-base.webhook", "parameters": {"path": "quotes/confirm-costs", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [240, 0], "name": "Build Lead Lookup SQL", "id": "07be4faf-5adc-4911-a0c3-58173e4e5f84", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nconst leadId = first(body.lead_id, body.reference);\n\nconst query = `\nWITH request AS (\n  SELECT ${jsonSql(body)} AS payload, ${sql(leadId)}::text AS lead_id\n),\nlead_row AS (\n  SELECT l.*, c.name AS customer_name, c.email AS customer_email, c.phone AS customer_phone\n  FROM leads l\n  LEFT JOIN customers c ON c.id = l.customer_id\n  WHERE l.id = (SELECT lead_id FROM request)\n  LIMIT 1\n)\nSELECT\n  (SELECT payload FROM request) AS request_payload,\n  lead_row.id AS lead_id,\n  lead_row.customer_id,\n  lead_row.customer_name,\n  lead_row.customer_email,\n  lead_row.customer_phone,\n  lead_row.trade_type,\n  lead_row.job_description,\n  lead_row.address,\n  lead_row.preferred_time,\n  lead_row.estimated_price_band\nFROM lead_row\nUNION ALL\nSELECT\n  (SELECT payload FROM request), (SELECT lead_id FROM request), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL\nWHERE NOT EXISTS (SELECT 1 FROM lead_row);\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [500, 0], "name": "Load Lead And Customer", "id": "3a20537d-901a-46eb-b9a0-911622bb35f2", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [760, 0], "name": "Prepare Tradie Confirmed Quote", "id": "6d87c72d-34ce-4dcb-9ffc-f84bfc16d41b", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const row = items[0]?.json ?? {};\nconst body = row.request_payload ?? {};\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction money(value) {\n  if (value === undefined || value === null || value === '') return '';\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\n  return Number.isFinite(n) ? n : '';\n}\n\nconst now = new Date();\nconst quoteId = first(body.quote_id, `QUOTE-${now.getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`);\nconst leadId = first(body.lead_id, row.lead_id);\nconst customerName = first(body.customer_name, row.customer_name, 'Customer');\nconst customerEmail = first(body.customer_email, body.email, row.customer_email);\nconst customerPhone = first(body.customer_phone, body.phone, row.customer_phone);\nconst tradeType = first(body.trade_type, row.trade_type, 'to be confirmed');\nconst jobDescription = first(body.final_scope, body.job_description, body.description, row.job_description);\nconst bookingWindow = first(body.booking_window, body.scheduled_window, body.preferred_time, row.preferred_time, 'To be confirmed');\nconst quoteAmount = money(first(body.confirmed_quote_amount, body.quote_amount, body.amount));\nconst labourHours = money(first(body.estimated_labour_hours, body.labour_hours));\nconst labourAmount = money(first(body.labour_amount));\nconst materialsCost = money(first(body.estimated_materials_cost, body.materials_cost));\nconst calloutFee = money(first(body.callout_fee, 150));\nconst tradieId = first(body.tradie_id);\nconst tradieName = first(body.tradie_name, 'Assigned tradie');\nconst validUntil = first(body.valid_until, '7 days from issue');\nconst inclusions = first(body.inclusions, 'Labour, standard materials, and the agreed scope described in this quote.');\nconst exclusions = first(body.exclusions, 'Unforeseen additional work, specialist materials, and variations are excluded unless approved.');\nconst assumptions = first(body.assumptions, 'Final price is based on the scope described. Changes require approval before work continues.');\nconst scopeNotes = first(body.scope_notes, body.notes, '');\nconst initialEstimate = first(body.initial_estimate, row.estimated_price_band);\nconst acceptanceUrl = `https://vmi3305336.contaboserver.net/webhook/quotes/accept?quote_id=${encodeURIComponent(quoteId)}&lead_id=${encodeURIComponent(leadId)}&customer_email=${encodeURIComponent(customerEmail)}&customer_name=${encodeURIComponent(customerName)}&accepted=true`;\nconst trackingUrl = `https://app.1pacent.com/job-status?lead_id=${encodeURIComponent(leadId)}`;\n\nconst missing = [];\nif (!leadId) missing.push('lead_id');\nif (!customerEmail) missing.push('customer_email');\nif (!jobDescription) missing.push('final_scope_or_job_description');\nif (!quoteAmount) missing.push('confirmed_quote_amount');\n\nconst amountLabel = quoteAmount ? `$${quoteAmount}` : 'To be confirmed';\nconst status = missing.length ? 'Quote Needs Info' : 'Quote Sent Awaiting Acceptance';\n\nreturn [{\n  json: {\n    quote_id: quoteId,\n    lead_id: leadId,\n    customer_name: customerName,\n    customer_email: customerEmail,\n    customer_phone: customerPhone,\n    trade_type: tradeType,\n    job_description: jobDescription,\n    booking_window: bookingWindow,\n    confirmed_quote_amount: quoteAmount ? String(quoteAmount) : '',\n    amount_label: amountLabel,\n    estimated_labour_hours: labourHours === '' ? null : labourHours,\n    labour_amount: labourAmount === '' ? null : labourAmount,\n    estimated_materials_cost: materialsCost === '' ? null : materialsCost,\n    callout_fee: calloutFee === '' ? null : calloutFee,\n    tradie_id: tradieId,\n    tradie_name: tradieName,\n    valid_until: validUntil,\n    inclusions,\n    exclusions,\n    assumptions,\n    scope_notes: scopeNotes,\n    initial_estimate: initialEstimate,\n    acceptance_url: acceptanceUrl,\n    customer_tracking_url: trackingUrl,\n    missing_information: missing,\n    status,\n    should_email_customer: missing.length === 0,\n    internal_subject: `Tradie quote confirmed: ${quoteId}`,\n    internal_message: [\n      `Quote ID: ${quoteId}`,\n      `Lead ID: ${leadId || 'Missing'}`,\n      `Customer: ${customerName}`,\n      `Email: ${customerEmail || 'Missing'}`,\n      `Tradie: ${tradieName}`,\n      `Trade: ${tradeType}`,\n      `Confirmed quote: ${amountLabel}`,\n      `Booking window: ${bookingWindow}`,\n      `Scope: ${jobDescription || 'Missing'}`,\n      `Missing: ${missing.length ? missing.join(', ') : 'None'}`,\n      `Acceptance link: ${acceptanceUrl}`,\n    ].join('\\n'),\n    customer_subject: `Your confirmed quote from 1pacent: ${quoteId}`,\n    customer_message: [\n      `Hi ${customerName},`,\n      '',\n      'Your tradie has confirmed the quote for your requested work.',\n      '',\n      `Quote reference: ${quoteId}`,\n      `Job: ${jobDescription}`,\n      `Appointment window: ${bookingWindow}`,\n      `Confirmed quote: ${amountLabel}`,\n      `Inclusions: ${inclusions}`,\n      `Exclusions/assumptions: ${exclusions}`,\n      scopeNotes ? `Notes: ${scopeNotes}` : '',\n      `Valid until: ${validUntil}`,\n      '',\n      `To accept this quote, open this link: ${acceptanceUrl}`,\n      `Track your request here: ${trackingUrl}`,\n      '',\n      'No work will proceed until the quote is accepted. If anything changes, call Sally back and quote your reference.',\n      '',\n      'Thanks,',\n      '1pacent',\n    ].filter(Boolean).join('\\n'),\n  },\n}];"}, "typeVersion": 2}, {"position": [1020, -220], "name": "Build Save Quote SQL", "id": "340697cf-00d0-45b3-a360-aaa1e45ecb9b", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const q = items[0]?.json ?? {};\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction num(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\n  return Number.isFinite(n) ? String(n) : 'NULL';\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nconst quotePayload = {\n  quote_id: q.quote_id,\n  lead_id: q.lead_id,\n  trade_type: q.trade_type,\n  job_description: q.job_description,\n  confirmed_quote_amount: q.confirmed_quote_amount,\n  estimated_labour_hours: q.estimated_labour_hours,\n  estimated_materials_cost: q.estimated_materials_cost,\n  callout_fee: q.callout_fee,\n  tradie_id: q.tradie_id,\n  tradie_name: q.tradie_name,\n  booking_window: q.booking_window,\n  inclusions: q.inclusions,\n  exclusions: q.exclusions,\n  assumptions: q.assumptions,\n  acceptance_url: q.acceptance_url,\n  missing_information: q.missing_information,\n};\n\nconst query = `\nWITH lead_row AS (\n  SELECT id, customer_id, trade_type, estimated_price_band\n  FROM leads\n  WHERE id = ${sql(q.lead_id)}\n  LIMIT 1\n),\nupsert_quote AS (\n  INSERT INTO quotes (id, lead_id, customer_id, status, original_amount, current_amount, updated_at)\n  SELECT\n    ${sql(q.quote_id)},\n    id,\n    customer_id,\n    ${sql(q.status)},\n    ${sql(q.confirmed_quote_amount)},\n    ${sql(q.confirmed_quote_amount)},\n    now()\n  FROM lead_row\n  ON CONFLICT (id) DO UPDATE SET\n    status = EXCLUDED.status,\n    original_amount = COALESCE(quotes.original_amount, EXCLUDED.original_amount),\n    current_amount = EXCLUDED.current_amount,\n    updated_at = now()\n  RETURNING id\n),\nupsert_quote_version AS (\n  INSERT INTO quote_versions (\n    id, quote_id, lead_id, version_number, amount, reason, inclusions,\n    exclusions, acceptance_url, status\n  )\n  VALUES (\n    ${sql(q.quote_id)},\n    ${sql(q.quote_id)},\n    ${sql(q.lead_id)},\n    1,\n    ${sql(q.confirmed_quote_amount)},\n    ${sql('Tradie confirmed scope and costs')},\n    ${sql(q.inclusions)},\n    ${sql(q.exclusions + ' Assumptions: ' + q.assumptions)},\n    ${sql(q.acceptance_url)},\n    ${sql(q.status)}\n  )\n  ON CONFLICT (id) DO UPDATE SET\n    amount = EXCLUDED.amount,\n    inclusions = EXCLUDED.inclusions,\n    exclusions = EXCLUDED.exclusions,\n    acceptance_url = EXCLUDED.acceptance_url,\n    status = EXCLUDED.status\n  RETURNING id\n),\nupdate_lead AS (\n  UPDATE leads\n  SET status = ${sql(q.status)}, updated_at = now()\n  WHERE id = ${sql(q.lead_id)}\n  RETURNING id\n),\ninsert_quote_accuracy_baseline AS (\n  INSERT INTO quote_accuracy_metrics (\n    lead_id, quote_id, trade_type, initial_estimate, confirmed_quote,\n    estimated_labour_hours, estimated_materials_cost, variance_reason\n  )\n  VALUES (\n    ${sql(q.lead_id)},\n    ${sql(q.quote_id)},\n    ${sql(q.trade_type)},\n    ${sql(q.initial_estimate)},\n    ${sql(q.confirmed_quote_amount)},\n    ${num(q.estimated_labour_hours)},\n    ${num(q.estimated_materials_cost)},\n    ${sql('Quote confirmed by tradie before customer acceptance')}\n  )\n),\ninsert_memory AS (\n  INSERT INTO agent_memory (agent_key, agent_name, lead_id, memory_type, summary, payload)\n  VALUES (\n    'nelly',\n    'Nelly',\n    ${sql(q.lead_id)},\n    'confirmed_quote',\n    ${sql(`Confirmed quote ${q.quote_id} for ${q.trade_type}: ${q.amount_label}`)},\n    ${jsonSql(quotePayload)}\n  )\n),\ninsert_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  VALUES ('quote', ${sql(q.quote_id)}, 'tradie_confirmed_quote_sent', ${jsonSql(quotePayload)})\n),\nactive_quote_template AS (\n  SELECT template_key, version, subject_template, body_template\n  FROM message_templates\n  WHERE template_key = 'quote_confirmation_email'\n    AND status = 'active'\n    AND active = true\n  ORDER BY version DESC\n  LIMIT 1\n)\nSELECT\n  ${sql(q.quote_id)} AS quote_id,\n  ${sql(q.lead_id)} AS lead_id,\n  ${sql(q.customer_name)} AS customer_name,\n  ${sql(q.customer_email)} AS customer_email,\n  ${sql(q.customer_phone)} AS customer_phone,\n  ${sql(q.trade_type)} AS trade_type,\n  ${sql(q.job_description)} AS job_description,\n  ${sql(q.booking_window)} AS booking_window,\n  ${sql(q.confirmed_quote_amount)} AS confirmed_quote_amount,\n  ${sql(q.amount_label)} AS amount_label,\n  ${sql(q.inclusions)} AS inclusions,\n  ${sql(q.exclusions)} AS exclusions,\n  ${sql(q.scope_notes)} AS scope_notes,\n  ${sql(q.valid_until)} AS valid_until,\n  ${sql(q.acceptance_url)} AS acceptance_url,\n  ${sql(q.customer_tracking_url)} AS customer_tracking_url,\n  ${sql(q.status)} AS status,\n  ${jsonSql(q.missing_information)} AS missing_information,\n  ${sql(q.internal_subject)} AS internal_subject,\n  ${sql(q.internal_message)} AS internal_message,\n  ${sql(q.customer_subject)} AS customer_subject,\n  ${sql(q.customer_message)} AS customer_message,\n  (SELECT template_key FROM active_quote_template) AS template_key,\n  (SELECT version FROM active_quote_template) AS template_version,\n  (SELECT subject_template FROM active_quote_template) AS template_subject,\n  (SELECT body_template FROM active_quote_template) AS template_body;\n`;\n\nreturn [{ json: { ...q, sql: query } }];"}, "typeVersion": 2}, {"position": [1280, -220], "name": "Save Quote And Learning Baseline", "id": "e223e3b7-b9bd-456f-97c5-33e3ca035538", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [1540, -220], "name": "Render Quote Email Template", "id": "da61ba02-ad28-472e-a006-6985f5a481fc", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const q = items[0]?.json || {};\nconst variables = {\n  customer_name: q.customer_name || 'there',\n  quote_id: q.quote_id || '',\n  job_description: q.job_description || '',\n  booking_window: q.booking_window || '',\n  amount_label: q.amount_label || '',\n  inclusions: q.inclusions || '',\n  exclusions: q.exclusions || '',\n  scope_notes: q.scope_notes || '',\n  valid_until: q.valid_until || '',\n  acceptance_url: q.acceptance_url || '',\n  tracking_url: q.customer_tracking_url || (q.quote_id ? `https://app.1pacent.com/job-status?quote_id=${encodeURIComponent(q.quote_id)}` : ''),\n};\nfunction renderTemplate(text) {\n  return String(text || '').replace(/\\{\\{\\s*([a-zA-Z0-9_.-]+)\\s*\\}\\}/g, (_, key) => {\n    const value = variables[key];\n    return value === undefined || value === null ? '' : String(value);\n  });\n}\nreturn [{\n  json: {\n    ...q,\n    message_template_key: q.template_key || 'fallback_quote_confirmation_email',\n    message_template_version: q.template_version || null,\n    customer_subject: q.template_subject ? renderTemplate(q.template_subject) : q.customer_subject,\n    customer_message: q.template_body ? renderTemplate(q.template_body) : q.customer_message,\n  },\n}];"}, "typeVersion": 2}, {"position": [1540, 0], "name": "Email Internal Quote Alert", "id": "4ec3a9d0-de07-42cf-8a7c-d5a1de3855bc", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "={{$json.internal_subject}}", "sendTo": "mac@1pacent.com", "emailType": "text", "options": {}, "message": "={{$json.internal_message}}"}, "typeVersion": 2.2, "webhookId": "58f63cb3-86df-476c-a72d-3b60a81cd2c6"}, {"position": [1800, -120], "name": "Email Customer Quote Acceptance", "id": "ffcca99a-5191-4f23-88e3-f946e8cbe004", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "={{$json.customer_subject}}", "sendTo": "={{$json.customer_email}}", "emailType": "text", "options": {}, "message": "={{$json.customer_message}}"}, "typeVersion": 2.2, "webhookId": "65ab1b30-9fb1-4458-805e-fbd3da4ab5d0"}, {"position": [1800, 120], "name": "Respond Quote Confirmation", "id": "3a84b66e-58a9-4377-903e-1dbb10750983", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ { success: true, quote_id: $json.quote_id, lead_id: $json.lead_id, status: $json.status, acceptance_url: $json.acceptance_url, missing_information: $json.missing_information, customer_email_sent_to: $json.customer_email, amount: $json.amount_label } }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Tradie Confirm Quote Webhook": {"main": [[{"node": "Build Lead Lookup SQL", "type": "main", "index": 0}]]}, "Build Lead Lookup SQL": {"main": [[{"node": "Load Lead And Customer", "type": "main", "index": 0}]]}, "Render Quote Email Template": {"main": [[{"node": "Email Internal Quote Alert", "type": "main", "index": 0}, {"node": "Email Customer Quote Acceptance", "type": "main", "index": 0}, {"node": "Respond Quote Confirmation", "type": "main", "index": 0}]]}, "Build Save Quote SQL": {"main": [[{"node": "Save Quote And Learning Baseline", "type": "main", "index": 0}]]}, "Load Lead And Customer": {"main": [[{"node": "Prepare Tradie Confirmed Quote", "type": "main", "index": 0}]]}, "Prepare Tradie Confirmed Quote": {"main": [[{"node": "Build Save Quote SQL", "type": "main", "index": 0}]]}, "Save Quote And Learning Baseline": {"main": [[{"node": "Render Quote Email Template", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}