docs/tradie-import/TRADIE-TOOL-Job-Actuals-Capture--vIHtkpdm4TGjstOz.json
{"name": "TRADIE-TOOL-Job-Actuals-Capture", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Job Actuals Tool Is Called", "id": "08df6083-44e8-4346-8661-69f7b19bd344", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Job Actuals Tool Input", "id": "9e025254-2490-4110-9763-c4a48205fe99", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nreturn [{\n  json: {\n    job_id: raw.job_id || '',\n    lead_id: raw.lead_id || '',\n    quote_id: raw.quote_id || '',\n    schedule_slot_id: raw.schedule_slot_id || '',\n    tradie_id: raw.tradie_id || '',\n    actual_duration_minutes: raw.actual_duration_minutes || raw.labour_minutes || '',\n    actual_travel_minutes: raw.actual_travel_minutes || raw.travel_minutes || '',\n    final_invoice_amount: raw.final_invoice_amount || raw.invoice_amount || '',\n    confirmed_quote: raw.confirmed_quote || raw.quote_amount || '',\n    initial_estimate: raw.initial_estimate || '',\n    actual_materials_cost: raw.actual_materials_cost || raw.materials_cost || '',\n    materials: raw.materials || raw.parts || [],\n    variance_reason: raw.variance_reason || raw.completion_notes || '',\n    completion_notes: raw.completion_notes || raw.tradie_notes || '',\n    customer_notes: raw.customer_notes || '',\n  },\n}];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Job Actuals Endpoint", "id": "fc530a75-5387-4002-b9e2-8f7f872fe5b8", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/jobs/actuals/capture", "options": {"timeout": 30000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"When Job Actuals Tool Is Called": {"main": [[{"node": "Normalise Job Actuals Tool Input", "type": "main", "index": 0}]]}, "Normalise Job Actuals Tool Input": {"main": [[{"node": "Call Job Actuals Endpoint", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}