docs/tradie-import/TRADIE-AGENT-940-Mia-Setup--x0EcZBn64ZyNDC1k.json
{"name": "TRADIE-AGENT-940-Mia-Setup", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Mia Setup Webhook", "id": "5c8969ea-3d72-41ef-85d1-0a9d8f38af74", "webhookId": "83ae01af-26cf-47e9-8dd3-fe7081b51858", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/mia/setup", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Mia Setup SQL", "id": "dcddce9b-25e9-4e75-8b4d-322a65656751", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const query = `\nCREATE TABLE IF NOT EXISTS customer_media_permissions (\n  id uuid primary key default gen_random_uuid(),\n  job_id text references jobs(id),\n  customer_id uuid references customers(id),\n  permission_status text not null default 'not_requested',\n  approved_media_urls text[] not null default '{}',\n  restrictions text,\n  approved_at timestamptz,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS social_campaigns (\n  id text primary key,\n  job_id text references jobs(id),\n  lead_id text references leads(id),\n  customer_id uuid references customers(id),\n  campaign_type text not null default 'completed_job_story',\n  status text not null default 'draft',\n  approval_status text not null default 'approval_required',\n  platforms text[] not null default '{}',\n  content jsonb not null default '{}'::jsonb,\n  created_by_agent text not null default 'mia_social',\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS social_posts (\n  id text primary key,\n  campaign_id text references social_campaigns(id),\n  platform text not null,\n  status text not null default 'draft',\n  caption text,\n  media_urls text[] not null default '{}',\n  customer_approved boolean not null default false,\n  approval_required boolean not null default true,\n  scheduled_for timestamptz,\n  published_at timestamptz,\n  external_post_id text,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS review_requests (\n  id text primary key,\n  job_id text references jobs(id),\n  customer_id uuid references customers(id),\n  status text not null default 'requested',\n  channel text not null default 'email',\n  review_url text,\n  requested_at timestamptz not null default now(),\n  completed_at timestamptz,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE INDEX IF NOT EXISTS idx_customer_media_permissions_job ON customer_media_permissions(job_id, permission_status);\nCREATE INDEX IF NOT EXISTS idx_social_campaigns_job ON social_campaigns(job_id, status);\nCREATE INDEX IF NOT EXISTS idx_social_posts_campaign ON social_posts(campaign_id, status);\nCREATE INDEX IF NOT EXISTS idx_review_requests_job ON review_requests(job_id, status);\n\nINSERT INTO agent_definitions (agent_key, agent_name, agent_role, model_provider, model_name, active)\nVALUES ('mia_social', 'Mia', 'Social media and reputation growth AI agent', 'google_gemini', 'models/gemini-3.1-flash-lite', true)\nON CONFLICT (agent_key) DO UPDATE SET\n  agent_name = EXCLUDED.agent_name,\n  agent_role = EXCLUDED.agent_role,\n  model_provider = EXCLUDED.model_provider,\n  model_name = EXCLUDED.model_name,\n  active = true,\n  updated_at = now();\n\nDELETE FROM agent_business_rules WHERE agent_key = 'mia_social';\nINSERT INTO agent_business_rules (agent_key, rule_group, rule_order, rule_text)\nVALUES\n  ('mia_social', 'consent', 10, 'Never publish or schedule public social content unless customer media approval and internal approval are both recorded. Draft content is allowed before approval.'),\n  ('mia_social', 'privacy', 20, 'Never include customer phone numbers, email addresses, exact street addresses, faces, licence plates, private home-identifying details, or names unless explicit consent is recorded.'),\n  ('mia_social', 'content', 30, 'Use suburb-level location, trade type, problem solved, trust reassurance, and clear calls to action. Keep captions useful and natural, not hype-heavy.'),\n  ('mia_social', 'reviews', 40, 'Ask for reviews after the job is complete and preferably after payment is requested or received. Keep review requests short and grateful.'),\n  ('mia_social', 'platforms', 50, 'Until Meta/Instagram credentials are connected, social output must stay in draft/approval-required status. Do not claim content was posted.'),\n  ('mia_social', 'learning', 60, 'Save reusable social/reputation lessons to Skills or knowledge when evidence shows better review conversion, customer trust, or follower growth.');\n\nINSERT INTO agent_knowledge_collections (agent_key, collection_key, collection_name, capability, active)\nVALUES ('mia_social', 'reputation_growth', 'Reputation Growth Intelligence', 'Social proof, review conversion, customer-approved media and local growth learnings', true)\nON CONFLICT (agent_key, collection_key) DO UPDATE SET active = true, updated_at = now();\n\nINSERT INTO business_skills (\n  skill_key, skill_name, capability, category, description, best_practice, guardrails, inputs, outputs, owner_agent_key, version, status, tags, source_type, source_id, usefulness_score\n)\nVALUES\n  (\n    'skill_customer_approved_job_story',\n    'Customer-approved completed job story',\n    'social_content',\n    'growth',\n    'Turn a completed job into a trust-building social post draft.',\n    'Use completed job details, approved photos, suburb-level location, trade type, problem solved and trust reassurance. Keep the caption specific but privacy-safe. Create drafts first and require approval before publishing.',\n    'No exact addresses, customer contact details, faces, licence plates, customer names, exaggerated claims or invented trust proof. Require explicit customer media approval and internal approval before publishing.',\n    '{\"requires\":[\"job_id\",\"approval_status\",\"approved_media_urls\"],\"optional\":[\"platforms\",\"trade_type\",\"suburb\"]}'::jsonb,\n    '{\"returns\":[\"campaign_id\",\"post_drafts\",\"approval_status\",\"privacy_notes\"]}'::jsonb,\n    'mia_social',\n    1,\n    'active',\n    ARRAY['social','reviews','trust','growth'],\n    'system_seed',\n    'mia_setup',\n    8\n  ),\n  (\n    'skill_review_request_after_paid_job',\n    'Review request after completed paid job',\n    'review_request',\n    'growth',\n    'Send a short customer review request at the right post-job moment.',\n    'After a job is complete and payment is requested or paid, ask the customer for an honest review with a direct link. Keep tone grateful, concise and specific to the completed job.',\n    'Do not pressure customers. Do not ask for only positive reviews. Do not offer incentives unless approved by business rules and local platform policy.',\n    '{\"requires\":[\"job_id\",\"customer_id\"],\"optional\":[\"invoice_id\",\"review_url\",\"channel\"]}'::jsonb,\n    '{\"returns\":[\"review_request_id\",\"status\",\"message\"]}'::jsonb,\n    'mia_social',\n    1,\n    'active',\n    ARRAY['reviews','reputation','customer_success'],\n    'system_seed',\n    'mia_setup',\n    8\n  )\nON CONFLICT (skill_key) DO UPDATE SET\n  best_practice = EXCLUDED.best_practice,\n  guardrails = EXCLUDED.guardrails,\n  owner_agent_key = EXCLUDED.owner_agent_key,\n  status = 'active',\n  updated_at = now();\n\nINSERT INTO agent_skill_assignments (agent_key, skill_key, priority, active)\nVALUES\n  ('mia_social', 'skill_customer_approved_job_story', 10, true),\n  ('mia_social', 'skill_review_request_after_paid_job', 20, true)\nON CONFLICT (agent_key, skill_key) DO UPDATE SET priority = EXCLUDED.priority, active = true, updated_at = now();\n\nINSERT INTO mcp_services (service_key, service_name, provider, category, capability, endpoint_path, credential_name, status, available_to_agents, config)\nVALUES\n  ('social_publishing', 'Social Publishing', 'meta_placeholder', 'growth', 'Draft and later publish approved Instagram/Facebook job stories', '/webhook/agents/mia/social-draft', null, 'planned', ARRAY['mia_social'], '{\"approval_required\":true,\"provider_credentials_needed\":true}'::jsonb),\n  ('review_growth', 'Review Growth', 'internal', 'growth', 'Request and track customer reviews after job completion', '/webhook/agents/mia/review-request', 'Gmail account', 'active', ARRAY['mia_social'], '{\"channels\":[\"email\"],\"future_channels\":[\"sms\",\"app_push\"]}'::jsonb)\nON CONFLICT (service_key) DO UPDATE SET\n  service_name = EXCLUDED.service_name,\n  provider = EXCLUDED.provider,\n  category = EXCLUDED.category,\n  capability = EXCLUDED.capability,\n  endpoint_path = EXCLUDED.endpoint_path,\n  credential_name = EXCLUDED.credential_name,\n  status = EXCLUDED.status,\n  available_to_agents = EXCLUDED.available_to_agents,\n  config = EXCLUDED.config,\n  updated_at = now();\n\nINSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\nVALUES ('agent', 'mia_social', 'mia_setup_complete', '{\"agent\":\"Mia\",\"capability\":\"social_and_reputation\"}'::jsonb);\n\nSELECT jsonb_build_object('success', true, 'agent_key', 'mia_social', 'note', 'Mia social and reputation foundation is ready.') AS setup_result;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Run Mia Setup", "id": "4d85ff9f-d11f-471c-87ab-3565abe5195a", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Mia Setup", "id": "f51203ae-a993-4a5a-be00-44bfa42600fd", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.setup_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Mia Setup SQL": {"main": [[{"node": "Run Mia Setup", "type": "main", "index": 0}]]}, "Mia Setup Webhook": {"main": [[{"node": "Build Mia Setup SQL", "type": "main", "index": 0}]]}, "Run Mia Setup": {"main": [[{"node": "Respond Mia Setup", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}