docs/tradie-import/TRADIE-CUSTOMER-970-Job-Status--dFrCsLiJwcRXyTOc.json
{"name": "TRADIE-CUSTOMER-970-Job-Status", "description": null, "active": false, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Customer Job Status Webhook", "id": "8399e7df-7a14-432f-b77d-3e1bb24e5ce4", "webhookId": "0c36f64d-7195-4e49-a587-2bda10685c3e", "type": "n8n-nodes-base.webhook", "parameters": {"path": "customer/job-status", "responseMode": "responseNode", "options": {}, "httpMethod": "GET"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Customer Job Status SQL", "id": "80806a6d-af3c-44fc-82e6-61a7da02a69b", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst q = raw.query ?? raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nconst reference = first(q.lead_id, q.job_id, q.quote_id, q.invoice_id, q.payment_request_id);\n\nconst query = `\nCREATE TABLE IF NOT EXISTS trust_metrics (\n  id uuid primary key default gen_random_uuid(),\n  tradie_id text,\n  trade_type text,\n  completed_jobs integer not null default 0,\n  similar_jobs_completed integer not null default 0,\n  quote_accuracy_score numeric,\n  on_time_rate numeric,\n  average_rating numeric,\n  dispute_rate numeric,\n  repeat_customer_rate numeric,\n  updated_at timestamptz not null default now()\n);\n\nWITH input AS (\n  SELECT ${sql(reference)}::text AS reference\n),\nmatched AS (\n  SELECT\n    l.id AS lead_id,\n    l.customer_id,\n    l.status AS lead_status,\n    l.trade_type,\n    l.job_description,\n    l.urgency,\n    l.address,\n    l.preferred_time,\n    l.estimated_price_band,\n    l.created_at AS lead_created_at,\n    l.updated_at AS lead_updated_at,\n    c.name AS customer_name,\n    c.email AS customer_email,\n    c.phone AS customer_phone\n  FROM leads l\n  LEFT JOIN customers c ON c.id = l.customer_id\n  WHERE l.id = (SELECT reference FROM input)\n     OR EXISTS (SELECT 1 FROM jobs j WHERE j.lead_id = l.id AND j.id = (SELECT reference FROM input))\n     OR EXISTS (SELECT 1 FROM quotes q WHERE q.lead_id = l.id AND q.id = (SELECT reference FROM input))\n     OR EXISTS (SELECT 1 FROM invoices i JOIN jobs j ON j.id = i.job_id WHERE j.lead_id = l.id AND i.id = (SELECT reference FROM input))\n     OR EXISTS (SELECT 1 FROM payment_requests pr WHERE pr.customer_id = l.customer_id AND pr.id = (SELECT reference FROM input))\n  ORDER BY l.updated_at DESC\n  LIMIT 1\n),\nquote_rows AS (\n  SELECT q.*\n  FROM quotes q\n  WHERE q.lead_id = (SELECT lead_id FROM matched)\n  ORDER BY q.updated_at DESC, q.created_at DESC\n),\nlatest_quote AS (\n  SELECT * FROM quote_rows LIMIT 1\n),\nquote_version_rows AS (\n  SELECT qv.*\n  FROM quote_versions qv\n  WHERE qv.lead_id = (SELECT lead_id FROM matched)\n     OR qv.quote_id IN (SELECT id FROM quote_rows)\n  ORDER BY qv.created_at DESC\n),\njob_rows AS (\n  SELECT j.*\n  FROM jobs j\n  WHERE j.lead_id = (SELECT lead_id FROM matched)\n     OR j.quote_id IN (SELECT id FROM quote_rows)\n  ORDER BY j.updated_at DESC, j.created_at DESC\n),\nlatest_job AS (\n  SELECT * FROM job_rows LIMIT 1\n),\nschedule_rows AS (\n  SELECT\n    s.*,\n    t.name AS tradie_name,\n    t.licence_status,\n    t.insurance_status,\n    t.on_time_rate,\n    t.quote_accuracy_score\n  FROM job_schedule_slots s\n  LEFT JOIN tradies t ON t.id = s.tradie_id\n  WHERE s.lead_id = (SELECT lead_id FROM matched)\n     OR s.job_id IN (SELECT id FROM job_rows)\n     OR s.quote_id IN (SELECT id FROM quote_rows)\n  ORDER BY s.updated_at DESC, s.created_at DESC\n),\nlatest_schedule AS (\n  SELECT * FROM schedule_rows LIMIT 1\n),\ncalendar_rows AS (\n  SELECT ce.*\n  FROM calendar_events ce\n  WHERE ce.lead_id = (SELECT lead_id FROM matched)\n     OR ce.job_id IN (SELECT id FROM job_rows)\n     OR ce.quote_id IN (SELECT id FROM quote_rows)\n     OR ce.schedule_slot_id IN (SELECT id FROM schedule_rows)\n  ORDER BY ce.created_at DESC\n),\ninvoice_rows AS (\n  SELECT i.*\n  FROM invoices i\n  WHERE i.customer_id = (SELECT customer_id FROM matched)\n    AND (\n      i.job_id IN (SELECT id FROM job_rows)\n      OR i.quote_id IN (SELECT id FROM quote_rows)\n    )\n  ORDER BY i.updated_at DESC, i.created_at DESC\n),\nlatest_invoice AS (\n  SELECT * FROM invoice_rows LIMIT 1\n),\npayment_rows AS (\n  SELECT pr.*\n  FROM payment_requests pr\n  WHERE pr.customer_id = (SELECT customer_id FROM matched)\n    AND (\n      pr.invoice_id IN (SELECT id FROM invoice_rows)\n      OR pr.job_id IN (SELECT id FROM job_rows)\n      OR pr.quote_id IN (SELECT id FROM quote_rows)\n      OR pr.id = (SELECT reference FROM input)\n    )\n  ORDER BY pr.updated_at DESC, pr.created_at DESC\n),\nlatest_payment AS (\n  SELECT * FROM payment_rows LIMIT 1\n),\nreview_rows AS (\n  SELECT rr.*\n  FROM review_requests rr\n  WHERE rr.customer_id = (SELECT customer_id FROM matched)\n    AND rr.job_id IN (SELECT id FROM job_rows)\n  ORDER BY rr.updated_at DESC, rr.created_at DESC\n),\nsocial_rows AS (\n  SELECT sc.*\n  FROM social_campaigns sc\n  WHERE sc.customer_id = (SELECT customer_id FROM matched)\n    AND (sc.lead_id = (SELECT lead_id FROM matched) OR sc.job_id IN (SELECT id FROM job_rows))\n  ORDER BY sc.updated_at DESC, sc.created_at DESC\n),\ntrust_row AS (\n  SELECT tm.*\n  FROM trust_metrics tm\n  WHERE tm.tradie_id = (SELECT tradie_id FROM latest_schedule)\n     OR lower(tm.trade_type) = lower((SELECT trade_type FROM matched))\n  ORDER BY tm.updated_at DESC\n  LIMIT 1\n),\ntimeline AS (\n  SELECT 'Booking request received' AS label, (SELECT lead_created_at FROM matched) AS happened_at, 'done' AS state, 'We received your request.' AS description\n  WHERE EXISTS (SELECT 1 FROM matched)\n  UNION ALL\n  SELECT 'Quote prepared', COALESCE((SELECT created_at FROM latest_quote), (SELECT created_at FROM quote_version_rows LIMIT 1)), CASE WHEN EXISTS (SELECT 1 FROM latest_quote) THEN 'done' ELSE 'pending' END, 'The tradie confirms scope and pricing before work proceeds.'\n  UNION ALL\n  SELECT 'Quote accepted', (SELECT accepted_at FROM latest_quote), CASE WHEN (SELECT accepted_at FROM latest_quote) IS NOT NULL THEN 'done' ELSE 'pending' END, 'No work proceeds until the quote is accepted.'\n  UNION ALL\n  SELECT 'Job scheduled', (SELECT scheduled_start FROM latest_schedule), CASE WHEN EXISTS (SELECT 1 FROM latest_schedule WHERE status ILIKE '%book%' OR status ILIKE '%schedule%' OR scheduled_start IS NOT NULL) THEN 'done' ELSE 'pending' END, 'Your appointment window is managed by the operations team.'\n  UNION ALL\n  SELECT 'Job complete', (SELECT completed_at FROM latest_job), CASE WHEN (SELECT completed_at FROM latest_job) IS NOT NULL THEN 'done' ELSE 'pending' END, 'Completion notes and materials are captured after the job.'\n  UNION ALL\n  SELECT 'Invoice sent', (SELECT sent_at FROM latest_invoice), CASE WHEN EXISTS (SELECT 1 FROM latest_invoice) THEN 'done' ELSE 'pending' END, 'The invoice summary is sent after completion.'\n  UNION ALL\n  SELECT 'Payment received', (SELECT paid_at FROM latest_payment), CASE WHEN EXISTS (SELECT 1 FROM latest_payment WHERE status = 'paid') THEN 'done' ELSE 'pending' END, 'Payment status updates here once received.'\n),\ncurrent_state AS (\n  SELECT\n    CASE\n      WHEN EXISTS (SELECT 1 FROM latest_payment WHERE status = 'paid') THEN 'paid'\n      WHEN EXISTS (SELECT 1 FROM latest_payment) THEN 'payment_requested'\n      WHEN EXISTS (SELECT 1 FROM latest_invoice) THEN 'invoice_sent'\n      WHEN EXISTS (SELECT 1 FROM latest_job WHERE completed_at IS NOT NULL) THEN 'job_complete'\n      WHEN EXISTS (SELECT 1 FROM latest_schedule WHERE scheduled_start IS NOT NULL) THEN 'scheduled'\n      WHEN EXISTS (SELECT 1 FROM latest_quote WHERE accepted_at IS NOT NULL) THEN 'quote_accepted'\n      WHEN EXISTS (SELECT 1 FROM latest_quote) THEN 'quote_sent'\n      WHEN EXISTS (SELECT 1 FROM matched) THEN 'booking_request_received'\n      ELSE 'not_found'\n    END AS status_key\n),\nnext_action AS (\n  SELECT\n    CASE (SELECT status_key FROM current_state)\n      WHEN 'paid' THEN 'Leave a review if you were happy with the service.'\n      WHEN 'payment_requested' THEN 'Review and pay the invoice when ready.'\n      WHEN 'invoice_sent' THEN 'Review your invoice summary.'\n      WHEN 'job_complete' THEN 'Watch for your invoice summary.'\n      WHEN 'scheduled' THEN 'The tradie will confirm final scope and pricing before work begins.'\n      WHEN 'quote_accepted' THEN 'Your accepted quote is being scheduled.'\n      WHEN 'quote_sent' THEN 'Review and accept the quote before work proceeds.'\n      WHEN 'booking_request_received' THEN 'The team will confirm quote and scheduling details.'\n      ELSE 'Please contact 1pacent so we can find your request.'\n    END AS customer_next_action\n)\nSELECT COALESCE(\n  (\n    SELECT jsonb_build_object(\n      'success', true,\n      'reference', (SELECT reference FROM input),\n      'status_key', (SELECT status_key FROM current_state),\n      'next_action', (SELECT customer_next_action FROM next_action),\n      'customer', jsonb_build_object(\n        'name', customer_name,\n        'email', customer_email,\n        'phone_last4', CASE WHEN customer_phone IS NULL OR length(customer_phone) < 4 THEN null ELSE right(customer_phone, 4) END\n      ),\n      'request', jsonb_build_object(\n        'lead_id', lead_id,\n        'status', lead_status,\n        'trade_type', trade_type,\n        'job_description', job_description,\n        'urgency', urgency,\n        'suburb_or_address', address,\n        'preferred_time', preferred_time,\n        'estimated_price_band', estimated_price_band,\n        'created_at', lead_created_at\n      ),\n      'quote', COALESCE((\n        SELECT jsonb_build_object(\n          'quote_id', id,\n          'status', status,\n          'amount', COALESCE(current_amount, original_amount),\n          'accepted_at', accepted_at,\n          'versions', COALESCE((SELECT jsonb_agg(jsonb_build_object(\n            'id', id,\n            'amount', amount,\n            'reason', reason,\n            'inclusions', inclusions,\n            'exclusions', exclusions,\n            'acceptance_url', acceptance_url,\n            'status', status,\n            'created_at', created_at\n          ) ORDER BY created_at DESC) FROM quote_version_rows), '[]'::jsonb)\n        )\n        FROM latest_quote\n      ), '{}'::jsonb),\n      'schedule', COALESCE((\n        SELECT jsonb_build_object(\n          'schedule_slot_id', id,\n          'status', status,\n          'scheduled_start', scheduled_start,\n          'scheduled_end', scheduled_end,\n          'scheduled_window', CASE WHEN scheduled_start IS NULL THEN null ELSE to_char(scheduled_start AT TIME ZONE 'Australia/Sydney', 'DD Mon YYYY, HH12:MI am') || ' to ' || to_char(scheduled_end AT TIME ZONE 'Australia/Sydney', 'HH12:MI am') END,\n          'estimated_duration_minutes', estimated_duration_minutes,\n          'tradie', jsonb_build_object(\n            'name', tradie_name,\n            'licence_status', licence_status,\n            'insurance_status', insurance_status,\n            'on_time_rate', on_time_rate,\n            'quote_accuracy_score', quote_accuracy_score\n          )\n        )\n        FROM latest_schedule\n      ), '{}'::jsonb),\n      'trust', COALESCE((\n        SELECT jsonb_build_object(\n          'completed_jobs', completed_jobs,\n          'similar_jobs_completed', similar_jobs_completed,\n          'quote_accuracy_score', quote_accuracy_score,\n          'on_time_rate', on_time_rate,\n          'average_rating', average_rating,\n          'dispute_rate', dispute_rate,\n          'repeat_customer_rate', repeat_customer_rate\n        )\n        FROM trust_row\n      ), '{}'::jsonb),\n      'invoice', COALESCE((\n        SELECT jsonb_build_object(\n          'invoice_id', id,\n          'status', status,\n          'amount', amount,\n          'sent_at', sent_at,\n          'paid_at', paid_at\n        )\n        FROM latest_invoice\n      ), '{}'::jsonb),\n      'payment', COALESCE((\n        SELECT jsonb_build_object(\n          'payment_request_id', id,\n          'status', status,\n          'amount', amount,\n          'currency', currency,\n          'payment_url', payment_url,\n          'due_at', due_at,\n          'paid_at', paid_at\n        )\n        FROM latest_payment\n      ), '{}'::jsonb),\n      'review', COALESCE((\n        SELECT jsonb_build_object(\n          'review_request_id', id,\n          'status', status,\n          'review_url', review_url,\n          'requested_at', requested_at,\n          'completed_at', completed_at\n        )\n        FROM review_rows\n        LIMIT 1\n      ), '{}'::jsonb),\n      'social', COALESCE((\n        SELECT jsonb_build_object(\n          'campaign_id', id,\n          'status', status,\n          'approval_status', approval_status,\n          'platforms', platforms\n        )\n        FROM social_rows\n        LIMIT 1\n      ), '{}'::jsonb),\n      'timeline', COALESCE((SELECT jsonb_agg(jsonb_build_object(\n        'label', label,\n        'state', state,\n        'happened_at', happened_at,\n        'description', description\n      ) ORDER BY CASE label\n        WHEN 'Booking request received' THEN 1\n        WHEN 'Quote prepared' THEN 2\n        WHEN 'Quote accepted' THEN 3\n        WHEN 'Job scheduled' THEN 4\n        WHEN 'Job complete' THEN 5\n        WHEN 'Invoice sent' THEN 6\n        WHEN 'Payment received' THEN 7\n        ELSE 99\n      END) FROM timeline), '[]'::jsonb),\n      'support', jsonb_build_object(\n        'change_booking_instruction', 'To change your booking, call Sally and quote your request reference.',\n        'urgent_instruction', 'If the issue is urgent, call Sally for immediate triage.'\n      )\n    )\n    FROM matched\n  ),\n  jsonb_build_object(\n    'success', false,\n    'reference', (SELECT reference FROM input),\n    'status_key', 'not_found',\n    'message', 'No customer job status was found for that reference.'\n  )\n) AS customer_job_status;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Load Customer Job Status", "id": "8534b115-09aa-46a3-afb3-1359eaf56481", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Customer Job Status", "id": "296f7616-444d-4400-add9-01f846b5455a", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.customer_job_status || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Customer Job Status Webhook": {"main": [[{"node": "Build Customer Job Status SQL", "type": "main", "index": 0}]]}, "Build Customer Job Status SQL": {"main": [[{"node": "Load Customer Job Status", "type": "main", "index": 0}]]}, "Load Customer Job Status": {"main": [[{"node": "Respond Customer Job Status", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}