docs/tradie-import/TRADIE-TOOL-Mia-Review-Request--vNTyEpkUrgCy6o9A.json
{"name": "TRADIE-TOOL-Mia-Review-Request", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Mia Review Tool Is Called", "id": "098043fb-c82e-4dd6-a4e7-ce6b4f315441", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Review Tool Input", "id": "34e9e5b2-9b0e-4d99-9e4d-b46f7d5b1ba5", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst data = raw.query ?? raw.body ?? raw;\nreturn [{ json: data }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Mia Review Endpoint", "id": "21a221f2-364c-41c4-b1f7-2786b2b5c2d0", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/agents/mia/review-request", "options": {"timeout": 30000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"When Mia Review Tool Is Called": {"main": [[{"node": "Normalise Review Tool Input", "type": "main", "index": 0}]]}, "Normalise Review Tool Input": {"main": [[{"node": "Call Mia Review Endpoint", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}