docs/tradie-import/TRADIE-RENTAL-102-Tenant-Feedback-Trust-Score--BNruC3xfJPZg27n3.json
{"name": "TRADIE-RENTAL-102-Tenant-Feedback-Trust-Score", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Tenant Feedback Webhook", "id": "7a43cafb-f0f2-49ab-8af7-d8e483939839", "webhookId": "dfd1e801-2a10-4526-aa2a-d6f1706d2834", "type": "n8n-nodes-base.webhook", "parameters": {"path": "rental/tenant-feedback/capture", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Tenant Feedback SQL", "id": "cc344f75-2bb1-4a93-b0ff-21dd48e21d97", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\r\nconst body = raw.body ?? raw;\r\nfunction first(...values) {\r\n  for (const value of values) {\r\n    if (value === undefined || value === null) continue;\r\n    if (typeof value === 'string' && value.trim() === '') continue;\r\n    return value;\r\n  }\r\n  return '';\r\n}\r\nfunction sql(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  return `'${String(value).replace(/'/g, \"''\")}'`;\r\n}\r\nfunction num(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  const n = Number(value);\r\n  return Number.isFinite(n) ? String(Math.max(1, Math.min(5, Math.round(n)))) : 'NULL';\r\n}\r\nfunction jsonSql(value) {\r\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\r\n}\r\nconst query = `\r\nWITH wo AS (\r\n  SELECT * FROM work_orders WHERE id = ${sql(first(body.work_order_id))} LIMIT 1\r\n),\r\ninsert_feedback AS (\r\n  INSERT INTO tenant_feedback (\r\n    work_order_id, tenant_id, tradie_id, rating, access_experience_score,\r\n    communication_score, completion_score, comments, trust_signal\r\n  )\r\n  SELECT\r\n    wo.id,\r\n    COALESCE(${sql(first(body.tenant_id))}, wo.tenant_id),\r\n    ${sql(first(body.tradie_id))},\r\n    ${num(first(body.rating))},\r\n    ${num(first(body.access_experience_score))},\r\n    ${num(first(body.communication_score))},\r\n    ${num(first(body.completion_score))},\r\n    ${sql(first(body.comments))},\r\n    ${jsonSql(body)}\r\n  FROM wo\r\n  RETURNING *\r\n),\r\ntenant_score AS (\r\n  SELECT tenant_id, round(avg(\r\n    (\r\n      COALESCE(rating, 0)\r\n      + COALESCE(access_experience_score, 0)\r\n      + COALESCE(communication_score, 0)\r\n      + COALESCE(completion_score, 0)\r\n    )::numeric / NULLIF(\r\n      (\r\n        CASE WHEN rating IS NULL THEN 0 ELSE 1 END\r\n        + CASE WHEN access_experience_score IS NULL THEN 0 ELSE 1 END\r\n        + CASE WHEN communication_score IS NULL THEN 0 ELSE 1 END\r\n        + CASE WHEN completion_score IS NULL THEN 0 ELSE 1 END\r\n      ), 0\r\n    )\r\n  )::numeric, 2) AS avg_score\r\n  FROM tenant_feedback\r\n  WHERE tenant_id IN (SELECT tenant_id FROM insert_feedback)\r\n  GROUP BY tenant_id\r\n),\r\nupdate_tenant AS (\r\n  UPDATE tenants\r\n  SET feedback_score = tenant_score.avg_score,\r\n      updated_at = now()\r\n  FROM tenant_score\r\n  WHERE tenants.id = tenant_score.tenant_id\r\n  RETURNING tenants.*\r\n),\r\ninsert_event AS (\r\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\r\n  SELECT 'work_order', work_order_id, 'tenant_feedback_captured', to_jsonb(insert_feedback)\r\n  FROM insert_feedback\r\n)\r\nSELECT COALESCE(\r\n  (\r\n    SELECT jsonb_build_object(\r\n      'success', true,\r\n      'work_order_id', work_order_id,\r\n      'tenant_id', tenant_id,\r\n      'feedback_score', (SELECT avg_score FROM tenant_score LIMIT 1),\r\n      'message', 'Tenant feedback captured for trust scoring.'\r\n    )\r\n    FROM insert_feedback\r\n    LIMIT 1\r\n  ),\r\n  jsonb_build_object('success', false, 'status', 'not_found', 'message', 'No work order matched.')\r\n) AS feedback_result;\r\n`;\r\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Tenant Feedback", "id": "1a9c3c9a-4bf5-4bb7-bb9b-efd3dc47b11d", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Tenant Feedback", "id": "e8329f11-754d-435d-b354-1819ea7768d0", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.feedback_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Tenant Feedback Webhook": {"main": [[{"node": "Build Tenant Feedback SQL", "type": "main", "index": 0}]]}, "Build Tenant Feedback SQL": {"main": [[{"node": "Save Tenant Feedback", "type": "main", "index": 0}]]}, "Save Tenant Feedback": {"main": [[{"node": "Respond Tenant Feedback", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}