docs/tradie-import/TRADIE-CORE-902-Agent-Memory-Save--KWAd65v9Lraqw5Dz.json
{"name": "TRADIE-CORE-902-Agent-Memory-Save", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Agent Memory Save Webhook", "id": "c79002b6-11db-4747-ab17-b5bf762f309d", "webhookId": "83a69659-da5b-48e9-8abe-abe51a4cda87", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/agent-memory/save", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Memory Save SQL", "id": "b39a04a3-4c55-451e-9c28-d8d1c5605f29", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\nconst agentKey = body.agent_key || 'george_foreman';\nconst agentName = body.agent_name || 'George Foreman';\nconst query = `\nINSERT INTO agent_memory (\n  agent_key, agent_name, conversation_id, lead_id, job_id, memory_type, summary, payload\n) VALUES (\n  ${sql(agentKey)}, ${sql(agentName)}, ${sql(body.conversation_id)}, ${sql(body.lead_id)},\n  ${sql(body.job_id)}, ${sql(body.memory_type || 'interaction')}, ${sql(body.summary)}, ${jsonSql(body.payload || body)}\n)\nRETURNING jsonb_build_object('success', true, 'memory_id', id, 'agent_key', agent_key, 'created_at', created_at) AS memory_save;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Agent Memory", "id": "3581fbc6-53f7-438d-b63b-2653f29e4a9d", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Memory Save", "id": "8b477747-7c06-4d7d-a60e-e35874da73d8", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.memory_save}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Save Agent Memory": {"main": [[{"node": "Respond Memory Save", "type": "main", "index": 0}]]}, "Agent Memory Save Webhook": {"main": [[{"node": "Build Memory Save SQL", "type": "main", "index": 0}]]}, "Build Memory Save SQL": {"main": [[{"node": "Save Agent Memory", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}