docs/tradie-import/TRADIE-AGENT-920-Quintino-Setup--a9Nnlw7v51VUBUnr.json
{"name": "TRADIE-AGENT-920-Quintino-Setup", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Quintino Setup Webhook", "id": "a9c129a9-9c7e-4b86-9d1d-91f430a66a49", "webhookId": "b7745cbe-067c-49d5-84d7-c7daf41c0c25", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/quintino/setup", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Quintino Setup SQL", "id": "8b7a509d-6e54-465a-b90c-07a4806e4279", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const query = `\nCREATE TABLE IF NOT EXISTS business_skill_versions (\n  id uuid primary key default gen_random_uuid(),\n  skill_key text not null references business_skills(skill_key),\n  version integer not null,\n  skill_name text not null,\n  capability text not null,\n  category text not null,\n  description text not null,\n  best_practice text not null,\n  guardrails text,\n  inputs jsonb not null default '{}'::jsonb,\n  outputs jsonb not null default '{}'::jsonb,\n  status text not null default 'archived',\n  change_reason text,\n  created_by_agent_key text references agent_definitions(agent_key),\n  approved_by text,\n  promoted_at timestamptz,\n  archived_at timestamptz,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  unique (skill_key, version)\n);\n\nCREATE TABLE IF NOT EXISTS skill_improvement_recommendations (\n  id uuid primary key default gen_random_uuid(),\n  recommendation_key text not null unique,\n  owner_agent_key text references agent_definitions(agent_key),\n  target_skill_key text,\n  target_workflow_id text,\n  recommendation_type text not null,\n  priority text not null default 'medium',\n  title text not null,\n  evidence_summary text not null,\n  recommended_change text not null,\n  expected_customer_impact text,\n  expected_cost_impact text,\n  status text not null default 'proposed',\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS quintino_audit_snapshots (\n  id uuid primary key default gen_random_uuid(),\n  snapshot_key text not null unique,\n  scope text not null default 'all_agents',\n  metrics jsonb not null default '{}'::jsonb,\n  findings jsonb not null default '[]'::jsonb,\n  recommendations jsonb not null default '[]'::jsonb,\n  created_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS job_actuals (\n  id uuid primary key default gen_random_uuid(),\n  job_id text,\n  lead_id text references leads(id),\n  quote_id text references quotes(id),\n  tradie_id text references tradies(id),\n  actual_start timestamptz,\n  actual_end timestamptz,\n  actual_duration_minutes integer,\n  actual_travel_minutes integer,\n  late_minutes integer,\n  completion_notes text,\n  created_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS quote_accuracy_metrics (\n  id uuid primary key default gen_random_uuid(),\n  lead_id text references leads(id),\n  quote_id text,\n  trade_type text,\n  initial_estimate text,\n  confirmed_quote text,\n  revised_quote text,\n  final_invoice text,\n  estimated_labour_hours numeric,\n  actual_labour_hours numeric,\n  estimated_materials_cost numeric,\n  actual_materials_cost numeric,\n  variance_reason text,\n  accuracy_score numeric,\n  created_at timestamptz not null default now()\n);\n\nCREATE INDEX IF NOT EXISTS idx_business_skill_versions_skill ON business_skill_versions(skill_key, version DESC);\nCREATE INDEX IF NOT EXISTS idx_business_skill_versions_status ON business_skill_versions(status);\nCREATE INDEX IF NOT EXISTS idx_skill_recommendations_status ON skill_improvement_recommendations(status, priority);\nCREATE INDEX IF NOT EXISTS idx_quintino_audit_snapshots_created ON quintino_audit_snapshots(created_at DESC);\n\nINSERT INTO agent_definitions (agent_key, agent_name, agent_role, model_provider, model_name, active)\nVALUES ('quintino', 'Quintino', 'Skills intelligence, lifecycle governance, workflow improvement and moat-building analytics AI agent', 'google_gemini', 'models/gemini-3.1-flash-lite', true)\nON CONFLICT (agent_key) DO UPDATE SET\n  agent_name = EXCLUDED.agent_name,\n  agent_role = EXCLUDED.agent_role,\n  model_provider = EXCLUDED.model_provider,\n  model_name = EXCLUDED.model_name,\n  active = true,\n  updated_at = now();\n\nDELETE FROM agent_business_rules WHERE agent_key = 'quintino';\nINSERT INTO agent_business_rules (agent_key, rule_group, rule_order, rule_text, active)\nVALUES\n  ('quintino', 'mission', 10, 'Quintino owns the Skills library, Skill lifecycle governance, and continuous improvement loop for the 1pacent moat.', true),\n  ('quintino', 'skills_lifecycle', 20, 'Only one active version of a Skill should be available to agents. Older versions must be archived in business_skill_versions.', true),\n  ('quintino', 'evidence', 30, 'Skill changes must be tied to evidence from chat history, workflow events, quote-vs-actuals, scheduling outcomes, travel data, customer friction, compliance signals, or cost metrics.', true),\n  ('quintino', 'recommendations', 40, 'Recommendations should state expected customer wow impact, operational cost impact, risk/compliance impact, and the workflow or service affected.', true),\n  ('quintino', 'guardrails', 50, 'Do not promote weakly supported Skills. Propose for review when evidence is incomplete.', true);\n\nINSERT INTO agent_knowledge_collections (agent_key, collection_key, collection_name, capability, active)\nVALUES ('quintino', 'skills_intelligence', 'Quintino Skills Intelligence', 'Skill lifecycle, workflow improvement, moat-building analytics and best-practice library governance', true)\nON CONFLICT (agent_key, collection_key) DO UPDATE SET\n  collection_name = EXCLUDED.collection_name,\n  capability = EXCLUDED.capability,\n  active = true,\n  updated_at = now();\n\nUPDATE business_skills\nSET owner_agent_key = 'quintino', updated_at = now()\nWHERE status = 'active';\n\nINSERT INTO business_skill_versions (\n  skill_key, version, skill_name, capability, category, description, best_practice, guardrails,\n  inputs, outputs, status, change_reason, created_by_agent_key, promoted_at, payload\n)\nSELECT\n  s.skill_key, s.version, s.skill_name, s.capability, s.category, s.description, s.best_practice, s.guardrails,\n  s.inputs, s.outputs, 'active', 'Initial active Skill baseline captured by Quintino setup.', 'quintino', now(), to_jsonb(s)\nFROM business_skills s\nWHERE NOT EXISTS (\n  SELECT 1 FROM business_skill_versions v WHERE v.skill_key = s.skill_key AND v.version = s.version\n);\n\nSELECT jsonb_build_object(\n  'success', true,\n  'agent_key', 'quintino',\n  'active_skills', (SELECT count(*) FROM business_skills WHERE status = 'active'),\n  'skill_versions', (SELECT count(*) FROM business_skill_versions),\n  'note', 'Quintino Skills Intelligence foundation is ready.'\n) AS setup_result;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Setup Quintino", "id": "17a78ab5-c0d8-4763-aac3-c5d8e95308d3", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Quintino Setup", "id": "bb3e1d3a-f543-42ee-afaf-1eaf5bd79bc5", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.setup_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Setup Quintino": {"main": [[{"node": "Respond Quintino Setup", "type": "main", "index": 0}]]}, "Build Quintino Setup SQL": {"main": [[{"node": "Setup Quintino", "type": "main", "index": 0}]]}, "Quintino Setup Webhook": {"main": [[{"node": "Build Quintino Setup SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}