docs/tradie-import/TRADIE-CORE-907-MCP-Services-And-Skills-Setup--HA8vfOcsQmD2SgMI.json
{"name": "TRADIE-CORE-907-MCP-Services-And-Skills-Setup", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "MCP And Skills Setup Webhook", "id": "8eaeffef-dd91-4d59-82d4-64af7a1420f7", "webhookId": "9dbe3bc4-1c05-49ed-bd67-9ccbdedc431c", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/mcp-skills/setup", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build MCP And Skills Setup SQL", "id": "261a05a3-0979-487f-94ae-bdffce2710cd", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const query = `\nCREATE TABLE IF NOT EXISTS mcp_services (\n  id uuid primary key default gen_random_uuid(),\n  service_key text not null unique,\n  service_name text not null,\n  provider text not null,\n  category text not null,\n  capability text not null,\n  endpoint_path text,\n  workflow_id text,\n  credential_name text,\n  status text not null default 'active',\n  available_to_agents text[] not null default '{}',\n  config jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS mcp_service_tools (\n  id uuid primary key default gen_random_uuid(),\n  service_key text not null references mcp_services(service_key),\n  tool_key text not null unique,\n  tool_name text not null,\n  description text not null,\n  endpoint_path text,\n  workflow_id text,\n  input_schema jsonb not null default '{}'::jsonb,\n  output_contract jsonb not null default '{}'::jsonb,\n  active boolean not null default true,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS business_skills (\n  id uuid primary key default gen_random_uuid(),\n  skill_key text not null unique,\n  skill_name text not null,\n  capability text not null,\n  category text not null,\n  description text not null,\n  best_practice text not null,\n  guardrails text,\n  inputs jsonb not null default '{}'::jsonb,\n  outputs jsonb not null default '{}'::jsonb,\n  owner_agent_key text references agent_definitions(agent_key),\n  version integer not null default 1,\n  status text not null default 'active',\n  tags text[] not null default '{}',\n  source_type text not null default 'manual',\n  source_id text,\n  usefulness_score numeric not null default 0,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS agent_skill_assignments (\n  id uuid primary key default gen_random_uuid(),\n  agent_key text not null references agent_definitions(agent_key),\n  skill_key text not null references business_skills(skill_key),\n  priority integer not null default 100,\n  active boolean not null default true,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now(),\n  unique (agent_key, skill_key)\n);\n\nCREATE TABLE IF NOT EXISTS skill_usage_events (\n  id uuid primary key default gen_random_uuid(),\n  skill_key text references business_skills(skill_key),\n  agent_key text,\n  entity_type text,\n  entity_id text,\n  event_type text not null,\n  outcome text,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now()\n);\n\nCREATE INDEX IF NOT EXISTS idx_mcp_services_category ON mcp_services(category, status);\nCREATE INDEX IF NOT EXISTS idx_mcp_service_tools_service_key ON mcp_service_tools(service_key, active);\nCREATE INDEX IF NOT EXISTS idx_business_skills_category ON business_skills(category, status);\nCREATE INDEX IF NOT EXISTS idx_business_skills_owner_agent ON business_skills(owner_agent_key, status);\nCREATE INDEX IF NOT EXISTS idx_agent_skill_assignments_agent ON agent_skill_assignments(agent_key, active);\nCREATE INDEX IF NOT EXISTS idx_skill_usage_events_skill ON skill_usage_events(skill_key, created_at DESC);\n\nINSERT INTO agent_definitions (agent_key, agent_name, agent_role, model_provider, model_name, active)\nVALUES\n  ('george_foreman', 'George Foreman', 'Scheduling operations AI agent', 'google_gemini', 'models/gemini-3.1-flash-lite', true),\n  ('sally_receptionist', 'Sally', 'Customer intake and booking request receptionist', 'elevenlabs', 'Sally - 1pacent Receptionist', true)\nON CONFLICT (agent_key) DO UPDATE SET active = true, updated_at = now();\n\nINSERT INTO mcp_services (service_key, service_name, provider, category, capability, endpoint_path, workflow_id, credential_name, status, available_to_agents, config)\nVALUES\n  ('google_gmail', 'Google Gmail', 'google', 'communication', 'Send booking, quote, acceptance, invoice and internal notification emails', null, null, 'Gmail account', 'active', ARRAY['sally_receptionist','george_foreman'], '{\"credential_required\": true}'::jsonb),\n  ('google_calendar', 'Google Calendar', 'google', 'scheduling', 'Read busy events and create labelled company calendar bookings', '/webhook/agents/george/calendar-book-job', 'fvxKC3ZdeagYaZ8S', 'Google Calendar account', 'active', ARRAY['george_foreman'], '{\"default_calendar_id\": \"primary\"}'::jsonb),\n  ('google_sheets', 'Google Sheets', 'google', 'records', 'Read and append operational spreadsheet records during migration', '/webhook/leads/capture', 'PztnKwXaz9UjFJSc', 'Google Sheets account', 'active', ARRAY['sally_receptionist'], '{\"legacy_system\": true}'::jsonb),\n  ('google_drive', 'Google Drive', 'google', 'documents', 'Store and retrieve business documents and evidence files', null, null, 'Google Drive account', 'planned', ARRAY['george_foreman','sally_receptionist'], '{\"needs_workflow\": true}'::jsonb),\n  ('google_docs', 'Google Docs', 'google', 'documents', 'Create quote, invoice and SOP documents from templates', null, null, 'Google Docs account', 'planned', ARRAY['george_foreman'], '{\"needs_workflow\": true}'::jsonb),\n  ('skills_registry', 'Skills Registry', 'postgres', 'agent_capability', 'Search, save and assign reusable business capability skills', '/webhook/core/skills/search', null, 'Tradie App Postgres', 'active', ARRAY['george_foreman','sally_receptionist'], '{\"source_of_truth\": \"postgres\"}'::jsonb),\n  ('agent_knowledge', 'Agent Knowledge Store', 'postgres', 'agent_capability', 'Search and save accumulated agent business knowledge', '/webhook/core/agent-knowledge/search', 'kIkqBJ8at9TbFXeu', 'Tradie App Postgres', 'active', ARRAY['george_foreman','sally_receptionist'], '{\"source_of_truth\": \"postgres\"}'::jsonb),\n  ('agent_memory', 'Agent Memory', 'postgres', 'agent_capability', 'Load and save shared agent memory across workflows and conversations', '/webhook/core/agent-memory/load', 'y9I74UctYLqqIPJV', 'Tradie App Postgres', 'active', ARRAY['george_foreman','sally_receptionist'], '{\"source_of_truth\": \"postgres\"}'::jsonb)\nON CONFLICT (service_key) DO UPDATE SET\n  service_name = EXCLUDED.service_name,\n  provider = EXCLUDED.provider,\n  category = EXCLUDED.category,\n  capability = EXCLUDED.capability,\n  endpoint_path = EXCLUDED.endpoint_path,\n  workflow_id = EXCLUDED.workflow_id,\n  credential_name = EXCLUDED.credential_name,\n  status = EXCLUDED.status,\n  available_to_agents = EXCLUDED.available_to_agents,\n  config = EXCLUDED.config,\n  updated_at = now();\n\nINSERT INTO mcp_service_tools (service_key, tool_key, tool_name, description, endpoint_path, workflow_id, input_schema, output_contract, active)\nVALUES\n  ('google_calendar', 'calendar_book_job', 'Calendar Book Job', 'Assign tradies and create a labelled Google Calendar job event.', '/webhook/agents/george/calendar-book-job', 'fvxKC3ZdeagYaZ8S', '{\"schedule_slot_id\":\"text\",\"tradie_count\":\"number\",\"calendar_id\":\"text\"}'::jsonb, '{\"status\":\"calendar_booked\",\"google_event_id\":\"text\"}'::jsonb, true),\n  ('google_calendar', 'google_calendar_busy', 'Google Calendar Busy Check', 'Read busy calendar events for a requested work date or window.', null, 'bDhl5QbvMTqlQUlx', '{\"preferred_date\":\"date\",\"preferred_window\":\"text\",\"calendar_id\":\"text\"}'::jsonb, '{\"busy\":\"boolean\",\"events\":\"array\"}'::jsonb, true),\n  ('skills_registry', 'skills_search', 'Skills Search', 'Search reusable business capability skills stored in Postgres.', '/webhook/core/skills/search', null, '{\"query\":\"text\",\"agent_key\":\"text\",\"category\":\"text\"}'::jsonb, '{\"results\":\"array\"}'::jsonb, true),\n  ('skills_registry', 'skills_save', 'Skills Save', 'Create or update a reusable business capability skill.', '/webhook/core/skills/save', null, '{\"skill_key\":\"text\",\"best_practice\":\"text\"}'::jsonb, '{\"skill_key\":\"text\",\"version\":\"number\"}'::jsonb, true),\n  ('agent_knowledge', 'knowledge_search', 'Knowledge Search', 'Search accumulated business knowledge for an agent.', '/webhook/core/agent-knowledge/search', 'kIkqBJ8at9TbFXeu', '{\"agent_key\":\"text\",\"query\":\"text\"}'::jsonb, '{\"results\":\"array\"}'::jsonb, true),\n  ('agent_knowledge', 'knowledge_save', 'Knowledge Save', 'Save a reusable agent lesson into the knowledge store.', '/webhook/core/agent-knowledge/save', 'f2lih2nHwzv3FQTu', '{\"agent_key\":\"text\",\"content\":\"text\"}'::jsonb, '{\"knowledge_id\":\"uuid\"}'::jsonb, true)\nON CONFLICT (tool_key) DO UPDATE SET\n  service_key = EXCLUDED.service_key,\n  tool_name = EXCLUDED.tool_name,\n  description = EXCLUDED.description,\n  endpoint_path = EXCLUDED.endpoint_path,\n  workflow_id = EXCLUDED.workflow_id,\n  input_schema = EXCLUDED.input_schema,\n  output_contract = EXCLUDED.output_contract,\n  active = true,\n  updated_at = now();\n\nINSERT INTO business_skills (\n  skill_key, skill_name, capability, category, description, best_practice, guardrails, inputs, outputs, owner_agent_key, version, status, tags, source_type, source_id, usefulness_score\n)\nVALUES\n  (\n    'skill_route_efficient_scheduling',\n    'Route Efficient Scheduling',\n    'Scheduling and workforce productivity',\n    'scheduling',\n    'Choose booking windows that optimise the whole tradie day, not only the customer preference.',\n    'Before recommending a slot, check tradie skills, current day plan, customer suburb, existing calendar blocks, travel buffers, urgency and route score. Prefer slots that reduce dead travel while still giving the customer a fast acceptable window.',\n    'Never invent availability. Do not mark a job confirmed until the schedule is held and the calendar booking succeeds or operations approves the fallback.',\n    '{\"required\":[\"trade_type\",\"customer_suburb\",\"preferred_window\",\"duration_minutes\"]}'::jsonb,\n    '{\"returns\":[\"recommended_window\",\"route_reason\",\"customer_safe_message\"]}'::jsonb,\n    'george_foreman',\n    1,\n    'active',\n    ARRAY['scheduling','travel','route_efficiency','moat'],\n    'seed',\n    'SKILL-SEED-001',\n    10\n  ),\n  (\n    'skill_quote_accuracy_learning',\n    'Quote Accuracy Learning',\n    'Pricing trust and quote improvement',\n    'quoting',\n    'Turn every completed job into better future estimates.',\n    'Capture estimate, confirmed quote, final invoice, labour duration, travel time, materials, parts, variance reason and customer acceptance outcome. Use similar completed jobs to improve future indicative pricing and reduce quote surprise.',\n    'Do not promise fixed prices from historical data. Use it to improve indicative ranges and confidence only.',\n    '{\"required\":[\"trade_type\",\"job_description\",\"estimate\",\"actuals\"]}'::jsonb,\n    '{\"returns\":[\"variance_reason\",\"pricing_lesson\",\"future_estimate_adjustment\"]}'::jsonb,\n    'george_foreman',\n    1,\n    'active',\n    ARRAY['quoting','trust','job_actuals','moat'],\n    'seed',\n    'SKILL-SEED-002',\n    10\n  ),\n  (\n    'skill_customer_email_confirmation',\n    'Customer Email Confirmation',\n    'Customer intake quality',\n    'intake',\n    'Prevent wrong-email confirmations by spelling back and confirming email addresses.',\n    'Always spell back customer email addresses before sending confirmations, quote links or invoice records. Set email_confirmed only after explicit customer confirmation.',\n    'Do not send confirmations when email_confirmed is false.',\n    '{\"required\":[\"email\",\"customer_confirmation\"]}'::jsonb,\n    '{\"returns\":[\"email_confirmed\",\"corrected_email\"]}'::jsonb,\n    'sally_receptionist',\n    1,\n    'active',\n    ARRAY['intake','email','customer_experience'],\n    'seed',\n    'SKILL-SEED-003',\n    10\n  )\nON CONFLICT (skill_key) DO UPDATE SET\n  skill_name = EXCLUDED.skill_name,\n  capability = EXCLUDED.capability,\n  category = EXCLUDED.category,\n  description = EXCLUDED.description,\n  best_practice = EXCLUDED.best_practice,\n  guardrails = EXCLUDED.guardrails,\n  inputs = EXCLUDED.inputs,\n  outputs = EXCLUDED.outputs,\n  owner_agent_key = EXCLUDED.owner_agent_key,\n  status = 'active',\n  tags = EXCLUDED.tags,\n  usefulness_score = EXCLUDED.usefulness_score,\n  updated_at = now();\n\nINSERT INTO agent_skill_assignments (agent_key, skill_key, priority, active)\nVALUES\n  ('george_foreman', 'skill_route_efficient_scheduling', 10, true),\n  ('george_foreman', 'skill_quote_accuracy_learning', 20, true),\n  ('sally_receptionist', 'skill_customer_email_confirmation', 10, true)\nON CONFLICT (agent_key, skill_key) DO UPDATE SET priority = EXCLUDED.priority, active = true, updated_at = now();\n\nSELECT jsonb_build_object(\n  'success', true,\n  'services', (SELECT count(*) FROM mcp_services),\n  'tools', (SELECT count(*) FROM mcp_service_tools),\n  'skills', (SELECT count(*) FROM business_skills),\n  'assignments', (SELECT count(*) FROM agent_skill_assignments),\n  'note', 'Reusable MCP service registry and Skills foundation are ready.'\n) AS setup_result;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Setup MCP Services And Skills", "id": "194bc976-611c-487e-995f-2ad3030163de", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond MCP Skills Setup", "id": "5cb59614-b962-42b1-8584-7e0df470dae5", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.setup_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Setup MCP Services And Skills": {"main": [[{"node": "Respond MCP Skills Setup", "type": "main", "index": 0}]]}, "MCP And Skills Setup Webhook": {"main": [[{"node": "Build MCP And Skills Setup SQL", "type": "main", "index": 0}]]}, "Build MCP And Skills Setup SQL": {"main": [[{"node": "Setup MCP Services And Skills", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}