docs/tradie-import/TRADIE-RENTAL-105-Quote-Options-Landlord-Approval--nxpQQcbgM6h2cUhC.json
{"name": "TRADIE-RENTAL-105-Quote-Options-Landlord-Approval", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Rental Quote Options Webhook", "id": "044293a3-8631-4e0f-9e86-d6cc63bb4404", "webhookId": "a80b4e7c-bc36-4c49-a4a5-4fd1eb3e9f36", "type": "n8n-nodes-base.webhook", "parameters": {"path": "rental/quote-options/generate", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Rental Quote Options SQL", "id": "b8e6169c-f3aa-496d-8868-9b5b54af68eb", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\r\nconst body = raw.body ?? raw;\r\n\r\nfunction first(...values) {\r\n  for (const value of values) {\r\n    if (value === undefined || value === null) continue;\r\n    if (typeof value === 'string' && value.trim() === '') continue;\r\n    return value;\r\n  }\r\n  return '';\r\n}\r\nfunction sql(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  return `'${String(value).replace(/'/g, \"''\")}'`;\r\n}\r\nfunction num(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\r\n  return Number.isFinite(n) ? String(n) : 'NULL';\r\n}\r\nfunction int(value, fallback = null) {\r\n  if (value === undefined || value === null || value === '') return fallback === null ? 'NULL' : String(fallback);\r\n  const n = Number.parseInt(String(value), 10);\r\n  return Number.isFinite(n) ? String(n) : (fallback === null ? 'NULL' : String(fallback));\r\n}\r\nfunction jsonSql(value) {\r\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\r\n}\r\nfunction makeId(prefix) {\r\n  return `${prefix}-${new Date().getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`;\r\n}\r\nfunction normaliseWindow(item, index) {\r\n  if (typeof item === 'string') {\r\n    return {\r\n      window_start: '',\r\n      window_end: '',\r\n      preference_rank: index + 1,\r\n      access_notes: item,\r\n    };\r\n  }\r\n  return {\r\n    window_start: first(item.window_start, item.start, item.from),\r\n    window_end: first(item.window_end, item.end, item.to),\r\n    preference_rank: first(item.preference_rank, item.rank, index + 1),\r\n    access_notes: first(item.access_notes, item.notes, ''),\r\n  };\r\n}\r\n\r\nconst workOrderId = first(body.work_order_id, body.id);\r\nconst batchId = first(body.batch_id, makeId('RQO'));\r\nconst approvalId = first(body.approval_id, `APR-${batchId.replace(/^RQO-/, '')}`);\r\nconst maxOptions = Math.max(1, Math.min(5, Number(first(body.max_options, 3)) || 3));\r\nconst durationMinutes = Math.max(30, Math.min(480, Number(first(body.estimated_duration_minutes, body.duration_minutes, 120)) || 120));\r\n\r\nconst tenantWindows = (\r\n  Array.isArray(body.tenant_windows) ? body.tenant_windows :\r\n  Array.isArray(body.tenant_availability_windows) ? body.tenant_availability_windows :\r\n  Array.isArray(body.requester_availability_windows) ? body.requester_availability_windows :\r\n  Array.isArray(body.availability_windows) ? body.availability_windows :\r\n  []\r\n)\r\n  .map(normaliseWindow)\r\n  .filter(w => w.window_start && w.window_end)\r\n  .slice(0, 12);\r\n\r\nconst tradieOptions = (Array.isArray(body.tradie_options) ? body.tradie_options : Array.isArray(body.quote_options) ? body.quote_options : [])\r\n  .map((option, index) => ({\r\n    tradie_id: first(option.tradie_id, option.provider_id, `TRADIE-OPTION-${index + 1}`),\r\n    company_id: first(option.company_id, option.tradie_company_id, `COMPANY-OPTION-${index + 1}`),\r\n    tradie_name: first(option.tradie_name, option.name, `Tradie Option ${index + 1}`),\r\n    amount: first(option.amount, option.quote_amount, option.estimated_amount),\r\n    scheduled_start: first(option.scheduled_start, option.window_start, option.start),\r\n    scheduled_end: first(option.scheduled_end, option.window_end, option.end),\r\n    trust_score: first(option.trust_score, option.average_rating, option.rating),\r\n    response_minutes: first(option.response_minutes, option.response_time_minutes, 60),\r\n    source: first(option.source, 'tradie_quote'),\r\n  }))\r\n  .filter(o => o.tradie_id && o.company_id && o.scheduled_start && o.scheduled_end)\r\n  .slice(0, 25);\r\n\r\nconst tenantWindowValues = tenantWindows.map(w => `(\r\n  ${sql(workOrderId)},\r\n  ${sql(w.window_start)}::timestamptz,\r\n  ${sql(w.window_end)}::timestamptz,\r\n  ${int(w.preference_rank, 1)},\r\n  ${sql(w.access_notes)},\r\n  'offered',\r\n  now()\r\n)`).join(',\\n');\r\n\r\nconst providedCompanyValues = tradieOptions.map(o => `(${sql(o.company_id)}, ${sql(first(o.company_name, o.company_id))})`).join(',\\n');\r\nconst providedTradieValues = tradieOptions.map(o => `(${sql(o.tradie_id)}, ${sql(o.company_id)}, ${sql(o.tradie_name)})`).join(',\\n');\r\nconst providedCandidateValues = tradieOptions.map(o => `(\r\n  ${sql(o.tradie_id)},\r\n  ${sql(o.company_id)},\r\n  ${num(o.amount)},\r\n  ${sql(o.scheduled_start)}::timestamptz,\r\n  ${sql(o.scheduled_end)}::timestamptz,\r\n  ${num(o.trust_score)},\r\n  ${int(o.response_minutes, 60)},\r\n  ${sql(o.source)}\r\n)`).join(',\\n');\r\n\r\nconst noTenantWindows = `\r\n  SELECT\r\n    NULL::text AS work_order_id,\r\n    NULL::timestamptz AS window_start,\r\n    NULL::timestamptz AS window_end,\r\n    NULL::integer AS preference_rank,\r\n    NULL::text AS access_notes,\r\n    NULL::text AS status,\r\n    NULL::timestamptz AS updated_at\r\n  WHERE false`;\r\n\r\nconst noProvidedCandidates = `\r\n  SELECT\r\n    NULL::text AS tradie_id,\r\n    NULL::text AS company_id,\r\n    NULL::numeric AS amount,\r\n    NULL::timestamptz AS scheduled_start,\r\n    NULL::timestamptz AS scheduled_end,\r\n    NULL::numeric AS trust_score,\r\n    NULL::integer AS response_minutes,\r\n    NULL::text AS source\r\n  WHERE false`;\r\n\r\nconst query = `\r\nWITH wo AS (\r\n  SELECT * FROM work_orders WHERE id = ${sql(workOrderId)} LIMIT 1\r\n),\r\nprovided_companies AS (\r\n  INSERT INTO tradie_companies (id, name, active, updated_at)\r\n  SELECT DISTINCT company_id, company_name, true, now()\r\n  FROM (\r\n    ${providedCompanyValues ? `SELECT * FROM (VALUES ${providedCompanyValues}) AS v(company_id, company_name)` : \"SELECT NULL::text AS company_id, NULL::text AS company_name WHERE false\"}\r\n  ) c\r\n  WHERE company_id IS NOT NULL\r\n  ON CONFLICT (id) DO UPDATE SET name = COALESCE(EXCLUDED.name, tradie_companies.name), active = true, updated_at = now()\r\n  RETURNING *\r\n),\r\nprovided_tradies AS (\r\n  INSERT INTO tradies (id, company_id, name, active, updated_at)\r\n  SELECT DISTINCT tradie_id, company_id, tradie_name, true, now()\r\n  FROM (\r\n    ${providedTradieValues ? `SELECT * FROM (VALUES ${providedTradieValues}) AS v(tradie_id, company_id, tradie_name)` : \"SELECT NULL::text AS tradie_id, NULL::text AS company_id, NULL::text AS tradie_name WHERE false\"}\r\n  ) t\r\n  WHERE tradie_id IS NOT NULL\r\n  ON CONFLICT (id) DO UPDATE SET company_id = COALESCE(EXCLUDED.company_id, tradies.company_id), name = COALESCE(EXCLUDED.name, tradies.name), active = true, updated_at = now()\r\n  RETURNING *\r\n),\r\ninsert_tenant_windows AS (\r\n  INSERT INTO tenant_availability_windows (work_order_id, tenant_id, window_start, window_end, preference_rank, access_notes, status, updated_at)\r\n  SELECT v.work_order_id, wo.tenant_id, v.window_start, v.window_end, v.preference_rank, v.access_notes, v.status, v.updated_at\r\n  FROM (\r\n    ${tenantWindowValues ? `SELECT * FROM (VALUES ${tenantWindowValues}) AS v(work_order_id, window_start, window_end, preference_rank, access_notes, status, updated_at)` : noTenantWindows}\r\n  ) v\r\n  JOIN wo ON true\r\n  WHERE v.work_order_id IS NOT NULL\r\n  RETURNING *\r\n),\r\ntenant_windows AS (\r\n  SELECT * FROM insert_tenant_windows\r\n  UNION ALL\r\n  SELECT * FROM tenant_availability_windows\r\n  WHERE work_order_id = ${sql(workOrderId)}\r\n    AND status IN ('offered','preferred','confirmed')\r\n    AND NOT EXISTS (SELECT 1 FROM insert_tenant_windows)\r\n),\r\nprovided_candidates AS (\r\n  SELECT\r\n    pc.tradie_id,\r\n    pc.company_id,\r\n    pc.amount,\r\n    pc.scheduled_start,\r\n    pc.scheduled_end,\r\n    pc.trust_score,\r\n    pc.response_minutes,\r\n    pc.source,\r\n    tw.id AS tenant_availability_window_id,\r\n    tw.preference_rank,\r\n    1 AS source_priority\r\n  FROM (\r\n    ${providedCandidateValues ? `SELECT * FROM (VALUES ${providedCandidateValues}) AS v(tradie_id, company_id, amount, scheduled_start, scheduled_end, trust_score, response_minutes, source)` : noProvidedCandidates}\r\n  ) pc\r\n  JOIN wo ON true\r\n  JOIN tenant_windows tw\r\n    ON pc.scheduled_start >= tw.window_start\r\n   AND pc.scheduled_end <= tw.window_end\r\n  WHERE pc.tradie_id IS NOT NULL\r\n    AND (\r\n      COALESCE(wo.payload->>'warranty_candidate', 'false') <> 'true'\r\n      OR pc.tradie_id = wo.payload->>'previous_tradie_id'\r\n    )\r\n    AND NOT EXISTS (\r\n      SELECT 1 FROM job_schedule_slots s\r\n      WHERE s.tradie_id = pc.tradie_id\r\n        AND s.status IN ('booked','confirmed','scheduled')\r\n        AND tstzrange(s.scheduled_start, s.scheduled_end, '[)') && tstzrange(pc.scheduled_start, pc.scheduled_end, '[)')\r\n    )\r\n),\r\ndb_candidates AS (\r\n  SELECT\r\n    tr.id AS tradie_id,\r\n    tr.company_id,\r\n    COALESCE(wo.estimated_amount, 300)::numeric AS amount,\r\n    tw.window_start AS scheduled_start,\r\n    LEAST(tw.window_end, tw.window_start + (${durationMinutes} || ' minutes')::interval) AS scheduled_end,\r\n    COALESCE(tm.average_rating * 20, tr.on_time_rate, tr.quote_accuracy_score, 70)::numeric AS trust_score,\r\n    120::integer AS response_minutes,\r\n    'database_availability'::text AS source,\r\n    tw.id AS tenant_availability_window_id,\r\n    tw.preference_rank,\r\n    2 AS source_priority\r\n  FROM wo\r\n  JOIN tenant_windows tw ON true\r\n  JOIN tradies tr ON tr.active = true\r\n  LEFT JOIN tradie_skills ts ON ts.tradie_id = tr.id AND lower(ts.trade_type) = lower(COALESCE(wo.trade_type, 'general_maintenance'))\r\n  LEFT JOIN tradie_availability ta\r\n    ON ta.tradie_id = tr.id\r\n   AND ta.active = true\r\n   AND ta.day_of_week = EXTRACT(DOW FROM tw.window_start AT TIME ZONE 'Australia/Sydney')::integer\r\n   AND ta.start_time <= (tw.window_start AT TIME ZONE 'Australia/Sydney')::time\r\n   AND ta.end_time >= (LEAST(tw.window_end, tw.window_start + (${durationMinutes} || ' minutes')::interval) AT TIME ZONE 'Australia/Sydney')::time\r\n  LEFT JOIN trust_metrics tm ON tm.tradie_id = tr.id AND (tm.trade_type IS NULL OR lower(tm.trade_type) = lower(COALESCE(wo.trade_type, 'general_maintenance')))\r\n  WHERE (\n      ts.id IS NOT NULL\n      OR lower(COALESCE(wo.trade_type, '')) IN ('', 'unspecified', 'general_maintenance')\n      OR EXISTS (\n        SELECT 1\n        FROM tradie_commercial_terms t\n        WHERE t.active = true\n          AND (t.tradie_id = tr.id OR t.company_id = tr.company_id)\n          AND lower(COALESCE(t.trade_type, '')) = lower(COALESCE(wo.trade_type, ''))\n      )\n    )\n    AND (\r\n      COALESCE(wo.payload->>'warranty_candidate', 'false') <> 'true'\r\n      OR tr.id = wo.payload->>'previous_tradie_id'\r\n    )\r\n    AND (ta.id IS NOT NULL OR NOT EXISTS (SELECT 1 FROM tradie_availability WHERE tradie_id = tr.id AND active = true))\r\n    AND NOT EXISTS (\r\n      SELECT 1 FROM job_schedule_slots s\r\n      WHERE s.tradie_id = tr.id\r\n        AND s.status IN ('booked','confirmed','scheduled')\r\n        AND tstzrange(s.scheduled_start, s.scheduled_end, '[)') && tstzrange(tw.window_start, LEAST(tw.window_end, tw.window_start + (${durationMinutes} || ' minutes')::interval), '[)')\r\n    )\r\n),\r\ncandidate_pool AS (\r\n  SELECT * FROM provided_candidates\r\n  UNION ALL\r\n  SELECT * FROM db_candidates\r\n  WHERE NOT EXISTS (SELECT 1 FROM provided_candidates)\r\n),\r\nscored AS (\r\n  SELECT\r\n    candidate_pool.*,\r\n    tct.standard_callout_fee,\r\n    tct.emergency_callout_fee,\r\n    tct.hourly_rate,\r\n    tct.labour_warranty_days,\r\n    tct.parts_warranty_policy,\r\n    tct.callout_waiver_policy,\r\n    tct.sally_discount_instructions,\r\n    tjo.callout_fee_override,\r\n    tjo.discount_amount,\r\n    tjo.discount_percent,\r\n    tjo.sally_instruction_override,\r\n    GREATEST(0, LEAST(100, COALESCE(trust_score, 70))) AS normalised_trust_score,\r\n    GREATEST(0, 100 - (((COALESCE(amount, 300) - COALESCE(tjo.discount_amount, 0)) * (1 - COALESCE(tjo.discount_percent, 0) / 100) - MIN((COALESCE(amount, 300) - COALESCE(tjo.discount_amount, 0)) * (1 - COALESCE(tjo.discount_percent, 0) / 100)) OVER ()) / NULLIF(MIN((COALESCE(amount, 300) - COALESCE(tjo.discount_amount, 0)) * (1 - COALESCE(tjo.discount_percent, 0) / 100)) OVER (), 0) * 100)) AS normalised_cost_score,\r\n    GREATEST(0, round(((COALESCE(amount, 300) - COALESCE(tjo.discount_amount, 0)) * (1 - COALESCE(tjo.discount_percent, 0) / 100))::numeric, 2)) AS effective_amount,\r\n    GREATEST(0, 110 - (preference_rank * 10) - LEAST(30, COALESCE(response_minutes, 60) / 10)) AS normalised_availability_score\r\n  FROM candidate_pool\r\n  LEFT JOIN LATERAL (\r\n    SELECT *\r\n    FROM tradie_commercial_terms t\r\n    WHERE t.active = true\r\n      AND (t.tradie_id IS NULL OR t.tradie_id = candidate_pool.tradie_id)\r\n      AND (t.company_id IS NULL OR t.company_id = candidate_pool.company_id)\r\n      AND (t.trade_type IS NULL OR lower(t.trade_type) = lower((SELECT trade_type FROM wo)))\r\n      AND (t.job_type IS NULL OR lower(t.job_type) = lower((SELECT job_type FROM wo)))\r\n      AND t.effective_from <= current_date\r\n      AND (t.effective_to IS NULL OR t.effective_to >= current_date)\r\n    ORDER BY t.tradie_id NULLS LAST, t.job_type NULLS LAST, t.effective_from DESC\r\n    LIMIT 1\r\n  ) tct ON true\r\n  LEFT JOIN LATERAL (\r\n    SELECT *\r\n    FROM tradie_job_offer_overrides o\r\n    WHERE o.status = 'active'\r\n      AND o.tradie_id = candidate_pool.tradie_id\r\n      AND (o.work_order_id IS NULL OR o.work_order_id = ${sql(workOrderId)})\r\n      AND (o.expires_at IS NULL OR o.expires_at > now())\r\n    ORDER BY o.work_order_id NULLS LAST, o.created_at DESC\r\n    LIMIT 1\r\n  ) tjo ON true\r\n),\r\nranked AS (\r\n  SELECT\r\n    *,\r\n    ROW_NUMBER() OVER (\r\n      PARTITION BY tradie_id, scheduled_start, scheduled_end\r\n      ORDER BY source_priority, preference_rank\r\n    ) AS duplicate_rank,\r\n    ROW_NUMBER() OVER (\r\n      ORDER BY\r\n        ((normalised_trust_score * 0.40) + (normalised_cost_score * 0.35) + (normalised_availability_score * 0.25)) DESC,\r\n        effective_amount ASC,\r\n        preference_rank ASC\r\n    ) AS option_rank,\r\n    round(((normalised_trust_score * 0.40) + (normalised_cost_score * 0.35) + (normalised_availability_score * 0.25))::numeric, 2) AS total_score\r\n  FROM scored\r\n),\r\ntop_options AS (\r\n  SELECT *\r\n  FROM ranked\r\n  WHERE duplicate_rank = 1\r\n  ORDER BY option_rank\r\n  LIMIT ${maxOptions}\r\n),\r\ninsert_options AS (\r\n  INSERT INTO rental_quote_options (\r\n    id, batch_id, work_order_id, landlord_id, tenant_id, tenant_availability_window_id,\r\n    tradie_id, company_id, option_rank, quote_amount, quote_band, scheduled_start, scheduled_end,\r\n    urgency, trust_score, cost_score, availability_score, total_score, status, approval_id, approval_url, payload, updated_at\r\n  )\r\n  SELECT\r\n    ${sql(batchId)} || '-' || option_rank,\r\n    ${sql(batchId)},\r\n    wo.id,\r\n    wo.landlord_id,\r\n    wo.tenant_id,\r\n    top_options.tenant_availability_window_id,\r\n    top_options.tradie_id,\r\n    top_options.company_id,\r\n    top_options.option_rank,\r\n    top_options.effective_amount,\r\n    chr(36) || round(top_options.effective_amount)::text,\r\n    top_options.scheduled_start,\r\n    top_options.scheduled_end,\r\n    wo.urgency,\r\n    top_options.normalised_trust_score,\r\n    top_options.normalised_cost_score,\r\n    top_options.normalised_availability_score,\r\n    top_options.total_score,\r\n    'proposed',\r\n    ${sql(approvalId)},\r\n    CASE\r\n      WHEN wo.payload->>'approval_recipient_role' = 'owner' THEN 'https://app.1pacent.com/owner/approve-options?approval_id=' || ${sql(approvalId)}\r\n      ELSE 'https://app.1pacent.com/landlord/approve-options?approval_id=' || ${sql(approvalId)}\r\n    END,\r\n    jsonb_build_object(\r\n      'source', top_options.source,\r\n      'duration_minutes', ${durationMinutes},\r\n      'ranking_weights', jsonb_build_object('trust', 0.40, 'cost', 0.35, 'availability', 0.25),\r\n      'warranty_constraint', CASE\r\n        WHEN COALESCE(wo.payload->>'warranty_candidate', 'false') = 'true' THEN jsonb_build_object(\r\n          'previous_tradie_only', true,\r\n          'previous_tradie_id', wo.payload->>'previous_tradie_id',\r\n          'matched_warranty_key', wo.payload->>'matched_warranty_key',\r\n          'landlord_charge_recommendation', wo.payload->>'landlord_charge_recommendation'\r\n        )\r\n        ELSE NULL\r\n      END,\r\n      'tenant_window_rank', top_options.preference_rank,\r\n      'response_minutes', top_options.response_minutes,\r\n      'commercial_terms', jsonb_build_object(\r\n        'standard_callout_fee', top_options.standard_callout_fee,\r\n        'emergency_callout_fee', top_options.emergency_callout_fee,\r\n        'hourly_rate', top_options.hourly_rate,\r\n        'labour_warranty_days', top_options.labour_warranty_days,\r\n        'parts_warranty_policy', top_options.parts_warranty_policy,\r\n        'callout_waiver_policy', top_options.callout_waiver_policy,\r\n        'sally_discount_instructions', COALESCE(top_options.sally_instruction_override, top_options.sally_discount_instructions),\r\n        'callout_fee_override', top_options.callout_fee_override,\r\n        'discount_amount', top_options.discount_amount,\r\n        'discount_percent', top_options.discount_percent\r\n      ),\r\n      'consumer_guarantee_keys', jsonb_build_array('AU_ACL_CONSUMER_GUARANTEES_AUTOMATIC_2026_05_21','AU_ACL_SERVICES_DUE_CARE_SKILL_2026_05_21','AU_ACL_WARRANTIES_ADDITIONAL_2026_05_21')\r\n    ),\r\n    now()\r\n  FROM top_options\r\n  JOIN wo ON true\r\n  ON CONFLICT (id) DO UPDATE SET\r\n    option_rank = EXCLUDED.option_rank,\r\n    quote_amount = EXCLUDED.quote_amount,\r\n    scheduled_start = EXCLUDED.scheduled_start,\r\n    scheduled_end = EXCLUDED.scheduled_end,\r\n    trust_score = EXCLUDED.trust_score,\r\n    cost_score = EXCLUDED.cost_score,\r\n    availability_score = EXCLUDED.availability_score,\r\n    total_score = EXCLUDED.total_score,\r\n    approval_id = EXCLUDED.approval_id,\r\n    approval_url = EXCLUDED.approval_url,\r\n    payload = EXCLUDED.payload,\r\n    updated_at = now()\r\n  RETURNING *\r\n),\r\napproval AS (\r\n  INSERT INTO landlord_approvals (id, work_order_id, landlord_id, approval_type, amount, status, approval_url, payload, updated_at)\r\n  SELECT\r\n    ${sql(approvalId)},\r\n    wo.id,\r\n    wo.landlord_id,\r\n    'quote_option_set',\r\n    MIN(io.quote_amount),\r\n    'pending',\r\n    CASE\r\n      WHEN wo.payload->>'approval_recipient_role' = 'owner' THEN 'https://app.1pacent.com/owner/approve-options?approval_id=' || ${sql(approvalId)}\r\n      ELSE 'https://app.1pacent.com/landlord/approve-options?approval_id=' || ${sql(approvalId)}\r\n    END,\r\n    jsonb_build_object(\r\n      'batch_id', ${sql(batchId)},\r\n      'options', jsonb_agg(to_jsonb(io) ORDER BY io.option_rank),\r\n      'approval_recipient_role', COALESCE(wo.payload->>'approval_recipient_role', 'landlord'),\r\n      'decision_needed', 'Choose one approved cost/service window that already matches requester availability and tradie availability.'\r\n    ),\r\n    now()\r\n  FROM wo\r\n  JOIN insert_options io ON true\r\n  GROUP BY wo.id, wo.landlord_id, wo.payload\r\n  ON CONFLICT (id) DO UPDATE SET\r\n    amount = EXCLUDED.amount,\r\n    status = 'pending',\r\n    approval_url = EXCLUDED.approval_url,\r\n    payload = EXCLUDED.payload,\r\n    updated_at = now()\r\n  RETURNING *\r\n),\r\nupdate_work_order AS (\r\n  UPDATE work_orders\r\n  SET approval_status = CASE WHEN EXISTS (SELECT 1 FROM approval) THEN 'landlord_quote_options_sent' ELSE approval_status END,\r\n      approval_required = CASE WHEN EXISTS (SELECT 1 FROM approval) THEN true ELSE approval_required END,\r\n      payload = payload || jsonb_build_object('latest_quote_option_batch_id', ${sql(batchId)}, 'latest_quote_option_approval_id', ${sql(approvalId)}),\r\n      updated_at = now()\r\n  WHERE id = ${sql(workOrderId)}\r\n  RETURNING *\r\n),\r\ninsert_event AS (\r\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\r\n  SELECT 'work_order', ${sql(workOrderId)}, 'rental_quote_options_generated', jsonb_build_object('batch_id', ${sql(batchId)}, 'options', jsonb_agg(to_jsonb(insert_options) ORDER BY option_rank))\r\n  FROM insert_options\r\n)\r\nSELECT jsonb_build_object(\r\n  'success', true,\r\n  'work_order_id', ${sql(workOrderId)},\r\n  'batch_id', ${sql(batchId)},\r\n  'approval_id', (SELECT id FROM approval LIMIT 1),\r\n  'approval_url', (SELECT approval_url FROM approval LIMIT 1),\r\n  'options_count', (SELECT count(*) FROM insert_options),\r\n  'options', COALESCE((SELECT jsonb_agg(jsonb_build_object(\r\n    'option_id', id,\r\n    'rank', option_rank,\r\n    'tradie_id', tradie_id,\r\n    'company_id', company_id,\r\n    'quote_amount', quote_amount,\r\n    'scheduled_start', scheduled_start,\r\n    'scheduled_end', scheduled_end,\r\n    'trust_score', trust_score,\r\n    'cost_score', cost_score,\r\n    'availability_score', availability_score,\r\n    'total_score', total_score\r\n  ) ORDER BY option_rank) FROM insert_options), '[]'::jsonb),\r\n  'next_action', CASE\r\n    WHEN COALESCE((SELECT payload->>'warranty_candidate' FROM wo), 'false') = 'true'\r\n      AND COALESCE((SELECT payload->>'previous_tradie_id' FROM wo), '') = ''\r\n      THEN 'warranty_review_before_new_quote'\r\n    WHEN EXISTS (SELECT 1 FROM approval)\r\n      THEN CASE\r\n        WHEN COALESCE((SELECT payload->>'approval_recipient_role' FROM wo), 'landlord') = 'owner'\r\n          THEN 'send_owner_three_option_approval'\r\n        ELSE 'send_landlord_three_option_approval'\r\n      END\r\n    ELSE 'collect_more_requester_or_tradie_availability'\r\n  END,\r\n  'approval_recipient_role', COALESCE((SELECT payload->>'approval_recipient_role' FROM wo), 'landlord'),\r\n  'property_scenario', COALESCE((SELECT payload->>'property_scenario' FROM wo), 'rental'),\r\n  'availability_policy', 'Quote options must fit requester availability and tradie availability.',\r\n  'warranty_policy', 'Warranty and repeat issue guardrails must clear before new non-warranty quote options are offered.',\r\n  'customer_value', 'Approver receives three costed options that already fit requester availability and tradie availability.'\r\n) AS quote_options_result;\r\n`;\r\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Rental Quote Options", "id": "318a9a04-0ee3-43ee-b611-36410adb600a", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Rental Quote Options", "id": "1890857c-a65e-4b68-ab2e-99afccb84602", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.quote_options_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Save Rental Quote Options": {"main": [[{"node": "Respond Rental Quote Options", "type": "main", "index": 0}]]}, "Build Rental Quote Options SQL": {"main": [[{"node": "Save Rental Quote Options", "type": "main", "index": 0}]]}, "Rental Quote Options Webhook": {"main": [[{"node": "Build Rental Quote Options SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}