docs/tradie-import/TRADIE-TOOL-George-Google-Calendar-Busy--bDhl5QbvMTqlQUlx.json
{"name": "TRADIE-TOOL-George-Google-Calendar-Busy", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When George Calendar Tool Is Called", "id": "4045f730-c5b9-4e79-9d33-9b09d9abc063", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Calendar Tool Input", "id": "8bc6a086-a829-48c9-8f9c-b4fdb28ca37b", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst text = String(raw.input || raw.tool_input || '').trim();\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction field(name) {\n  const escaped = name.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const pattern = new RegExp(`${escaped}\\\\s*:\\\\s*([^,\\\\n]+)`, 'i');\n  const match = text.match(pattern);\n  return match ? match[1].trim() : '';\n}\n\nfunction offsetForSydney(datePart) {\n  return '+10:00';\n}\n\nfunction toIsoWindow(dateText, windowText) {\n  const date = first(dateText, new Date().toISOString().slice(0, 10));\n  const text = String(windowText || '').toLowerCase();\n  let start = '09:00:00';\n  let end = '17:00:00';\n  if (text.includes('2') || text.includes('14')) {\n    start = '14:00:00';\n    end = '16:00:00';\n  } else if (text.includes('morning')) {\n    start = '09:00:00';\n    end = '12:00:00';\n  } else if (text.includes('afternoon')) {\n    start = '13:00:00';\n    end = '17:00:00';\n  }\n  const offset = offsetForSydney(date);\n  return {\n    time_min: `${date}T${start}${offset}`,\n    time_max: `${date}T${end}${offset}`,\n  };\n}\n\nconst preferredDate = first(raw.preferred_date, raw.work_date, raw.date, field('preferred_date'), field('work_date'));\nconst preferredWindow = first(raw.preferred_window, raw.window, field('preferred_window'), field('window'));\nconst window = toIsoWindow(preferredDate, preferredWindow);\n\nreturn [{\n  json: {\n    calendar_id: first(raw.calendar_id, field('calendar_id'), 'mac@1pacent.com'),\n    preferred_date: preferredDate,\n    preferred_window: preferredWindow,\n    time_min: first(raw.time_min, field('time_min'), window.time_min),\n    time_max: first(raw.time_max, field('time_max'), window.time_max),\n  },\n}];"}, "typeVersion": 2}, {"alwaysOutputData": true, "id": "605b5626-b483-4d85-b21b-a43bab249862", "name": "Read Google Calendar Busy Events", "type": "n8n-nodes-base.googleCalendar", "credentials": {"googleCalendarOAuth2Api": {"id": "Qy3Z3GZ8CX5ruMLE", "name": "Google Calendar account"}}, "typeVersion": 1.3, "parameters": {"timeMin": "={{$json.time_min}}", "timeMax": "={{$json.time_max}}", "calendar": {"mode": "id", "__rl": true, "value": "={{$json.calendar_id || 'mac@1pacent.com'}}"}, "options": {}, "operation": "getAll", "returnAll": true}, "position": [520, 0]}, {"position": [780, 0], "name": "Summarise Calendar Busy Events", "id": "a2f7a87f-12f8-470d-8cf1-0ada753e6f37", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const events = items\n  .map((item) => item.json || {})\n  .filter((event) => event.id || event.summary || event.start || event.end);\n\nreturn [{\n  json: {\n    success: true,\n    busy: events.length > 0,\n    busy_event_count: events.length,\n    events: events.map((event) => ({\n      id: event.id || '',\n      summary: event.summary || '',\n      start: event.start?.dateTime || event.start?.date || '',\n      end: event.end?.dateTime || event.end?.date || '',\n      status: event.status || '',\n    })),\n  },\n}];"}, "typeVersion": 2}], "connections": {"When George Calendar Tool Is Called": {"main": [[{"node": "Normalise Calendar Tool Input", "type": "main", "index": 0}]]}, "Read Google Calendar Busy Events": {"main": [[{"node": "Summarise Calendar Busy Events", "type": "main", "index": 0}]]}, "Normalise Calendar Tool Input": {"main": [[{"node": "Read Google Calendar Busy Events", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}