docs/tradie-import/TRADIE-RENTAL-109-Two-Week-Schedule-Optimiser--MzqjAOlxGBdjagVL.json
{"name": "TRADIE-RENTAL-109-Two-Week-Schedule-Optimiser", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Rental Schedule Forecast Webhook", "id": "c5d0f7f2-93b8-4ce2-a751-ed8710f97f61", "webhookId": "65d984a7-359a-4b13-9788-0383e6983cd0", "type": "n8n-nodes-base.webhook", "parameters": {"path": "rental/schedule/forecast", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Rental Schedule Forecast SQL", "id": "0b280da3-4093-42ad-82f4-621cdb7410bd", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\r\nconst body = raw.body ?? raw;\r\n\r\nfunction first(...values) {\r\n  for (const value of values) {\r\n    if (value === undefined || value === null) continue;\r\n    if (typeof value === 'string' && value.trim() === '') continue;\r\n    return value;\r\n  }\r\n  return '';\r\n}\r\nfunction sql(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  return `'${String(value).replace(/'/g, \"''\")}'`;\r\n}\r\nfunction num(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\r\n  return Number.isFinite(n) ? String(n) : 'NULL';\r\n}\r\nfunction jsonSql(value) {\r\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\r\n}\r\n\r\nconst now = new Date();\r\nconst forecastId = first(body.forecast_id, `RSF-${now.getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`);\r\nconst startDate = first(body.start_date, now.toISOString().slice(0, 10));\r\nconst days = Math.max(1, Math.min(28, Number(first(body.days, 14)) || 14));\r\nconst agencyId = first(body.agency_id);\r\nconst jurisdiction = first(body.jurisdiction, 'VIC');\r\n\r\nconst query = `\r\nWITH params AS (\r\n  SELECT\r\n    ${sql(forecastId)}::text AS forecast_id,\r\n    ${sql(startDate)}::date AS start_date,\r\n    (${sql(startDate)}::date + (${days} || ' days')::interval)::date AS end_date,\r\n    ${sql(agencyId)}::text AS agency_id,\r\n    ${sql(jurisdiction)}::text AS jurisdiction\r\n),\r\ncandidate_work_orders AS (\r\n  SELECT\r\n    wo.id AS work_order_id,\r\n    wo.agency_id,\r\n    wo.property_id,\r\n    wo.tenant_id,\r\n    wo.trade_type,\r\n    wo.job_type,\r\n    wo.urgency,\r\n    COALESCE(wo.estimated_amount, 250) AS landlord_cost_estimate,\r\n    rp.suburb,\r\n    rp.state AS jurisdiction,\r\n    tw.id AS tenant_availability_window_id,\r\n    tw.window_start,\r\n    tw.window_end,\r\n    tw.preference_rank\r\n  FROM work_orders wo\r\n  JOIN rental_properties rp ON rp.id = wo.property_id\r\n  LEFT JOIN tenant_availability_windows tw\r\n    ON tw.work_order_id = wo.id\r\n   AND tw.status IN ('offered','preferred','confirmed')\r\n   AND tw.window_start::date >= (SELECT start_date FROM params)\r\n   AND tw.window_start::date < (SELECT end_date FROM params)\r\n  WHERE wo.status IN ('triaged','triaged_from_inspection','landlord_approved_scheduling_ready','awaiting_tenant_tradie_confirmation','confirmation_failed_fallback_needed','ready_to_attend')\r\n    AND ((SELECT agency_id FROM params) IS NULL OR wo.agency_id = (SELECT agency_id FROM params))\r\n),\r\ncompliance_due AS (\r\n  SELECT\r\n    'COMPLIANCE-' || cr.id::text AS work_order_id,\r\n    rp.agency_id,\r\n    rp.id AS property_id,\r\n    t.tenant_id,\r\n    crc.activity_key AS trade_type,\r\n    crc.activity_key AS job_type,\r\n    CASE WHEN cr.due_date <= (SELECT start_date FROM params) + interval '3 days' THEN 'urgent' ELSE 'normal' END AS urgency,\r\n    COALESCE(b.fixed_fee_amount, 129) AS landlord_cost_estimate,\r\n    rp.suburb,\r\n    rp.state AS jurisdiction,\r\n    tw.id AS tenant_availability_window_id,\r\n    tw.window_start,\r\n    tw.window_end,\r\n    tw.preference_rank,\r\n    crc.requirement_key,\r\n    b.bundle_key\r\n  FROM compliance_requirements cr\r\n  JOIN rental_properties rp ON rp.id = cr.property_id\r\n  LEFT JOIN tenancies t ON t.property_id = rp.id AND t.status = 'active'\r\n  LEFT JOIN tenant_availability_windows tw\r\n    ON tw.tenant_id = t.tenant_id\r\n   AND tw.status IN ('offered','preferred','confirmed')\r\n   AND tw.window_start::date >= (SELECT start_date FROM params)\r\n   AND tw.window_start::date < (SELECT end_date FROM params)\r\n  JOIN compliance_requirement_catalogue crc\r\n    ON crc.jurisdiction = rp.state\r\n   AND crc.activity_key = cr.requirement_type\r\n   AND crc.status = 'active'\r\n  LEFT JOIN compliance_bundle_catalogue b\r\n    ON (b.jurisdiction = rp.state OR b.jurisdiction = 'NATIONAL')\r\n   AND b.status = 'active'\r\n   AND crc.activity_key = ANY(b.included_activity_keys)\r\n  WHERE cr.status IN ('due','scheduled','overdue')\r\n    AND cr.due_date <= (SELECT end_date FROM params)\r\n    AND ((SELECT agency_id FROM params) IS NULL OR rp.agency_id = (SELECT agency_id FROM params))\r\n),\r\nall_candidates AS (\r\n  SELECT\r\n    work_order_id, agency_id, property_id, tenant_id, trade_type, job_type, urgency,\r\n    landlord_cost_estimate, suburb, jurisdiction, tenant_availability_window_id,\r\n    window_start, window_end, preference_rank, NULL::text AS requirement_key, NULL::text AS bundle_key\r\n  FROM candidate_work_orders\r\n  UNION ALL\r\n  SELECT\r\n    work_order_id, agency_id, property_id, tenant_id, trade_type, job_type, urgency,\r\n    landlord_cost_estimate, suburb, jurisdiction, tenant_availability_window_id,\r\n    window_start, window_end, preference_rank, requirement_key, bundle_key\r\n  FROM compliance_due\r\n),\r\ntradie_matches AS (\r\n  SELECT\r\n    ac.*,\r\n    tr.id AS tradie_id,\r\n    tr.company_id,\r\n    COALESCE(tm.average_rating * 20, tr.on_time_rate, tr.quote_accuracy_score, 70) AS trust_score,\r\n    LEAST(ac.window_end, ac.window_start + interval '2 hours') AS scheduled_end\r\n  FROM all_candidates ac\r\n  JOIN tradies tr ON tr.active = true\r\n  LEFT JOIN tradie_skills ts ON ts.tradie_id = tr.id AND lower(ts.trade_type) = lower(COALESCE(ac.trade_type, 'general_maintenance'))\r\n  LEFT JOIN trust_metrics tm ON tm.tradie_id = tr.id AND (tm.trade_type IS NULL OR lower(tm.trade_type) = lower(COALESCE(ac.trade_type, 'general_maintenance')))\r\n  WHERE ac.window_start IS NOT NULL\r\n    AND (ts.id IS NOT NULL OR NOT EXISTS (SELECT 1 FROM tradie_skills WHERE tradie_id = tr.id))\r\n    AND NOT EXISTS (\r\n      SELECT 1\r\n      FROM job_schedule_slots s\r\n      WHERE s.tradie_id = tr.id\r\n        AND s.status IN ('booked','confirmed','scheduled','ready_to_attend')\r\n        AND tstzrange(s.scheduled_start, s.scheduled_end, '[)') && tstzrange(ac.window_start, LEAST(ac.window_end, ac.window_start + interval '2 hours'), '[)')\r\n    )\r\n),\r\nscored AS (\r\n  SELECT\r\n    *,\r\n    regexp_replace(lower(COALESCE(suburb, 'unknown')), '[^a-z0-9]+', '-', 'g') || '-' || to_char(window_start AT TIME ZONE 'Australia/Sydney', 'YYYYMMDD') AS route_cluster_key,\r\n    CASE\r\n      WHEN urgency IN ('urgent','emergency') THEN 25\r\n      ELSE 0\r\n    END AS urgency_score,\r\n    GREATEST(0, 100 - (COALESCE(preference_rank, 3) * 10)) AS tenant_fit_score,\r\n    GREATEST(0, LEAST(100, COALESCE(trust_score, 70))) AS trust_fit_score,\r\n    CASE WHEN bundle_key IS NOT NULL THEN 15 ELSE 0 END AS bundle_score,\r\n    CASE WHEN suburb IS NOT NULL THEN 15 ELSE 0 END AS route_score\r\n  FROM tradie_matches\r\n),\r\nranked AS (\r\n  SELECT\r\n    *,\r\n    round((tenant_fit_score * 0.25 + trust_fit_score * 0.30 + urgency_score + bundle_score + route_score)::numeric, 2) AS productivity_score,\r\n    row_number() OVER (\r\n      PARTITION BY work_order_id\r\n      ORDER BY (tenant_fit_score * 0.25 + trust_fit_score * 0.30 + urgency_score + bundle_score + route_score) DESC, window_start\r\n    ) AS candidate_rank\r\n  FROM scored\r\n),\r\ntop_options AS (\r\n  SELECT *\r\n  FROM ranked\r\n  WHERE candidate_rank <= 3\r\n),\r\ninsert_forecast AS (\r\n  INSERT INTO rental_schedule_forecasts (\r\n    id, forecast_window_start, forecast_window_end, generated_by_agent, scope, status,\r\n    total_candidate_jobs, total_forecast_options, estimated_travel_minutes_saved,\r\n    estimated_landlord_savings, payload\r\n  )\r\n  SELECT\r\n    (SELECT forecast_id FROM params),\r\n    (SELECT start_date FROM params),\r\n    (SELECT end_date FROM params),\r\n    'george_foreman',\r\n    'rental_maintenance_and_compliance',\r\n    'generated',\r\n    (SELECT count(DISTINCT work_order_id) FROM all_candidates),\r\n    (SELECT count(*) FROM top_options),\r\n    GREATEST(0, (SELECT count(*) FROM top_options) * 12),\r\n    COALESCE((SELECT sum(CASE WHEN bundle_key IS NOT NULL THEN 35 ELSE 12 END) FROM top_options), 0),\r\n    jsonb_build_object(\r\n      'jurisdiction', (SELECT jurisdiction FROM params),\r\n      'forecast_days', ${days},\r\n      'strategy', 'Match tenant availability to tradie capacity and cluster by suburb/date while surfacing compliance bundles.'\r\n    )\r\n  ON CONFLICT (id) DO UPDATE SET\r\n    total_candidate_jobs = EXCLUDED.total_candidate_jobs,\r\n    total_forecast_options = EXCLUDED.total_forecast_options,\r\n    estimated_travel_minutes_saved = EXCLUDED.estimated_travel_minutes_saved,\r\n    estimated_landlord_savings = EXCLUDED.estimated_landlord_savings,\r\n    payload = EXCLUDED.payload\r\n  RETURNING *\r\n),\r\ndelete_old AS (\r\n  DELETE FROM rental_schedule_forecast_options WHERE forecast_id = (SELECT forecast_id FROM params)\r\n),\r\ninsert_options AS (\r\n  INSERT INTO rental_schedule_forecast_options (\r\n    forecast_id, work_order_id, compliance_requirement_key, bundle_key,\r\n    tradie_id, company_id, tenant_availability_window_id, scheduled_start, scheduled_end,\r\n    suburb, urgency, route_cluster_key, productivity_score, landlord_cost_estimate,\r\n    travel_minutes_estimate, status, payload\r\n  )\r\n  SELECT\r\n    (SELECT forecast_id FROM params),\r\n    work_order_id,\r\n    requirement_key,\r\n    bundle_key,\r\n    tradie_id,\r\n    company_id,\r\n    tenant_availability_window_id,\r\n    window_start,\r\n    scheduled_end,\r\n    suburb,\r\n    urgency,\r\n    route_cluster_key,\r\n    productivity_score,\r\n    landlord_cost_estimate,\r\n    CASE WHEN bundle_key IS NOT NULL THEN 15 ELSE 28 END,\r\n    'forecast',\r\n    jsonb_build_object(\r\n      'candidate_rank', candidate_rank,\r\n      'tenant_fit_score', tenant_fit_score,\r\n      'trust_fit_score', trust_fit_score,\r\n      'bundle_score', bundle_score,\r\n      'route_score', route_score\r\n    )\r\n  FROM top_options\r\n  RETURNING *\r\n),\r\ninsert_event AS (\r\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\r\n  SELECT 'schedule_forecast', id, 'rental_two_week_schedule_forecast_generated', to_jsonb(insert_forecast)\r\n  FROM insert_forecast\r\n)\r\nSELECT jsonb_build_object(\r\n  'success', true,\r\n  'forecast_id', (SELECT id FROM insert_forecast),\r\n  'forecast_window_start', (SELECT forecast_window_start FROM insert_forecast),\r\n  'forecast_window_end', (SELECT forecast_window_end FROM insert_forecast),\r\n  'total_candidate_jobs', (SELECT total_candidate_jobs FROM insert_forecast),\r\n  'total_forecast_options', (SELECT total_forecast_options FROM insert_forecast),\r\n  'estimated_travel_minutes_saved', (SELECT estimated_travel_minutes_saved FROM insert_forecast),\r\n  'estimated_landlord_savings', (SELECT estimated_landlord_savings FROM insert_forecast),\r\n  'options', COALESCE((SELECT jsonb_agg(jsonb_build_object(\r\n    'work_order_id', work_order_id,\r\n    'tradie_id', tradie_id,\r\n    'company_id', company_id,\r\n    'scheduled_start', scheduled_start,\r\n    'scheduled_end', scheduled_end,\r\n    'suburb', suburb,\r\n    'bundle_key', bundle_key,\r\n    'route_cluster_key', route_cluster_key,\r\n    'productivity_score', productivity_score,\r\n    'landlord_cost_estimate', landlord_cost_estimate\r\n  ) ORDER BY productivity_score DESC, scheduled_start) FROM insert_options), '[]'::jsonb),\r\n  'next_action', 'review_forecast_clusters_and_offer_best_options'\r\n) AS schedule_forecast_result;\r\n`;\r\n\r\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Rental Schedule Forecast", "id": "ac8a25cb-7b37-41be-9bfc-16e5a5e5841c", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Rental Schedule Forecast", "id": "5fccab15-8dcc-4d26-806a-76f9668544f2", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.schedule_forecast_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Rental Schedule Forecast Webhook": {"main": [[{"node": "Build Rental Schedule Forecast SQL", "type": "main", "index": 0}]]}, "Save Rental Schedule Forecast": {"main": [[{"node": "Respond Rental Schedule Forecast", "type": "main", "index": 0}]]}, "Build Rental Schedule Forecast SQL": {"main": [[{"node": "Save Rental Schedule Forecast", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}