docs/tradie-import/TRADIE-CORE-023-Authority-Documents-Qdrant-Search--Mn61Vdh8Bj0nOeYd.json
{"name": "TRADIE-CORE-023-Authority-Documents-Qdrant-Search", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Authority Qdrant Search Webhook", "id": "dd73c359-ae0a-4385-90c7-f13684446ba5", "webhookId": "aa48c0c8-2e99-4048-8a21-bd666e5fffca", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/authority-documents/qdrant/search", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [240, 0], "name": "Prepare Qdrant Search Input", "id": "3b97b910-daf2-4fcf-9d50-ad0297673a63", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const body = $json.body || $json || {};\nconst query = body.query || body.question || body.search || 'authority document compliance obligations';\nconst jurisdiction = body.jurisdiction || 'AU';\nconst industry = body.industry || 'all';\nconst tradeType = body.trade_type || '';\nconst agentKey = body.agent_key || 'unknown_agent';\nconst limit = Math.min(Math.max(parseInt(body.limit || '8', 10) || 8, 1), 20);\nreturn [{\n  json: {\n    query,\n    jurisdiction,\n    industry,\n    trade_type: tradeType,\n    agent_key: agentKey,\n    limit,\n    prompt: [\n      `Question: ${query}`,\n      `Jurisdiction: ${jurisdiction}`,\n      `Industry: ${industry}`,\n      `Trade type: ${tradeType}`,\n      'Find relevant authority document obligations, interpretations, evidence requirements, and versioned references.'\n    ].join('\\n')\n  }\n}];"}, "typeVersion": 2}, {"id": "14f94a79-47ea-4e1b-9cc9-c0b69b9e99d5", "name": "Search Authority Documents In Qdrant", "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant", "alwaysOutputData": true, "credentials": {"qdrantApi": {"id": "4Bkccs08lXED2IfL", "name": "Qdrant account"}}, "typeVersion": 1.1, "parameters": {"qdrantCollection": {"cachedResultName": "authority_documents", "__rl": true, "value": "authority_documents", "mode": "id"}, "topK": "={{ $json.limit || 8 }}", "prompt": "={{ $json.prompt }}", "options": {}, "mode": "load"}, "position": [520, 0]}, {"position": [800, 0], "name": "Format Qdrant Search Results", "id": "b6ea9e5c-d431-4a06-9e9b-9834d4bf4fc2", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const rows = $input.all().map(item => item.json);\nreturn [{\n  json: {\n    success: true,\n    retrieval_backend: 'qdrant',\n    collection: 'authority_documents',\n    result_count: rows.length,\n    documents: rows,\n    caution: 'Use Authority Documents as grounding references. Cite jurisdiction, version/effective date and source URL where available. Do not present interpretation as legal advice.'\n}\n}];"}, "typeVersion": 2}, {"position": [1060, 0], "name": "Return Qdrant Search Results", "id": "3e3e9282-ada6-4ae1-afe9-9ecc7617cef5", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ JSON.stringify($json) }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}, {"position": [520, 260], "name": "Embeddings OpenAI Search", "id": "14069fcb-b13e-4324-aa18-0aac2a5cfff3", "credentials": {"openAiApi": {"id": "ABcQFR9XPcZIxLan", "name": "OpenAI account"}}, "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi", "parameters": {"options": {"dimensions": 1536, "stripNewLines": true}, "model": "text-embedding-3-small"}, "typeVersion": 1.2}], "connections": {"Prepare Qdrant Search Input": {"main": [[{"node": "Search Authority Documents In Qdrant", "type": "main", "index": 0}]]}, "Authority Qdrant Search Webhook": {"main": [[{"node": "Prepare Qdrant Search Input", "type": "main", "index": 0}]]}, "Search Authority Documents In Qdrant": {"main": [[{"node": "Format Qdrant Search Results", "type": "main", "index": 0}]]}, "Embeddings OpenAI Search": {"ai_embedding": [[{"node": "Search Authority Documents In Qdrant", "type": "ai_embedding", "index": 0}]]}, "Format Qdrant Search Results": {"main": [[{"node": "Return Qdrant Search Results", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}