docs/tradie-import/TRADIE-CORE-026-Authority-Documents-Qdrant-Clean-Reindex--sFbYQ3FGw3JT4hcY.json
{"name": "TRADIE-CORE-026-Authority-Documents-Qdrant-Clean-Reindex", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Authority Qdrant Reindex Webhook", "id": "3dda9042-4e19-4c61-a28b-21a2b12fd1c7", "webhookId": "9cc03af7-7ce1-4085-8104-f08eb2f232ae", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/authority-documents/qdrant/reindex", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [240, -160], "name": "Delete Authority Documents Collection", "id": "757f1d4f-cdc5-452c-9ca7-c5e351881a80", "type": "n8n-nodes-base.httpRequest", "continueOnFail": true, "parameters": {"method": "DELETE", "url": "http://qdrant:6333/collections/authority_documents", "options": {"timeout": 30000}}, "typeVersion": 4.2}, {"position": [240, 0], "name": "Build Reindex Select SQL", "id": "752d9712-fd0d-4ac0-9cc9-3fd287c272d8", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const body = $json.body || $json || {};\nconst limit = Math.min(Math.max(parseInt(body.limit || '500', 10) || 500, 1), 1000);\nconst sql = `\nUPDATE authority_document_chunks\nSET embedding_status = 'pending',\n    embedding_provider = 'openai',\n    embedding_model = 'text-embedding-3-small',\n    updated_at = now()\nWHERE authority_document_key IN (\n  SELECT authority_document_key\n  FROM authority_documents\n  WHERE status = 'active'\n);\n\nSELECT\n  c.chunk_key,\n  c.authority_document_key,\n  c.chunk_text,\n  c.jurisdiction,\n  c.industry,\n  c.trade_type,\n  c.topic_tags,\n  c.obligation_type,\n  c.risk_level,\n  c.source_url,\n  c.current_version,\n  c.effective_from,\n  c.effective_to,\n  d.document_type,\n  d.document_title,\n  d.authority_name\nFROM authority_document_chunks c\nJOIN authority_documents d ON d.authority_document_key = c.authority_document_key\nWHERE d.status = 'active'\nORDER BY c.authority_document_key, c.chunk_order\nLIMIT ${limit};\n`;\nreturn [{ json: { sql } }];"}, "typeVersion": 2}, {"position": [500, 0], "name": "Fetch Reindex Chunks", "id": "f23f2884-adf2-4abb-b3a3-9be6b0ee2e71", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [760, 0], "name": "Prepare Reindex Documents", "id": "02076fee-a8f6-458a-89eb-04054be4e627", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const rows = $input.all().map(item => item.json);\nreturn rows.map(row => ({\n  json: {\n    page_content: [\n      `Title: ${row.document_title || ''}`,\n      `Authority: ${row.authority_name || ''}`,\n      `Jurisdiction: ${row.jurisdiction || ''}`,\n      `Industry: ${row.industry || ''}`,\n      `Trade type: ${row.trade_type || ''}`,\n      `Document type: ${row.document_type || ''}`,\n      `Version: ${row.current_version || ''}`,\n      `Effective from: ${row.effective_from || ''}`,\n      `Source URL: ${row.source_url || ''}`,\n      '',\n      row.chunk_text || ''\n    ].join('\\n'),\n    metadata: {\n      authority_document_key: row.authority_document_key,\n      chunk_key: row.chunk_key,\n      jurisdiction: row.jurisdiction,\n      industry: row.industry,\n      trade_type: row.trade_type,\n      document_type: row.document_type,\n      document_title: row.document_title,\n      authority_name: row.authority_name,\n      risk_level: row.risk_level,\n      obligation_type: row.obligation_type,\n      current_version: row.current_version,\n      source_url: row.source_url,\n      effective_from: row.effective_from,\n      effective_to: row.effective_to,\n      indexed_by: 'TRADIE-CORE-022-Authority-Documents-Qdrant-Ingest'\n    }\n  }\n}));"}, "typeVersion": 2}, {"id": "4a9a494a-9da7-483a-95de-d9cc6dbbe1e9", "name": "Insert Reindex Documents Into Qdrant", "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant", "alwaysOutputData": true, "credentials": {"qdrantApi": {"id": "4Bkccs08lXED2IfL", "name": "Qdrant account"}}, "typeVersion": 1.1, "parameters": {"qdrantCollection": {"cachedResultName": "authority_documents", "__rl": true, "value": "authority_documents", "mode": "id"}, "options": {}, "mode": "insert"}, "position": [1040, 0]}, {"position": [1280, 0], "name": "Build Mark Embedded SQL", "id": "c85d6622-5872-4719-bf38-2150a6f8637e", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const sql = `\nUPDATE authority_document_chunks c\nSET embedding_status = 'embedded',\n    embedding_provider = 'openai',\n    embedding_model = 'text-embedding-3-small',\n    updated_at = now()\nWHERE EXISTS (\n  SELECT 1\n  FROM authority_documents d\n  WHERE d.authority_document_key = c.authority_document_key\n    AND d.status = 'active'\n);\n\nSELECT jsonb_build_object(\n  'success', true,\n  'collection', 'authority_documents',\n  'embedding_provider', 'openai',\n  'embedding_model', 'text-embedding-3-small',\n  'embedded_chunks', (SELECT count(*) FROM authority_document_chunks WHERE embedding_status = 'embedded'),\n  'note', 'Clean semantic Qdrant reindex completed. Qdrant was recreated and active Authority Document chunks were re-embedded.'\n) AS reindex_result;\n`;\nreturn [{ json: { sql } }];"}, "typeVersion": 2}, {"position": [1520, 0], "name": "Mark Authority Chunks Embedded", "id": "041acb8b-b6b0-4c29-a9fc-ec640d84b393", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [1780, 0], "name": "Return Reindex Result", "id": "84b324bb-3b4a-4914-a3de-e617e6c84f5c", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ JSON.stringify($json.reindex_result || $json) }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}, {"position": [1040, 260], "name": "Embeddings OpenAI Reindex", "id": "5685688e-fae2-4b1c-8261-e028c2aaa2ed", "credentials": {"openAiApi": {"id": "ABcQFR9XPcZIxLan", "name": "OpenAI account"}}, "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi", "parameters": {"options": {"dimensions": 1536, "stripNewLines": true}, "model": "text-embedding-3-small"}, "typeVersion": 1.2}, {"position": [1040, 440], "name": "Default Data Loader Reindex", "id": "9cc36b33-8270-459a-8bce-112a7a712458", "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader", "parameters": {"textSplittingMode": "simple", "options": {"metadata": {"metadataValues": [{"value": "={{ $json.metadata.authority_document_key }}", "name": "authority_document_key"}, {"value": "={{ $json.metadata.chunk_key }}", "name": "chunk_key"}, {"value": "={{ $json.metadata.jurisdiction }}", "name": "jurisdiction"}, {"value": "={{ $json.metadata.industry }}", "name": "industry"}, {"value": "={{ $json.metadata.trade_type }}", "name": "trade_type"}, {"value": "={{ $json.metadata.document_type }}", "name": "document_type"}, {"value": "={{ $json.metadata.current_version }}", "name": "current_version"}, {"value": "={{ $json.metadata.source_url }}", "name": "source_url"}]}}, "jsonMode": "expressionData", "dataType": "json", "jsonData": "={{ $json.page_content }}"}, "typeVersion": 1.1}], "connections": {"Fetch Reindex Chunks": {"main": [[{"node": "Prepare Reindex Documents", "type": "main", "index": 0}]]}, "Build Reindex Select SQL": {"main": [[{"node": "Fetch Reindex Chunks", "type": "main", "index": 0}]]}, "Build Mark Embedded SQL": {"main": [[{"node": "Mark Authority Chunks Embedded", "type": "main", "index": 0}]]}, "Insert Reindex Documents Into Qdrant": {"main": [[{"node": "Build Mark Embedded SQL", "type": "main", "index": 0}]]}, "Delete Authority Documents Collection": {"main": [[{"node": "Build Reindex Select SQL", "type": "main", "index": 0}]]}, "Embeddings OpenAI Reindex": {"ai_embedding": [[{"node": "Insert Reindex Documents Into Qdrant", "type": "ai_embedding", "index": 0}]]}, "Default Data Loader Reindex": {"ai_document": [[{"node": "Insert Reindex Documents Into Qdrant", "type": "ai_document", "index": 0}]]}, "Authority Qdrant Reindex Webhook": {"main": [[{"node": "Delete Authority Documents Collection", "type": "main", "index": 0}]]}, "Mark Authority Chunks Embedded": {"main": [[{"node": "Return Reindex Result", "type": "main", "index": 0}]]}, "Prepare Reindex Documents": {"main": [[{"node": "Insert Reindex Documents Into Qdrant", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}