docs/tradie-import/TRADIE-CORE-910-Skills-Save--HS7v2IOhikGzKOyp.json
{"name": "TRADIE-CORE-910-Skills-Save", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Skills Save Webhook", "id": "3ca437fe-e63c-4e8b-bfe7-b6abb9b16716", "webhookId": "2783ca48-267f-40eb-8758-f299c0f15e49", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/skills/save", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Skills Save SQL", "id": "d2c5d11e-e5cf-43a3-a6d6-1a9b9c0f7c8f", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction slug(text) {\n  return String(text || 'skill').toLowerCase().replace(/[^a-z0-9]+/g, '_').replace(/^_+|_+$/g, '').slice(0, 80);\n}\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nfunction arraySql(values) {\n  const items = Array.isArray(values) ? values : String(values || '').split(',').map((v) => v.trim()).filter(Boolean);\n  if (!items.length) return \"'{}'::text[]\";\n  return `ARRAY[${items.map(sql).join(',')}]::text[]`;\n}\n\nconst skillName = body.skill_name || body.title || 'Business Skill';\nconst skillKey = body.skill_key || slug(skillName);\nconst agentKey = body.owner_agent_key || body.agent_key || null;\n\nconst query = `\nINSERT INTO business_skills (\n  skill_key, skill_name, capability, category, description, best_practice, guardrails,\n  inputs, outputs, owner_agent_key, status, tags, source_type, source_id, usefulness_score\n)\nVALUES (\n  ${sql(skillKey)},\n  ${sql(skillName)},\n  ${sql(body.capability || body.category || 'Business capability')},\n  ${sql(body.category || 'general')},\n  ${sql(body.description || body.best_practice || '')},\n  ${sql(body.best_practice || body.content || body.description || '')},\n  ${sql(body.guardrails || '')},\n  ${jsonSql(body.inputs || {})},\n  ${jsonSql(body.outputs || {})},\n  ${sql(agentKey)},\n  'active',\n  ${arraySql(body.tags)},\n  ${sql(body.source_type || 'agent_update')},\n  ${sql(body.source_id || body.entity_id || '')},\n  COALESCE(${sql(body.usefulness_score || 5)}, '5')::numeric\n)\nON CONFLICT (skill_key) DO UPDATE SET\n  skill_name = EXCLUDED.skill_name,\n  capability = EXCLUDED.capability,\n  category = EXCLUDED.category,\n  description = EXCLUDED.description,\n  best_practice = EXCLUDED.best_practice,\n  guardrails = EXCLUDED.guardrails,\n  inputs = EXCLUDED.inputs,\n  outputs = EXCLUDED.outputs,\n  owner_agent_key = EXCLUDED.owner_agent_key,\n  version = business_skills.version + 1,\n  status = 'active',\n  tags = EXCLUDED.tags,\n  source_type = EXCLUDED.source_type,\n  source_id = EXCLUDED.source_id,\n  usefulness_score = EXCLUDED.usefulness_score,\n  updated_at = now()\nRETURNING jsonb_build_object(\n  'success', true,\n  'skill_key', skill_key,\n  'skill_name', skill_name,\n  'version', version,\n  'owner_agent_key', owner_agent_key,\n  'updated_at', updated_at\n) AS skill_save;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Skill", "id": "65fb8c55-4093-421f-b8e8-4732d1773e4f", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Skill Save", "id": "04cb4e88-c5d5-47e4-8a84-36f82f8aefdc", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.skill_save || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Save Skill": {"main": [[{"node": "Respond Skill Save", "type": "main", "index": 0}]]}, "Skills Save Webhook": {"main": [[{"node": "Build Skills Save SQL", "type": "main", "index": 0}]]}, "Build Skills Save SQL": {"main": [[{"node": "Save Skill", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}