docs/tradie-import/TRADIE-CORE-904-Agent-Knowledge-Setup--LDcoSL1tVETcnKos.json
{"name": "TRADIE-CORE-904-Agent-Knowledge-Setup", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Agent Knowledge Setup Webhook", "id": "d1f78119-eeb0-42dd-bfbd-f8e40f70747b", "webhookId": "2d4ecf37-9d09-4291-9cba-5e83a1f32caf", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/agent-knowledge/setup", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Knowledge Setup SQL", "id": "30e6f141-d8e6-4ffc-a7ce-6e4bb8569101", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const query = `\nCREATE TABLE IF NOT EXISTS agent_knowledge_collections (\n  id uuid primary key default gen_random_uuid(),\n  agent_key text not null references agent_definitions(agent_key),\n  collection_key text not null,\n  collection_name text not null,\n  capability text not null,\n  active boolean not null default true,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now(),\n  unique (agent_key, collection_key)\n);\n\nCREATE TABLE IF NOT EXISTS agent_knowledge_items (\n  id uuid primary key default gen_random_uuid(),\n  agent_key text not null references agent_definitions(agent_key),\n  collection_key text not null,\n  source_type text not null default 'manual',\n  source_id text,\n  title text not null,\n  content text not null,\n  tags text[] not null default '{}',\n  trade_type text,\n  entity_type text,\n  entity_id text,\n  confidence numeric not null default 0.7,\n  usefulness_score numeric not null default 0,\n  payload jsonb not null default '{}'::jsonb,\n  active boolean not null default true,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE INDEX IF NOT EXISTS idx_agent_knowledge_collections_agent_key ON agent_knowledge_collections(agent_key, active);\nCREATE INDEX IF NOT EXISTS idx_agent_knowledge_items_agent_key ON agent_knowledge_items(agent_key, collection_key, active, updated_at DESC);\nCREATE INDEX IF NOT EXISTS idx_agent_knowledge_items_entity ON agent_knowledge_items(entity_type, entity_id);\n\nINSERT INTO agent_definitions (agent_key, agent_name, agent_role, model_provider, model_name, active)\nVALUES\n  ('george_foreman', 'George Foreman', 'Scheduling operations AI agent', 'google_gemini', 'models/gemini-3.1-flash-lite', true),\n  ('sally_receptionist', 'Sally', 'Customer intake and booking request receptionist', 'elevenlabs', 'Sally - 1pacent Receptionist', true)\nON CONFLICT (agent_key) DO UPDATE SET\n  agent_name = EXCLUDED.agent_name,\n  agent_role = EXCLUDED.agent_role,\n  model_provider = EXCLUDED.model_provider,\n  model_name = EXCLUDED.model_name,\n  active = true,\n  updated_at = now();\n\nINSERT INTO agent_knowledge_collections (agent_key, collection_key, collection_name, capability, active)\nVALUES\n  ('george_foreman', 'scheduling_knowledge', 'George Scheduling Knowledge', 'Scheduling efficiency, travel optimisation, tradie allocation, calendar booking', true),\n  ('george_foreman', 'quote_to_job_learning', 'George Quote To Job Learning', 'Learn from quote acceptance, job completion, actual costs, travel and duration variance', true),\n  ('sally_receptionist', 'customer_intake_knowledge', 'Sally Customer Intake Knowledge', 'Customer objections, missing information patterns, consent and confirmation quality', true)\nON CONFLICT (agent_key, collection_key) DO UPDATE SET\n  collection_name = EXCLUDED.collection_name,\n  capability = EXCLUDED.capability,\n  active = true,\n  updated_at = now();\n\nINSERT INTO agent_knowledge_items (\n  agent_key, collection_key, source_type, source_id, title, content, tags, trade_type, entity_type, entity_id, confidence, usefulness_score, payload\n)\nVALUES\n  (\n    'george_foreman',\n    'scheduling_knowledge',\n    'seed',\n    'GEORGE-SCHEDULING-MOAT-001',\n    'Scheduling moat: optimise the tradie day, not just the customer slot',\n    'George should balance customer preference, tradie skill match, existing calendar bookings, travel time between jobs, urgency, and route efficiency. A booking is better when it reduces dead travel and creates a more productive tradie day.',\n    ARRAY['scheduling','moat','travel','route_efficiency'],\n    null,\n    'agent_capability',\n    'george_foreman',\n    0.9,\n    10,\n    '{\"seeded\": true}'::jsonb\n  ),\n  (\n    'george_foreman',\n    'scheduling_knowledge',\n    'seed',\n    'GEORGE-CALENDAR-LABEL-001',\n    'Calendar bookings must be labelled for operations visibility',\n    'Calendar events should show the trade, lead or job reference, suburb, customer name, and assigned tradie names so the operations team can see who is doing what job and when without opening the database.',\n    ARRAY['calendar','operations_visibility','assignment'],\n    null,\n    'agent_capability',\n    'george_foreman',\n    0.9,\n    10,\n    '{\"seeded\": true}'::jsonb\n  ),\n  (\n    'george_foreman',\n    'quote_to_job_learning',\n    'seed',\n    'GEORGE-QUOTE-LEARNING-001',\n    'Every completed job should improve future quote and schedule accuracy',\n    'When a job is completed, capture estimated duration, actual duration, estimated travel, actual travel, estimated materials, actual materials, quote amount, invoice amount, and variance reason. This is the proprietary dataset that improves pricing trust and scheduling productivity.',\n    ARRAY['quote_accuracy','job_actuals','moat','continuous_learning'],\n    null,\n    'agent_capability',\n    'george_foreman',\n    0.95,\n    10,\n    '{\"seeded\": true}'::jsonb\n  )\nON CONFLICT DO NOTHING;\n\nSELECT jsonb_build_object(\n  'success', true,\n  'collections', (SELECT count(*) FROM agent_knowledge_collections),\n  'items', (SELECT count(*) FROM agent_knowledge_items),\n  'note', 'Agent knowledge foundation is ready.'\n) AS setup_result;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Setup Agent Knowledge", "id": "4e7a7330-9bf7-4275-90f4-2ff67873741b", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Knowledge Setup", "id": "bc8d1643-6183-4cb5-a7af-cf2f6994249c", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.setup_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Knowledge Setup SQL": {"main": [[{"node": "Setup Agent Knowledge", "type": "main", "index": 0}]]}, "Setup Agent Knowledge": {"main": [[{"node": "Respond Knowledge Setup", "type": "main", "index": 0}]]}, "Agent Knowledge Setup Webhook": {"main": [[{"node": "Build Knowledge Setup SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}