docs/tradie-import/TRADIE-AGENT-942-Sparky-Electrical-Review--6nZll0zoyrZnGnUy.json
{"name": "TRADIE-AGENT-942-Sparky-Electrical-Review", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Sparky Electrical Review Webhook", "id": "5d908150-5fcf-4ea0-bb53-802ce1f7408e", "webhookId": "b14d398c-4e6c-4fb8-8383-74b1302fa2a0", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/sparky/electrical-review", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Sparky Context SQL", "id": "bad2c1ed-a493-4851-bf6b-1cc6961055a3", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = $input.first()?.json || {};\nconst body = raw.body || raw;\nconst esc = (v) => String(v ?? '').replace(/'/g, \"''\");\nconst workOrderId = body.work_order_id || body.workOrderId || '';\nif (!workOrderId) {\n  return [{ json: { context_result: { found: false, input: body } } }];\n}\nconst sql = `\nSELECT jsonb_build_object(\n  'found', true,\n  'input', '${esc(JSON.stringify(body))}'::jsonb,\n  'work_order', to_jsonb(wo),\n  'property', CASE WHEN rp.id IS NULL THEN NULL ELSE to_jsonb(rp) END,\n  'latest_repeat_review', (\n    SELECT to_jsonb(rir)\n    FROM repeat_issue_reviews rir\n    WHERE rir.work_order_id = wo.id\n    ORDER BY rir.created_at DESC\n    LIMIT 1\n  ),\n  'active_warranty', (\n    SELECT to_jsonb(w)\n    FROM work_order_warranties w\n    WHERE w.property_id = wo.property_id\n      AND lower(coalesce(w.trade_type,'')) = lower(coalesce(wo.trade_type,''))\n      AND lower(coalesce(w.job_type,'')) = lower(coalesce(wo.job_type,''))\n      AND w.status = 'active'\n    ORDER BY w.warranty_end DESC NULLS LAST, w.created_at DESC\n    LIMIT 1\n  )\n) AS context_result\nFROM work_orders wo\nLEFT JOIN rental_properties rp ON rp.id = wo.property_id\nWHERE wo.id = '${esc(workOrderId)}'\nLIMIT 1;`;\nreturn [{ json: { sql, input: body } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Fetch Work Order Context", "id": "386b9685-6d65-4c18-ba96-98348eb9ba58", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Prepare Authority Search", "id": "0ea5dd82-88d1-4a30-a286-c759040217e8", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = $input.first()?.json || {};\nconst context = raw.context_result || { found: false, input: raw.input || {} };\nconst input = context.input || {};\nconst workOrder = context.work_order || {};\nconst property = context.property || {};\nconst repeat = context.latest_repeat_review || {};\nconst warranty = context.active_warranty || {};\nconst tradeType = input.trade_type || workOrder.trade_type || warranty.trade_type || '';\nconst jobType = input.job_type || workOrder.job_type || warranty.job_type || '';\nconst description = input.description || workOrder.description || '';\nconst jurisdiction = input.jurisdiction || property.state || 'AU';\nconst query = [\n  'electrical rental maintenance safety compliance warranty consumer guarantee repeat repair',\n  tradeType,\n  jobType,\n  description,\n  repeat.warranty_candidate ? 'warranty candidate repeated issue' : '',\n  warranty.warranty_key ? 'active workmanship parts warranty no duplicate landlord charge' : ''\n].filter(Boolean).join(' ');\nreturn [{\n  json: {\n    agent_key: 'sparky_electrical',\n    industry: 'rental_property_management',\n    trade_type: tradeType || 'electrical',\n    jurisdiction,\n    query,\n    limit: 5,\n    sparky_context: context\n  }\n}];"}, "typeVersion": 2}, {"position": [1040, 0], "name": "Authority Documents Semantic Search", "id": "53ddd1ee-d965-43cb-b1c7-f9013cadf680", "type": "n8n-nodes-base.httpRequest", "continueOnFail": true, "parameters": {"specifyBody": "json", "sendBody": true, "options": {"timeout": 30000}, "method": "POST", "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json", "url": "http://n8n:5678/webhook/core/authority-documents/qdrant/search"}, "typeVersion": 4.2}, {"position": [1300, 0], "name": "Build Sparky Electrical Review", "id": "738a9677-94e7-4659-8d34-10ff1bd46202", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const search = $input.first()?.json || {};\nconst context = $node[\"Prepare Authority Search\"].json.sparky_context || {};\nconst input = context.input || {};\nconst wo = context.work_order || {};\nconst property = context.property || {};\nconst repeat = context.latest_repeat_review || {};\nconst warranty = context.active_warranty || {};\n\nconst text = [\n  input.trade_type, input.job_type, input.description,\n  wo.trade_type, wo.job_type, wo.description\n].filter(Boolean).join(' ').toLowerCase();\n\nconst isElectrical = /electrical|electrician|power|switch|switchboard|outlet|power point|powerpoint|light|lighting|circuit|breaker|safety switch|rcd|smoke alarm|fan|oven|cooktop|ev charger/.test(text);\nconst danger = /shock|sparking|burning|burnt|smoke|live wire|exposed wire|fire|tripping|no power|switchboard|safety switch|rcd|water.*power|power.*water/.test(text);\nconst repeatIssue = Boolean(input.repeat_issue || repeat.warranty_candidate || warranty.warranty_key || Number(input.previous_repair_days_ago || 9999) <= 30);\n\nlet status = 'answered';\nif (danger) status = 'unsafe_do_not_proceed';\nelse if (isElectrical || repeatIssue) status = 'needs_qualified_review';\n\nlet safetyRisk = 'low';\nif (danger) safetyRisk = 'high';\nelse if (isElectrical) safetyRisk = 'medium';\n\nconst authorityReferences = (search.results || search.matches || search.documents || []).slice(0, 5).map((r) => {\n  const meta = r.metadata || r.document?.metadata || r;\n  return {\n    authority_document_key: meta.authority_document_key || meta.document_key || null,\n    chunk_key: meta.chunk_key || null,\n    jurisdiction: meta.jurisdiction || null,\n    current_version: meta.current_version || meta.version || null,\n    source_url: meta.source_url || null,\n    score: r.score || r.similarity || null\n  };\n}).filter((r) => r.authority_document_key || r.source_url);\n\nconst evidenceChecklist = [\n  'tenant description of the symptom, timing, and whether it is a repeat issue',\n  'before photos or short video where safe to capture without touching electrical equipment',\n  'previous work order, invoice, warranty terms, and parts used if this may be rework',\n  'tradie attendance notes, diagnosis, test results where applicable, and safety observations',\n  'part brand, model, serial number, purchase date, and warranty status where a part is involved',\n  'after photos, completion notes, and any compliance or certificate reference'\n];\n\nconst landlordGuardrail = repeatIssue\n  ? 'review_warranty_consumer_guarantees_and_previous_tradie_before_new_landlord_charge'\n  : danger\n    ? 'safety_review_before_quote_or_charge'\n    : 'standard_quote_path_with_authority_evidence';\n\nconst wallyInstruction = repeatIssue\n  ? 'Hold new landlord charges until warranty/repeat issue review is complete. Prefer previous tradie for inspection/rework unless unsafe, unavailable, conflicted, or manager override is recorded.'\n  : 'Continue standard rental maintenance flow, but keep electrical safety evidence attached.';\n\nconst customerSafeWording = danger\n  ? 'For safety, please do not touch the affected electrical item. A licensed electrician needs to review this before anyone proceeds.'\n  : repeatIssue\n    ? 'Because this may relate to recent work, we will check the previous repair and warranty position before any new charge is approved.'\n    : 'A qualified electrician will confirm the scope and final price before any electrical work proceeds.';\n\nconst reviewKey = `SPARKY-${new Date().getFullYear()}-${Math.floor(100000 + Math.random() * 900000)}`;\nconst review = {\n  success: true,\n  agent_key: 'sparky_electrical',\n  review_key: reviewKey,\n  work_order_id: input.work_order_id || wo.id || null,\n  jurisdiction: input.jurisdiction || property.state || 'AU',\n  trade_type: input.trade_type || wo.trade_type || 'electrical',\n  job_type: input.job_type || wo.job_type || null,\n  status,\n  safety_risk: safetyRisk,\n  repeat_issue: repeatIssue,\n  qualified_review_required: Boolean(isElectrical || danger),\n  landlord_charge_guardrail: landlordGuardrail,\n  scheduling_guardrail: repeatIssue ? 'previous_tradie_or_warranty_rework_first' : 'standard_electrical_scheduling',\n  next_action: danger\n    ? 'licensed_electrician_safety_review_required'\n    : repeatIssue\n      ? 'route_to_previous_tradie_for_warranty_review'\n      : 'continue_standard_quote_and_schedule_flow',\n  wally_instruction: wallyInstruction,\n  evidence_checklist: evidenceChecklist,\n  authority_references: authorityReferences,\n  customer_safe_wording: customerSafeWording,\n  note: 'Sparky does not provide DIY electrical instructions. This is workflow guidance for qualified tradies and internal agents, not legal advice.',\n  created_at: new Date().toISOString()\n};\nreturn [{ json: { sparky_review_result: review } }];"}, "typeVersion": 2}, {"position": [1560, 0], "name": "Build Save Sparky Review SQL", "id": "dc0e6b87-5b9d-4e83-90b5-965ec1e80ae6", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const review = $input.first()?.json?.sparky_review_result || {};\nconst esc = (v) => String(v ?? '').replace(/'/g, \"''\");\nconst workOrderId = review.work_order_id || '';\nconst payload = JSON.stringify(review);\nconst eventEntityId = workOrderId || review.review_key;\nconst sql = `\nWITH review_payload AS (\n  SELECT\n    '${esc(workOrderId)}'::text AS work_order_id,\n    '${esc(review.review_key || ('SPARKY-' + Date.now()))}'::text AS review_key,\n    '${esc(eventEntityId)}'::text AS event_entity_id,\n    '${esc(payload)}'::jsonb AS payload\n),\nupdated_work_order AS (\n  UPDATE work_orders\n  SET payload = coalesce(work_orders.payload, '{}'::jsonb) || jsonb_build_object('latest_sparky_review', review_payload.payload),\n      updated_at = now()\n  FROM review_payload\n  WHERE work_orders.id = review_payload.work_order_id\n  RETURNING work_orders.id\n),\nsaved_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  SELECT 'work_order', event_entity_id, 'sparky_electrical_reviewed', payload\n  FROM review_payload\n  RETURNING id\n)\nSELECT payload AS sparky_review_result FROM review_payload;`;\nreturn [{ json: { sql } }];"}, "typeVersion": 2}, {"position": [1820, 0], "name": "Save Sparky Review", "id": "53120ec0-ff22-41f5-80ac-d46f3e052498", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [2080, 0], "name": "Respond Sparky Electrical Review", "id": "24aba6cf-1967-4a6e-9da2-c952f563aaf4", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$node[\"Build Sparky Electrical Review\"].json.sparky_review_result}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Authority Documents Semantic Search": {"main": [[{"node": "Build Sparky Electrical Review", "type": "main", "index": 0}]]}, "Build Save Sparky Review SQL": {"main": [[{"node": "Save Sparky Review", "type": "main", "index": 0}]]}, "Build Sparky Context SQL": {"main": [[{"node": "Fetch Work Order Context", "type": "main", "index": 0}]]}, "Fetch Work Order Context": {"main": [[{"node": "Prepare Authority Search", "type": "main", "index": 0}]]}, "Save Sparky Review": {"main": [[{"node": "Respond Sparky Electrical Review", "type": "main", "index": 0}]]}, "Sparky Electrical Review Webhook": {"main": [[{"node": "Build Sparky Context SQL", "type": "main", "index": 0}]]}, "Prepare Authority Search": {"main": [[{"node": "Authority Documents Semantic Search", "type": "main", "index": 0}]]}, "Build Sparky Electrical Review": {"main": [[{"node": "Build Save Sparky Review SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}