docs/tradie-import/TRADIE-RENTAL-101-Work-Order-Intake-Approval-Rules--xcIc3IatUYZqFjjs.json
{"name": "TRADIE-RENTAL-101-Work-Order-Intake-Approval-Rules", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Rental Work Order Intake Webhook", "id": "050dffa3-1e1b-4809-91fe-5787421a4aa5", "webhookId": "082ea813-4214-4da2-9a46-abcca08b421e", "type": "n8n-nodes-base.webhook", "parameters": {"path": "rental/work-orders/intake", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Work Order Intake SQL", "id": "1dcdaeae-8f01-40ee-b0e2-d82224bd8305", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\r\nconst body = raw.body ?? raw;\r\n\r\nfunction first(...values) {\r\n  for (const value of values) {\r\n    if (value === undefined || value === null) continue;\r\n    if (typeof value === 'string' && value.trim() === '') continue;\r\n    return value;\r\n  }\r\n  return '';\r\n}\r\nfunction sql(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  return `'${String(value).replace(/'/g, \"''\")}'`;\r\n}\r\nfunction bool(value) {\r\n  return value === true || String(value).toLowerCase() === 'true' || String(value).toLowerCase() === 'yes';\r\n}\r\nfunction num(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\r\n  return Number.isFinite(n) ? String(n) : 'NULL';\r\n}\r\nfunction jsonSql(value) {\r\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\r\n}\r\nfunction id(prefix, provided) {\r\n  return first(provided, `${prefix}-${new Date().getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}${Math.floor(Math.random() * 100).toString().padStart(2, '0')}`);\r\n}\r\n\r\nconst agency = body.agency || {};\r\nconst pm = body.property_manager || {};\r\nconst landlord = body.landlord || {};\r\nconst tenant = body.tenant || body.customer || {};\r\nconst property = body.property || {};\r\nconst work = body.work_order || body.job || {};\r\n\r\nfunction nextDateForText(text, index) {\r\n  const lower = String(text || '').toLowerCase();\r\n  const dayNames = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday'];\r\n  const now = new Date();\r\n  const targetDay = dayNames.findIndex(day => lower.includes(day));\r\n  const date = new Date(now);\r\n  if (targetDay >= 0) {\r\n    const delta = (targetDay - now.getDay() + 7) % 7 || 7;\r\n    date.setDate(now.getDate() + delta);\r\n  } else {\r\n    date.setDate(now.getDate() + index + 1);\r\n  }\r\n\r\n  const timeMatches = [...lower.matchAll(/(\\d{1,2})(?::(\\d{2}))?\\s*(am|pm)?/g)];\r\n  const to24 = (match, fallbackHour) => {\r\n    if (!match) return [fallbackHour, 0];\r\n    let hour = Number(match[1]);\r\n    const minute = Number(match[2] || 0);\r\n    const suffix = match[3];\r\n    if (suffix === 'pm' && hour < 12) hour += 12;\r\n    if (suffix === 'am' && hour === 12) hour = 0;\r\n    return [hour, minute];\r\n  };\r\n\r\n  let startHour = 9;\r\n  let endHour = 11;\r\n  if (lower.includes('morning')) {\r\n    startHour = 9; endHour = 12;\r\n  } else if (lower.includes('afternoon')) {\r\n    startHour = 13; endHour = 16;\r\n  } else if (lower.includes('evening')) {\r\n    startHour = 17; endHour = 19;\r\n  }\r\n\r\n  const [parsedStartHour, parsedStartMinute] = to24(timeMatches[0], startHour);\r\n  const [parsedEndHour, parsedEndMinute] = to24(timeMatches[1], endHour);\r\n  const start = new Date(date);\r\n  start.setHours(parsedStartHour, parsedStartMinute, 0, 0);\r\n  const end = new Date(date);\r\n  end.setHours(parsedEndHour, parsedEndMinute, 0, 0);\r\n  if (end <= start) end.setHours(start.getHours() + 2, start.getMinutes(), 0, 0);\r\n  return { window_start: start.toISOString(), window_end: end.toISOString() };\r\n}\r\n\r\nfunction normaliseAvailability(value, index, requesterRole) {\r\n  if (value && typeof value === 'object') {\r\n    const notes = first(value.access_notes, value.notes, value.label, value.text, '');\r\n    const start = first(value.window_start, value.start, value.from);\r\n    const end = first(value.window_end, value.end, value.to);\r\n    if (start && end) {\r\n      return {\r\n        window_start: start,\r\n        window_end: end,\r\n        preference_rank: first(value.preference_rank, value.rank, index + 1),\r\n        access_notes: first(notes, `${requesterRole} availability ${index + 1}`),\r\n      };\r\n    }\r\n    const parsed = nextDateForText(notes || JSON.stringify(value), index);\r\n    return {\r\n      ...parsed,\r\n      preference_rank: first(value.preference_rank, value.rank, index + 1),\r\n      access_notes: first(notes, `${requesterRole} availability ${index + 1}`),\r\n    };\r\n  }\r\n  const text = String(value || '').trim();\r\n  if (!text) return null;\r\n  return {\r\n    ...nextDateForText(text, index),\r\n    preference_rank: index + 1,\r\n    access_notes: text,\r\n  };\r\n}\r\n\r\nconst agencyId = id('AGY', first(body.agency_id, agency.id));\r\nconst pmId = id('PM', first(body.property_manager_id, pm.id));\r\nconst landlordId = id('LL', first(body.landlord_id, landlord.id));\r\nconst tenantId = id('TEN', first(body.tenant_id, tenant.id));\r\nconst propertyId = id('PROP', first(body.property_id, property.id));\r\nconst tenancyId = id('LEASE', first(body.tenancy_id));\r\nconst workOrderId = id('WO', first(body.work_order_id, work.id));\r\nconst approvalId = id('APR', first(body.approval_id));\r\n\r\nconst estimatedAmount = first(work.estimated_amount, body.estimated_amount, body.amount);\r\nconst urgency = first(work.urgency, body.urgency, 'normal');\r\nconst tradeType = first(work.trade_type, body.trade_type, 'unspecified');\r\nconst jobType = first(work.job_type, body.job_type, tradeType);\r\nconst category = first(work.category, body.category, 'maintenance');\r\nconst complianceRequired = bool(first(work.compliance_required, body.compliance_required, category === 'compliance'));\r\nconst propertyScenario = first(body.property_scenario, body.occupancy_type, property.property_scenario, 'rental');\r\nconst requesterRole = first(body.requester_role, propertyScenario === 'owner_occupied' ? 'owner' : 'tenant');\r\nconst approvalRecipientRole = first(body.approval_recipient_role, propertyScenario === 'owner_occupied' ? 'owner' : 'landlord');\r\nconst requesterAvailabilityInput = first(\r\n  Array.isArray(body.availability_windows) ? body.availability_windows : '',\r\n  Array.isArray(body.requester_availability_windows) ? body.requester_availability_windows : '',\r\n  Array.isArray(body.requester_availability) ? body.requester_availability : '',\r\n  Array.isArray(body.tenant_availability) ? body.tenant_availability : '',\r\n  Array.isArray(body.owner_availability) ? body.owner_availability : '',\r\n  []\r\n);\r\nconst requesterAvailability = (Array.isArray(requesterAvailabilityInput) ? requesterAvailabilityInput : [])\r\n  .map((value, index) => normaliseAvailability(value, index, requesterRole))\r\n  .filter(Boolean)\r\n  .slice(0, 12);\r\nconst requesterAvailabilityValues = requesterAvailability.map(w => `(\r\n  ${sql(workOrderId)},\r\n  ${sql(tenantId)},\r\n  ${sql(w.window_start)}::timestamptz,\r\n  ${sql(w.window_end)}::timestamptz,\r\n  ${Number.parseInt(String(w.preference_rank), 10) || 1},\r\n  ${sql(`${requesterRole}: ${w.access_notes}`)},\r\n  'offered',\r\n  now()\r\n)`).join(',\\n');\r\n\r\nconst query = `\r\nWITH upsert_agency AS (\r\n  INSERT INTO agencies (id, name, primary_email, primary_phone, plan_key, payload, updated_at)\r\n  VALUES (${sql(agencyId)}, ${sql(first(agency.name, body.agency_name, 'Demo Property Agency'))}, ${sql(first(agency.email, agency.primary_email))}, ${sql(first(agency.phone, agency.primary_phone))}, ${sql(first(agency.plan_key, 'starter'))}, ${jsonSql(agency)}, now())\r\n  ON CONFLICT (id) DO UPDATE SET name = EXCLUDED.name, primary_email = EXCLUDED.primary_email, primary_phone = EXCLUDED.primary_phone, plan_key = EXCLUDED.plan_key, payload = EXCLUDED.payload, updated_at = now()\r\n  RETURNING id\r\n),\r\nupsert_pm AS (\r\n  INSERT INTO property_managers (id, agency_id, name, email, phone, approval_limit, updated_at)\r\n  VALUES (${sql(pmId)}, ${sql(agencyId)}, ${sql(first(pm.name, body.property_manager_name, 'Property Manager'))}, ${sql(first(pm.email, body.property_manager_email))}, ${sql(first(pm.phone, body.property_manager_phone))}, COALESCE(${num(first(pm.approval_limit, body.pm_approval_limit))}, 300), now())\r\n  ON CONFLICT (id) DO UPDATE SET agency_id = EXCLUDED.agency_id, name = EXCLUDED.name, email = EXCLUDED.email, phone = EXCLUDED.phone, approval_limit = EXCLUDED.approval_limit, updated_at = now()\r\n  RETURNING id, approval_limit\r\n),\r\nupsert_landlord AS (\r\n  INSERT INTO landlords (id, name, email, phone, default_approval_limit, prefers_auto_approval, updated_at)\r\n  VALUES (${sql(landlordId)}, ${sql(first(landlord.name, body.landlord_name, 'Landlord'))}, ${sql(first(landlord.email, body.landlord_email))}, ${sql(first(landlord.phone, body.landlord_phone))}, COALESCE(${num(first(landlord.default_approval_limit, body.landlord_approval_limit))}, 300), ${bool(first(landlord.prefers_auto_approval, body.prefers_auto_approval))}, now())\r\n  ON CONFLICT (id) DO UPDATE SET name = EXCLUDED.name, email = EXCLUDED.email, phone = EXCLUDED.phone, default_approval_limit = EXCLUDED.default_approval_limit, prefers_auto_approval = EXCLUDED.prefers_auto_approval, updated_at = now()\r\n  RETURNING id, default_approval_limit, prefers_auto_approval\r\n),\r\nupsert_tenant AS (\r\n  INSERT INTO tenants (id, name, email, phone, updated_at)\r\n  VALUES (${sql(tenantId)}, ${sql(first(tenant.name, body.tenant_name, body.customer_name, 'Tenant'))}, ${sql(first(tenant.email, body.tenant_email, body.email))}, ${sql(first(tenant.phone, body.tenant_phone, body.phone))}, now())\r\n  ON CONFLICT (id) DO UPDATE SET name = EXCLUDED.name, email = EXCLUDED.email, phone = EXCLUDED.phone, updated_at = now()\r\n  RETURNING id\r\n),\r\nupsert_property AS (\r\n  INSERT INTO rental_properties (id, agency_id, property_manager_id, landlord_id, address, suburb, state, postcode, access_notes, updated_at)\r\n  VALUES (\r\n    ${sql(propertyId)},\r\n    ${sql(agencyId)},\r\n    ${sql(pmId)},\r\n    ${sql(landlordId)},\r\n    COALESCE(${sql(first(property.address, body.address))}, (SELECT address FROM rental_properties WHERE id = ${sql(propertyId)}), 'Address to be confirmed'),\r\n    COALESCE(${sql(first(property.suburb, body.suburb))}, (SELECT suburb FROM rental_properties WHERE id = ${sql(propertyId)})),\r\n    COALESCE(${sql(first(property.state, 'VIC'))}, (SELECT state FROM rental_properties WHERE id = ${sql(propertyId)}), 'VIC'),\r\n    COALESCE(${sql(first(property.postcode, body.postcode))}, (SELECT postcode FROM rental_properties WHERE id = ${sql(propertyId)})),\r\n    COALESCE(${sql(first(property.access_notes, body.access_notes))}, (SELECT access_notes FROM rental_properties WHERE id = ${sql(propertyId)})),\r\n    now()\r\n  )\r\n  ON CONFLICT (id) DO UPDATE SET\r\n    agency_id = EXCLUDED.agency_id,\r\n    property_manager_id = EXCLUDED.property_manager_id,\r\n    landlord_id = EXCLUDED.landlord_id,\r\n    address = COALESCE(EXCLUDED.address, rental_properties.address),\r\n    suburb = COALESCE(EXCLUDED.suburb, rental_properties.suburb),\r\n    state = COALESCE(EXCLUDED.state, rental_properties.state),\r\n    postcode = COALESCE(EXCLUDED.postcode, rental_properties.postcode),\r\n    access_notes = COALESCE(EXCLUDED.access_notes, rental_properties.access_notes),\r\n    updated_at = now()\r\n  RETURNING id\r\n),\r\nupsert_tenancy AS (\r\n  INSERT INTO tenancies (id, property_id, tenant_id, status, updated_at)\r\n  VALUES (${sql(tenancyId)}, ${sql(propertyId)}, ${sql(tenantId)}, 'active', now())\r\n  ON CONFLICT (id) DO UPDATE SET property_id = EXCLUDED.property_id, tenant_id = EXCLUDED.tenant_id, status = 'active', updated_at = now()\r\n  RETURNING id\r\n),\r\nmatching_rule AS (\r\n  SELECT *\r\n  FROM approval_rules\r\n  WHERE active = true\r\n    AND (agency_id IS NULL OR agency_id = ${sql(agencyId)})\r\n    AND (landlord_id IS NULL OR landlord_id = ${sql(landlordId)})\r\n    AND (property_id IS NULL OR property_id = ${sql(propertyId)})\r\n    AND (trade_type IS NULL OR lower(trade_type) = lower(${sql(tradeType)}))\r\n    AND (job_type IS NULL OR lower(job_type) = lower(${sql(jobType)}))\r\n  ORDER BY property_id NULLS LAST, landlord_id NULLS LAST, trade_type NULLS LAST\r\n  LIMIT 1\r\n),\r\ndecision AS (\r\n  SELECT\r\n    COALESCE((SELECT threshold_amount FROM matching_rule), (SELECT default_approval_limit FROM upsert_landlord), (SELECT approval_limit FROM upsert_pm), 300) AS threshold_amount,\r\n    COALESCE((SELECT auto_approve_emergency FROM matching_rule), true) AS auto_approve_emergency,\r\n    COALESCE((SELECT auto_approve_compliance FROM matching_rule), false) AS auto_approve_compliance,\r\n    COALESCE((SELECT requires_landlord_approval FROM matching_rule), true) AS requires_landlord_approval,\r\n    COALESCE(${num(estimatedAmount)}, 0) AS estimated_amount\r\n),\r\napproval_decision AS (\n  SELECT\n    CASE\n      WHEN lower(${sql(urgency)}) IN ('urgent','emergency') AND auto_approve_emergency THEN 'auto_approved_emergency'\n      WHEN ${complianceRequired ? 'true' : 'false'} AND auto_approve_compliance THEN 'auto_approved_compliance'\n      WHEN estimated_amount > 0 AND estimated_amount <= threshold_amount AND requires_landlord_approval = false THEN 'auto_approved_within_pm_threshold'\n      WHEN estimated_amount > 0 AND estimated_amount <= threshold_amount AND (SELECT prefers_auto_approval FROM upsert_landlord) THEN 'auto_approved_within_landlord_threshold'\n      ELSE ${sql(`${approvalRecipientRole}_approval_required`)}\n    END AS approval_status,\n    threshold_amount,\n    estimated_amount\n  FROM decision\r\n),\r\nupsert_work_order AS (\r\n  INSERT INTO work_orders (\r\n    id, agency_id, property_id, tenancy_id, tenant_id, landlord_id, property_manager_id, lead_id,\r\n    source, category, trade_type, job_type, description, urgency, status, indicative_price_band,\r\n    estimated_amount, approval_status, approval_required, auto_approved, tenant_preferred_time,\r\n    scheduled_window, tenant_access_confirmed, compliance_required, payload, updated_at\r\n  )\r\n  VALUES (\r\n    ${sql(workOrderId)}, ${sql(agencyId)}, ${sql(propertyId)}, ${sql(tenancyId)}, ${sql(tenantId)}, ${sql(landlordId)}, ${sql(pmId)}, ${sql(first(body.lead_id, work.lead_id))},\r\n    ${sql(first(body.source, 'sally'))}, ${sql(category)}, ${sql(tradeType)}, ${sql(jobType)}, ${sql(first(work.description, body.description, body.job_description))}, ${sql(urgency)}, 'triaged',\r\n    ${sql(first(work.indicative_price_band, body.indicative_price_band))}, (SELECT estimated_amount FROM approval_decision),\n    (SELECT approval_status FROM approval_decision),\n    (SELECT approval_status FROM approval_decision) IN ('landlord_approval_required','owner_approval_required'),\n    (SELECT approval_status FROM approval_decision) NOT IN ('landlord_approval_required','owner_approval_required'),\n    ${sql(first(work.tenant_preferred_time, body.preferred_time))}, ${sql(first(work.scheduled_window, body.scheduled_window))},\r\n    ${bool(first(work.tenant_access_confirmed, body.tenant_access_confirmed))}, ${complianceRequired ? 'true' : 'false'},\r\n    ${jsonSql({\r\n      ...body,\r\n      property_scenario: propertyScenario,\r\n      requester_role: requesterRole,\r\n      approval_recipient_role: approvalRecipientRole,\r\n      requester_availability_windows: requesterAvailability,\r\n      warranty_check_required: true,\r\n      quote_matching_requires_availability_overlap: true,\r\n    })}, now()\r\n  )\r\n  ON CONFLICT (id) DO UPDATE SET\r\n    status = EXCLUDED.status,\r\n    approval_status = EXCLUDED.approval_status,\r\n    approval_required = EXCLUDED.approval_required,\r\n    auto_approved = EXCLUDED.auto_approved,\r\n    estimated_amount = EXCLUDED.estimated_amount,\r\n    payload = EXCLUDED.payload,\r\n    updated_at = now()\r\n  RETURNING *\r\n),\r\ninsert_requester_availability AS (\r\n  INSERT INTO tenant_availability_windows (work_order_id, tenant_id, window_start, window_end, preference_rank, access_notes, status, updated_at)\r\n  SELECT v.work_order_id, v.tenant_id, v.window_start, v.window_end, v.preference_rank, v.access_notes, v.status, v.updated_at\r\n  FROM (\r\n    ${requesterAvailabilityValues ? `SELECT * FROM (VALUES ${requesterAvailabilityValues}) AS v(work_order_id, tenant_id, window_start, window_end, preference_rank, access_notes, status, updated_at)` : \"SELECT NULL::text AS work_order_id, NULL::text AS tenant_id, NULL::timestamptz AS window_start, NULL::timestamptz AS window_end, NULL::integer AS preference_rank, NULL::text AS access_notes, NULL::text AS status, NULL::timestamptz AS updated_at WHERE false\"}\r\n  ) v\r\n  WHERE v.work_order_id IS NOT NULL\r\n    AND NOT EXISTS (\r\n      SELECT 1 FROM tenant_availability_windows tw\r\n      WHERE tw.work_order_id = v.work_order_id\r\n        AND tw.window_start = v.window_start\r\n        AND tw.window_end = v.window_end\r\n    )\r\n  RETURNING *\r\n),\r\nwally_prior_work AS (\r\n  SELECT\r\n    prev.*,\r\n    rje.tradie_id AS previous_tradie_id,\r\n    rje.created_at AS completed_at\r\n  FROM upsert_work_order wo\r\n  JOIN work_orders prev\r\n    ON prev.property_id = wo.property_id\r\n   AND prev.id <> wo.id\r\n   AND prev.created_at >= now() - interval '180 days'\r\n  LEFT JOIN rental_job_evidence rje ON rje.work_order_id = prev.id\r\n  WHERE lower(COALESCE(prev.trade_type, '')) = lower(COALESCE(wo.trade_type, ''))\r\n    AND (\r\n      lower(COALESCE(prev.job_type, '')) = lower(COALESCE(wo.job_type, ''))\r\n      OR lower(COALESCE(prev.description, '')) LIKE '%' || split_part(lower(COALESCE(wo.description, '')), ' ', 1) || '%'\r\n    )\r\n),\r\nwally_matching_warranty AS (\r\n  SELECT wow.*\r\n  FROM upsert_work_order wo\r\n  JOIN work_order_warranties wow\r\n    ON wow.property_id = wo.property_id\r\n   AND wow.status = 'active'\r\n   AND now()::date <= COALESCE(wow.warranty_end, now()::date)\r\n   AND (wow.trade_type IS NULL OR lower(wow.trade_type) = lower(COALESCE(wo.trade_type, '')))\r\n   AND (wow.job_type IS NULL OR lower(wow.job_type) = lower(COALESCE(wo.job_type, '')))\r\n  ORDER BY wow.warranty_end DESC\r\n  LIMIT 1\r\n),\r\nwally_decision AS (\r\n  SELECT\r\n    wo.*,\r\n    (SELECT count(*)::integer FROM wally_prior_work) AS repeat_count,\r\n    COALESCE(\r\n      (SELECT warranty_key FROM wally_matching_warranty),\r\n      (\r\n        SELECT warranty_key\r\n        FROM work_order_warranties wow\r\n        WHERE wow.property_id = wo.property_id\r\n          AND wow.status = 'active'\r\n          AND now()::date <= COALESCE(wow.warranty_end, now()::date)\r\n          AND (wow.trade_type IS NULL OR lower(wow.trade_type) = lower(COALESCE(wo.trade_type, '')))\r\n        ORDER BY\r\n          CASE WHEN lower(COALESCE(wow.job_type, '')) = lower(COALESCE(wo.job_type, '')) THEN 0 ELSE 1 END,\r\n          wow.warranty_end DESC\r\n        LIMIT 1\r\n      )\r\n    ) AS matched_warranty_key,\r\n    COALESCE(\r\n      (SELECT tradie_id FROM wally_matching_warranty),\r\n      (\r\n        SELECT tradie_id\r\n        FROM work_order_warranties wow\r\n        WHERE wow.property_id = wo.property_id\r\n          AND wow.status = 'active'\r\n          AND now()::date <= COALESCE(wow.warranty_end, now()::date)\r\n          AND (wow.trade_type IS NULL OR lower(wow.trade_type) = lower(COALESCE(wo.trade_type, '')))\r\n        ORDER BY\r\n          CASE WHEN lower(COALESCE(wow.job_type, '')) = lower(COALESCE(wo.job_type, '')) THEN 0 ELSE 1 END,\r\n          wow.warranty_end DESC\r\n        LIMIT 1\r\n      ),\r\n      (SELECT previous_tradie_id FROM wally_prior_work WHERE previous_tradie_id IS NOT NULL ORDER BY completed_at DESC LIMIT 1)\r\n    ) AS previous_tradie_id\r\n  FROM upsert_work_order wo\r\n),\r\nwally_review AS (\r\n  INSERT INTO repeat_issue_reviews (\r\n    review_key, work_order_id, property_id, tenant_id, trade_type, job_type,\r\n    issue_signature, repeat_count, warranty_candidate, matched_warranty_key,\r\n    previous_tradie_id, landlord_charge_recommendation, tenant_responsibility_signal,\r\n    recommended_action, status, payload\r\n  )\r\n  SELECT\r\n    'WREV-' || id || '-AUTO',\r\n    id,\r\n    property_id,\r\n    tenant_id,\r\n    trade_type,\r\n    job_type,\r\n    lower(regexp_replace(COALESCE(trade_type, '') || ' ' || COALESCE(job_type, '') || ' ' || COALESCE(description, ''), '[^a-zA-Z0-9 ]+', ' ', 'g')),\r\n    repeat_count,\r\n    (matched_warranty_key IS NOT NULL OR repeat_count > 0),\r\n    matched_warranty_key,\r\n    previous_tradie_id,\r\n    CASE\r\n      WHEN matched_warranty_key IS NOT NULL THEN 'no_landlord_charge_until_warranty_scope_reviewed'\r\n      WHEN repeat_count > 0 THEN 'hold_duplicate_callout_fee_pending_repeat_issue_review'\r\n      ELSE 'standard_charge_policy'\r\n    END,\r\n    CASE\r\n      WHEN repeat_count >= 4 THEN 'higher_than_average_requests_review_property_condition_and_usage_neutrally'\r\n      WHEN repeat_count >= 2 THEN 'repeat_issue_monitoring_recommended'\r\n      ELSE 'no_unusual_pattern_detected'\r\n    END,\r\n    CASE\r\n      WHEN matched_warranty_key IS NOT NULL OR repeat_count > 0 THEN 'route_to_previous_tradie_for_warranty_or_repeat_issue_review'\r\n      WHEN repeat_count >= 4 THEN 'property_manager_review_before_charge_or_scope_expansion'\r\n      ELSE 'continue_standard_quote_and_schedule_flow'\r\n    END,\r\n    'reviewed',\r\n    jsonb_build_object('source', 'work_order_intake_auto_wally', 'consumer_guarantee_keys', jsonb_build_array('AU_ACL_CONSUMER_GUARANTEES_AUTOMATIC_2026_05_21','AU_ACL_SERVICES_DUE_CARE_SKILL_2026_05_21'))\r\n  FROM wally_decision\r\n  WHERE matched_warranty_key IS NOT NULL OR repeat_count > 0\r\n  ON CONFLICT (review_key) DO UPDATE SET\r\n    repeat_count = EXCLUDED.repeat_count,\r\n    warranty_candidate = EXCLUDED.warranty_candidate,\r\n    matched_warranty_key = EXCLUDED.matched_warranty_key,\r\n    previous_tradie_id = EXCLUDED.previous_tradie_id,\r\n    landlord_charge_recommendation = EXCLUDED.landlord_charge_recommendation,\r\n    tenant_responsibility_signal = EXCLUDED.tenant_responsibility_signal,\r\n    recommended_action = EXCLUDED.recommended_action,\r\n    payload = EXCLUDED.payload\r\n  RETURNING *\r\n),\r\nwally_work_order AS (\r\n  UPDATE work_orders wo\r\n  SET status = CASE WHEN wr.warranty_candidate THEN 'warranty_review_required' ELSE wo.status END,\r\n      approval_status = CASE WHEN wr.warranty_candidate THEN 'warranty_or_repeat_issue_hold' ELSE wo.approval_status END,\r\n      approval_required = CASE WHEN wr.warranty_candidate THEN false ELSE wo.approval_required END,\r\n      auto_approved = CASE WHEN wr.warranty_candidate THEN false ELSE wo.auto_approved END,\r\n      payload = wo.payload || jsonb_build_object(\r\n        'wally_auto_checked', true,\r\n        'latest_warranty_review_key', wr.review_key,\r\n        'warranty_candidate', wr.warranty_candidate,\r\n        'matched_warranty_key', wr.matched_warranty_key,\r\n        'previous_tradie_id', wr.previous_tradie_id,\r\n        'scheduling_constraint', CASE WHEN wr.warranty_candidate AND wr.previous_tradie_id IS NOT NULL THEN 'previous_tradie_only' ELSE 'standard_scheduling' END,\r\n        'landlord_charge_recommendation', wr.landlord_charge_recommendation,\r\n        'tenant_responsibility_signal', wr.tenant_responsibility_signal,\r\n        'consumer_guarantee_keys', jsonb_build_array('AU_ACL_CONSUMER_GUARANTEES_AUTOMATIC_2026_05_21','AU_ACL_SERVICES_DUE_CARE_SKILL_2026_05_21')\r\n      ),\r\n      updated_at = now()\r\n  FROM wally_review wr\r\n  WHERE wo.id = wr.work_order_id\r\n  RETURNING wo.*\r\n),\r\nfinal_work_order AS (\r\n  SELECT * FROM wally_work_order\r\n  UNION ALL\r\n  SELECT * FROM upsert_work_order WHERE NOT EXISTS (SELECT 1 FROM wally_work_order)\r\n),\r\napproval_needed AS (\r\n  INSERT INTO landlord_approvals (id, work_order_id, landlord_id, amount, status, approval_url, payload, updated_at)\r\n  SELECT ${sql(approvalId)}, id, landlord_id, estimated_amount, 'pending',\r\n    CASE\r\n      WHEN payload->>'approval_recipient_role' = 'owner' THEN 'https://app.1pacent.com/owner/approve?approval_id=' || ${sql(approvalId)}\r\n      ELSE 'https://app.1pacent.com/landlord/approve?approval_id=' || ${sql(approvalId)}\r\n    END,\r\n    to_jsonb(upsert_work_order), now()\r\n  FROM final_work_order upsert_work_order\r\n  WHERE approval_required = true\r\n  ON CONFLICT (id) DO UPDATE SET amount = EXCLUDED.amount, status = EXCLUDED.status, approval_url = EXCLUDED.approval_url, payload = EXCLUDED.payload, updated_at = now()\r\n  RETURNING *\r\n),\r\ninsert_event AS (\r\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\r\n  SELECT 'work_order', id, 'rental_work_order_triaged', to_jsonb(final_work_order) FROM final_work_order\r\n)\r\nSELECT jsonb_build_object(\r\n  'success', true,\r\n  'work_order_id', wo.id,\r\n  'agency_id', wo.agency_id,\r\n  'property_id', wo.property_id,\r\n  'tenant_id', wo.tenant_id,\r\n  'landlord_id', wo.landlord_id,\r\n  'trade_type', wo.trade_type,\r\n  'job_type', wo.job_type,\r\n  'description', wo.description,\r\n  'status', wo.status,\r\n  'property_scenario', wo.payload->>'property_scenario',\r\n  'requester_role', wo.payload->>'requester_role',\r\n  'approval_recipient_role', wo.payload->>'approval_recipient_role',\r\n  'requester_availability_windows', COALESCE(wo.payload->'requester_availability_windows', '[]'::jsonb),\r\n  'approval_status', wo.approval_status,\r\n  'approval_required', wo.approval_required,\r\n  'auto_approved', wo.auto_approved,\r\n  'approval_id', (SELECT id FROM approval_needed LIMIT 1),\r\n  'approval_url', (SELECT approval_url FROM approval_needed LIMIT 1),\r\n  'threshold_amount', (SELECT threshold_amount FROM approval_decision),\r\n  'estimated_amount', wo.estimated_amount,\r\n  'wally_auto_checked', true,\r\n  'warranty_check_performed', true,\r\n  'warranty_candidate', COALESCE((wo.payload->>'warranty_candidate')::boolean, false),\r\n  'matched_warranty_key', wo.payload->>'matched_warranty_key',\r\n  'previous_tradie_id', wo.payload->>'previous_tradie_id',\r\n  'landlord_charge_recommendation', wo.payload->>'landlord_charge_recommendation',\r\n  'scheduling_constraint', wo.payload->>'scheduling_constraint',\r\n  'availability_windows_saved', (SELECT count(*) FROM insert_requester_availability),\r\n  'next_action', CASE\n    WHEN wo.approval_required AND wo.payload->>'approval_recipient_role' = 'owner' THEN 'send_owner_approval'\n    WHEN wo.approval_required THEN 'send_landlord_approval'\n    ELSE 'proceed_to_scheduling'\n  END\n) AS work_order_result\nFROM final_work_order wo;\r\n`;\r\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Rental Work Order", "id": "f2ceffe7-3937-4391-a905-447d8f7aa595", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Prepare Wally Intake Review", "id": "56cff842-38b7-4c37-99da-d171fa379e54", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const result = items[0]?.json?.work_order_result ?? items[0]?.json ?? {};\r\nreturn [{\r\n  json: {\r\n    work_order_id: result.work_order_id,\r\n    property_id: result.property_id,\r\n    trade_type: result.trade_type,\r\n    job_type: result.job_type,\r\n    description: result.description,\r\n    source_work_order_result: result,\r\n    lookback_days: 180,\r\n    default_warranty_days: 90\r\n  }\r\n}];"}, "typeVersion": 2}, {"position": [1040, 0], "name": "Build Work Order Intake Response", "id": "2cc062ea-3628-43b9-bb2c-f9b39d2a0058", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const handoff = items[0]?.json || {};\r\nconst saved = handoff.source_work_order_result || {};\r\nconst review = saved.warranty_review || {};\r\nconst reviewHasPayload = review && typeof review === 'object' && Object.keys(review).length > 0;\r\n\r\nif (!saved || Object.keys(saved).length === 0) {\r\n  return [{\r\n    json: {\r\n      success: false,\r\n      message: 'Work order intake saved no response payload. Check Save Rental Work Order output shape.',\r\n      diagnostic_stage: 'build_work_order_intake_response',\r\n      response_version: 'uat_intake_response_20260602_path_conflict_cleanup',\r\n      handoff_keys: Object.keys(handoff || {}),\r\n      raw_handoff: handoff,\r\n    }\r\n  }];\r\n}\r\n\r\nconst warrantyCandidate = Boolean(\r\n  saved.warranty_candidate ||\r\n  review.warranty_candidate ||\r\n  saved.matched_warranty_key ||\r\n  review.matched_warranty_key\r\n);\r\n\r\nreturn [{\r\n  json: {\r\n    ...saved,\r\n    success: saved.success !== false,\r\n    response_version: 'uat_intake_response_20260602_path_conflict_cleanup',\r\n    warranty_review: reviewHasPayload ? review : null,\r\n    wally_auto_checked: true,\r\n    warranty_check_performed: true,\r\n    warranty_candidate: warrantyCandidate,\r\n    matched_warranty_key: saved.matched_warranty_key || review.matched_warranty_key || null,\r\n    previous_tradie_id: saved.previous_tradie_id || review.previous_tradie_id || null,\r\n    scheduling_constraint: saved.scheduling_constraint || review.scheduling_constraint || 'standard_scheduling',\r\n    next_action: warrantyCandidate\r\n      ? (review.next_action || saved.next_action || 'warranty_review_before_new_quote')\r\n      : (saved.next_action || 'generate_quote_options'),\r\n  }\r\n}];"}, "typeVersion": 2}, {"position": [1300, 0], "name": "Respond Work Order Intake", "id": "45a2dcd9-1ec1-47f3-b198-a368f2d49b7e", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{JSON.stringify($json)}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Work Order Intake SQL": {"main": [[{"node": "Save Rental Work Order", "type": "main", "index": 0}]]}, "Save Rental Work Order": {"main": [[{"node": "Prepare Wally Intake Review", "type": "main", "index": 0}]]}, "Build Work Order Intake Response": {"main": [[{"node": "Respond Work Order Intake", "type": "main", "index": 0}]]}, "Prepare Wally Intake Review": {"main": [[{"node": "Build Work Order Intake Response", "type": "main", "index": 0}]]}, "Rental Work Order Intake Webhook": {"main": [[{"node": "Build Work Order Intake SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}