docs/tradie-import/TRADIE-TOOL-Penny-Payment-Status--APMlASPFq913R1vR.json
{"name": "TRADIE-TOOL-Penny-Payment-Status", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Penny Payment Status Tool Is Called", "id": "ef6cd3ea-bf45-48d8-bdf1-993f1c85620a", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Payment Status Input", "id": "293ea904-dc66-4f39-ae15-d020907cd7a4", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nreturn [{ json: raw.body ?? raw.query ?? raw }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Payment Status Endpoint", "id": "68042e41-ada5-492b-8a62-021a366c7721", "type": "n8n-nodes-base.httpRequest", "parameters": {"method": "GET", "url": "={{'http://localhost:5678/webhook/payments/status?invoice_id=' + ($json.invoice_id || '') + '&payment_request_id=' + ($json.payment_request_id || '') + '&job_id=' + ($json.job_id || '')}}", "options": {"timeout": 30000}}, "typeVersion": 4.2}], "connections": {"When Penny Payment Status Tool Is Called": {"main": [[{"node": "Normalise Payment Status Input", "type": "main", "index": 0}]]}, "Normalise Payment Status Input": {"main": [[{"node": "Call Payment Status Endpoint", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}