docs/tradie-import/TRADIE-SALLY-120-ElevenLabs-Voice-Token--3JafKS2eglXPjZvl.json
{"name": "TRADIE-SALLY-120-ElevenLabs-Voice-Token", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"httpMethod": "POST", "path": "agents/sally/conversation-token", "responseMode": "responseNode", "options": {}}, "position": [0, 0], "name": "Sally Conversation Token Webhook", "id": "55494b32-a27a-4441-b9aa-255df4c3102b", "webhookId": "8e34a44a-2e6d-471d-973e-43a4485ecb5a", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1}, {"parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw.query ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nreturn [{\n  json: {\n    agent_id: first(\n      body.agent_id,\n      body.elevenlabs_agent_id,\n      body.user?.elevenlabs_agent_id,\n      'agent_4601krtt5j3xf26ac865kpe19yvp'\n    ),\n    participant_name: first(\n      body.participant_name,\n      body.user?.name,\n      body.customer?.name,\n      '1pacent customer'\n    ),\n    environment: first(body.environment, 'production'),\n    context: {\n      source: first(body.source, 'customer_app'),\n      conversation_id: first(body.conversation_id),\n      user_id: first(body.user?.id, body.customer_id),\n      persona: first(body.user?.persona),\n      property_id: first(body.user?.property_id, body.property_id),\n      property_scenario: first(body.user?.property_scenario, body.property_scenario)\n    }\n  }\n}];"}, "position": [304, 0], "name": "Prepare Sally Token Request", "id": "e087a9a0-3a2e-4418-9ddc-98829ab6e35b", "type": "n8n-nodes-base.code", "typeVersion": 2}, {"parameters": {"url": "https://api.elevenlabs.io/v1/convai/conversation/token", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendQuery": true, "queryParameters": {"parameters": [{"name": "agent_id", "value": "={{$json.agent_id}}"}, {"name": "participant_name", "value": "={{$json.participant_name}}"}, {"name": "environment", "value": "={{$json.environment || \"production\"}}"}]}, "options": {"timeout": 10000}}, "position": [624, 0], "name": "Request ElevenLabs Conversation Token", "id": "c893fd2c-eeeb-4aff-aaaa-26f71b05bf89", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "credentials": {"httpHeaderAuth": {"id": "KLXfu33mSIHe3Nwu", "name": "ElevenLabs API Key"}}}, {"parameters": {"jsCode": "const data = items[0]?.json ?? {};\nconst prepared = $('Prepare Sally Token Request').first()?.json ?? {};\n\nif (!data.token) {\n  return [{\n    json: {\n      success: false,\n      status_key: 'elevenlabs_token_failed',\n      message: data.detail || data.message || 'ElevenLabs did not return a conversation token.',\n      provider_response: data,\n      context: prepared.context ?? {}\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    status_key: 'voice_token_ready',\n    token: data.token,\n    conversation_token: data.token,\n    agent_id: prepared.agent_id,\n    participant_name: prepared.participant_name,\n    connection_type: 'webrtc',\n    expires_hint: 'short_lived',\n    context: prepared.context ?? {},\n    next_action: 'Start the ElevenLabs WebRTC client session with conversation_token.'\n  }\n}];"}, "position": [928, 0], "name": "Format Sally Token Response", "id": "ef39b929-c7f9-47f5-b60e-51358ced8ab2", "type": "n8n-nodes-base.code", "typeVersion": 2}, {"parameters": {"respondWith": "json", "responseBody": "={{$json}}", "options": {}}, "position": [1232, 0], "name": "Respond Sally Conversation Token", "id": "67f60fcc-e0c7-482b-bb67-01a949e68414", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5}], "connections": {"Format Sally Token Response": {"main": [[{"node": "Respond Sally Conversation Token", "type": "main", "index": 0}]]}, "Sally Conversation Token Webhook": {"main": [[{"node": "Prepare Sally Token Request", "type": "main", "index": 0}]]}, "Prepare Sally Token Request": {"main": [[{"node": "Request ElevenLabs Conversation Token", "type": "main", "index": 0}]]}, "Request ElevenLabs Conversation Token": {"main": [[{"node": "Format Sally Token Response", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true, "binaryMode": "separate"}, "staticData": null, "meta": null, "pinData": {}, "tags": [], "versionMetadata": {"name": "Version 56f74f45", "description": ""}}