docs/tradie-import/TRADIE-CORE-905-Agent-Knowledge-Save--f2lih2nHwzv3FQTu.json
{"name": "TRADIE-CORE-905-Agent-Knowledge-Save", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Agent Knowledge Save Webhook", "id": "3b861d98-e1f8-4cd4-9ebe-5c3c39f7df7c", "webhookId": "154e6e9f-5e38-4e80-8012-017152aabb5a", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/agent-knowledge/save", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Knowledge Save SQL", "id": "da4efd53-6800-4fe1-913d-345de46b528d", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nfunction arraySql(values) {\n  const items = Array.isArray(values) ? values : String(values || '').split(',').map((v) => v.trim()).filter(Boolean);\n  if (!items.length) return \"'{}'::text[]\";\n  return `ARRAY[${items.map(sql).join(',')}]::text[]`;\n}\n\nconst agentKey = body.agent_key || 'george_foreman';\nconst collectionKey = body.collection_key || 'scheduling_knowledge';\nconst title = body.title || body.summary || 'Agent knowledge note';\nconst content = body.content || body.summary || JSON.stringify(body.payload || body);\nconst sourceType = body.source_type || 'agent_observation';\nconst sourceId = body.source_id || body.lead_id || body.job_id || body.schedule_slot_id || '';\n\nconst query = `\nINSERT INTO agent_knowledge_items (\n  agent_key, collection_key, source_type, source_id, title, content, tags, trade_type,\n  entity_type, entity_id, confidence, usefulness_score, payload\n)\nVALUES (\n  ${sql(agentKey)},\n  ${sql(collectionKey)},\n  ${sql(sourceType)},\n  ${sql(sourceId)},\n  ${sql(title)},\n  ${sql(content)},\n  ${arraySql(body.tags)},\n  ${sql(body.trade_type)},\n  ${sql(body.entity_type)},\n  ${sql(body.entity_id || body.lead_id || body.job_id)},\n  COALESCE(${sql(body.confidence)}, '0.7')::numeric,\n  COALESCE(${sql(body.usefulness_score)}, '0')::numeric,\n  ${jsonSql(body.payload || body)}\n)\nRETURNING jsonb_build_object(\n  'success', true,\n  'knowledge_id', id,\n  'agent_key', agent_key,\n  'collection_key', collection_key,\n  'title', title,\n  'created_at', created_at\n) AS knowledge_save;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Agent Knowledge", "id": "2f0c6481-48e8-424f-8718-782f14f240c7", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Knowledge Save", "id": "c46fda92-8281-415f-af23-20001c92b7cb", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.knowledge_save || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Agent Knowledge Save Webhook": {"main": [[{"node": "Build Knowledge Save SQL", "type": "main", "index": 0}]]}, "Build Knowledge Save SQL": {"main": [[{"node": "Save Agent Knowledge", "type": "main", "index": 0}]]}, "Save Agent Knowledge": {"main": [[{"node": "Respond Knowledge Save", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}