docs/tradie-import/TRADIE-CORE-021-Authority-Documents-Search--3xw9OsRHtqHehazw.json
{"name": "TRADIE-CORE-021-Authority-Documents-Search", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Search Authority Documents Webhook", "id": "9371603f-b4d0-4905-8823-fe7669f7fbe0", "webhookId": "fb94f0f8-a1e4-47f9-91d8-06e6273e5031", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/authority-documents/search", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [240, 0], "name": "Prepare Search SQL", "id": "04971949-5c18-4c36-9013-871607246189", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const body = $json.body || $json || {};\nfunction str(value, fallback = '') {\n  return value === undefined || value === null || value === '' ? fallback : String(value);\n}\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nconst agentKey = str(body.agent_key, 'unknown_agent');\nconst industry = str(body.industry, 'all');\nconst tradeType = str(body.trade_type, '');\nconst jurisdiction = str(body.jurisdiction, 'AU');\nconst documentType = str(body.document_type, '');\nconst query = str(body.query, '');\nconst limit = Math.min(Math.max(parseInt(body.limit || '5', 10) || 5, 1), 20);\nconst like = `%${query.replace(/[%_]/g, '')}%`;\n\nconst sqlText = `\nWITH candidates AS (\n  SELECT\n    d.authority_document_key,\n    d.document_type,\n    d.industry,\n    d.trade_type,\n    d.jurisdiction,\n    d.authority_name,\n    d.document_title,\n    d.document_reference,\n    d.source_url,\n    d.official_source,\n    d.current_version,\n    d.effective_from,\n    d.effective_to,\n    d.status,\n    d.summary,\n    d.layman_summary,\n    d.sme_interpretation_status,\n    coalesce(a.access_level, 'reference') as access_level,\n    coalesce(a.module_key, 'core') as module_key,\n    coalesce(a.paid_module, false) as paid_module,\n    (\n      CASE WHEN d.jurisdiction = ${sql(jurisdiction)} THEN 10 ELSE 0 END +\n      CASE WHEN d.industry = ${sql(industry)} THEN 8 WHEN d.industry = 'all' THEN 4 ELSE 0 END +\n      CASE WHEN d.trade_type = ${sql(tradeType)} THEN 8 WHEN d.trade_type IS NULL THEN 2 ELSE 0 END +\n      CASE WHEN ${sql(documentType)} IS NULL OR d.document_type = ${sql(documentType)} THEN 4 ELSE 0 END +\n      CASE WHEN d.document_title ILIKE ${sql(like)} THEN 8 ELSE 0 END +\n      CASE WHEN d.summary ILIKE ${sql(like)} OR d.layman_summary ILIKE ${sql(like)} THEN 6 ELSE 0 END +\n      CASE WHEN EXISTS (\n        SELECT 1 FROM authority_document_topics t\n        WHERE t.authority_document_key = d.authority_document_key\n          AND t.status = 'active'\n          AND (t.topic_name ILIKE ${sql(like)} OR t.topic_summary ILIKE ${sql(like)})\n      ) THEN 7 ELSE 0 END\n    ) as relevance_score\n  FROM authority_documents d\n  LEFT JOIN authority_document_agent_access a\n    ON a.authority_document_key = d.authority_document_key\n   AND a.agent_key = ${sql(agentKey)}\n   AND a.status = 'active'\n  WHERE d.status = 'active'\n    AND d.jurisdiction IN (${sql(jurisdiction)}, 'AU')\n    AND (${sql(documentType)} IS NULL OR d.document_type = ${sql(documentType)})\n    AND (d.industry IN (${sql(industry)}, 'all') OR ${sql(industry)} = 'all')\n    AND (d.trade_type = ${sql(tradeType)} OR d.trade_type IS NULL OR ${sql(tradeType)} IS NULL)\n)\nSELECT\n  authority_document_key,\n  document_type,\n  industry,\n  trade_type,\n  jurisdiction,\n  authority_name,\n  document_title,\n  document_reference,\n  source_url,\n  official_source,\n  current_version,\n  effective_from,\n  effective_to,\n  summary,\n  layman_summary,\n  sme_interpretation_status,\n  access_level,\n  module_key,\n  paid_module,\n  relevance_score,\n  'Use this as a grounded reference. Do not present interpretation as legal advice; cite source, jurisdiction, version, and effective date where possible.' as caution\nFROM candidates\nWHERE relevance_score > 0 OR ${sql(query)} IS NULL\nORDER BY relevance_score DESC, official_source DESC, authority_document_key\nLIMIT ${limit};\n`;\n\nreturn [{ json: { sql: sqlText } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Run Authority Search", "id": "bb27efa5-7397-4cbd-ac62-1e127a645e7f", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [760, 0], "name": "Aggregate Authority Results", "id": "9be06e26-adfe-454c-aa3a-20877ab658c1", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const rows = $input.all().map(item => item.json);\nreturn [{\n  json: {\n    success: true,\n    agent_access_checked: true,\n    documents: rows,\n    count: rows.length,\n    caution: 'Authority Documents are grounding sources for agent interpretation. They do not replace qualified professional or legal advice.'\n  }\n}];"}, "typeVersion": 2}, {"position": [1000, 0], "name": "Return Authority Results", "id": "24c6cb42-1027-4963-8cbb-09a63ece50ae", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ JSON.stringify($json) }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Search Authority Documents Webhook": {"main": [[{"node": "Prepare Search SQL", "type": "main", "index": 0}]]}, "Aggregate Authority Results": {"main": [[{"node": "Return Authority Results", "type": "main", "index": 0}]]}, "Prepare Search SQL": {"main": [[{"node": "Run Authority Search", "type": "main", "index": 0}]]}, "Run Authority Search": {"main": [[{"node": "Aggregate Authority Results", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}