docs/tradie-import/TRADIE-CORE-900-Agent-Foundation-Setup--EjdwnyLaZPFuxbgE.json
{"name": "TRADIE-CORE-900-Agent-Foundation-Setup", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Agent Foundation Setup Webhook", "id": "b1f5f4e9-9fe5-4177-a3a7-9fbe21a9134b", "webhookId": "42b9ec72-9ab6-43ab-a03f-2aee84501cf2", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/agent-foundation/setup", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Agent Foundation SQL", "id": "c71af9b7-0f6c-4453-a314-04d12e88b822", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const rules = [\n  ['mission', 10, 'George Foreman is the n8n scheduling operations AI Agent for 1pacent. Sally is the only customer-facing ElevenLabs voice/chat agent.'],\n  ['mission', 20, 'George recommends efficient tradie appointment windows, reduces travel time, avoids double-booking, and respects customer preferred windows where possible.'],\n  ['tool_policy', 10, 'Use schedule_recommendation with booking_action preview before customer acceptance.'],\n  ['tool_policy', 20, 'Use schedule_recommendation with booking_action book only after customer acceptance and when a real lead_id exists.'],\n  ['tool_policy', 30, 'Use google_calendar_busy before final schedule recommendations when a work date/window is known. Calendar busy blocks must be treated as unavailable.'],\n  ['tool_policy', 40, 'Use day_plan to inspect route, workload, booked slots, and travel assumptions for a tradie/date.'],\n  ['scheduling', 10, 'Never invent availability. Prefer the requested day and time if available.'],\n  ['scheduling', 20, 'When the exact requested time is unavailable, recommend the closest efficient alternative based on travel and current day plan.'],\n  ['scheduling', 30, 'Do not promise final trade work is confirmed until tradie scope and final price are confirmed.'],\n  ['customer_wording', 10, 'Return one concise customer_message Sally can say. Do not expose scores, n8n, Postgres, tools, or internal workflow names.'],\n  ['customer_wording', 20, 'For previewed slots, say the window can be requested. For held slots, say the booking request has been recorded and written confirmation should be sent now.'],\n  ['memory', 10, 'Write decisions and tool outputs to shared Postgres memory with agent_key george_foreman and clear entity references.']\n];\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nconst values = rules.map(([group, order, text]) =>\n  `('george_foreman', ${sql(group)}, ${order}, ${sql(text)}, true)`\n).join(',\\n');\n\nconst query = `\nCREATE TABLE IF NOT EXISTS agent_definitions (\n  id uuid primary key default gen_random_uuid(),\n  agent_key text not null unique,\n  agent_name text not null,\n  agent_role text not null,\n  model_provider text not null default 'google_gemini',\n  model_name text,\n  active boolean not null default true,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\nCREATE TABLE IF NOT EXISTS agent_business_rules (\n  id uuid primary key default gen_random_uuid(),\n  agent_key text not null references agent_definitions(agent_key),\n  rule_group text not null,\n  rule_order integer not null default 100,\n  rule_text text not null,\n  active boolean not null default true,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\nCREATE TABLE IF NOT EXISTS agent_memory (\n  id uuid primary key default gen_random_uuid(),\n  agent_key text not null,\n  agent_name text not null,\n  conversation_id text,\n  customer_id uuid references customers(id),\n  lead_id text references leads(id),\n  job_id text references jobs(id),\n  memory_type text not null default 'interaction',\n  summary text,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now()\n);\nCREATE INDEX IF NOT EXISTS idx_agent_business_rules_agent_key ON agent_business_rules(agent_key, active, rule_order);\nCREATE INDEX IF NOT EXISTS idx_agent_memory_agent_key ON agent_memory(agent_key, lead_id, created_at DESC);\n\nINSERT INTO agent_definitions (agent_key, agent_name, agent_role, model_provider, model_name, active, updated_at)\nVALUES ('george_foreman', 'George Foreman', 'Scheduling operations AI agent', 'google_gemini', 'models/gemini-3.1-flash-lite', true, now())\nON CONFLICT (agent_key) DO UPDATE SET\n  agent_name = EXCLUDED.agent_name,\n  agent_role = EXCLUDED.agent_role,\n  model_provider = EXCLUDED.model_provider,\n  model_name = EXCLUDED.model_name,\n  active = EXCLUDED.active,\n  updated_at = now();\n\nDELETE FROM agent_business_rules WHERE agent_key = 'george_foreman';\nINSERT INTO agent_business_rules (agent_key, rule_group, rule_order, rule_text, active)\nVALUES\n${values};\n\nSELECT jsonb_build_object(\n  'success', true,\n  'agent_key', 'george_foreman',\n  'seeded_rule_count', (SELECT count(*) FROM agent_business_rules WHERE agent_key = 'george_foreman')\n) AS setup_result;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Apply Agent Foundation", "id": "6bfcd52e-3610-4b2d-86e3-f065df6559d1", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Foundation Setup", "id": "5d08bd3b-df7e-4589-87d8-9e4ea6e5950c", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.setup_result}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Agent Foundation SQL": {"main": [[{"node": "Apply Agent Foundation", "type": "main", "index": 0}]]}, "Apply Agent Foundation": {"main": [[{"node": "Respond Foundation Setup", "type": "main", "index": 0}]]}, "Agent Foundation Setup Webhook": {"main": [[{"node": "Build Agent Foundation SQL", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}