docs/tradie-import/TRADIE-QUOTES-025-Approve-Quote-Convert-To-Job--hBJTTJKAQBk3MNVi.json
{"name": "TRADIE-QUOTES-025-Approve-Quote-Convert-To-Job", "description": null, "active": false, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Quote Acceptance Webhook", "id": "d4ea8442-8969-4919-a1dd-7edde4fc4d51", "webhookId": "061d490a-b452-41f8-8226-3ff2c567f115", "type": "n8n-nodes-base.webhook", "parameters": {"path": "quotes/accept", "responseMode": "responseNode", "options": {}, "httpMethod": "GET"}, "typeVersion": 2.1}, {"position": [240, 0], "name": "Build Acceptance SQL", "id": "a6222d99-1ea2-4ae0-ab0d-4673d6c33c68", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst q = raw.query ?? raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nconst accepted = String(first(q.accepted, 'true')).toLowerCase() === 'true';\nconst quoteId = first(q.quote_id);\nconst leadId = first(q.lead_id);\nconst customerName = first(q.customer_name, 'Customer');\nconst customerEmail = first(q.customer_email, q.email);\nconst jobId = accepted ? first(q.job_id, `JOB-${new Date().getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`) : '';\nconst status = accepted ? 'Quote Accepted - Ready To Schedule Job' : 'Quote Declined';\n\nconst requestPayload = { quote_id: quoteId, lead_id: leadId, customer_name: customerName, customer_email: customerEmail, accepted, job_id: jobId };\n\nconst query = `\nWITH version_row AS (\n  SELECT id, quote_id, lead_id, amount, inclusions, exclusions, acceptance_url, status, created_at\n  FROM quote_versions\n  WHERE id = ${sql(quoteId)} OR quote_id = ${sql(quoteId)}\n  ORDER BY created_at DESC\n  LIMIT 1\n),\nresolved AS (\n  SELECT\n    COALESCE((SELECT quote_id FROM version_row), ${sql(quoteId)}) AS quote_id,\n    COALESCE((SELECT lead_id FROM version_row), ${sql(leadId)}) AS lead_id,\n    (SELECT amount FROM version_row) AS quote_amount\n),\nlead_context AS (\n  SELECT\n    l.id AS lead_id,\n    l.customer_id,\n    l.trade_type,\n    l.job_description,\n    l.urgency,\n    l.address,\n    l.preferred_time,\n    c.name AS customer_name,\n    c.email AS customer_email,\n    c.phone AS customer_phone\n  FROM leads l\n  LEFT JOIN customers c ON c.id = l.customer_id\n  WHERE l.id = (SELECT lead_id FROM resolved)\n),\nupdate_version AS (\n  UPDATE quote_versions\n  SET status = ${sql(status)}, accepted_at = CASE WHEN ${accepted ? 'true' : 'false'} THEN now() ELSE accepted_at END\n  WHERE id = ${sql(quoteId)} OR quote_id = ${sql(quoteId)}\n  RETURNING id\n),\nupdate_quote AS (\n  UPDATE quotes\n  SET status = ${sql(status)}, accepted_at = CASE WHEN ${accepted ? 'true' : 'false'} THEN now() ELSE accepted_at END, updated_at = now()\n  WHERE id = (SELECT quote_id FROM resolved)\n  RETURNING id, lead_id, customer_id\n),\nupsert_job AS (\n  INSERT INTO jobs (id, lead_id, quote_id, customer_id, status, scheduled_window, updated_at)\n  SELECT\n    ${sql(jobId)},\n    lead_id,\n    quote_id,\n    (SELECT customer_id FROM update_quote),\n    ${sql(status)},\n    (SELECT preferred_time FROM lead_context),\n    now()\n  FROM resolved\n  WHERE ${accepted ? 'true' : 'false'}\n  ON CONFLICT (id) DO UPDATE SET\n    status = EXCLUDED.status,\n    quote_id = EXCLUDED.quote_id,\n    scheduled_window = COALESCE(jobs.scheduled_window, EXCLUDED.scheduled_window),\n    updated_at = now()\n  RETURNING id\n),\nupdate_lead AS (\n  UPDATE leads\n  SET status = ${sql(status)}, next_action = CASE WHEN ${accepted ? 'true' : 'false'} THEN 'george_confirm_schedule' ELSE 'quote_declined_follow_up' END, updated_at = now()\n  WHERE id = (SELECT lead_id FROM resolved)\n  RETURNING id\n),\ninsert_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  VALUES ('quote', (SELECT quote_id FROM resolved), CASE WHEN ${accepted ? 'true' : 'false'} THEN 'quote_accepted' ELSE 'quote_declined' END, ${jsonSql(requestPayload)})\n)\nSELECT\n  true AS success,\n  ${accepted ? 'true' : 'false'}::boolean AS accepted,\n  (SELECT quote_id FROM resolved) AS quote_id,\n  (SELECT lead_id FROM resolved) AS lead_id,\n  (SELECT id FROM upsert_job) AS job_id,\n  ${sql(status)} AS status,\n  COALESCE((SELECT customer_name FROM lead_context), ${sql(customerName)}) AS customer_name,\n  COALESCE((SELECT customer_email FROM lead_context), ${sql(customerEmail)}) AS customer_email,\n  COALESCE((SELECT customer_phone FROM lead_context), '') AS customer_phone,\n  COALESCE((SELECT trade_type FROM lead_context), 'electrical') AS trade_type,\n  COALESCE((SELECT job_description FROM lead_context), '') AS job_description,\n  COALESCE((SELECT urgency FROM lead_context), 'normal') AS urgency,\n  COALESCE((SELECT address FROM lead_context), '') AS customer_address,\n  COALESCE((SELECT address FROM lead_context), '') AS customer_suburb,\n  COALESCE((SELECT preferred_time FROM lead_context), 'next available') AS preferred_window,\n  COALESCE((SELECT quote_amount FROM resolved), '') AS confirmed_quote_amount;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [500, 0], "name": "Save Acceptance And Job", "id": "eb8b2154-1e39-4c9a-97d1-c6dd506dc5b3", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [760, 0], "name": "Prepare George Schedule Payload", "id": "a3c65e28-bfb3-457b-9aa6-528e9e48c85d", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const a = items[0]?.json ?? {};\n\nfunction suburbFromAddress(address) {\n  const text = String(address || '').trim();\n  if (!text) return '';\n  return text.split(',')[0].trim();\n}\n\nfunction inferDurationMinutes(jobDescription, tradeType) {\n  const text = `${jobDescription || ''} ${tradeType || ''}`.toLowerCase();\n  if (text.includes('install') && text.includes('power')) return 120;\n  if (text.includes('inspection') || text.includes('quote')) return 60;\n  return 120;\n}\n\nfunction parsePreferredDate(text) {\n  const raw = String(text || '');\n  const iso = raw.match(/\\b(20\\d{2})-(\\d{2})-(\\d{2})\\b/);\n  if (iso) return `${iso[1]}-${iso[2]}-${iso[3]}`;\n  const months = {\n    january: '01', jan: '01',\n    february: '02', feb: '02',\n    march: '03', mar: '03',\n    april: '04', apr: '04',\n    may: '05',\n    june: '06', jun: '06',\n    july: '07', jul: '07',\n    august: '08', aug: '08',\n    september: '09', sep: '09',\n    october: '10', oct: '10',\n    november: '11', nov: '11',\n    december: '12', dec: '12',\n  };\n  const match = raw.toLowerCase().match(/\\b(\\d{1,2})\\s+([a-z]+)\\s+(20\\d{2})\\b/);\n  if (!match) return '';\n  const month = months[match[2]];\n  if (!month) return '';\n  return `${match[3]}-${month}-${String(match[1]).padStart(2, '0')}`;\n}\n\nconst preferredDate = parsePreferredDate(a.preferred_window);\n\nreturn [{\n  json: {\n    booking_action: 'book',\n    persist_schedule: true,\n    lead_id: a.lead_id,\n    quote_id: a.quote_id,\n    job_id: a.job_id,\n    customer_name: a.customer_name,\n    customer_email: a.customer_email,\n    customer_address: a.customer_address,\n    customer_suburb: suburbFromAddress(a.customer_suburb || a.customer_address),\n    trade_type: a.trade_type || 'electrical',\n    preferred_date: preferredDate,\n    preferred_window: a.preferred_window || 'next available',\n    urgency: a.urgency || 'normal',\n    job_description: a.job_description,\n    estimated_duration_minutes: inferDurationMinutes(a.job_description, a.trade_type),\n    accepted_quote_status: a.status,\n    confirmed_quote_amount: a.confirmed_quote_amount,\n  },\n}];"}, "typeVersion": 2}, {"position": [1020, 0], "name": "Ask George To Book Accepted Job", "id": "9a6e5499-2b00-4ca8-b94f-e415a350cc6f", "type": "n8n-nodes-base.httpRequest", "parameters": {"specifyBody": "json", "sendBody": true, "options": {"timeout": 30000}, "method": "POST", "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json", "url": "http://localhost:5678/webhook/agents/george/schedule-recommendation"}, "typeVersion": 4.2}, {"position": [1280, 0], "name": "Prepare Calendar Booking Payload", "id": "37707f80-d7a2-4a7e-b55d-43557b676994", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const george = items[0]?.json ?? {};\nconst accepted = $('Save Acceptance And Job').first().json ?? {};\nconst schedule = george.scheduler_response ?? george;\n\nreturn [{\n  json: {\n    schedule_slot_id: george.schedule_slot_id || schedule.schedule_slot_id,\n    lead_id: george.lead_id || schedule.lead_id,\n    quote_id: george.quote_id || schedule.quote_id,\n    job_id: george.job_id || schedule.job_id,\n    customer_name: accepted.customer_name,\n    customer_email: accepted.customer_email,\n    company_id: 'COMP-1PACENT-DEFAULT',\n    tradie_count: 1,\n    trade_type: schedule.trade_type || 'electrical',\n    calendar_id: 'mac@1pacent.com',\n    george_status: george.status,\n    george_customer_message: george.customer_message,\n    recommended_window: george.recommended_window,\n    scheduling_score: george.internal_reasoning?.scheduling_score ?? schedule.scheduling_score,\n  },\n}];"}, "typeVersion": 2}, {"position": [1540, 0], "name": "Book Accepted Job In Calendar", "id": "0e57ba53-016f-48b4-bd0b-aa244ddf6703", "type": "n8n-nodes-base.httpRequest", "parameters": {"specifyBody": "json", "sendBody": true, "options": {"timeout": 30000}, "method": "POST", "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json", "url": "http://localhost:5678/webhook/agents/george/calendar-book-job"}, "typeVersion": 4.2}, {"position": [1800, 0], "name": "Build Acceptance Response", "id": "96bf331f-abf1-403e-b093-345774536069", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const calendar = items[0]?.json ?? {};\nconst accepted = $('Save Acceptance And Job').first().json ?? {};\nconst calendarInput = $('Prepare Calendar Booking Payload').first().json ?? {};\n\nconst booked = calendar.success === true || calendar.status === 'calendar_booked' || calendar.calendar_event_status === 'created';\nconst status = booked ? 'Quote Accepted - Job Scheduled' : 'Quote Accepted - Schedule Needs Review';\nconst customerName = calendar.customer_name || calendarInput.customer_name || accepted.customer_name || 'there';\nconst quoteId = calendar.quote_id || calendarInput.quote_id || accepted.quote_id || '';\nconst jobId = calendar.job_id || '';\nconst leadId = calendar.lead_id || calendarInput.lead_id || accepted.lead_id || '';\nconst trackingUrl = leadId\n  ? `https://app.1pacent.com/job-status?lead_id=${encodeURIComponent(leadId)}`\n  : `https://app.1pacent.com/job-status?job_id=${encodeURIComponent(jobId)}`;\nconst window = calendar.recommended_window || calendarInput.recommended_window || calendar.window || '';\nconst acceptanceMessage = booked\n  ? `Your quote ${quoteId} has been accepted and your job has been scheduled${window ? ` for ${window}` : ''}.`\n  : `Your quote ${quoteId} has been accepted. The team will manually confirm the schedule.`;\n\nreturn [{\n  json: {\n    success: true,\n    accepted: true,\n    quote_id: quoteId,\n    lead_id: leadId,\n    job_id: jobId,\n    schedule_slot_id: calendar.schedule_slot_id || '',\n    status,\n    calendar_booking: calendar,\n    customer_subject: booked ? `Quote accepted and job scheduled: ${quoteId}` : `Quote accepted: ${quoteId}`,\n    customer_email: calendar.customer_email || calendarInput.customer_email || accepted.customer_email || '',\n    customer_tracking_url: trackingUrl,\n    customer_message: [\n      `Hi ${customerName},`,\n      '',\n      acceptanceMessage,\n      '',\n      booked ? 'The tradie will still confirm final access details before attending.' : 'We will be in touch shortly with the confirmed time.',\n      '',\n      `Track your request here: ${trackingUrl}`,\n      '',\n      'Thanks,',\n      '1pacent',\n    ].join('\\n'),\n    internal_subject: `${status}: ${quoteId}`,\n    internal_message: [\n      `Quote ID: ${quoteId}`,\n      `Lead ID: ${calendar.lead_id || ''}`,\n      `Job ID: ${jobId}`,\n      `Schedule slot: ${calendar.schedule_slot_id || ''}`,\n      `Status: ${status}`,\n      `Calendar event: ${calendar.google_event_id || calendar.calendar_event_id || ''}`,\n    ].join('\\n'),\n  },\n}];"}, "typeVersion": 2}, {"position": [2060, 0], "name": "Build Accepted Template Payload", "id": "8ed76f54-30aa-4cf7-a823-d4ea4e755b46", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const result = items[0]?.json || {};\nreturn [{\n  json: {\n    template_key: 'quote_accepted_scheduled_email',\n    payload: {\n      ...result,\n      entity_type: 'quote',\n      entity_id: result.quote_id || '',\n      customer_name: (result.customer_message || '').match(/^Hi ([^,]+),/)?.[1] || 'there',\n      quote_id: result.quote_id || '',\n      job_id: result.job_id || '',\n      scheduled_window: result.calendar_booking?.recommended_window || result.calendar_booking?.window || '',\n      confirmed_quote_amount: result.confirmed_quote_amount || '',\n      tracking_url: result.customer_tracking_url || '',\n      fallback_subject: result.customer_subject,\n      fallback_message: result.customer_message,\n    },\n  },\n}];"}, "typeVersion": 2}, {"position": [2320, 0], "name": "Render Accepted Template", "id": "c50aa820-56eb-4419-95de-68686057070e", "type": "n8n-nodes-base.httpRequest", "parameters": {"specifyBody": "json", "sendBody": true, "options": {"timeout": 30000}, "method": "POST", "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json", "url": "http://localhost:5678/webhook/core/message-templates/render"}, "typeVersion": 4.2}, {"position": [2580, 0], "name": "Apply Accepted Template", "id": "f3eee26c-5df2-44c0-a655-663011cfa43d", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const rendered = items[0]?.json || {};\nconst result = rendered.payload || {};\nreturn [{\n  json: {\n    ...result,\n    message_template_key: rendered.template_key || 'fallback_quote_accepted_scheduled_email',\n    message_template_version: rendered.version || null,\n    customer_subject: rendered.subject || result.fallback_subject || result.customer_subject,\n    customer_message: rendered.body || result.fallback_message || result.customer_message,\n  },\n}];"}, "typeVersion": 2}, {"position": [2840, -120], "name": "Email Customer Accepted Scheduled", "id": "768b0e14-9268-45cf-8860-ba40a3db31fd", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "={{$json.customer_subject}}", "sendTo": "={{$json.customer_email}}", "emailType": "text", "options": {}, "message": "={{$json.customer_message}}"}, "typeVersion": 2.2, "webhookId": "e9aa0bb9-812c-4361-815a-9bcf8fb19c9e"}, {"position": [2840, 120], "name": "Email Internal Accepted Scheduled", "id": "04e1e75f-b3f2-4cac-860e-885f5e665c53", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "={{$json.internal_subject}}", "sendTo": "mac@1pacent.com", "emailType": "text", "options": {}, "message": "={{$json.internal_message}}"}, "typeVersion": 2.2, "webhookId": "798c4e2b-3bba-4dad-bb53-897844b3f421"}, {"position": [3100, 0], "name": "Respond Accepted Quote", "id": "eed5fdde-8c56-4656-bb38-61d7d088b416", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ { success: true, quote_id: $json.quote_id, lead_id: $json.lead_id, job_id: $json.job_id, schedule_slot_id: $json.schedule_slot_id, accepted: $json.accepted, status: $json.status, calendar_booking: $json.calendar_booking } }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Book Accepted Job In Calendar": {"main": [[{"node": "Build Acceptance Response", "type": "main", "index": 0}]]}, "Apply Accepted Template": {"main": [[{"node": "Email Customer Accepted Scheduled", "type": "main", "index": 0}, {"node": "Email Internal Accepted Scheduled", "type": "main", "index": 0}, {"node": "Respond Accepted Quote", "type": "main", "index": 0}]]}, "Build Acceptance Response": {"main": [[{"node": "Build Accepted Template Payload", "type": "main", "index": 0}]]}, "Quote Acceptance Webhook": {"main": [[{"node": "Build Acceptance SQL", "type": "main", "index": 0}]]}, "Save Acceptance And Job": {"main": [[{"node": "Prepare George Schedule Payload", "type": "main", "index": 0}]]}, "Prepare George Schedule Payload": {"main": [[{"node": "Ask George To Book Accepted Job", "type": "main", "index": 0}]]}, "Build Acceptance SQL": {"main": [[{"node": "Save Acceptance And Job", "type": "main", "index": 0}]]}, "Prepare Calendar Booking Payload": {"main": [[{"node": "Book Accepted Job In Calendar", "type": "main", "index": 0}]]}, "Render Accepted Template": {"main": [[{"node": "Apply Accepted Template", "type": "main", "index": 0}]]}, "Ask George To Book Accepted Job": {"main": [[{"node": "Prepare Calendar Booking Payload", "type": "main", "index": 0}]]}, "Build Accepted Template Payload": {"main": [[{"node": "Render Accepted Template", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}