docs/tradie-import/TRADIE-CORE-024-Authority-Documents-Qdrant-Hybrid-Ingest--IlnehgnAniFpss1y.json
{"name": "TRADIE-CORE-024-Authority-Documents-Qdrant-Hybrid-Ingest", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Authority Hybrid Ingest Webhook", "id": "f7b56f57-42e7-4a03-91f5-06ce489e1960", "webhookId": "371f0dfb-7a09-4b2f-83e1-51bb8e4c2d80", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/authority-documents/qdrant-hybrid/ingest", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [240, 0], "name": "Build Chunk SQL", "id": "e31b779e-8cea-4583-b481-058659e9a8ba", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const body = $json.body || $json || {};\nconst limit = Math.min(Math.max(parseInt(body.limit || '100', 10) || 100, 1), 500);\nconst sql = `\nSELECT\n  c.chunk_key,\n  c.authority_document_key,\n  c.chunk_text,\n  c.jurisdiction,\n  c.industry,\n  c.trade_type,\n  c.topic_tags,\n  c.obligation_type,\n  c.risk_level,\n  c.source_url,\n  c.current_version,\n  c.effective_from,\n  c.effective_to,\n  d.document_type,\n  d.document_title,\n  d.authority_name,\n  d.official_source,\n  d.sme_interpretation_status\nFROM authority_document_chunks c\nJOIN authority_documents d ON d.authority_document_key = c.authority_document_key\nWHERE d.status = 'active'\nORDER BY c.updated_at DESC, c.chunk_order\nLIMIT ${limit};\n`;\nreturn [{ json: { sql } }];"}, "typeVersion": 2}, {"position": [500, 0], "name": "Fetch Authority Chunks", "id": "d7845eb1-fda7-4278-8ffd-35c4f2eda5e1", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [760, 0], "name": "Build Hybrid Points", "id": "3430a535-96c9-4307-8dfa-abf3c1e254ab", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const dims = 384;\nconst stop = new Set(['the','and','or','a','an','to','of','in','for','on','with','is','are','be','by','as','at','from','that','this','it','must','should','may','can']);\nfunction hash32(text, seed = 2166136261) {\n  let h = seed >>> 0;\n  for (let i = 0; i < String(text).length; i++) {\n    h ^= String(text).charCodeAt(i);\n    h = Math.imul(h, 16777619);\n  }\n  return h >>> 0;\n}\nfunction pointId(key) {\n  const part = n => hash32(`${key}:${n}`).toString(16).padStart(8, '0');\n  const h = `${part(1)}${part(2)}${part(3)}${part(4)}`;\n  return `${h.slice(0,8)}-${h.slice(8,12)}-${h.slice(12,16)}-${h.slice(16,20)}-${h.slice(20,32)}`;\n}\nfunction hashToken(token) {\n  return hash32(token) % dims;\n}\nfunction vector(text) {\n  const values = new Array(dims).fill(0);\n  const tokens = String(text || '').toLowerCase().match(/[a-z0-9]+/g) || [];\n  for (const token of tokens) {\n    if (token.length < 2 || stop.has(token)) continue;\n    const idx = hashToken(token);\n    values[idx] += 1;\n    if (token.endsWith('ing') && token.length > 5) values[hashToken(token.slice(0, -3))] += 0.5;\n    if (token.endsWith('ed') && token.length > 4) values[hashToken(token.slice(0, -2))] += 0.5;\n    if (token.endsWith('s') && token.length > 3) values[hashToken(token.slice(0, -1))] += 0.5;\n  }\n  const norm = Math.sqrt(values.reduce((sum, n) => sum + n * n, 0)) || 1;\n  return values.map(n => Number((n / norm).toFixed(6)));\n}\n\nconst rows = $input.all().map(item => item.json);\nconst points = rows.map(row => {\n  const text = [\n    row.document_title,\n    row.authority_name,\n    row.document_type,\n    row.jurisdiction,\n    row.industry,\n    row.trade_type,\n    row.current_version,\n    row.chunk_text\n  ].filter(Boolean).join('\\n');\n  return {\n    id: pointId(row.chunk_key),\n    vector: vector(text),\n    payload: {\n      authority_document_key: row.authority_document_key,\n      chunk_key: row.chunk_key,\n      chunk_text: row.chunk_text,\n      jurisdiction: row.jurisdiction,\n      industry: row.industry,\n      trade_type: row.trade_type,\n      document_type: row.document_type,\n      document_title: row.document_title,\n      authority_name: row.authority_name,\n      official_source: row.official_source,\n      source_url: row.source_url,\n      current_version: row.current_version,\n      effective_from: row.effective_from,\n      effective_to: row.effective_to,\n      obligation_type: row.obligation_type,\n      risk_level: row.risk_level,\n      sme_interpretation_status: row.sme_interpretation_status,\n      vector_backend: 'qdrant_hybrid_hash_v1'\n    }\n  };\n});\n\nreturn [{ json: { points, indexed_count: points.length } }];"}, "typeVersion": 2}, {"position": [1040, 0], "name": "Upsert Hybrid Points", "id": "2126da3a-6ef8-491a-bcb6-c2b15c26bd7c", "type": "n8n-nodes-base.httpRequest", "continueOnFail": false, "parameters": {"specifyBody": "json", "sendBody": true, "options": {"timeout": 30000}, "method": "PUT", "jsonBody": "={{ JSON.stringify({ points: $json.points }) }}", "contentType": "json", "url": "http://qdrant:6333/collections/authority_documents_hybrid/points?wait=true"}, "typeVersion": 4.2}, {"position": [1300, 0], "name": "Return Hybrid Ingest Result", "id": "a5fefde2-29be-4ad7-874e-761d77bcbf2e", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ JSON.stringify({success:true, collection:\"authority_documents_hybrid\", qdrant:$json}) }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Chunk SQL": {"main": [[{"node": "Fetch Authority Chunks", "type": "main", "index": 0}]]}, "Fetch Authority Chunks": {"main": [[{"node": "Build Hybrid Points", "type": "main", "index": 0}]]}, "Build Hybrid Points": {"main": [[{"node": "Upsert Hybrid Points", "type": "main", "index": 0}]]}, "Authority Hybrid Ingest Webhook": {"main": [[{"node": "Build Chunk SQL", "type": "main", "index": 0}]]}, "Upsert Hybrid Points": {"main": [[{"node": "Return Hybrid Ingest Result", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}