docs/tradie-import/TRADIE-ADMIN-960-Ops-Console-Summary--MsBdN7fF3SrGR1cU.json
{"name": "TRADIE-ADMIN-960-Ops-Console-Summary", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Ops Console Summary Webhook", "id": "fb30b762-3a5b-4a30-9866-cfaf58ddddf0", "webhookId": "29a290c7-66d6-4cb5-9442-b2ee0ced36fa", "type": "n8n-nodes-base.webhook", "parameters": {"path": "admin/ops-console/summary", "responseMode": "responseNode", "options": {}, "httpMethod": "GET"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Ops Console Summary SQL", "id": "7c78b8ce-d209-4b40-a75b-67fd37bdf5d1", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst q = raw.query ?? raw.body ?? raw;\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nconst tenantId = q.tenant_id || 'TENANT-001';\nconst limit = Number.isFinite(Number(q.limit)) ? Math.min(Math.max(Number(q.limit), 1), 50) : 10;\n\nconst query = `\nWITH params AS (\n  SELECT ${sql(tenantId)}::text AS tenant_id, ${limit}::integer AS row_limit\n),\nagent_catalog AS (\n  SELECT jsonb_agg(\n    jsonb_build_object(\n      'agent_key', agent_key,\n      'agent_name', agent_name,\n      'agent_role', agent_role,\n      'purpose', purpose,\n      'owner_domain', owner_domain,\n      'customer_facing', customer_facing,\n      'success_measures', success_measures,\n      'responsibilities', responsibilities,\n      'guardrails', guardrails,\n      'model_provider', model_provider,\n      'model_name', model_name,\n      'active', active,\n      'recent_memory_count', COALESCE((\n        SELECT count(*) FROM agent_memory am\n        WHERE am.agent_key = agent_definitions.agent_key\n          AND am.created_at >= now() - interval '7 days'\n      ), 0),\n      'knowledge_items', COALESCE((\n        SELECT count(*) FROM agent_knowledge_items aki\n        WHERE aki.agent_key = agent_definitions.agent_key\n          AND aki.active = true\n      ), 0),\n      'assigned_skills', COALESCE((\n        SELECT count(*) FROM agent_skill_assignments asa\n        WHERE asa.agent_key = agent_definitions.agent_key\n          AND asa.active = true\n      ), 0)\n    )\n    ORDER BY customer_facing DESC, owner_domain, agent_name\n  ) AS data\n  FROM agent_definitions\n  WHERE active = true\n),\npipeline_counts AS (\n  SELECT jsonb_build_object(\n    'customers', (SELECT count(*) FROM customers),\n    'leads_total', (SELECT count(*) FROM leads WHERE tenant_id = (SELECT tenant_id FROM params)),\n    'leads_by_status', COALESCE((SELECT jsonb_object_agg(status, count) FROM (SELECT status, count(*) AS count FROM leads WHERE tenant_id = (SELECT tenant_id FROM params) GROUP BY status ORDER BY status) s), '{}'::jsonb),\n    'quotes_total', (SELECT count(*) FROM quotes),\n    'quotes_by_status', COALESCE((SELECT jsonb_object_agg(status, count) FROM (SELECT status, count(*) AS count FROM quotes GROUP BY status ORDER BY status) s), '{}'::jsonb),\n    'jobs_total', (SELECT count(*) FROM jobs),\n    'jobs_by_status', COALESCE((SELECT jsonb_object_agg(status, count) FROM (SELECT status, count(*) AS count FROM jobs GROUP BY status ORDER BY status) s), '{}'::jsonb),\n    'invoices_total', (SELECT count(*) FROM invoices),\n    'invoices_by_status', COALESCE((SELECT jsonb_object_agg(status, count) FROM (SELECT status, count(*) AS count FROM invoices GROUP BY status ORDER BY status) s), '{}'::jsonb)\n  ) AS data\n),\npayment_metrics AS (\n  SELECT jsonb_build_object(\n    'payment_requests_total', (SELECT count(*) FROM payment_requests),\n    'payment_requests_by_status', COALESCE((SELECT jsonb_object_agg(status, count) FROM (SELECT status, count(*) AS count FROM payment_requests GROUP BY status ORDER BY status) s), '{}'::jsonb),\n    'paid_amount_total', COALESCE((SELECT sum(amount) FROM payment_requests WHERE status = 'paid'), 0),\n    'requested_amount_open', COALESCE((SELECT sum(amount) FROM payment_requests WHERE status <> 'paid'), 0),\n    'average_hours_to_paid', (\n      SELECT round(avg(extract(epoch from (paid_at - sent_at)) / 3600.0)::numeric, 2)\n      FROM payment_requests\n      WHERE status = 'paid' AND paid_at IS NOT NULL AND sent_at IS NOT NULL\n    ),\n    'overdue_requests', (\n      SELECT count(*) FROM payment_requests\n      WHERE status <> 'paid' AND due_at IS NOT NULL AND due_at < now()\n    )\n  ) AS data\n),\nscheduling_metrics AS (\n  SELECT jsonb_build_object(\n    'schedule_slots_total', (SELECT count(*) FROM job_schedule_slots),\n    'schedule_slots_by_status', COALESCE((SELECT jsonb_object_agg(status, count) FROM (SELECT status, count(*) AS count FROM job_schedule_slots GROUP BY status ORDER BY status) s), '{}'::jsonb),\n    'calendar_events_total', (SELECT count(*) FROM calendar_events),\n    'assigned_tradies_total', (SELECT count(*) FROM job_assignments),\n    'average_estimated_travel_minutes', (SELECT round(avg(estimated_travel_minutes)::numeric, 1) FROM job_schedule_slots WHERE estimated_travel_minutes IS NOT NULL),\n    'average_scheduling_score', (SELECT round(avg(scheduling_score)::numeric, 1) FROM job_schedule_slots WHERE scheduling_score IS NOT NULL)\n  ) AS data\n),\nquote_metrics AS (\n  SELECT jsonb_build_object(\n    'price_recommendations_total', (SELECT count(*) FROM price_recommendations),\n    'quote_accuracy_records_total', (SELECT count(*) FROM quote_accuracy_metrics),\n    'average_quote_accuracy_score', (SELECT round(avg(accuracy_score)::numeric, 2) FROM quote_accuracy_metrics WHERE accuracy_score IS NOT NULL),\n    'average_recommendation_confidence', (SELECT round(avg(confidence_score)::numeric, 2) FROM price_recommendations WHERE confidence_score IS NOT NULL),\n    'quote_sla_records_total', (SELECT count(*) FROM quote_sla_metrics),\n    'quote_sla_hit_rate', (SELECT round((count(*) FILTER (WHERE sla_met = true)::numeric / NULLIF(count(*), 0)) * 100, 2) FROM quote_sla_metrics),\n    'average_quote_response_ms', (SELECT round(avg(response_ms)::numeric, 0) FROM quote_sla_metrics WHERE response_ms IS NOT NULL),\n    'latest_quote_sla', COALESCE((\n      SELECT jsonb_agg(to_jsonb(x))\n      FROM (\n        SELECT recommendation_key, lead_id, trade_type, indicative_price_band, response_ms, target_sla_ms, sla_met, confidence_label, evidence_count, created_at\n        FROM quote_sla_metrics\n        ORDER BY created_at DESC\n        LIMIT (SELECT row_limit FROM params)\n      ) x\n    ), '[]'::jsonb)\n  ) AS data\n),\ngrowth_metrics AS (\n  SELECT jsonb_build_object(\n    'social_campaigns_total', (SELECT count(*) FROM social_campaigns),\n    'social_campaigns_by_approval', COALESCE((SELECT jsonb_object_agg(approval_status, count) FROM (SELECT approval_status, count(*) AS count FROM social_campaigns GROUP BY approval_status ORDER BY approval_status) s), '{}'::jsonb),\n    'social_posts_by_status', COALESCE((SELECT jsonb_object_agg(status, count) FROM (SELECT status, count(*) AS count FROM social_posts GROUP BY status ORDER BY status) s), '{}'::jsonb),\n    'review_requests_total', (SELECT count(*) FROM review_requests),\n    'review_requests_by_status', COALESCE((SELECT jsonb_object_agg(status, count) FROM (SELECT status, count(*) AS count FROM review_requests GROUP BY status ORDER BY status) s), '{}'::jsonb)\n  ) AS data\n),\nskills_metrics AS (\n  SELECT jsonb_build_object(\n    'active_skills_total', (SELECT count(*) FROM business_skills WHERE status = 'active'),\n    'skills_by_owner', COALESCE((SELECT jsonb_object_agg(COALESCE(owner_agent_key, 'unowned'), count) FROM (SELECT owner_agent_key, count(*) AS count FROM business_skills WHERE status = 'active' GROUP BY owner_agent_key ORDER BY owner_agent_key) s), '{}'::jsonb),\n    'skill_versions_total', (SELECT count(*) FROM business_skill_versions),\n    'open_recommendations', (SELECT count(*) FROM skill_improvement_recommendations WHERE status in ('proposed','review','open')),\n    'latest_recommendations', COALESCE((\n      SELECT jsonb_agg(to_jsonb(x))\n      FROM (\n        SELECT recommendation_key, owner_agent_key, priority, title, status, created_at\n        FROM skill_improvement_recommendations\n        ORDER BY created_at DESC\n        LIMIT (SELECT row_limit FROM params)\n      ) x\n    ), '[]'::jsonb)\n  ) AS data\n),\nrecent_activity AS (\n  SELECT COALESCE(jsonb_agg(to_jsonb(x)), '[]'::jsonb) AS data\n  FROM (\n    SELECT entity_type, entity_id, event_type, created_at, payload\n    FROM workflow_events\n    ORDER BY created_at DESC\n    LIMIT (SELECT row_limit FROM params)\n  ) x\n),\nrecent_work AS (\n  SELECT jsonb_build_object(\n    'leads', COALESCE((\n      SELECT jsonb_agg(to_jsonb(x))\n      FROM (\n        SELECT id, status, trade_type, urgency, address, preferred_time, created_at, updated_at\n        FROM leads\n        WHERE tenant_id = (SELECT tenant_id FROM params)\n        ORDER BY updated_at DESC\n        LIMIT (SELECT row_limit FROM params)\n      ) x\n    ), '[]'::jsonb),\n    'jobs', COALESCE((\n      SELECT jsonb_agg(to_jsonb(x))\n      FROM (\n        SELECT id, lead_id, quote_id, status, scheduled_window, completed_at, updated_at\n        FROM jobs\n        ORDER BY updated_at DESC\n        LIMIT (SELECT row_limit FROM params)\n      ) x\n    ), '[]'::jsonb),\n    'payments', COALESCE((\n      SELECT jsonb_agg(to_jsonb(x))\n      FROM (\n        SELECT id, invoice_id, job_id, status, amount, currency, payment_url, due_at, paid_at, updated_at\n        FROM payment_requests\n        ORDER BY updated_at DESC\n        LIMIT (SELECT row_limit FROM params)\n      ) x\n    ), '[]'::jsonb)\n  ) AS data\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'generated_at', now(),\n  'tenant_id', (SELECT tenant_id FROM params),\n  'agents', COALESCE((SELECT data FROM agent_catalog), '[]'::jsonb),\n  'pipeline', (SELECT data FROM pipeline_counts),\n  'payments', (SELECT data FROM payment_metrics),\n  'scheduling', (SELECT data FROM scheduling_metrics),\n  'quotes', (SELECT data FROM quote_metrics),\n  'growth', (SELECT data FROM growth_metrics),\n  'skills', (SELECT data FROM skills_metrics),\n  'recent_activity', (SELECT data FROM recent_activity),\n  'recent_work', (SELECT data FROM recent_work)\n) AS ops_console;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Load Ops Console Summary", "id": "532119e3-9a29-477d-882c-f9f264c02ad1", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Ops Console Summary", "id": "47597911-6f00-48e8-8cc9-e23383e24de7", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.ops_console || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Ops Console Summary SQL": {"main": [[{"node": "Load Ops Console Summary", "type": "main", "index": 0}]]}, "Ops Console Summary Webhook": {"main": [[{"node": "Build Ops Console Summary SQL", "type": "main", "index": 0}]]}, "Load Ops Console Summary": {"main": [[{"node": "Respond Ops Console Summary", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}