docs/tradie-import/TRADIE-QUOTES-019-Nelly-Quote-Review--SPNr6gZi8mx6WuvC.json
{"name": "TRADIE-QUOTES-019-Nelly-Quote-Review", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Nelly Quote Review Webhook", "id": "fbaddf61-a339-45bf-a5ef-7ccfbba8bf96", "webhookId": "fc1483bf-dca9-474e-a904-16cd7a5e39e2", "type": "n8n-nodes-base.webhook", "parameters": {"path": "agents/nelly/quote-review", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Nelly Quote Review", "id": "6ab10c48-6ad3-4416-be1e-d2326841a763", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction moneyNumber(value) {\n  const n = Number.parseFloat(String(value ?? '').replace(/[^0-9.]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\n\nconst labourHours = Number.parseFloat(body.labour_hours ?? body.estimated_labour_hours ?? 0) || 0;\nconst labourRate = Number.parseFloat(body.labour_rate ?? 120) || 120;\nconst calloutFee = moneyNumber(body.callout_fee ?? 150);\nconst materialsCost = moneyNumber(body.materials_cost ?? body.parts_cost ?? 0);\nconst desiredMarginPercent = Number.parseFloat(body.desired_margin_percent ?? 30) || 30;\nconst riskBufferPercent = Number.parseFloat(body.risk_buffer_percent ?? 10) || 10;\n\nconst labourCost = labourHours * labourRate;\nconst baseCost = calloutFee + labourCost + materialsCost;\nconst riskBuffer = baseCost * (riskBufferPercent / 100);\nconst subtotal = baseCost + riskBuffer;\nconst recommended = subtotal / (1 - desiredMarginPercent / 100);\nconst low = Math.round(recommended * 0.9);\nconst high = Math.round(recommended * 1.15);\n\nconst missing = [];\nif (!body.lead_id) missing.push('lead_id');\nif (!body.job_description) missing.push('job_description');\nif (!labourHours) missing.push('labour_hours');\nif (!materialsCost) missing.push('materials_cost');\n\nconst review = {\n  agent: 'Nelly',\n  status: missing.length ? 'quote_review_needs_info' : 'quote_review_ready',\n  lead_id: body.lead_id || '',\n  quote_id: body.quote_id || '',\n  job_description: body.job_description || '',\n  labour_hours: labourHours,\n  labour_rate: labourRate,\n  callout_fee: calloutFee,\n  materials_cost: materialsCost,\n  desired_margin_percent: desiredMarginPercent,\n  risk_buffer_percent: riskBufferPercent,\n  recommended_quote_amount: `$${Math.round(recommended)} incl GST estimate placeholder`,\n  recommended_price_band: `$${low}-$${high}`,\n  assumptions: [\n    'Pricing is an internal recommendation only.',\n    'Tradie must confirm scope and final price before customer acceptance.',\n    'Unexpected variations require a revised quote and customer acceptance.',\n  ],\n  missing_information: missing,\n};\n\nreturn [{ json: review }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Respond Nelly Review", "id": "207a0d54-89dc-4bd4-8415-37a15a7a1a76", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Nelly Quote Review": {"main": [[{"node": "Respond Nelly Review", "type": "main", "index": 0}]]}, "Nelly Quote Review Webhook": {"main": [[{"node": "Nelly Quote Review", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}