docs/tradie-import/TRADIE-TOOL-George-Schedule-Recommendation--RvI8P4NXM1GS3Sr9.json
{"name": "TRADIE-TOOL-George-Schedule-Recommendation", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When George Tool Is Called", "id": "476224f3-3b94-48ac-9960-a2ba4fe0c588", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Parse George Tool Input", "id": "b4095587-63c3-4d43-b421-bf7a5ca87309", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst text = String(raw.input || raw.tool_input || raw.query || '').trim();\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction field(name) {\n  const escaped = name.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const pattern = new RegExp(`${escaped}\\\\s*:\\\\s*([^,\\\\n]+)`, 'i');\n  const match = text.match(pattern);\n  return match ? match[1].trim() : '';\n}\n\nconst payload = {\n  booking_action: first(raw.booking_action, field('booking_action'), 'preview'),\n  lead_id: first(raw.lead_id, field('lead_id'), ''),\n  quote_id: first(raw.quote_id, field('quote_id'), ''),\n  customer_name: first(raw.customer_name, field('customer_name'), ''),\n  customer_email: first(raw.customer_email, field('customer_email'), ''),\n  customer_address: first(raw.customer_address, field('customer_address'), field('address'), ''),\n  customer_suburb: first(raw.customer_suburb, field('customer_suburb'), field('suburb'), ''),\n  trade_type: first(raw.trade_type, field('trade_type'), 'electrical'),\n  job_description: first(raw.job_description, field('job_description'), ''),\n  preferred_date: first(raw.preferred_date, field('preferred_date'), ''),\n  preferred_window: first(raw.preferred_window, field('preferred_window'), field('time'), ''),\n  urgency: first(raw.urgency, field('urgency'), 'normal'),\n};\n\nreturn [{ json: payload }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call George Schedule Recommendation", "id": "fe148396-a021-47df-b5b1-44ecd326c462", "type": "n8n-nodes-base.httpRequest", "parameters": {"specifyBody": "json", "sendBody": true, "options": {"timeout": 20000}, "method": "POST", "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json", "url": "http://localhost:5678/webhook/agents/george/schedule-recommendation"}, "typeVersion": 4.2}], "connections": {"Parse George Tool Input": {"main": [[{"node": "Call George Schedule Recommendation", "type": "main", "index": 0}]]}, "When George Tool Is Called": {"main": [[{"node": "Parse George Tool Input", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner"}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}