docs/tradie-import/TRADIE-TOOL-MCP-Service-Search--Yxxovcn4MYZgyhe2.json
{"name": "TRADIE-TOOL-MCP-Service-Search", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When MCP Service Search Tool Is Called", "id": "caf03df0-91d7-4854-a235-0d2733df26c3", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise MCP Service Search Input", "id": "2240085a-0914-4973-bbed-1188d095c2bb", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst text = String(raw.input || raw.tool_input || '').trim();\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nfunction field(name) {\n  const escaped = name.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const pattern = new RegExp(`${escaped}\\\\s*:\\\\s*([^,\\\\n]+)`, 'i');\n  const match = text.match(pattern);\n  return match ? match[1].trim() : '';\n}\n\nreturn [{\n  json: {\n    agent_key: first(raw.agent_key, field('agent_key'), 'george_foreman'),\n    category: first(raw.category, field('category'), ''),\n    query: first(raw.query, raw.search, field('query'), text),\n    limit: first(raw.limit, field('limit'), 8),\n  },\n}];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call MCP Service Search Endpoint", "id": "6801d7a2-dec3-43a9-a62e-f9b71259030f", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/core/mcp-services/search", "options": {"timeout": 20000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"When MCP Service Search Tool Is Called": {"main": [[{"node": "Normalise MCP Service Search Input", "type": "main", "index": 0}]]}, "Normalise MCP Service Search Input": {"main": [[{"node": "Call MCP Service Search Endpoint", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}