docs/tradie-import/TRADIE-REPORTS-001-Status-Summary-Dashboard--RwsYUqJa6BCGDiiL.json
{"name": "TRADIE-REPORTS-001-Status-Summary-Dashboard", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Dashboard Summary Webhook", "id": "66f2f374-8378-4bda-beaf-14177d6aec9a", "webhookId": "5d6e1762-5e14-4a72-b55a-0ee16f932700", "type": "n8n-nodes-base.webhook", "parameters": {"path": "reports/status-summary", "responseMode": "responseNode", "options": {}, "httpMethod": "GET"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Dashboard SQL", "id": "625d25b5-347a-4c8f-b5af-5de1a3bf14e4", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const query = `\nSELECT jsonb_build_object(\n  'generated_at', now(),\n  'counts', jsonb_build_object(\n    'customers', (SELECT count(*) FROM customers),\n    'leads', (SELECT count(*) FROM leads),\n    'quotes', (SELECT count(*) FROM quotes),\n    'quote_versions', (SELECT count(*) FROM quote_versions),\n    'jobs', (SELECT count(*) FROM jobs),\n    'invoices', (SELECT count(*) FROM invoices),\n    'inventory_items', (SELECT count(*) FROM inventory_items)\n  ),\n  'lead_statuses', COALESCE((SELECT jsonb_object_agg(status, count) FROM (SELECT status, count(*) FROM leads GROUP BY status) s), '{}'::jsonb),\n  'quote_statuses', COALESCE((SELECT jsonb_object_agg(status, count) FROM (SELECT status, count(*) FROM quotes GROUP BY status) s), '{}'::jsonb),\n  'job_statuses', COALESCE((SELECT jsonb_object_agg(status, count) FROM (SELECT status, count(*) FROM jobs GROUP BY status) s), '{}'::jsonb),\n  'low_or_negative_inventory', COALESCE((\n    SELECT jsonb_agg(jsonb_build_object('name', name, 'quantity_on_hand', quantity_on_hand, 'reorder_level', reorder_level))\n    FROM inventory_items\n    WHERE quantity_on_hand <= reorder_level\n  ), '[]'::jsonb),\n  'recent_events', COALESCE((\n    SELECT jsonb_agg(to_jsonb(e))\n    FROM (\n      SELECT event_type, entity_type, entity_id, created_at\n      FROM workflow_events\n      ORDER BY created_at DESC\n      LIMIT 20\n    ) e\n  ), '[]'::jsonb)\n) AS dashboard;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Read Dashboard From Postgres", "id": "4a1de908-cb73-4c7a-90be-4264c1f42dc4", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Dashboard", "id": "898ec78b-a0e9-4cdd-81de-8bc18ece9a26", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.dashboard}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Dashboard SQL": {"main": [[{"node": "Read Dashboard From Postgres", "type": "main", "index": 0}]]}, "Dashboard Summary Webhook": {"main": [[{"node": "Build Dashboard SQL", "type": "main", "index": 0}]]}, "Read Dashboard From Postgres": {"main": [[{"node": "Respond Dashboard", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}