docs/tradie-import/TRADIE-TOOL-Quintino-Skills-Audit--g8m4Ydx442y5vG61.json
{"name": "TRADIE-TOOL-Quintino-Skills-Audit", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "When Quintino Audit Tool Is Called", "id": "05b7af14-8a74-4894-b648-2a13343f3b5c", "type": "n8n-nodes-base.executeWorkflowTrigger", "parameters": {"inputSource": "passthrough"}, "typeVersion": 1.1}, {"position": [260, 0], "name": "Normalise Audit Tool Input", "id": "dff43211-6aea-4384-99e4-6f86007353a4", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nreturn [{ json: { scope: raw.scope || raw.query || 'all_agents' } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Call Quintino Audit Endpoint", "id": "834c71ce-3f4a-4e37-bc32-67f4ffeb14fb", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/agents/quintino/skills-audit", "options": {"timeout": 30000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}], "connections": {"When Quintino Audit Tool Is Called": {"main": [[{"node": "Normalise Audit Tool Input", "type": "main", "index": 0}]]}, "Normalise Audit Tool Input": {"main": [[{"node": "Call Quintino Audit Endpoint", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}