docs/tradie-import/TRADIE-RENTAL-111-Legislation-Version-Monitor-Manual--3lPbgyhu1J6LJxgu.json
{"name": "TRADIE-RENTAL-111-Legislation-Version-Monitor-Manual", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Legislation Monitor Manual Webhook", "id": "5ac53776-d90d-438d-96f9-d98e84b16dea", "webhookId": "df997805-0ba1-4677-a76b-eff7457c7116", "type": "n8n-nodes-base.webhook", "parameters": {"path": "rental/legislation/monitor/run", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Legislation Monitor SQL", "id": "4ad366ed-a249-40d8-98ac-cd5feee995be", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nfunction bool(value) {\n  return value === true || String(value).toLowerCase() === 'true' || String(value).toLowerCase() === 'yes';\n}\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nconst now = new Date();\nconst runId = first(body.run_id, `LEG-MON-${now.getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`);\nconst dryRun = bool(first(body.dry_run, false));\nconst notifyUpcomingDays = Math.max(1, Math.min(180, Number(first(body.notify_upcoming_days, 60)) || 60));\nconst requestedBy = first(body.requested_by, 'connie_compliance');\n\nconst pendingChanges = Array.isArray(body.pending_changes) ? body.pending_changes : [];\nconst pendingRows = pendingChanges.map((change, index) => `(\n  ${sql(first(change.change_key, `LEG-CHANGE-${runId}-${index + 1}`))},\n  ${sql(first(change.jurisdiction, 'AU'))},\n  ${sql(first(change.source_table, 'compliance_requirement_catalogue'))},\n  ${sql(first(change.source_key, change.requirement_key, change.guarantee_key))},\n  ${sql(first(change.target_table, change.source_table, 'compliance_requirement_catalogue'))},\n  ${sql(first(change.target_key, change.requirement_key, change.guarantee_key, change.source_key))},\n  ${sql(first(change.change_type, 'version_update'))},\n  ${sql(first(change.current_version))},\n  ${sql(first(change.new_version, change.legislation_version))},\n  ${sql(first(change.change_title, change.title, 'Legislation version update'))},\n  ${sql(first(change.layman_summary, change.summary, 'A configured legislation or compliance reference has changed.'))},\n  ${sql(first(change.gov_source_url, change.source_url))},\n  ${sql(first(change.effective_from, change.start_date))}::date,\n  ${sql(first(change.effective_to, change.end_date))}::date,\n  ${jsonSql(change)}\n)`).join(',\\n');\n\nconst noPendingRows = `\n  SELECT\n    NULL::text AS change_key,\n    NULL::text AS jurisdiction,\n    NULL::text AS source_table,\n    NULL::text AS source_key,\n    NULL::text AS target_table,\n    NULL::text AS target_key,\n    NULL::text AS change_type,\n    NULL::text AS current_version,\n    NULL::text AS new_version,\n    NULL::text AS change_title,\n    NULL::text AS layman_summary,\n    NULL::text AS gov_source_url,\n    NULL::date AS effective_from,\n    NULL::date AS effective_to,\n    NULL::jsonb AS payload\n  WHERE false`;\n\nconst query = `\nCREATE TABLE IF NOT EXISTS legislation_version_checks (\n  id uuid primary key default gen_random_uuid(),\n  run_id text not null,\n  source_table text not null,\n  source_key text not null,\n  jurisdiction text not null default 'AU',\n  source_url text,\n  observed_version text,\n  verified_at timestamptz not null default now(),\n  check_status text not null default 'checked_configured_version',\n  next_review_due date,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS legislation_version_change_schedule (\n  id uuid primary key default gen_random_uuid(),\n  change_key text not null unique,\n  jurisdiction text not null default 'AU',\n  source_table text not null,\n  source_key text,\n  target_table text not null,\n  target_key text,\n  change_type text not null default 'version_update',\n  current_version text,\n  new_version text,\n  change_title text not null,\n  layman_summary text not null,\n  gov_source_url text not null,\n  effective_from date,\n  effective_to date,\n  scheduled_apply_at timestamptz,\n  applied_at timestamptz,\n  status text not null default 'scheduled',\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  updated_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS legislation_change_notifications (\n  id uuid primary key default gen_random_uuid(),\n  change_id uuid references legislation_version_change_schedule(id),\n  notification_stage text not null,\n  recipient_role text not null,\n  recipient_email text not null,\n  recipient_name text,\n  property_id text,\n  subject text not null,\n  message text not null,\n  status text not null default 'pending',\n  sent_at timestamptz,\n  payload jsonb not null default '{}'::jsonb,\n  created_at timestamptz not null default now(),\n  unique(change_id, notification_stage, recipient_email)\n);\n\nCREATE INDEX IF NOT EXISTS idx_legislation_version_checks_run ON legislation_version_checks(run_id, created_at desc);\nCREATE INDEX IF NOT EXISTS idx_legislation_change_schedule_due ON legislation_version_change_schedule(status, effective_from, jurisdiction);\nCREATE INDEX IF NOT EXISTS idx_legislation_change_notifications_pending ON legislation_change_notifications(status, notification_stage, recipient_email);\n\nWITH input_changes AS (\n  ${pendingRows ? `SELECT * FROM (VALUES ${pendingRows}) AS v(change_key, jurisdiction, source_table, source_key, target_table, target_key, change_type, current_version, new_version, change_title, layman_summary, gov_source_url, effective_from, effective_to, payload)` : noPendingRows}\n),\ninsert_input_changes AS (\n  INSERT INTO legislation_version_change_schedule (\n    change_key, jurisdiction, source_table, source_key, target_table, target_key,\n    change_type, current_version, new_version, change_title, layman_summary,\n    gov_source_url, effective_from, effective_to, scheduled_apply_at, status, payload, updated_at\n  )\n  SELECT\n    change_key,\n    jurisdiction,\n    source_table,\n    source_key,\n    target_table,\n    target_key,\n    change_type,\n    current_version,\n    new_version,\n    change_title,\n    layman_summary,\n    gov_source_url,\n    effective_from,\n    effective_to,\n    CASE WHEN effective_from IS NULL THEN NULL ELSE effective_from::timestamptz END,\n    CASE WHEN effective_from IS NOT NULL AND effective_from <= current_date THEN 'scheduled' ELSE 'scheduled' END,\n    payload,\n    now()\n  FROM input_changes\n  WHERE change_key IS NOT NULL AND gov_source_url IS NOT NULL\n  ON CONFLICT (change_key) DO UPDATE SET\n    jurisdiction = EXCLUDED.jurisdiction,\n    source_table = EXCLUDED.source_table,\n    source_key = EXCLUDED.source_key,\n    target_table = EXCLUDED.target_table,\n    target_key = EXCLUDED.target_key,\n    current_version = EXCLUDED.current_version,\n    new_version = EXCLUDED.new_version,\n    change_title = EXCLUDED.change_title,\n    layman_summary = EXCLUDED.layman_summary,\n    gov_source_url = EXCLUDED.gov_source_url,\n    effective_from = EXCLUDED.effective_from,\n    effective_to = EXCLUDED.effective_to,\n    scheduled_apply_at = EXCLUDED.scheduled_apply_at,\n    payload = EXCLUDED.payload,\n    updated_at = now()\n  RETURNING *\n),\nconfigured_sources AS (\n  SELECT 'compliance_legislation_sources'::text AS source_table, source_key, jurisdiction, source_url, legislation_version AS observed_version, verified_at\n  FROM compliance_legislation_sources\n  UNION ALL\n  SELECT 'consumer_guarantee_references'::text AS source_table, guarantee_key AS source_key, jurisdiction, source_url, legislation_version AS observed_version, verified_at\n  FROM consumer_guarantee_references\n),\ninsert_checks AS (\n  INSERT INTO legislation_version_checks (\n    run_id, source_table, source_key, jurisdiction, source_url, observed_version,\n    check_status, next_review_due, payload\n  )\n  SELECT\n    ${sql(runId)},\n    source_table,\n    source_key,\n    jurisdiction,\n    source_url,\n    observed_version,\n    CASE\n      WHEN verified_at < now() - interval '30 days' THEN 'review_due_official_source'\n      ELSE 'checked_configured_version'\n    END,\n    (current_date + interval '30 days')::date,\n    jsonb_build_object('official_source_url', source_url, 'dry_run', ${dryRun ? 'true' : 'false'})\n  FROM configured_sources\n  RETURNING *\n),\ndue_changes AS (\n  UPDATE legislation_version_change_schedule\n  SET status = CASE WHEN ${dryRun ? 'true' : 'false'} THEN 'scheduled' ELSE 'applied' END,\n      applied_at = CASE WHEN ${dryRun ? 'true' : 'false'} THEN applied_at ELSE now() END,\n      updated_at = now()\n  WHERE status IN ('scheduled','approved')\n    AND effective_from IS NOT NULL\n    AND effective_from <= current_date\n  RETURNING *\n),\napply_compliance_requirements AS (\n  UPDATE compliance_requirement_catalogue crc\n  SET legislation_version = dc.new_version,\n      legislation_reference = COALESCE(dc.payload->>'legislation_reference', crc.legislation_reference),\n      requirement_summary = COALESCE(dc.payload->>'requirement_summary', crc.requirement_summary),\n      effective_from = COALESCE(dc.effective_from, crc.effective_from),\n      effective_to = dc.effective_to,\n      verified_at = now(),\n      payload = crc.payload || jsonb_build_object(\n        'last_legislation_change_key', dc.change_key,\n        'last_legislation_change_summary', dc.layman_summary,\n        'gov_source_url', dc.gov_source_url,\n        'updated_by_workflow', 'TRADIE-RENTAL-111-Legislation-Version-Monitor'\n      ),\n      updated_at = now()\n  FROM due_changes dc\n  WHERE ${dryRun ? 'false' : 'true'}\n    AND dc.target_table = 'compliance_requirement_catalogue'\n    AND crc.requirement_key = dc.target_key\n  RETURNING crc.*\n),\napply_consumer_guarantees AS (\n  UPDATE consumer_guarantee_references cgr\n  SET legislation_version = dc.new_version,\n      summary = COALESCE(dc.payload->>'summary', cgr.summary),\n      operational_rule = COALESCE(dc.payload->>'operational_rule', cgr.operational_rule),\n      effective_from = COALESCE(dc.effective_from, cgr.effective_from),\n      effective_to = dc.effective_to,\n      verified_at = now(),\n      payload = cgr.payload || jsonb_build_object(\n        'last_legislation_change_key', dc.change_key,\n        'last_legislation_change_summary', dc.layman_summary,\n        'gov_source_url', dc.gov_source_url,\n        'updated_by_workflow', 'TRADIE-RENTAL-111-Legislation-Version-Monitor'\n      ),\n      updated_at = now()\n  FROM due_changes dc\n  WHERE ${dryRun ? 'false' : 'true'}\n    AND dc.target_table = 'consumer_guarantee_references'\n    AND cgr.guarantee_key = dc.target_key\n  RETURNING cgr.*\n),\nevents_to_notify AS (\n  SELECT\n    dc.*,\n    'effective_now'::text AS notification_stage\n  FROM due_changes dc\n  UNION ALL\n  SELECT\n    s.*,\n    'upcoming_change'::text AS notification_stage\n  FROM legislation_version_change_schedule s\n  WHERE s.status IN ('scheduled','approved')\n    AND s.effective_from > current_date\n    AND s.effective_from <= current_date + (${notifyUpcomingDays} || ' days')::interval\n),\nimpacted_properties AS (\n  SELECT DISTINCT rp.id AS property_id, rp.state, rp.property_manager_id, rp.landlord_id\n  FROM rental_properties rp\n  JOIN events_to_notify e ON e.jurisdiction IN ('AU','NATIONAL') OR upper(e.jurisdiction) = upper(rp.state)\n  WHERE rp.active = true\n),\naudience AS (\n  SELECT ip.property_id, 'property_manager'::text AS recipient_role, pm.email AS recipient_email, pm.name AS recipient_name\n  FROM impacted_properties ip\n  JOIN property_managers pm ON pm.id = ip.property_manager_id\n  WHERE pm.email IS NOT NULL\n  UNION\n  SELECT ip.property_id, 'landlord'::text AS recipient_role, ll.email AS recipient_email, ll.name AS recipient_name\n  FROM impacted_properties ip\n  JOIN landlords ll ON ll.id = ip.landlord_id\n  WHERE ll.email IS NOT NULL\n  UNION\n  SELECT ip.property_id, 'tenant'::text AS recipient_role, t.email AS recipient_email, t.name AS recipient_name\n  FROM impacted_properties ip\n  JOIN tenancies tn ON tn.property_id = ip.property_id AND tn.status = 'active'\n  JOIN tenants t ON t.id = tn.tenant_id\n  WHERE t.email IS NOT NULL\n),\ninsert_notifications AS (\n  INSERT INTO legislation_change_notifications (\n    change_id, notification_stage, recipient_role, recipient_email, recipient_name,\n    property_id, subject, message, status, payload\n  )\n  SELECT\n    e.id,\n    e.notification_stage,\n    a.recipient_role,\n    a.recipient_email,\n    a.recipient_name,\n    a.property_id,\n    CASE\n      WHEN e.notification_stage = 'effective_now' THEN '1pacent update: rental compliance rule now in effect'\n      ELSE '1pacent heads-up: rental compliance rule changing soon'\n    END,\n    concat(\n      'Hi ', COALESCE(a.recipient_name, 'there'), E',\\n\\n',\n      CASE\n        WHEN e.notification_stage = 'effective_now' THEN 'A rental compliance or consumer-rights reference used by 1pacent has now changed.'\n        ELSE 'A rental compliance or consumer-rights reference used by 1pacent is scheduled to change soon.'\n      END,\n      E'\\n\\nWhat changed: ', e.change_title,\n      E'\\n\\nPlain-English summary: ', e.layman_summary,\n      E'\\n\\nEffective date: ', COALESCE(e.effective_from::text, 'To be confirmed'),\n      E'\\nOfficial source: ', e.gov_source_url,\n      E'\\n\\nWhat this means: 1pacent will use the updated version for future compliance checks, reminders, work orders, approval rules and customer/tradie guidance from the effective date.',\n      E'\\n\\nThis is an operational update, not legal advice. For legal advice, please speak to a qualified professional.',\n      E'\\n\\n- 1pacent'\n    ),\n    CASE WHEN ${dryRun ? 'true' : 'false'} THEN 'dry_run' ELSE 'pending' END,\n    jsonb_build_object(\n      'run_id', ${sql(runId)},\n      'requested_by', ${sql(requestedBy)},\n      'source_table', e.source_table,\n      'source_key', e.source_key,\n      'target_table', e.target_table,\n      'target_key', e.target_key,\n      'new_version', e.new_version,\n      'dry_run', ${dryRun ? 'true' : 'false'}\n    )\n  FROM events_to_notify e\n  JOIN audience a ON true\n  ON CONFLICT (change_id, notification_stage, recipient_email) DO UPDATE SET\n    subject = EXCLUDED.subject,\n    message = EXCLUDED.message,\n    payload = EXCLUDED.payload\n  RETURNING *\n),\ninsert_internal_summary AS (\n  INSERT INTO legislation_change_notifications (\n    change_id, notification_stage, recipient_role, recipient_email, recipient_name,\n    property_id, subject, message, status, payload\n  )\n  SELECT\n    e.id,\n    e.notification_stage || '_internal',\n    'internal',\n    'mac@1pacent.com',\n    '1pacent Admin',\n    NULL,\n    '1pacent legislation monitor summary',\n    concat(\n      'Legislation monitor run: ', ${sql(runId)}, E'\\n',\n      'Stage: ', e.notification_stage, E'\\n',\n      'Change: ', e.change_title, E'\\n',\n      'Jurisdiction: ', e.jurisdiction, E'\\n',\n      'Effective date: ', COALESCE(e.effective_from::text, 'To be confirmed'), E'\\n',\n      'New version: ', COALESCE(e.new_version, 'Not supplied'), E'\\n',\n      'Official source: ', e.gov_source_url, E'\\n\\n',\n      e.layman_summary\n    ),\n    CASE WHEN ${dryRun ? 'true' : 'false'} THEN 'dry_run' ELSE 'pending' END,\n    jsonb_build_object('run_id', ${sql(runId)}, 'dry_run', ${dryRun ? 'true' : 'false'})\n  FROM events_to_notify e\n  ON CONFLICT (change_id, notification_stage, recipient_email) DO UPDATE SET\n    subject = EXCLUDED.subject,\n    message = EXCLUDED.message,\n    payload = EXCLUDED.payload\n  RETURNING *\n),\nall_notifications AS (\n  SELECT * FROM insert_notifications\n  UNION ALL\n  SELECT * FROM insert_internal_summary\n),\ninsert_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  VALUES (\n    'legislation_monitor',\n    ${sql(runId)},\n    'monthly_legislation_version_monitor_completed',\n    jsonb_build_object(\n      'dry_run', ${dryRun ? 'true' : 'false'},\n      'checks_inserted', (SELECT count(*) FROM insert_checks),\n      'pending_changes_inserted', (SELECT count(*) FROM insert_input_changes),\n      'due_changes_applied', (SELECT count(*) FROM due_changes),\n      'notifications_created', (SELECT count(*) FROM all_notifications)\n    )\n  )\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'run_id', ${sql(runId)},\n  'dry_run', ${dryRun ? 'true' : 'false'},\n  'checks_inserted', (SELECT count(*) FROM insert_checks),\n  'pending_changes_inserted', (SELECT count(*) FROM insert_input_changes),\n  'due_changes_applied', (SELECT count(*) FROM due_changes),\n  'upcoming_changes_found', (SELECT count(*) FROM events_to_notify WHERE notification_stage = 'upcoming_change'),\n  'notifications_created', (SELECT count(*) FROM all_notifications),\n  'notifications', COALESCE((SELECT jsonb_agg(jsonb_build_object(\n    'notification_id', id,\n    'stage', notification_stage,\n    'to', recipient_email,\n    'role', recipient_role,\n    'subject', subject,\n    'message', message,\n    'status', status\n  ) ORDER BY created_at DESC) FROM all_notifications), '[]'::jsonb)\n) AS legislation_monitor_result;\n`;\n\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Run Legislation Monitor", "id": "a4470d59-6099-442d-a8ae-4f81bfbb8519", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Prepare Legislation Emails", "id": "1845f61e-fafa-47f4-9290-f4325245e097", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const row = items[0]?.json?.legislation_monitor_result ?? items[0]?.json ?? {};\nconst notifications = Array.isArray(row.notifications) ? row.notifications : [];\nconst emailItems = notifications\n  .filter(n => n.to && n.message && n.status === 'pending')\n  .map(n => ({\n    json: {\n      run_id: row.run_id,\n      notification_id: n.notification_id,\n      to: n.to,\n      subject: n.subject,\n      message: n.message,\n      role: n.role,\n      stage: n.stage,\n      monitor_result: row,\n    }\n  }));\n\nif (emailItems.length) return emailItems;\n\nreturn [{\n  json: {\n    run_id: row.run_id,\n    to: 'mac@1pacent.com',\n    subject: '1pacent legislation monitor ran with no outbound recipient emails',\n    message: `Legislation monitor run ${row.run_id || ''} completed.\\n\\nChecks inserted: ${row.checks_inserted || 0}\\nPending changes inserted: ${row.pending_changes_inserted || 0}\\nDue changes applied: ${row.due_changes_applied || 0}\\nUpcoming changes found: ${row.upcoming_changes_found || 0}\\nNotifications created: ${row.notifications_created || 0}\\nDry run: ${row.dry_run ? 'yes' : 'no'}`,\n    monitor_result: row,\n  }\n}];"}, "typeVersion": 2}, {"id": "074b823b-f192-449e-b833-bdaff41868c5", "name": "Email Legislation Update", "type": "n8n-nodes-base.gmail", "continueOnFail": true, "typeVersion": 2.2, "parameters": {"subject": "={{$json.subject}}", "sendTo": "={{$json.to}}", "emailType": "text", "options": {}, "message": "={{$json.message}}"}, "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "position": [1040, 0], "webhookId": "4713d8af-a7b8-4e6f-b05c-d33dc8b84b03"}, {"position": [1300, 0], "name": "Build Legislation Email Log SQL", "id": "432e79ad-40e1-4f83-a707-9243b335c796", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "let rows = [];\ntry {\n  rows = $items(\"Prepare Legislation Emails\").map(item => item.json ?? {});\n} catch (error) {\n  rows = items.map(item => item.json ?? {});\n}\nconst ids = rows.map(r => r.notification_id).filter(Boolean);\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nconst query = `\nWITH updated AS (\n  UPDATE legislation_change_notifications\n  SET status = 'sent',\n      sent_at = now()\n  WHERE id IN (${ids.length ? ids.map(sql).join(',') : 'NULL'} )\n  RETURNING *\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'emails_sent_or_attempted', ${rows.length},\n  'notifications_marked_sent', (SELECT count(*) FROM updated),\n  'run_id', ${sql(rows[0]?.run_id)}\n) AS legislation_email_result;\n`;\nreturn [{ json: { sql: query, monitor_result: rows[0]?.monitor_result ?? {} } }];"}, "typeVersion": 2}, {"position": [1560, 0], "name": "Log Legislation Emails", "id": "074495fe-d054-431f-afab-a752ef04a111", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [1820, 0], "name": "Respond Legislation Monitor", "id": "e976eeea-2a54-4435-924e-208d96e8e705", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.legislation_email_result || $json.monitor_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Run Legislation Monitor": {"main": [[{"node": "Prepare Legislation Emails", "type": "main", "index": 0}]]}, "Build Legislation Email Log SQL": {"main": [[{"node": "Log Legislation Emails", "type": "main", "index": 0}]]}, "Build Legislation Monitor SQL": {"main": [[{"node": "Run Legislation Monitor", "type": "main", "index": 0}]]}, "Email Legislation Update": {"main": [[{"node": "Build Legislation Email Log SQL", "type": "main", "index": 0}]]}, "Log Legislation Emails": {"main": [[{"node": "Respond Legislation Monitor", "type": "main", "index": 0}]]}, "Legislation Monitor Manual Webhook": {"main": [[{"node": "Build Legislation Monitor SQL", "type": "main", "index": 0}]]}, "Prepare Legislation Emails": {"main": [[{"node": "Email Legislation Update", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}