docs/tradie-import/TRADIE-JOBS-046-Capture-Job-Actuals-Learning-Loop--0bIeMnoNSngO0UA3.json
{"name": "TRADIE-JOBS-046-Capture-Job-Actuals-Learning-Loop", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Job Actuals Capture Webhook", "id": "a88781f1-fcfa-49de-91fc-13afd0613fce", "webhookId": "b07bd74a-6303-4acb-82cf-6342e5e348ae", "type": "n8n-nodes-base.webhook", "parameters": {"path": "jobs/actuals/capture", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Actuals SQL", "id": "00c8ec8c-89ba-4030-be84-558002085823", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    if (Array.isArray(value) && value.length === 0) continue;\n    return value;\n  }\n  return '';\n}\n\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nfunction num(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\n  return Number.isFinite(n) ? String(n) : 'NULL';\n}\n\nfunction minutes(value, fallbackHours) {\n  const n = Number(String(value ?? '').replace(/[^0-9.\\-]/g, ''));\n  if (Number.isFinite(n)) return Math.round(n);\n  const h = Number(String(fallbackHours ?? '').replace(/[^0-9.\\-]/g, ''));\n  return Number.isFinite(h) ? Math.round(h * 60) : null;\n}\n\nfunction normaliseMaterials(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value);\n      if (Array.isArray(parsed)) return parsed;\n    } catch {}\n    return value.split(/\\n|,/).map((line) => {\n      const text = line.trim();\n      if (!text) return null;\n      const match = text.match(/^(\\d+(?:\\.\\d+)?)\\s*x?\\s+(.+)$/i);\n      return {\n        description: match ? match[2].trim() : text,\n        quantity: match ? Number(match[1]) : 1,\n      };\n    }).filter(Boolean);\n  }\n  return [];\n}\n\nconst jobId = first(body.job_id);\nconst leadId = first(body.lead_id);\nconst quoteId = first(body.quote_id);\nconst scheduleSlotId = first(body.schedule_slot_id);\nconst tradieId = first(body.tradie_id);\nconst actualDurationMinutes = minutes(first(body.actual_duration_minutes, body.labour_minutes), body.labour_hours);\nconst actualTravelMinutes = minutes(first(body.actual_travel_minutes, body.travel_minutes), body.travel_hours);\nconst finalInvoiceAmount = first(body.final_invoice_amount, body.final_amount, body.invoice_amount);\nconst confirmedQuote = first(body.confirmed_quote, body.confirmed_quote_amount, body.quote_amount);\nconst initialEstimate = first(body.initial_estimate, body.estimated_price_band);\nconst estimatedLabourHours = first(body.estimated_labour_hours);\nconst actualLabourHours = actualDurationMinutes === null ? first(body.actual_labour_hours, body.labour_hours) : (actualDurationMinutes / 60).toFixed(2);\nconst estimatedMaterialsCost = first(body.estimated_materials_cost);\nconst actualMaterialsCost = first(body.actual_materials_cost, body.materials_cost);\nconst varianceReason = first(body.variance_reason, body.completion_notes, body.tradie_notes);\nconst completionNotes = first(body.completion_notes, body.tradie_notes, body.notes);\nconst customerNotes = first(body.customer_notes);\nconst materials = normaliseMaterials(first(body.materials, body.parts, body.parts_used));\n\nconst missing = [];\nif (!jobId && !leadId && !quoteId) missing.push('job_id_or_lead_id_or_quote_id');\nif (actualDurationMinutes === null) missing.push('actual_duration_minutes');\nif (actualTravelMinutes === null) missing.push('actual_travel_minutes');\nif (!finalInvoiceAmount) missing.push('final_invoice_amount');\nif (!varianceReason) missing.push('variance_reason');\n\nconst estimateNumber = Number(String(initialEstimate || '').match(/\\d+(?:\\.\\d+)?/)?.[0] || NaN);\nconst quoteNumber = Number(String(confirmedQuote || '').replace(/[^0-9.]/g, ''));\nconst invoiceNumber = Number(String(finalInvoiceAmount || '').replace(/[^0-9.]/g, ''));\nconst quoteVariance = Number.isFinite(quoteNumber) && Number.isFinite(invoiceNumber) ? invoiceNumber - quoteNumber : null;\nconst quoteVariancePercent = Number.isFinite(quoteNumber) && quoteNumber !== 0 && quoteVariance !== null ? (quoteVariance / quoteNumber) * 100 : null;\nconst estimateVariance = Number.isFinite(estimateNumber) && Number.isFinite(invoiceNumber) ? invoiceNumber - estimateNumber : null;\nconst accuracyScore = quoteVariancePercent === null ? null : Math.max(0, Math.min(100, 100 - Math.abs(quoteVariancePercent)));\n\nconst materialSql = materials.map((material) => {\n  const description = first(material.description, material.name, material.item, 'Material');\n  const quantity = Number(first(material.quantity, material.qty, 1));\n  const unitCost = first(material.unit_cost, material.unitCost);\n  const totalCost = first(material.total_cost, material.totalCost, Number.isFinite(quantity) && unitCost ? Number(unitCost) * quantity : '');\n  return `\nINSERT INTO inventory_items (sku, name, category, quantity_on_hand, reorder_level, unit_cost)\nVALUES (${sql(material.sku)}, ${sql(description)}, ${sql(material.category || 'job_material')}, 0, 0, ${num(unitCost)})\nON CONFLICT (sku) DO UPDATE SET name = EXCLUDED.name, category = EXCLUDED.category, unit_cost = COALESCE(EXCLUDED.unit_cost, inventory_items.unit_cost), updated_at = now();\n\nWITH item AS (\n  SELECT id FROM inventory_items\n  WHERE (${sql(material.sku)} IS NOT NULL AND sku = ${sql(material.sku)})\n     OR lower(name) = lower(${sql(description)})\n  ORDER BY updated_at DESC\n  LIMIT 1\n),\nupdate_inventory AS (\n  UPDATE inventory_items\n  SET quantity_on_hand = quantity_on_hand - ${Number.isFinite(quantity) ? quantity : 1}, updated_at = now()\n  WHERE id = (SELECT id FROM item)\n)\nINSERT INTO job_materials (job_id, inventory_item_id, description, quantity, unit_cost, total_cost)\nVALUES (${sql(jobId)}, (SELECT id FROM item), ${sql(description)}, ${Number.isFinite(quantity) ? quantity : 1}, ${num(unitCost)}, ${num(totalCost)});\n`;\n}).join('\\n');\n\nconst query = `\nCREATE TABLE IF NOT EXISTS job_actuals (\n  id uuid primary key default gen_random_uuid(),\n  job_id text,\n  lead_id text references leads(id),\n  quote_id text references quotes(id),\n  tradie_id text references tradies(id),\n  actual_start timestamptz,\n  actual_end timestamptz,\n  actual_duration_minutes integer,\n  actual_travel_minutes integer,\n  late_minutes integer,\n  completion_notes text,\n  created_at timestamptz not null default now()\n);\n\nCREATE TABLE IF NOT EXISTS quote_accuracy_metrics (\n  id uuid primary key default gen_random_uuid(),\n  lead_id text references leads(id),\n  quote_id text,\n  trade_type text,\n  initial_estimate text,\n  confirmed_quote text,\n  revised_quote text,\n  final_invoice text,\n  estimated_labour_hours numeric,\n  actual_labour_hours numeric,\n  estimated_materials_cost numeric,\n  actual_materials_cost numeric,\n  variance_reason text,\n  accuracy_score numeric,\n  created_at timestamptz not null default now()\n);\n\nWITH resolved AS (\n  SELECT\n    COALESCE(${sql(jobId)}, j.id, 'JOB-' || to_char(now(), 'YYYY-HH24MISS')) AS job_id,\n    COALESCE(${sql(leadId)}, j.lead_id, q.lead_id) AS lead_id,\n    q.id AS quote_id,\n    COALESCE(${sql(tradieId)}, ss.tradie_id) AS tradie_id,\n    COALESCE(l.trade_type, ${sql(body.trade_type)}) AS trade_type,\n    ss.estimated_duration_minutes,\n    ss.estimated_travel_minutes,\n    q.current_amount,\n    q.original_amount,\n    j.customer_id\n  FROM (SELECT 1) seed\n  LEFT JOIN jobs j ON (${sql(jobId)} IS NOT NULL AND j.id = ${sql(jobId)}) OR (${sql(leadId)} IS NOT NULL AND j.lead_id = ${sql(leadId)}) OR (${sql(quoteId)} IS NOT NULL AND j.quote_id = ${sql(quoteId)})\n  LEFT JOIN quotes q ON q.id = COALESCE(j.quote_id, ${sql(quoteId)}) OR q.id = (SELECT quote_id FROM quote_versions WHERE id = ${sql(quoteId)} LIMIT 1)\n  LEFT JOIN leads l ON l.id = COALESCE(${sql(leadId)}, j.lead_id, q.lead_id)\n  LEFT JOIN job_schedule_slots ss ON (${sql(scheduleSlotId)} IS NOT NULL AND ss.id = ${sql(scheduleSlotId)}) OR ss.job_id = j.id OR ss.lead_id = l.id\n  ORDER BY j.updated_at DESC NULLS LAST, ss.updated_at DESC NULLS LAST\n  LIMIT 1\n),\nupsert_job AS (\n  INSERT INTO jobs (id, lead_id, quote_id, customer_id, status, completed_at, updated_at)\n  SELECT job_id, lead_id, quote_id, customer_id, 'Job Complete - Actuals Captured', now(), now()\n  FROM resolved\n  ON CONFLICT (id) DO UPDATE SET\n    lead_id = COALESCE(EXCLUDED.lead_id, jobs.lead_id),\n    quote_id = COALESCE(EXCLUDED.quote_id, jobs.quote_id),\n    customer_id = COALESCE(EXCLUDED.customer_id, jobs.customer_id),\n    status = 'Job Complete - Actuals Captured',\n    completed_at = COALESCE(jobs.completed_at, now()),\n    updated_at = now()\n  RETURNING id, lead_id, quote_id, customer_id\n),\ninsert_actual AS (\n  INSERT INTO job_actuals (\n    job_id, lead_id, quote_id, tradie_id, actual_start, actual_end,\n    actual_duration_minutes, actual_travel_minutes, late_minutes, completion_notes\n  )\n  SELECT\n    job_id,\n    lead_id,\n    quote_id,\n    tradie_id,\n    ${sql(body.actual_start)},\n    ${sql(body.actual_end)},\n    ${actualDurationMinutes === null ? 'NULL' : actualDurationMinutes},\n    ${actualTravelMinutes === null ? 'NULL' : actualTravelMinutes},\n    ${num(body.late_minutes)},\n    ${sql(completionNotes)}\n  FROM resolved\n  RETURNING id\n),\ninsert_quote_accuracy AS (\n  INSERT INTO quote_accuracy_metrics (\n    lead_id, quote_id, trade_type, initial_estimate, confirmed_quote, revised_quote, final_invoice,\n    estimated_labour_hours, actual_labour_hours, estimated_materials_cost, actual_materials_cost,\n    variance_reason, accuracy_score\n  )\n  SELECT\n    lead_id,\n    quote_id,\n    trade_type,\n    COALESCE(${sql(initialEstimate)}, original_amount),\n    COALESCE(${sql(confirmedQuote)}, current_amount),\n    ${sql(body.revised_quote)},\n    ${sql(finalInvoiceAmount)},\n    COALESCE(${num(estimatedLabourHours)}, estimated_duration_minutes / 60.0),\n    ${num(actualLabourHours)},\n    ${num(estimatedMaterialsCost)},\n    ${num(actualMaterialsCost)},\n    ${sql(varianceReason)},\n    ${accuracyScore === null ? 'NULL' : accuracyScore.toFixed(2)}\n  FROM resolved\n  RETURNING id\n),\nupdate_schedule AS (\n  UPDATE job_schedule_slots\n  SET status = 'completed_actuals_captured', updated_at = now()\n  WHERE (${sql(scheduleSlotId)} IS NOT NULL AND id = ${sql(scheduleSlotId)})\n     OR job_id = (SELECT job_id FROM resolved)\n  RETURNING id\n),\ninsert_workflow_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  SELECT 'job', job_id, 'job_actuals_captured', ${jsonSql({\n    ...body,\n    missing_information: missing,\n    quote_variance: quoteVariance,\n    quote_variance_percent: quoteVariancePercent,\n    estimate_variance: estimateVariance,\n    accuracy_score: accuracyScore,\n    material_count: materials.length,\n  })}\n  FROM resolved\n),\ninsert_agent_memory AS (\n  INSERT INTO agent_memory (agent_key, agent_name, lead_id, job_id, memory_type, summary, payload)\n  SELECT\n    'george_foreman',\n    'George Foreman',\n    lead_id,\n    job_id,\n    'job_actuals_feedback',\n    ${sql(`Actuals captured. Duration ${actualDurationMinutes ?? 'unknown'} minutes, travel ${actualTravelMinutes ?? 'unknown'} minutes, final invoice ${finalInvoiceAmount || 'unknown'}.`)},\n    ${jsonSql({ ...body, quote_variance: quoteVariance, quote_variance_percent: quoteVariancePercent, accuracy_score: accuracyScore })}\n  FROM resolved\n),\ninsert_knowledge AS (\n  INSERT INTO agent_knowledge_items (\n    agent_key, collection_key, source_type, source_id, title, content, tags, trade_type,\n    entity_type, entity_id, confidence, usefulness_score, payload\n  )\n  SELECT\n    'quintino',\n    'skills_intelligence',\n    'job_actuals',\n    job_id,\n    'Job actuals captured for learning',\n    ${sql(`Captured job actuals for future quote and schedule learning. Variance reason: ${varianceReason || 'not provided'}.`)},\n    ARRAY['job_actuals','quote_accuracy','scheduling_feedback','moat'],\n    trade_type,\n    'job',\n    job_id,\n    0.85,\n    CASE WHEN ${quoteVariancePercent === null ? 'NULL' : Math.abs(quoteVariancePercent).toFixed(2)} IS NULL THEN 5 ELSE LEAST(10, GREATEST(5, ${quoteVariancePercent === null ? '0' : Math.abs(quoteVariancePercent).toFixed(2)} / 5)) END,\n    ${jsonSql({ ...body, quote_variance: quoteVariance, quote_variance_percent: quoteVariancePercent, accuracy_score: accuracyScore })}\n  FROM resolved\n)\nSELECT jsonb_build_object(\n  'success', ${missing.length ? 'false' : 'true'},\n  'status', CASE WHEN ${missing.length ? 'true' : 'false'} THEN 'actuals_captured_with_missing_information' ELSE 'actuals_captured' END,\n  'job_id', (SELECT job_id FROM resolved),\n  'lead_id', (SELECT lead_id FROM resolved),\n  'quote_id', (SELECT quote_id FROM resolved),\n  'actual_duration_minutes', ${actualDurationMinutes === null ? 'NULL' : actualDurationMinutes},\n  'actual_travel_minutes', ${actualTravelMinutes === null ? 'NULL' : actualTravelMinutes},\n  'final_invoice_amount', ${sql(finalInvoiceAmount)},\n  'quote_variance', ${quoteVariance === null ? 'NULL' : quoteVariance.toFixed(2)},\n  'quote_variance_percent', ${quoteVariancePercent === null ? 'NULL' : quoteVariancePercent.toFixed(2)},\n  'accuracy_score', ${accuracyScore === null ? 'NULL' : accuracyScore.toFixed(2)},\n  'material_count', ${materials.length},\n  'missing_information', ${jsonSql(missing)},\n  'learning_events_created', true,\n  'next_action', 'Quintino audit triggered to assess skill and workflow improvements.'\n) AS actuals_capture_result;\n\n${materialSql}\n`;\n\nreturn [{ json: { sql: query, missing_information: missing } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Actuals And Learning Data", "id": "1716170b-deec-4056-be03-15dc6a1e99be", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Prepare Quintino Audit Trigger", "id": "37c425a3-a418-4203-ac92-a88f1a53eaf0", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const result = items[0]?.json?.actuals_capture_result || items[0]?.json || {};\nreturn [{\n  json: {\n    scope: 'job_actuals_learning_loop',\n    trigger: 'job_actuals_captured',\n    job_id: result.job_id || '',\n    lead_id: result.lead_id || '',\n    quote_id: result.quote_id || '',\n  },\n}];"}, "typeVersion": 2}, {"position": [1040, 0], "name": "Trigger Quintino Audit", "id": "08e572e9-e1ee-47bf-86bb-658af0960791", "type": "n8n-nodes-base.httpRequest", "parameters": {"url": "http://localhost:5678/webhook/agents/quintino/skills-audit", "options": {"timeout": 30000}, "method": "POST", "specifyBody": "json", "sendBody": true, "jsonBody": "={{ JSON.stringify($json) }}", "contentType": "json"}, "typeVersion": 4.2}, {"position": [1300, 0], "name": "Build Actuals Response", "id": "a9ac185d-f37a-42ad-9329-bc4967e63648", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const actuals = $('Save Actuals And Learning Data').first().json?.actuals_capture_result || {};\nconst audit = items[0]?.json || {};\nreturn [{\n  json: {\n    ...actuals,\n    quintino_audit_triggered: true,\n    quintino_audit_status: audit.status || audit.agent || 'triggered',\n    quintino_snapshot_key: audit.snapshot_key || '',\n  },\n}];"}, "typeVersion": 2}, {"position": [1560, 0], "name": "Respond Actuals Captured", "id": "5e99710d-477f-46c3-a0c2-7ef056dc3999", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ JSON.stringify($json) }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Job Actuals Capture Webhook": {"main": [[{"node": "Build Actuals SQL", "type": "main", "index": 0}]]}, "Save Actuals And Learning Data": {"main": [[{"node": "Prepare Quintino Audit Trigger", "type": "main", "index": 0}]]}, "Trigger Quintino Audit": {"main": [[{"node": "Build Actuals Response", "type": "main", "index": 0}]]}, "Build Actuals SQL": {"main": [[{"node": "Save Actuals And Learning Data", "type": "main", "index": 0}]]}, "Prepare Quintino Audit Trigger": {"main": [[{"node": "Trigger Quintino Audit", "type": "main", "index": 0}]]}, "Build Actuals Response": {"main": [[{"node": "Respond Actuals Captured", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}