docs/tradie-import/TRADIE-RENTAL-108-Job-Completion-Evidence-Invoice-Trigger--rAvzM0y4WJ8J6Vv9.json
{"name": "TRADIE-RENTAL-108-Job-Completion-Evidence-Invoice-Trigger", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Rental Job Completion Webhook", "id": "d2361191-d951-4efd-abba-62fb4dc1e987", "webhookId": "3d77a540-21b5-400f-82a3-2721fc2b6ed4", "type": "n8n-nodes-base.webhook", "parameters": {"path": "rental/jobs/complete", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Rental Completion SQL", "id": "3d2abe19-74d6-4b9f-a988-11bcf28a6bd9", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\r\nconst body = raw.body ?? raw;\r\n\r\nfunction first(...values) {\r\n  for (const value of values) {\r\n    if (value === undefined || value === null) continue;\r\n    if (typeof value === 'string' && value.trim() === '') continue;\r\n    if (Array.isArray(value) && value.length === 0) continue;\r\n    return value;\r\n  }\r\n  return '';\r\n}\r\nfunction sql(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  return `'${String(value).replace(/'/g, \"''\")}'`;\r\n}\r\nfunction num(value) {\r\n  if (value === undefined || value === null || value === '') return 'NULL';\r\n  const n = Number(String(value).replace(/[^0-9.\\-]/g, ''));\r\n  return Number.isFinite(n) ? String(n) : 'NULL';\r\n}\r\nfunction jsonSql(value) {\r\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\r\n}\r\nfunction arraySql(value) {\r\n  const arr = Array.isArray(value) ? value : value ? String(value).split(/,|\\n/).map(v => v.trim()).filter(Boolean) : [];\r\n  return `ARRAY[${arr.map(v => sql(v)).join(',')}]::text[]`;\r\n}\r\nfunction minutes(value, fallbackHours) {\r\n  const n = Number(String(value ?? '').replace(/[^0-9.\\-]/g, ''));\r\n  if (Number.isFinite(n)) return Math.round(n);\r\n  const h = Number(String(fallbackHours ?? '').replace(/[^0-9.\\-]/g, ''));\r\n  return Number.isFinite(h) ? Math.round(h * 60) : null;\r\n}\r\nfunction normaliseParts(value) {\r\n  if (Array.isArray(value)) return value;\r\n  if (!value) return [];\r\n  if (typeof value === 'string') {\r\n    try {\r\n      const parsed = JSON.parse(value);\r\n      if (Array.isArray(parsed)) return parsed;\r\n    } catch {}\r\n    return value.split(/\\n|,/).map((line) => {\r\n      const text = line.trim();\r\n      if (!text) return null;\r\n      const match = text.match(/^(\\d+(?:\\.\\d+)?)\\s*x?\\s+(.+)$/i);\r\n      return { description: match ? match[2].trim() : text, quantity: match ? Number(match[1]) : 1 };\r\n    }).filter(Boolean);\r\n  }\r\n  return [];\r\n}\r\n\r\nconst now = new Date();\r\nconst workOrderId = first(body.work_order_id);\r\nconst quoteOptionId = first(body.quote_option_id, body.selected_option_id);\r\nconst scheduleSlotId = first(body.schedule_slot_id);\r\nconst tradieId = first(body.tradie_id);\r\nconst jobId = first(body.job_id, workOrderId ? `JOB-${workOrderId}` : '');\r\nconst invoiceId = first(body.invoice_id, `INV-${now.getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`);\r\nconst actualDurationMinutes = minutes(first(body.actual_duration_minutes, body.labour_minutes), body.labour_hours);\r\nconst actualTravelMinutes = minutes(first(body.actual_travel_minutes, body.travel_minutes), body.travel_hours);\r\nconst labourHours = actualDurationMinutes === null ? first(body.labour_hours, body.actual_labour_hours) : (actualDurationMinutes / 60).toFixed(2);\r\nconst finalAmount = first(body.final_amount, body.final_invoice_amount, body.invoice_amount);\r\nconst completionNotes = first(body.completion_notes, body.tradie_notes, body.notes, 'Completed as agreed.');\r\nconst varianceReason = first(body.variance_reason, completionNotes);\r\nconst beforePhotoUrls = first(body.before_photo_urls, body.before_photos, []);\r\nconst afterPhotoUrls = first(body.after_photo_urls, body.after_photos, []);\r\nconst certificateUrls = first(body.certificate_urls, body.certificates, []);\r\nconst parts = normaliseParts(first(body.parts_used, body.parts, body.materials));\r\nconst partsTotal = parts.reduce((sum, part) => {\r\n  const total = Number(first(part.total_cost, part.totalCost));\r\n  if (Number.isFinite(total)) return sum + total;\r\n  const qty = Number(first(part.quantity, part.qty, 1));\r\n  const unit = Number(first(part.unit_cost, part.unitCost, 0));\r\n  return sum + (Number.isFinite(qty) && Number.isFinite(unit) ? qty * unit : 0);\r\n}, 0);\r\n\r\nconst partRows = parts.map(part => `(\r\n  ${sql(jobId)},\r\n  ${sql(first(part.description, part.name, part.item, 'Material'))},\r\n  ${num(first(part.quantity, part.qty, 1))},\r\n  ${num(first(part.unit_cost, part.unitCost))},\r\n  ${num(first(part.total_cost, part.totalCost))}\r\n)`).join(',\\n');\r\n\r\nconst query = `\r\nWITH wo AS (\r\n  SELECT * FROM work_orders WHERE id = ${sql(workOrderId)} LIMIT 1\r\n),\r\nselected_option AS (\r\n  SELECT *\r\n  FROM rental_quote_options\r\n  WHERE (${sql(quoteOptionId)} IS NOT NULL AND id = ${sql(quoteOptionId)})\r\n     OR (${sql(quoteOptionId)} IS NULL AND work_order_id = ${sql(workOrderId)} AND status IN ('fully_confirmed','approved_selected'))\r\n  ORDER BY CASE WHEN status = 'fully_confirmed' THEN 0 ELSE 1 END, option_rank\r\n  LIMIT 1\r\n),\r\nresolved AS (\r\n  SELECT\r\n    COALESCE(${sql(jobId)}, wo.job_id, 'JOB-' || wo.id) AS job_id,\r\n    wo.id AS work_order_id,\r\n    wo.lead_id,\r\n    wo.quote_id,\r\n    wo.trade_type,\r\n    wo.description,\r\n    wo.estimated_amount,\r\n    wo.compliance_required,\r\n    COALESCE(${sql(tradieId)}, so.tradie_id) AS tradie_id,\r\n    so.id AS quote_option_id,\r\n    so.quote_amount AS approved_amount,\r\n    COALESCE(${sql(scheduleSlotId)}, 'SLOT-' || so.id) AS schedule_slot_id\r\n  FROM wo\r\n  LEFT JOIN selected_option so ON true\r\n),\r\nupsert_job AS (\r\n  INSERT INTO jobs (id, lead_id, quote_id, status, completed_at, updated_at)\r\n  SELECT job_id, lead_id, quote_id, 'Rental Job Complete - Invoice Ready', now(), now()\r\n  FROM resolved\r\n  ON CONFLICT (id) DO UPDATE SET\r\n    status = EXCLUDED.status,\r\n    completed_at = EXCLUDED.completed_at,\r\n    updated_at = now()\r\n  RETURNING *\r\n),\r\ninsert_actuals AS (\r\n  INSERT INTO job_actuals (\r\n    job_id, lead_id, quote_id, tradie_id, actual_start, actual_end,\r\n    actual_duration_minutes, actual_travel_minutes, completion_notes\r\n  )\r\n  SELECT\r\n    job_id,\r\n    lead_id,\r\n    quote_id,\r\n    tradie_id,\r\n    ${sql(first(body.actual_start, body.started_at))}::timestamptz,\r\n    COALESCE(${sql(first(body.actual_end, body.completed_at))}::timestamptz, now()),\r\n    ${num(actualDurationMinutes)},\r\n    ${num(actualTravelMinutes)},\r\n    ${sql(completionNotes)}\r\n  FROM resolved\r\n  RETURNING *\r\n),\r\ninsert_evidence AS (\r\n  INSERT INTO rental_job_evidence (\r\n    work_order_id, job_id, quote_option_id, tradie_id, evidence_type,\r\n    before_photo_urls, after_photo_urls, certificate_urls, parts_used,\r\n    labour_hours, travel_minutes, final_amount, completion_notes, variance_reason, payload\r\n  )\r\n  SELECT\r\n    work_order_id,\r\n    job_id,\r\n    quote_option_id,\r\n    tradie_id,\r\n    'completion',\r\n    ${arraySql(beforePhotoUrls)},\r\n    ${arraySql(afterPhotoUrls)},\r\n    ${arraySql(certificateUrls)},\r\n    ${jsonSql(parts)},\r\n    ${num(labourHours)},\r\n    ${num(actualTravelMinutes)},\r\n    ${num(finalAmount)},\r\n    ${sql(completionNotes)},\r\n    ${sql(varianceReason)},\r\n    ${jsonSql(body)}\r\n  FROM resolved\r\n  RETURNING *\r\n),\r\ninsert_invoice AS (\r\n  INSERT INTO invoices (id, job_id, quote_id, status, amount, sent_at, created_at, updated_at)\r\n  SELECT ${sql(invoiceId)}, job_id, quote_id, 'Invoice Ready - Payment Request Pending', ${sql(finalAmount)}, now(), now(), now()\r\n  FROM resolved\r\n  ON CONFLICT (id) DO UPDATE SET\r\n    amount = EXCLUDED.amount,\r\n    status = EXCLUDED.status,\r\n    sent_at = now(),\r\n    updated_at = now()\r\n  RETURNING *\r\n),\r\ninsert_quote_accuracy AS (\r\n  INSERT INTO quote_accuracy_metrics (\r\n    lead_id, quote_id, trade_type, initial_estimate, confirmed_quote, final_invoice,\r\n    estimated_labour_hours, actual_labour_hours, estimated_materials_cost, actual_materials_cost,\r\n    variance_reason, accuracy_score\r\n  )\r\n  SELECT\r\n    lead_id,\r\n    quote_id,\r\n    trade_type,\r\n    estimated_amount::text,\r\n    approved_amount::text,\r\n    ${sql(finalAmount)},\r\n    NULL,\r\n    ${num(labourHours)},\r\n    NULL,\r\n    ${num(partsTotal)},\r\n    ${sql(varianceReason)},\r\n    CASE\r\n      WHEN approved_amount IS NULL OR ${num(finalAmount)} IS NULL OR approved_amount = 0 THEN NULL\r\n      ELSE GREATEST(0, LEAST(100, 100 - ABS(((${num(finalAmount)} - approved_amount) / approved_amount) * 100)))\r\n    END\r\n  FROM resolved\r\n  RETURNING *\r\n),\r\ninsert_materials AS (\r\n  INSERT INTO job_materials (job_id, description, quantity, unit_cost, total_cost)\r\n  SELECT * FROM (\r\n    ${partRows ? `VALUES ${partRows}` : \"SELECT NULL::text, NULL::text, NULL::numeric, NULL::numeric, NULL::numeric WHERE false\"}\r\n  ) AS v(job_id, description, quantity, unit_cost, total_cost)\r\n  WHERE v.job_id IS NOT NULL\r\n  RETURNING *\r\n),\r\ninsert_certificates AS (\r\n  INSERT INTO compliance_certificates (id, property_id, work_order_id, requirement_type, certificate_url, issued_by_tradie_id, issued_at, status, payload)\r\n  SELECT\r\n    'CERT-' || resolved.work_order_id || '-' || row_number() OVER (),\r\n    wo.property_id,\r\n    resolved.work_order_id,\r\n    COALESCE(resolved.trade_type, 'rental_maintenance'),\r\n    cert_url,\r\n    resolved.tradie_id,\r\n    now(),\r\n    'captured',\r\n    ${jsonSql(body)}\r\n  FROM resolved\r\n  JOIN wo ON true\r\n  JOIN unnest(${arraySql(certificateUrls)}) cert_url ON true\r\n  WHERE cert_url IS NOT NULL\r\n  ON CONFLICT (id) DO UPDATE SET certificate_url = EXCLUDED.certificate_url, payload = EXCLUDED.payload\r\n  RETURNING *\r\n),\r\ncommercial_terms AS (\r\n  SELECT t.*\r\n  FROM resolved\r\n  JOIN tradie_commercial_terms t\r\n    ON t.active = true\r\n   AND (t.tradie_id IS NULL OR t.tradie_id = resolved.tradie_id)\r\n   AND (t.company_id IS NULL OR t.company_id = (SELECT company_id FROM tradies WHERE id = resolved.tradie_id))\r\n   AND (t.trade_type IS NULL OR lower(t.trade_type) = lower(COALESCE(resolved.trade_type, '')))\r\n   AND (t.job_type IS NULL OR lower(t.job_type) = lower(COALESCE((SELECT job_type FROM wo), '')))\r\n   AND t.effective_from <= current_date\r\n   AND (t.effective_to IS NULL OR t.effective_to >= current_date)\r\n  ORDER BY t.tradie_id NULLS LAST, t.job_type NULLS LAST, t.effective_from DESC\r\n  LIMIT 1\r\n),\r\ninsert_warranties AS (\r\n  INSERT INTO work_order_warranties (\r\n    warranty_key, original_work_order_id, job_id, quote_option_id, tradie_id, property_id,\r\n    trade_type, job_type, warranty_type, commercial_terms_id, labour_warranty_days, parts_warranty_days,\r\n    consumer_guarantee_reference_keys, warranty_start, warranty_end, warranty_terms,\r\n    callout_fee_policy, landlord_charge_policy, status, payload\r\n  )\r\n  SELECT\r\n    'WARR-' || resolved.work_order_id,\r\n    resolved.work_order_id,\r\n    resolved.job_id,\r\n    resolved.quote_option_id,\r\n    resolved.tradie_id,\r\n    wo.property_id,\r\n    resolved.trade_type,\r\n    wo.job_type,\r\n    'workmanship_and_parts',\r\n    (SELECT id FROM commercial_terms),\r\n    COALESCE(${num(first(body.warranty_days, body.default_warranty_days))}::integer, (SELECT labour_warranty_days FROM commercial_terms), 90),\r\n    (SELECT parts_warranty_days FROM commercial_terms),\r\n    ARRAY['AU_ACL_CONSUMER_GUARANTEES_AUTOMATIC_2026_05_21','AU_ACL_SERVICES_DUE_CARE_SKILL_2026_05_21','AU_ACL_WARRANTIES_ADDITIONAL_2026_05_21']::text[],\r\n    current_date,\r\n    current_date + COALESCE(${num(first(body.warranty_days, body.default_warranty_days))}::integer, (SELECT labour_warranty_days FROM commercial_terms), 90),\r\n    COALESCE(${sql(first(body.warranty_terms))}, (SELECT 'Labour warranty: ' || labour_warranty_days || ' days. Parts policy: ' || parts_warranty_policy FROM commercial_terms), 'Default workmanship and supplied-parts warranty captured from completion evidence. Warranty scope must be reviewed before approving any duplicate charge.'),\r\n    (SELECT callout_waiver_policy FROM commercial_terms),\r\n    'no_charge_if_same_issue_within_warranty',\r\n    'active',\r\n    jsonb_build_object(\r\n      'source', 'rental_job_completion',\r\n      'parts_used', ${jsonSql(parts)},\r\n      'completion_notes', ${sql(completionNotes)},\r\n      'final_amount', ${num(finalAmount)},\r\n      'commercial_terms', (SELECT to_jsonb(commercial_terms) FROM commercial_terms),\r\n      'consumer_guarantee_keys', jsonb_build_array('AU_ACL_CONSUMER_GUARANTEES_AUTOMATIC_2026_05_21','AU_ACL_SERVICES_DUE_CARE_SKILL_2026_05_21','AU_ACL_WARRANTIES_ADDITIONAL_2026_05_21')\r\n    )\r\n  FROM resolved\r\n  JOIN wo ON true\r\n  WHERE resolved.work_order_id IS NOT NULL\r\n  ON CONFLICT (warranty_key) DO UPDATE SET\r\n    job_id = EXCLUDED.job_id,\r\n    quote_option_id = EXCLUDED.quote_option_id,\r\n    tradie_id = EXCLUDED.tradie_id,\r\n    property_id = EXCLUDED.property_id,\r\n    trade_type = EXCLUDED.trade_type,\r\n    job_type = EXCLUDED.job_type,\r\n    commercial_terms_id = EXCLUDED.commercial_terms_id,\r\n    labour_warranty_days = EXCLUDED.labour_warranty_days,\r\n    parts_warranty_days = EXCLUDED.parts_warranty_days,\r\n    consumer_guarantee_reference_keys = EXCLUDED.consumer_guarantee_reference_keys,\r\n    warranty_end = EXCLUDED.warranty_end,\r\n    warranty_terms = EXCLUDED.warranty_terms,\r\n    callout_fee_policy = EXCLUDED.callout_fee_policy,\r\n    payload = EXCLUDED.payload,\r\n    updated_at = now()\r\n  RETURNING *\r\n),\r\nupdate_work_order AS (\r\n  UPDATE work_orders\r\n  SET status = 'completed_invoice_ready',\r\n      job_id = (SELECT job_id FROM resolved),\r\n      estimated_amount = COALESCE(${num(finalAmount)}, estimated_amount),\r\n      payload = payload || jsonb_build_object(\r\n        'completion_evidence_id', (SELECT id FROM insert_evidence LIMIT 1),\r\n        'invoice_id', ${sql(invoiceId)},\r\n        'final_amount', ${num(finalAmount)},\r\n        'completion_notes', ${sql(completionNotes)},\r\n        'certificate_count', (SELECT count(*) FROM insert_certificates),\r\n        'parts_count', (SELECT count(*) FROM insert_materials),\r\n        'warranty_key', (SELECT warranty_key FROM insert_warranties LIMIT 1),\r\n        'warranty_end', (SELECT warranty_end FROM insert_warranties LIMIT 1)\r\n      ),\r\n      updated_at = now()\r\n  WHERE id = ${sql(workOrderId)}\r\n  RETURNING *\r\n),\r\ninsert_event AS (\r\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\r\n  SELECT 'work_order', id, 'rental_job_completed_evidence_invoice_ready', jsonb_build_object(\r\n    'job_id', job_id,\r\n    'invoice_id', ${sql(invoiceId)},\r\n    'final_amount', ${num(finalAmount)},\r\n    'evidence_id', (SELECT id FROM insert_evidence LIMIT 1),\r\n    'quote_accuracy_metric_id', (SELECT id FROM insert_quote_accuracy LIMIT 1),\r\n    'warranty_key', (SELECT warranty_key FROM insert_warranties LIMIT 1),\r\n    'next_agents', jsonb_build_array('penny', 'mia_social', 'quintino', 'wally_warranty')\r\n  )\r\n  FROM update_work_order\r\n)\r\nSELECT jsonb_build_object(\r\n  'success', true,\r\n  'work_order_id', ${sql(workOrderId)},\r\n  'job_id', (SELECT job_id FROM resolved),\r\n  'invoice_id', ${sql(invoiceId)},\r\n  'final_amount', ${num(finalAmount)},\r\n  'evidence_id', (SELECT id FROM insert_evidence LIMIT 1),\r\n  'quote_accuracy_metric_id', (SELECT id FROM insert_quote_accuracy LIMIT 1),\r\n  'certificate_count', (SELECT count(*) FROM insert_certificates),\r\n  'material_count', (SELECT count(*) FROM insert_materials),\r\n  'warranty_key', (SELECT warranty_key FROM insert_warranties LIMIT 1),\r\n  'warranty_end', (SELECT warranty_end FROM insert_warranties LIMIT 1),\r\n  'next_action', 'trigger_penny_invoice_payment_request_and_mia_feedback',\r\n  'message', 'Rental job completion evidence captured, invoice prepared, warranty tracked, and quote accuracy learning recorded.'\r\n) AS rental_completion_result;\r\n`;\r\n\r\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Save Rental Completion Evidence", "id": "fb839433-df67-4277-8d31-d034cd3478d7", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Rental Completion", "id": "4b4ae380-f85b-484b-91ba-3d571e72ec4d", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.rental_completion_result || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Rental Completion SQL": {"main": [[{"node": "Save Rental Completion Evidence", "type": "main", "index": 0}]]}, "Rental Job Completion Webhook": {"main": [[{"node": "Build Rental Completion SQL", "type": "main", "index": 0}]]}, "Save Rental Completion Evidence": {"main": [[{"node": "Respond Rental Completion", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}