docs/tradie-import/TRADIE-CORE-982-Message-Template-Lifecycle-Manage--GvdX187RxNBAOKWu.json
{"name": "TRADIE-CORE-982-Message-Template-Lifecycle-Manage", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Message Template Lifecycle Webhook", "id": "40b1c621-1449-4dcd-ac2b-5c11ca2b814c", "webhookId": "3ddd0762-c1cc-40b5-9409-493ce8fed134", "type": "n8n-nodes-base.webhook", "parameters": {"path": "core/message-templates/lifecycle-manage", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Build Template Lifecycle SQL", "id": "8195be8e-04e6-4d12-97df-5178e93a9688", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw.query ?? raw;\nfunction slug(text) {\n  return String(text || 'template').toLowerCase().replace(/[^a-z0-9]+/g, '_').replace(/^_+|_+$/g, '').slice(0, 90);\n}\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\nconst action = String(body.action || 'propose').toLowerCase();\nconst templateKey = body.template_key || slug(body.template_name || body.purpose || 'message_template');\nconst templateName = body.template_name || templateKey.replace(/_/g, ' ');\nconst variantKey = body.variant_key || 'default';\nconst isVariant = variantKey !== 'default' || !!body.trade_type || !!body.job_type || !!body.customer_segment;\nconst owner = body.owner_agent_key || 'quintino';\nconst status = action === 'promote' ? 'active' : 'proposed';\nconst query = `\nWITH current_template AS (\n  SELECT * FROM message_templates WHERE template_key = ${sql(templateKey)} LIMIT 1\n),\nnext_version AS (\n  SELECT CASE\n    WHEN ${sql(action)} = 'promote' THEN COALESCE((SELECT max(version) + 1 FROM message_template_versions WHERE template_key = ${sql(templateKey)}), 1)\n    ELSE COALESCE((SELECT max(version) + 1 FROM message_template_versions WHERE template_key = ${sql(templateKey)}), 1)\n  END AS version\n),\narchive_active AS (\n  UPDATE message_template_versions\n  SET status = 'archived', archived_at = now()\n  WHERE template_key = ${sql(templateKey)}\n    AND variant_key = ${sql(variantKey)}\n    AND status = 'active'\n    AND ${sql(action)} = 'promote'\n  RETURNING id\n),\nupsert_template AS (\n  INSERT INTO message_templates (\n    template_key, template_name, owner_agent_key, channel, purpose, audience,\n    subject_template, body_template, variables_schema, variant_rules, version, status, active\n  )\n  SELECT\n    ${sql(templateKey)},\n    ${sql(templateName)},\n    ${sql(owner)},\n    ${sql(body.channel || 'email')},\n    ${sql(body.purpose || 'Customer message')},\n    ${sql(body.audience || 'customer')},\n    ${sql(body.subject_template || body.subject || '')},\n    ${sql(body.body_template || body.body || '')},\n    ${jsonSql(body.variables_schema || {})},\n    ${jsonSql(body.variant_rules || {})},\n    (SELECT version FROM next_version),\n    CASE WHEN ${sql(isVariant)} = 'True' THEN COALESCE((SELECT status FROM current_template), 'active') ELSE ${sql(status)} END,\n    CASE WHEN ${sql(isVariant)} = 'True' THEN true ELSE ${sql(action)} = 'promote' END\n  WHERE NOT (${sql(isVariant)} = 'True' AND EXISTS (SELECT 1 FROM current_template))\n     OR (${sql(isVariant)} <> 'True' AND (${sql(action)} = 'promote' OR NOT EXISTS (SELECT 1 FROM current_template)))\n  ON CONFLICT (template_key) DO UPDATE SET\n    template_name = EXCLUDED.template_name,\n    owner_agent_key = EXCLUDED.owner_agent_key,\n    channel = EXCLUDED.channel,\n    purpose = EXCLUDED.purpose,\n    audience = EXCLUDED.audience,\n    subject_template = CASE WHEN ${sql(action)} = 'promote' AND ${sql(isVariant)} <> 'True' THEN EXCLUDED.subject_template ELSE message_templates.subject_template END,\n    body_template = CASE WHEN ${sql(action)} = 'promote' AND ${sql(isVariant)} <> 'True' THEN EXCLUDED.body_template ELSE message_templates.body_template END,\n    variables_schema = CASE WHEN ${sql(action)} = 'promote' AND ${sql(isVariant)} <> 'True' THEN EXCLUDED.variables_schema ELSE message_templates.variables_schema END,\n    variant_rules = CASE WHEN ${sql(action)} = 'promote' AND ${sql(isVariant)} <> 'True' THEN EXCLUDED.variant_rules ELSE message_templates.variant_rules END,\n    version = CASE WHEN ${sql(action)} = 'promote' AND ${sql(isVariant)} <> 'True' THEN EXCLUDED.version ELSE message_templates.version END,\n    status = CASE WHEN ${sql(action)} = 'promote' AND ${sql(isVariant)} <> 'True' THEN 'active' ELSE message_templates.status END,\n    active = CASE WHEN ${sql(action)} = 'promote' AND ${sql(isVariant)} <> 'True' THEN true ELSE message_templates.active END,\n    updated_at = now()\n  RETURNING *\n),\nupsert_variant AS (\n  INSERT INTO message_template_variants (\n    template_key, variant_key, trade_type, job_type, customer_segment, priority,\n    subject_template, body_template, variables_schema, version, status, active,\n    change_reason, created_by_agent_key, approved_by, promoted_at, payload, updated_at\n  )\n  SELECT\n    ${sql(templateKey)},\n    ${sql(variantKey)},\n    ${sql(body.trade_type || '')},\n    ${sql(body.job_type || '')},\n    ${sql(body.customer_segment || '')},\n    COALESCE(${sql(body.priority || '')}::integer, 100),\n    ${sql(body.subject_template || body.subject || '')},\n    ${sql(body.body_template || body.body || '')},\n    ${jsonSql(body.variables_schema || {})},\n    (SELECT version FROM next_version),\n    ${sql(status)},\n    ${sql(action)} = 'promote',\n    ${sql(body.change_reason || body.evidence_summary || 'Template variant lifecycle update.')},\n    ${sql(body.created_by_agent_key || 'quintino')},\n    ${sql(body.approved_by || '')},\n    CASE WHEN ${sql(action)} = 'promote' THEN now() ELSE NULL END,\n    ${jsonSql(body)},\n    now()\n  WHERE ${sql(isVariant)} = 'True' AND ${sql(action)} = 'promote'\n  ON CONFLICT (template_key, variant_key) DO UPDATE SET\n    trade_type = EXCLUDED.trade_type,\n    job_type = EXCLUDED.job_type,\n    customer_segment = EXCLUDED.customer_segment,\n    priority = EXCLUDED.priority,\n    subject_template = EXCLUDED.subject_template,\n    body_template = EXCLUDED.body_template,\n    variables_schema = EXCLUDED.variables_schema,\n    version = EXCLUDED.version,\n    status = 'active',\n    active = true,\n    change_reason = EXCLUDED.change_reason,\n    approved_by = EXCLUDED.approved_by,\n    promoted_at = now(),\n    archived_at = null,\n    payload = EXCLUDED.payload,\n    updated_at = now()\n  RETURNING *\n),\ninsert_version AS (\n  INSERT INTO message_template_versions (\n    template_key, variant_key, version, template_name, owner_agent_key, channel, purpose, audience,\n    subject_template, body_template, variables_schema, variant_rules, trade_type, job_type, customer_segment, status, change_reason,\n    created_by_agent_key, reviewed_by_agent_key, approved_by, promoted_at, payload\n  )\n  SELECT\n    ${sql(templateKey)},\n    ${sql(variantKey)},\n    (SELECT version FROM next_version),\n    ${sql(templateName)},\n    ${sql(owner)},\n    ${sql(body.channel || 'email')},\n    ${sql(body.purpose || 'Customer message')},\n    ${sql(body.audience || 'customer')},\n    ${sql(body.subject_template || body.subject || '')},\n    ${sql(body.body_template || body.body || '')},\n    ${jsonSql(body.variables_schema || {})},\n    ${jsonSql(body.variant_rules || {})},\n    ${sql(body.trade_type || '')},\n    ${sql(body.job_type || '')},\n    ${sql(body.customer_segment || '')},\n    ${sql(status)},\n    ${sql(body.change_reason || body.evidence_summary || 'Template lifecycle update.')},\n    ${sql(body.created_by_agent_key || 'quintino')},\n    'quintino',\n    ${sql(body.approved_by || '')},\n    CASE WHEN ${sql(action)} = 'promote' THEN now() ELSE NULL END,\n    ${jsonSql(body)}\n  ON CONFLICT (template_key, version) DO UPDATE SET\n    status = EXCLUDED.status,\n    change_reason = EXCLUDED.change_reason,\n    payload = EXCLUDED.payload\n  RETURNING *\n),\ninsert_workflow_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  SELECT 'message_template', template_key, 'message_template_' || ${sql(action)}, to_jsonb(insert_version)\n  FROM insert_version\n)\nSELECT jsonb_build_object(\n  'success', true,\n  'template_key', template_key,\n  'variant_key', variant_key,\n  'version', version,\n  'status', status,\n  'action', ${sql(action)},\n  'message', CASE WHEN ${sql(action)} = 'promote' THEN 'Template promoted and older active versions archived.' ELSE 'Template version proposed for Quintino/admin review.' END\n) AS template_lifecycle\nFROM insert_version\nLIMIT 1;\n`;\nreturn [{ json: { sql: query } }];"}, "typeVersion": 2}, {"position": [520, 0], "name": "Manage Message Template Lifecycle", "id": "d9be0b7c-e7e0-4541-84e5-e66c7824f591", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [780, 0], "name": "Respond Template Lifecycle", "id": "4a2ce5b2-7d7d-4832-bc07-d6e456ead16a", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{$json.template_lifecycle || $json}}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Manage Message Template Lifecycle": {"main": [[{"node": "Respond Template Lifecycle", "type": "main", "index": 0}]]}, "Message Template Lifecycle Webhook": {"main": [[{"node": "Build Template Lifecycle SQL", "type": "main", "index": 0}]]}, "Build Template Lifecycle SQL": {"main": [[{"node": "Manage Message Template Lifecycle", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}