docs/tradie-import/TRADIE-JOBS-042-Manage-Variation--llDYEtbL5rQU6eau.json
{"name": "TRADIE-JOBS-042-Manage-Variation", "description": null, "active": true, "isArchived": false, "nodes": [{"position": [0, 0], "name": "Variation Webhook", "id": "be937d57-6a93-4096-9b4f-360e02f64f51", "webhookId": "e1e26624-872d-4201-8ebd-956d74bafb6a", "type": "n8n-nodes-base.webhook", "parameters": {"path": "jobs/variations/manage", "responseMode": "responseNode", "options": {}, "httpMethod": "POST"}, "typeVersion": 2.1}, {"position": [260, 0], "name": "Prepare Revised Quote", "id": "f22c4691-205c-40b6-a609-cf3bbad28bf3", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const raw = items[0]?.json ?? {};\nconst body = raw.body ?? raw;\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    if (typeof value === 'string' && value.trim() === '') continue;\n    return value;\n  }\n  return '';\n}\n\nconst now = new Date();\nconst variationId = first(body.variation_id, `VAR-${now.getFullYear()}-${Math.floor(Date.now() / 1000).toString().slice(-6)}`);\nconst leadId = first(body.lead_id, 'LEAD-UNKNOWN');\nconst quoteId = first(body.quote_id, 'QUOTE-UNKNOWN');\nconst jobId = first(body.job_id, '');\nconst customerName = first(body.customer_name, 'Customer');\nconst customerEmail = first(body.customer_email, body.email);\nconst originalAmount = first(body.original_quote_amount, body.original_amount, 'Original amount not provided');\nconst revisedAmount = first(body.revised_quote_amount, body.confirmed_quote_amount, body.amount);\nconst reason = first(body.reason, body.variation_reason, 'Scope changed after tradie review.');\nconst siteVisitNotes = first(body.site_visit_notes, body.notes, '');\nconst inclusions = first(body.inclusions, 'Updated labour/materials as confirmed by the tradie.');\nconst exclusions = first(body.exclusions, 'Any further unforeseen work requires separate approval.');\nconst acceptanceUrl = `https://vmi3305336.contaboserver.net/webhook/quotes/accept?quote_id=${encodeURIComponent(variationId)}&lead_id=${encodeURIComponent(leadId)}&customer_email=${encodeURIComponent(customerEmail)}&customer_name=${encodeURIComponent(customerName)}&accepted=true`;\n\nconst missing = [];\nif (!customerEmail) missing.push('customer_email');\nif (!revisedAmount) missing.push('revised_quote_amount');\nif (!reason) missing.push('reason');\n\nreturn [{\n  json: {\n    variation_id: variationId,\n    lead_id: leadId,\n    quote_id: quoteId,\n    job_id: jobId,\n    status: missing.length ? 'Variation Needs Info' : 'Revised Quote Sent Awaiting Acceptance',\n    customer_name: customerName,\n    customer_email: customerEmail,\n    original_quote_amount: originalAmount,\n    revised_quote_amount: revisedAmount,\n    reason,\n    site_visit_notes: siteVisitNotes,\n    inclusions,\n    exclusions,\n    acceptance_url: acceptanceUrl,\n    missing_information: missing,\n    internal_subject: `Revised quote ${variationId} for ${customerName}`,\n    internal_message: [\n      `Variation/Revised Quote ID: ${variationId}`,\n      `Original Quote ID: ${quoteId}`,\n      `Lead ID: ${leadId}`,\n      `Job ID: ${jobId || 'Not provided'}`,\n      `Customer: ${customerName}`,\n      `Email: ${customerEmail || 'Missing'}`,\n      `Original amount: ${originalAmount}`,\n      `Revised amount: ${revisedAmount || 'Missing'}`,\n      `Reason: ${reason}`,\n      `Site visit notes: ${siteVisitNotes || 'None'}`,\n      `Status: ${missing.length ? 'Needs info before sending' : 'Sent to customer for acceptance'}`,\n    ].join('\\n'),\n    customer_subject: `Revised quote from 1pacent: ${variationId}`,\n    customer_message: [\n      `Hi ${customerName},`,\n      '',\n      'Following the tradie review/site visit, the job cost or scope needs to be updated before work proceeds.',\n      '',\n      `Reference: ${variationId}`,\n      `Original quote: ${originalAmount}`,\n      `Revised quote: ${revisedAmount}`,\n      `Reason: ${reason}`,\n      siteVisitNotes ? `Tradie notes: ${siteVisitNotes}` : '',\n      `Inclusions: ${inclusions}`,\n      `Exclusions/assumptions: ${exclusions}`,\n      '',\n      `To accept this revised quote, open this link: ${acceptanceUrl}`,\n      '',\n      'No changed or additional work will proceed until the revised quote is accepted.',\n      'Need to change your booking request? Call Sally back and quote your lead, quote, or revised quote reference.',\n      '',\n      'Thanks,',\n      '1pacent',\n    ].filter(Boolean).join('\\n'),\n  },\n}]; "}, "typeVersion": 2}, {"position": [540, -220], "name": "Build Variation Database SQL", "id": "a99a7c87-7e61-4423-a551-21760baa6096", "type": "n8n-nodes-base.code", "parameters": {"jsCode": "const v = items[0]?.json ?? {};\nfunction sql(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\nfunction jsonSql(value) {\n  return `'${JSON.stringify(value ?? {}).replace(/'/g, \"''\")}'::jsonb`;\n}\nconst query = `\nWITH version_number AS (\n  SELECT COALESCE(MAX(version_number), 0) + 1 AS next_version\n  FROM quote_versions\n  WHERE quote_id = ${sql(v.quote_id)}\n),\nupdate_quote AS (\n  UPDATE quotes\n  SET status = ${sql(v.status)}, current_amount = ${sql(v.revised_quote_amount)}, updated_at = now()\n  WHERE id = ${sql(v.quote_id)}\n  RETURNING id\n),\ninsert_version AS (\n  INSERT INTO quote_versions (\n    id, quote_id, lead_id, version_number, amount, reason, inclusions,\n    exclusions, acceptance_url, status\n  )\n  SELECT\n    ${sql(v.variation_id)},\n    ${sql(v.quote_id)},\n    ${sql(v.lead_id)},\n    next_version,\n    ${sql(v.revised_quote_amount)},\n    ${sql(v.reason)},\n    ${sql(v.inclusions)},\n    ${sql(v.exclusions)},\n    ${sql(v.acceptance_url)},\n    ${sql(v.status)}\n  FROM version_number\n  ON CONFLICT (id) DO UPDATE SET\n    amount = EXCLUDED.amount,\n    reason = EXCLUDED.reason,\n    inclusions = EXCLUDED.inclusions,\n    exclusions = EXCLUDED.exclusions,\n    acceptance_url = EXCLUDED.acceptance_url,\n    status = EXCLUDED.status\n  RETURNING id\n),\ninsert_workflow_event AS (\n  INSERT INTO workflow_events (entity_type, entity_id, event_type, payload)\n  VALUES ('quote_version', ${sql(v.variation_id)}, 'revised_quote_sent', ${jsonSql(v)})\n)\nSELECT ${sql(v.variation_id)} AS variation_id, ${sql(v.quote_id)} AS quote_id;\n`;\nreturn [{ json: { ...v, sql: query } }];"}, "typeVersion": 2}, {"position": [820, -220], "name": "Save Variation to Postgres", "id": "ab6aa74a-a9ba-42bf-a18d-7159b76a8148", "credentials": {"postgres": {"id": "fTq1Q3oE59B59Y0Y", "name": "Tradie App Postgres"}}, "type": "n8n-nodes-base.postgres", "parameters": {"query": "={{$json.sql}}", "operation": "executeQuery", "options": {}}, "typeVersion": 2.6}, {"position": [540, 0], "name": "Email Internal Variation Alert", "id": "ef58c5c6-4389-4ba3-8506-3ec544910f4b", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "={{$json.internal_subject}}", "sendTo": "mac@1pacent.com", "emailType": "text", "options": {}, "message": "={{$json.internal_message}}"}, "typeVersion": 2.2, "webhookId": "f84394d5-b589-4210-b08c-41add3bbe182"}, {"position": [820, 0], "name": "Email Customer Revised Quote", "id": "060b9425-e908-44d7-b13e-04fc52418b81", "credentials": {"gmailOAuth2": {"id": "Ar5b8h8vd29IBh1g", "name": "Gmail account"}}, "type": "n8n-nodes-base.gmail", "parameters": {"subject": "={{$json.customer_subject}}", "sendTo": "={{$json.customer_email}}", "emailType": "text", "options": {}, "message": "={{$json.customer_message}}"}, "typeVersion": 2.2, "webhookId": "8b29bd47-5d73-4111-bbe8-237d404b55ae"}, {"position": [1100, 0], "name": "Respond Variation", "id": "c7cc35e6-4d2f-4550-a92c-f112a2188956", "type": "n8n-nodes-base.respondToWebhook", "parameters": {"responseBody": "={{ { success: true, variation_id: $json.variation_id, quote_id: $json.quote_id, lead_id: $json.lead_id, status: $json.status, acceptance_url: $json.acceptance_url, missing_information: $json.missing_information } }}", "respondWith": "json", "options": {}}, "typeVersion": 1.5}], "connections": {"Build Variation Database SQL": {"main": [[{"node": "Save Variation to Postgres", "type": "main", "index": 0}]]}, "Variation Webhook": {"main": [[{"node": "Prepare Revised Quote", "type": "main", "index": 0}]]}, "Prepare Revised Quote": {"main": [[{"node": "Build Variation Database SQL", "type": "main", "index": 0}, {"node": "Email Internal Variation Alert", "type": "main", "index": 0}, {"node": "Email Customer Revised Quote", "type": "main", "index": 0}, {"node": "Respond Variation", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Australia/Sydney", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "tags": [], "versionMetadata": {"name": null, "description": null}}