n8n/workflows/1PACENT-SALLY-DISPATCH-NOTIFY.json
{
  "name": "1PACENT-SALLY-DISPATCH-NOTIFY",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1pacent-sally-dispatch-notify",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n1-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oBZ6GRQ3zAFbDeqs",
          "name": "1Pacent Internal Auth"
        }
      },
      "webhookId": "d5c94bbe-0650-425b-8878-bccee402e55f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: \"1Pacent <onboarding@resend.dev>\", to: [$json.body.accepted.tradieEmail], subject: \"You've got the job!\", html: \"<p>Hi \" + $json.body.accepted.tradieName + \",</p><p>Your quote was accepted — you're booked in. The landlord will be in touch to confirm timing.</p>\" }) }}",
        "options": {}
      },
      "id": "n2-accepted",
      "name": "Send Accepted Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "d1WYNVTKjTiVqp0y",
          "name": "1Pacent Resend"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.declined",
        "options": {}
      },
      "id": "n3-split",
      "name": "Split Declined",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        460,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: \"1Pacent <onboarding@resend.dev>\", to: [$json.tradieEmail], subject: \"Quote update\", html: \"<p>Hi \" + $json.tradieName + \",</p><p>Thanks for your quote — the landlord has gone with another tradie this time. We'll be in touch next time a job comes up.</p>\" }) }}",
        "options": {}
      },
      "id": "n4-declined",
      "name": "Send Declined Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "d1WYNVTKjTiVqp0y",
          "name": "1Pacent Resend"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "n5-merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {}
      },
      "id": "n6-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Accepted Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Accepted Email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Declined": {
      "main": [
        [
          {
            "node": "Send Declined Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Declined Email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
