n8n/workflows/V8-STRIPE-WEBHOOKS.json
{
  "name": "V8-STRIPE-WEBHOOKS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v8-stripe-webhooks",
        "responseMode": "responseNode",
        "options": { "rawBody": true }
      },
      "id": "stripe-in",
      "name": "Stripe Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_BASE_URL }}/api/stripe/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "stripe-signature", "value": "={{ $json.headers['stripe-signature'] }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "bodyString": "={{ $json.body }}",
        "options": { "timeout": 30000 }
      },
      "id": "forward",
      "name": "Forward To Ledger Route",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ { \"received\": true } }}" },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Stripe Webhook In": { "main": [[{ "node": "Forward To Ledger Route", "type": "main", "index": 0 }]] },
    "Forward To Ledger Route": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": {}
}
